[2015-03-09 23:40] D4n1e6656 commented on #361
map is the problem , not the plugin.

[2015-03-10 00:33] Alfalik opened #363 "Make that console cannot use ready command"
Cardinal version: http://gyazo.com/47940290ca0f30a8c75e0858c5b1de2e
Error: http://pastebin.com/dbpJ9Sbf

[2015-03-10 00:39] RubeGamerV commented on #361
Fix the xml

[2015-03-10 00:44] #363 closed

[2015-03-10 00:44] twizmwazin commented on #362
This feature is extremely low priority, it is not needed for scrimmage plugins.

[2015-03-10 00:44] #362 closed

[2015-03-10 00:55] #358 closed

[2015-03-10 01:36] #340 closed

[2015-03-10 05:08] RubeGamerV opened #365 "Missing Feature, add /tb (temp ban)"

[2015-03-10 06:27] dentmaged commented on #362
We also have /ready, which will auto start the match once the teams are ready.

[2015-03-10 06:32] dentmaged commented on #355
Probably edit the 'MatchModule'.

[2015-03-10 07:32] CaptainElliott commented on #365
To do this we would need to track punishments in an external database, this would take a lot more effort than it's worth, and it is something that is not needed for a scrim plugin

[2015-03-10 07:33] CaptainElliott commented on #361
I can work on this when I get home

[2015-03-10 09:45] iEli2tyree011 commented on #365
@CaptainElliott It's definitely possible, but as you said, unnecessary.

[2015-03-10 10:25] twizmwazin commented on #365
I'm pretty sure we've been over this before.

[2015-03-10 10:25] #365 closed

[2015-03-10 13:54] iEli2tyree011 opened #366 "/timelimit doesn't include a result option"

[2015-03-10 17:07] Jair07mx commented on #362
Yeah, are useful things, basically missing features

[2015-03-10 17:59] Jonmuxu opened #368 "When you ban a player the text is not separated in ''bannedfor''"
http://gyazo.com/fa03fd1fefb9e3875de50fe30cfa9a93

[2015-03-10 18:33] #368 closed

[2015-03-10 19:15] #361 closed

[2015-03-10 22:29] Superjd10 commented on #362
@Jair07mx Having /ready starting the match is enough, autostart isn't needed, therefor autostart isn't a missing feature.

[2015-03-11 00:08] Alfalik opened #370 "Add proximity command"
Leaving an image that can be useful (only able to be used for observers team): http://gyazo.com/21dd32f22d231170bf46532ec01cac76

[2015-03-11 00:08] Alfalik commented on #366
This can help: http://gyazo.com/df4d86a9c2ee1fc90348508ca501c461

[2015-03-11 00:42] iEli2tyree011 commented on #366
@Alfalik I already know how it works, thanks though

[2015-03-11 03:32] TiTo-418 opened #371 "Ban message issue"
<a href="http://imgur.com/8sk75gQ"><img src="http://i.imgur.com/8sk75gQ.png" title="source: imgur.com" /></a>

<a href="http://imgur.com/4TtCmVV"><img src="http://i.imgur.com/4TtCmVV.png" title="source: imgur.com" /></a>

All OK, but when you try to join...

<a href="http://imgur.com/LFcaHEb"><img src="http://i.imgur.com/LFcaHEb.png" title="source: imgur.com" /></a>

[2015-03-11 07:31] CaptainElliott commented on #371
To achieve this we would need to store the ban reason in a database. Although I already did this on another branch I believe we decided against it

[2015-03-11 07:32] TiTo-418 commented on #371
Why you can only edit the ban reason?

[2015-03-11 07:35] CaptainElliott commented on #371
The ban reason would be different for every player so we cannot globally edit it

[2015-03-11 07:40] TiTo-418 commented on #371
In the banned-players.json the ban reasons are differents for every players
<IMG SRC="http://i.gyazo.com/54e0927b844ce8def2b12177066fed22.png">

[2015-03-11 10:30] twizmwazin commented on #371
@CaptainElliott Perhaps it is possible to set a player's ban reason using color codes in the banned-players.json.

[2015-03-11 11:18] kroest opened #373 "Add /g as default option"
i would like to see the option to set the global chat as default, per player.

[2015-03-11 11:19] AngelCasillas01 commented on #373
You try to say that you wantus to add this option to settings?

[2015-03-11 15:14] kroest commented on #373
yes, just like on the overcast, doing /g without further text will set the global chat by default.

[2015-03-11 16:47] CaptainElliott commented on #371
I was unaware of this as I have not had much experience developing with 1.8 versions. I will look into it.

[2015-03-11 16:53] twizmwazin commented on #371
@CaptainElliott [BanList](http://twizmwaz.in/docs/sportbukkit/org/bukkit/BanList.html) and [BanEntry](http://twizmwaz.in/docs/sportbukkit/org/bukkit/BanEntry.html) might be useful classes.

[2015-03-11 17:23] dentmaged commented on #371
@twizmwazin Can't you use §?

[2015-03-11 17:35] CaptainElliott commented on #371
@dentmaged if the api does not support color. then I would use the character ''', much like what OCN uses for XML and then translate the color code with ChatColor api

[2015-03-11 17:57] TiTo-418 commented on #371
<b>§</b>?

[2015-03-11 18:12] TiTo-418 commented on #371
<a href="http://imgur.com/iQxHaZD"><img src="http://i.imgur.com/iQxHaZD.png" title="source: imgur.com" /></a>

:P

[2015-03-11 18:13] TiTo-418 commented on #371
I would like more to go:
You are banned from this server!
Reason: test
by TiTo_418

This is too much repetitive

[2015-03-11 18:15] twizmwazin commented on #371
@CaptainElliott Perhaps you shouldn't use the exact same message. Maybe there is a way to set the ban disconnect message. If there isn't just display the reason.

[2015-03-11 19:42] CaptainElliott commented on #371
Ban connect message should be a bit more tidy

[2015-03-11 19:52] Jair07mx opened #376 "Incorrect format: Ban, Kick and Warn."
Example of the correct way: http://i.imgur.com/TCj2K72.png

Other example of the correct way: http://prntscr.com/6fki2a

[2015-03-11 19:56] CaptainElliott commented on #376
I'll tidy them up even more shortly

[2015-03-11 20:14] AngelCasillas01 commented on #376
@CaptainElliott This feature will include the localization right or it comes automatically?

[2015-03-11 20:17] CaptainElliott commented on #376
I will add localization for the global part of the ban message, however it is impossible to do it for ht message

[2015-03-11 20:18] AngelCasillas01 commented on #376
@CaptainElliott Seems that you need to add it automatically is that right?

[2015-03-11 20:28] Jonmuxu opened #377 "you can ready your own team after the match starts"
video: https://www.youtube.com/watch?v=jQOLD30QPv4&list=UUaUuKJmtV0JlNGIdBoxbzJw

[2015-03-11 20:30] Jonmuxu opened #378 "i can't compile CardinalPGM"
Compilation error:

[2015-03-11 20:31] CaptainElliott commented on #378
It's an issue with OCN repos

[2015-03-11 20:31] #378 closed

[2015-03-11 20:46] CaptainElliott commented on #377
https://github.com/twizmwazin/CardinalPGM/commit/1840ed24e5e00b22d48a71a48a1ac1063d26fec9

[2015-03-11 20:46] #377 closed

[2015-03-11 22:33] Jonmuxu opened #379 "[SUG]"
Can you add stadistics off ALL maps you played? like oc.tc/(nick) but in a comand like: /stats

[2015-03-11 22:39] CaptainElliott commented on #379
Stay tracking is per match only, however we do plan in implanting a way to see old match stats

[2015-03-11 22:39] #379 closed

[2015-03-12 03:47] Jair07mx opened #380 "Missing /r command"

[2015-03-12 15:56] ElFlambMC opened #381 "can you put a command /changemode (mide)"
Like /changemode core gold.

[2015-03-12 16:01] Jair07mx commented on #381
+1

[2015-03-12 16:05] iEli2tyree011 commented on #381
/modes push <time format>
tl;dr: This is already implemented.

[2015-03-12 16:05] #381 closed

[2015-03-12 18:18] Jonmuxu opened #382 "Deepwind jungle issue"
video: https://www.youtube.com/watch?v=FY6iFAdF10c&feature=youtu.be
Cardinal -v: CardialPGM version 1.0-SNAPSHOT-git-CardinalPGM-1840ed2

[2015-03-12 18:31] Jair07mx opened #383 "Manually ending a game doesn't execute logic to determine a winner"

[2015-03-12 19:05] #373 closed

[2015-03-12 19:39] CaptainElliott commented on #382
This is an issue with rectangular regions, they should be infinite in all y directions

[2015-03-12 21:02] Jonmuxu opened #384 "Deepwind jungle issue continous... :("
video: https://www.youtube.com/watch?v=89la1b24Eps&feature=youtu.be
Cardinal -v: CardinalPGM version 1.0-SNAPSHOT-git-CardinalPGM-c90b2d0

i don't know if it is only on Deepwind jungle... but it contunous...  :(

[2015-03-12 21:10] CaptainElliott commented on #384
Please just reopen the on you already have

[2015-03-12 21:10] #384 closed

[2015-03-12 21:10] CaptainElliott commented on #382
Still an issue

[2015-03-13 04:04] GChevy commented on #382
Rfv2 has The same issue

[2015-03-13 06:05] TiTo-418 commented on #384
If one Collaborator closed the issue, he cant re-open it

[2015-03-13 06:06] TiTo-418 commented on #382
Try to update the XML (maps.oc.tc)

[2015-03-13 07:30] CaptainElliott commented on #384
Oh I did not realise, my applogies

[2015-03-13 07:32] CaptainElliott commented on #382
Does rfv2 use a rectangle region for the playable area? It could be a bug with negative regions

[2015-03-13 10:30] kroest opened #385 "please add an modertor rank"
i would love it if you culd implement an moderator rank, so the one with moderator rank would be able to end, cycle and set next a map, but wont be able to stop, op, ban, kick, or deop people. this would be so nice for scrimmage servers since the issue is usually once you give someone op, next week everyone will have op all of a sudden, and that can be a real pain.

[2015-03-13 10:38] elespawol commented on #385
Its alredy implemeted
Use /mod user
El dia 13/03/2015 11.30, "kroest" <notifications@github.com> va escriure:

[2015-03-13 10:42] #385 closed

[2015-03-13 11:53] kroest opened #386 "CTF not yet implemented"
i would like to see CTF implemented in the plugin, and since i didnt see it in the issue list, i decided to make one, since there is one for koth to.

[2015-03-13 11:57] SuHoney commented on #386
KotH is planned for the 1.0 release of Cardinal.

[2015-03-13 11:58] SungMatt commented on #386
I'm not sure if CTF is going to be in the 1.0 release of Cardinal, as it is a very new gamemode to overcast itself.

[2015-03-13 11:58] SungMatt commented on #386
@SuHoney He is referring to CTF.

[2015-03-13 12:02] kroest commented on #386
i just would like to see the feature implemented eventually, especially since i think there is a fairly big chance the next, or the tournament after the next tournament will include ctf.

[2015-03-13 12:07] SungMatt commented on #386
The [map repo for CTF](https://maps.oc.tc/CTF/Standard/) doesn't seem decently sized now, and all the maps in it are ones made around a year ago or more, so it might take a while longer than the next tourney.

[2015-03-13 12:45] elespawol commented on #386
Ctf is actually in.BETA in oc.tc please keep calm.
El dia 13/03/2015 13.07, "SungMatt" <notifications@github.com> va escriure:

[2015-03-13 13:12] SungMatt opened #387 "/cancel doesn't work against /recycle and /cycle"
In Cardinal version c90b2d0 , (Latest build as of now) /cancel does not work against /recycle and /cycle.
![screen shot 2015-03-13 at 9 08 53 pm](https://cloud.githubusercontent.com/assets/6725727/6638935/b15c3b28-c9c5-11e4-98c1-1f8948b66366.png)

[2015-03-13 13:13] SungMatt commented on #387
Another pic:
![screen shot 2015-03-13 at 9 12 27 pm](https://cloud.githubusercontent.com/assets/6725727/6638943/cfc2131c-c9c5-11e4-93c8-416cfa7d0a0d.png)

[2015-03-13 15:03] TiTo-418 commented on #382
Deepwing jungle XML: https://maps.oc.tc/CTW/Standard/Deepwind%20Jungle/map.xml
Race for victory 2 XML: https://maps.oc.tc/CTW/Standard/Race%20for%20Victory%202/map.xml

[2015-03-13 15:05] kroest opened #389 "time always setted to day, even when the map should be played at time set to x"
the plugin sets the time to day, while some maps should be played at night. i think this got caused by the fix of the daynightcycle while the game didnt start yet.

[2015-03-13 15:18] twizmwazin commented on #389
Double check that the map is saved at night time. To my knowledge, OCN doesn't have a way of configuring the game time in the XML.

[2015-03-13 15:22] twizmwazin commented on #386
This will be implemented eventually, however we have other features higher on our list right now.

[2015-03-13 15:22] #386 closed

[2015-03-13 15:54] kroest commented on #389
all the maps are properly loaded with nighttime,
but the plugin just sets the time to daytime somehow, didnt have this with earlier version of cardinal.

[2015-03-13 16:10] twizmwazin commented on #389
@kroest Take a copy of the map, and load it on a server with no mods (No Cardinal, no SportBukkit, just vanilla Minecraft) and see what time of day it is.

[2015-03-13 16:32] TiTo-418 commented on #389
Or load it on singleplayer...

[2015-03-13 17:34] CaptainElliott commented on #386
CTF is not a fully released gamemode, it is still in alpha, it mechanics and xml syntax could change. There is no need to have it in Cardinal as of now

[2015-03-13 19:25] Eudaldca opened #393 "Cycling to the same map fails"
Log: http://pastebin.com/BVG2UfCV
Version: aab1385
Line, 56, "World X is a duplicate of another world and has been prevented from loading."

[2015-03-13 19:28] Eudaldca commented on #380
I use commandbook messaging for this, just add
'msg:
   - commandbook:msg $1-'
as an alias in commands.yml

[2015-03-13 19:34] iEli2tyree011 commented on #393
Can you try it again just to make sure?

[2015-03-13 19:41] Eudaldca commented on #393
Ok, I deleted uid.dat from the ring race in the maps folder, and worked just fine. It is the presence of this file that causes the error.

[2015-03-13 20:38] #393 closed

[2015-03-14 00:04] Alfalik opened #394 "Time limit dont cancel/update the countdown, just send the messages"
I don´t really know if the title is the actual issue, but heres a video.
Video proof & version: http://youtu.be/FttWabOQpSM

[2015-03-14 20:00] Alfalik opened #396 "Check what item is used to break a blockdrop"
As example, an Iron Block can only be destroyed using a Pickaxe or TNT, but if you break it with the hand, the items are dropped what should not happen.

Cardinal version: http://gyazo.com/f5f9f157780c85e41af85581057ec797

[2015-03-14 20:05] Alfalik commented on #394
Still happen
Video proof & version: http://youtu.be/A-dchWDduaU

[2015-03-14 21:16] CaptainElliott commented on #396
It depends on what the xml specifies, some maps allow you to break it with anything and still get it, other only allow you to use the tool that is needed to break that item

`<wrongtool>`

[2015-03-14 21:23] Alfalik commented on #396
In cos(tnt) the player isnt allowed to break it with the hand (already tested), but cannot find the ```<wrongtool>``` module in the XML.

[2015-03-14 21:37] CaptainElliott commented on #396
it will default to off iirc

[2015-03-14 21:41] Alfalik opened #397 "Proximity doesnt get the objective distance to determine what team is winning"
Only get the quantity of touchs/completed objectives.

Videos:
+ This should be determined by the distance player-wool monument [Touch (131.4) vs Touch (123.5)]: http://youtu.be/OxPVNZ744Sc (tie)
+ Same here [Completed + Touch (147.5) vs Completed + Touch (10.8)]: http://youtu.be/pZM7aSZpa9g (tie)
+ [1 Touch vs 0 Touch]: http://youtu.be/N-3JA7ZEut4 (One team win)

Cardinal version e0bcf2b810: http

[2015-03-14 21:41] Alfalik commented on #396
Uh, in the cos(tnt) of OCN you cant, but in Cardinal the player is allowed. Same XML.

[2015-03-15 01:22] Alfalik opened #398 "NBT attributes"
Leaving an example that dont work ```<item slot="0" damage="-3000" attributes="generic.attackDamage:add:7">diamond pickaxe</item> ```

Reference: https://docs.oc.tc/reference/attributes
Cardinal version c0ac303499: http://gyazo.com/0a1131ad0705919aeedaa7f11b2df809

[2015-03-15 09:30] #382 closed

[2015-03-15 09:42] CaptainElliott commented on #396
Ok, we need a way to either check if the block would have dropped items (if it would not have, then it was broken with the wrong tool) or a way to check if the item used to break the block was the required tool, without having giant lists of the block and their associated tool

any ideas @twizmwazin @iEli2tyree011?

[2015-03-15 11:10] dentmaged commented on #396
@CaptainElliott I would use block break event, get the tool and check it with a map.

[2015-03-15 11:32] CaptainElliott commented on #396
What do you mean check it with the map?

I need to know if the tool used is the right tool for the block

[2015-03-15 13:22] Jonmuxu opened #399 "[Sug] (hard...)"
i dont know if it is a great idea or a difficult work, but, if you can make a lobby in which you can enter match, would be proud

[2015-03-15 13:23] G61 commented on #399
This is a scrimmage plugin, you don't need that.

[2015-03-15 14:07] Jonmuxu commented on #399
yeah but its a good idea to order all teams in a same lobby

[2015-03-15 14:32] #399 closed

[2015-03-15 14:49] Alfalik opened #400 "Error running /cancel command"
+ Video proof: http://youtu.be/vlaaecNrkdE
+ Error log: http://pastebin.com/sYgaeTpS
+ Cardinal version 16983b1: http://gyazo.com/5906e28fc40d278d2a1927de74c5722d

[2015-03-15 16:23] Aaron1011 opened #401 "Proto tag is not implemented"
According to the Overcast XML documentation, the map element is required to contain the attribute `proto`, which specifies the PGM version the map was created for.

Source: https://docs.oc.tc/modules/main

[2015-03-15 16:53] CaptainElliott commented on #401
I don't think we want to support this, this would mean support **every** version of PGM and having different syntax and mechanics for each proto

[2015-03-15 16:53] #401 closed

[2015-03-15 17:12] #288 closed

[2015-03-15 18:06] Aaron1011 commented on #401
I don't think we have to support different behaviors for different versions. It could be something as simple as printing a warning if a greater version number is used.

[2015-03-15 18:11] CaptainElliott commented on #401
That is not the point of the protocol

[2015-03-15 18:36] iEli2tyree011 commented on #383
/end will only have a team win if specified as an argument.

[2015-03-15 18:40] CaptainElliott commented on #383
Ending with /timelimit should use the win logic

He said that it did not

[2015-03-15 18:42] Alfalik commented on #383
Check #397

[2015-03-15 19:04] twizmwazin commented on #401
@Aaron1011 I'll consider implementing a warning when we fully support the latest protocol.

[2015-03-15 20:29] #400 closed

[2015-03-15 21:06] dentmaged commented on #399
Some people are forgetting that this isn't a mock if Overcast's PGM (for public matches) plugin.

[2015-03-15 21:06] dentmaged commented on #396
@CaptsinElliott A HashMap, sorry for being unclear.

[2015-03-15 21:15] Alfalik commented on #394
If the match is running the time should be added, for example, if the player took 5 seconds after the match started to do /timelimit 30s, the match will last 35s. Now, Cardinal just set the limit, doesnt add it.
If the match is waiting, it just should set the time limit.

+ TM video example: http://youtu.be/qGSFnY_0N6s
+ Cardinal video: http://youtu.be/txhSACDhe6I
+ Cardinal version 4ed7f33: http:

[2015-03-15 21:15] Alfalik commented on #400
The command should cancel the time limit & start/cycle timer. Now, it just cancel the start/cycle timer. Heres an example on TM servers. (Tell me if I`m not being clear)

+ TM video: http://youtu.be/qGSFnY_0N6s
+ Cardinal video: http://youtu.be/ea35BW5t2v8
+ Cardinal version 4ed7f33: http://gyazo.com/9734333fe6a4537750e749e69bdcb55d

[2015-03-16 03:05] SungMatt commented on #394
Can we make it such that there can be a /`timelimit set <time>` and `/timelimit add <time>` to keep these 2 different?

[2015-03-16 10:30] iEli2tyree011 commented on #394
@SungMatt That sounds good, I'll try and work on it tonight.

[2015-03-16 16:04] 2000thehecf1 opened #403 "Error opening the server"
My server doesn't recognize Cardinal plugin, I saw a tutorial and I did everything like in the video, but it doesn't work :(

Here's the error:

[12:40:20] [Server thread/ERROR]: Could not load 'plugins\CardinalPGM-1.0-SNAPSHOT.jar' in folder 'plugins'
org.bukkit.plugin.InvalidPluginException: java.lang.UnsupportedClassVersionError: in/twizmwaz/cardinal/Cardinal : Unsupported major.minor version 5

[2015-03-16 18:06] twizmwazin commented on #403
Install Java 7 or newer

[2015-03-16 18:06] #403 closed

[2015-03-16 18:39] 2000thehecf1 commented on #403
@twizmwazin Thanks!!!!! :D

[2015-03-16 18:51] CaptainElliott commented on #351
This seems to be a problem with the filters that needs to be fixed
Going to look into it

[2015-03-16 19:10] SungMatt commented on #389
@TiTo-418 Same thing, Singleplayer runs a server that only you can join.

[2015-03-16 21:22] kroest commented on #389
ill upload a video with the proof soon, one moment.

[2015-03-16 21:37] GChevy opened #404 "Version for Cardinal [SportBukkit]"
What version do i use for do the plugin work

[2015-03-16 21:40] Vixo1 commented on #404
Last version of Cardinal and 1.8 version of Sportbukkit

[2015-03-16 21:45] GChevy commented on #404
I've download it but it does not work

[2015-03-16 21:58] CoWinkKeyDinkInc commented on #404
You need to compile both of them to work.

[2015-03-16 22:08] twizmwazin commented on #404
@GChevy What does "does not work" mean? We need logs

[2015-03-16 22:19] #389 closed

[2015-03-16 22:21] twizmwazin commented on #387
Appears to be fixed in my testing

[2015-03-16 22:21] #387 closed

[2015-03-16 22:35] GChevy commented on #404
http://prntscr.com/6hoyp6 http://prntscr.com/6hoz3h Any cardinal command works

[2015-03-16 22:37] Alfalik commented on #404
@GChevy And the rotation.txt?

[2015-03-16 22:50] twizmwazin commented on #404
@GChevy I need a log to fix the issue. You can find it in the latest.log file.

[2015-03-16 22:51] twizmwazin commented on #396
@CaptainElliott I'm thinking of block.getDrops() > 0 then drop, else no

[2015-03-16 22:53] GChevy commented on #404
16.03 17:52:40 [Server] INFO [17:52:40 INFO]: Done (4.394s)! For help, type "help" or "?"
16.03 17:52:40 [Server] INFO at net.minecraft.server.v1_7_R4.ThreadServerApplication.run(SourceFile:628) [sportbukkit.jar:git-SportBukkit-"a58b0f6"]
16.03 17:52:40 [Server] INFO at net.minecraft.server.v1_7_R4.MinecraftServer.run(MinecraftServer.java:446) [sportbukkit.jar:git-SportBukkit-"a58b0f6"]
16.03 17:5

[2015-03-16 23:01] twizmwazin commented on #404
SportBukkit 1.8

[2015-03-16 23:01] #404 closed

[2015-03-17 12:01] Alfalik opened #405 "Error when a player enters a portal"
+ Video proof: http://youtu.be/WMkxfDWzVqk
+ Error log: http://pastebin.com/bZVst72d
+ Entire log: http://pastebin.com/nWzKV459
+ XML: http://pastebin.com/px6gKfM8
+ Cardinal version 1527580: http://gyazo.com/5c66d6eda4a4f841e96d8721dda659bb

[code]

[2015-03-17 12:22] SungMatt commented on #405
It might be the XML tag you are using, because I have a map with a portal (placid spring) and its working fine.

[2015-03-17 12:27] AngelCasillas01 commented on #405
@SungMatt So why my ender blast dosen't work with maps.oc.tc XML?

[2015-03-17 14:35] ryanwarsaw commented on #404
@twizmwazin You should just detect the users SportBukkit version, and if it isn't compatible send them a log message, rather than a error. I am not sure if this is possible on SportBukkit, but I am pretty sure it is on Spigot. Might be worth a try!

[2015-03-17 15:34] MrTheSharpie commented on #405
This happened to me also in the map Fourchette (the version avaliable to download uses portals)

[2015-03-17 15:40] CaptainElliott commented on #405
@MrTheSharpie the region that you can download may use wrong regions.

Could someone try and reproduce this?

[2015-03-17 18:16] SungMatt commented on #404
@ryanwarsaw Maybe a feature for the 1.0 milestone? Alternatively, they could read the [Wiki](https://github.com/twizmwazin/CardinalPGM/wiki/Installing-CardinalPGM) in the meantime.

[2015-03-17 19:44] twizmwazin commented on #404
@ryanwarsaw You can just do Bukkit.getServer().getClass().getPackage().getName(), and that will return the Minecraft version, ie v1_8_R1 for 1.8 or v1_7_R4 for 1.7.10.

[2015-03-17 22:09] Aaron1011 commented on #398
Resolved in https://github.com/twizmwazin/CardinalPGM/commit/6ed1a60a16b6245c99a6372a43da8a0405de01c4

[2015-03-17 22:11] twizmwazin commented on #398
Added in 6ed1a60a16b6245c99a6372a43da8a0405de01c4

[2015-03-17 22:11] #398 closed

[2015-03-18 03:34] Jair07mx opened #408 "I can't join in a team, and I can't see the scoreboard"
![2015-03-17_19 05 19](https://cloud.githubusercontent.com/assets/11080069/6702194/59a75d74-cced-11e4-9f08-98310afdb5dd.png)

[2015-03-18 03:36] twizmwazin commented on #408
@Jair07mx We need logs.

[2015-03-18 11:41] SungMatt opened #409 "Experience levels get carried across maps"
[Video](https://www.youtube.com/watch?v=eZV1jtCSUL8)
Cardinal Version: Latest [Up to this commit](https://github.com/twizmwazin/CardinalPGM/commit/6ed1a60a16b6245c99a6372a43da8a0405de01c4)

[2015-03-18 20:40] #409 closed

[2015-03-19 03:40] SungMatt commented on #387
Fixed in 4ed7f33, thanks!

[2015-03-19 04:12] RubeGamerV commented on #168
@twizmwazin i need a special lib from sk89q?

[2015-03-19 07:08] elespawol commented on #387
👏👏👏👏👏👏
El dia 19/03/2015 4.40, "SungMatt" <notifications@github.com> va escriure:

[2015-03-19 07:15] dentmaged commented on #168
@RubeGamerV Maven automatically downloads dependencies

[2015-03-19 07:31] CaptainElliott commented on #168
Use IntelliJ and enable auto import of maven dependencies

[2015-03-19 19:43] Aaron1011 opened #410 "Empty region tags aren't supported"
The PGM XML format allows using empty, self-closing `region` tags, to reference a rejoin from another tag. These are curretnly not supported by PGM.

Source: https://docs.oc.tc/modules/regions#regionExamples

[2015-03-19 20:55] Aaron1011 commented on #410
I was wrong about this.

[2015-03-19 20:55] #410 closed

[2015-03-20 05:41] #408 closed

[2015-03-20 15:20] AngelCasillas01 opened #411 "Teams and Scoreboard issue"
same as #408 but heres the log

log for /join http://pastebin.com/iBuMiBjs

for the scoreboard, the plugin it's like dosen't have it

Cardinal Version:http://prntscr.com/6j47ho

[2015-03-20 15:36] twizmwazin commented on #411
Don't create duplicate issues, please re-post this in the open issue.

[2015-03-20 15:36] #411 closed

[2015-03-20 15:36] twizmwazin commented on #411
Also, we need the full log, the log you linked cuts out the part we need.

[2015-03-20 16:04] TiTo-418 opened #412 "Cycle issue"
Log: http://pastebin.com/01C5S4Yp
Map: https://oc.tc/forums/topics/54ad6ec5c296352d40000017

[2015-03-20 19:47] twizmwazin commented on #412
This issue isn't related to Cardinal, it is a map XML issue

[2015-03-20 19:47] #412 closed

[2015-03-21 01:02] TiTo-418 commented on #412
https://github.com/DoomRobotBoy/Maps-XML/blob/master/Storm%20Cloud.xml

[2015-03-21 03:45] Aaron1011 opened #413 "Support global XML includes"
[Several XML files](https://maps.oc.tc/) are found at the top level of Overcasts's map repository directory, such as `tutorial.xml`. These files can be used in an `include` tag, without qualifying the path.

I propose that CardinalPGM support a configurable global XML directory. XML files in said directory could be included from any XML file.

[2015-03-21 04:18] SungMatt commented on #413
The xml files at the top level, such as `tutorial.xml` And `blitz-global.xml` is supposed to be in the map directory, default being `maps/`. Every xml file in a map folder within `maps/` can access those files.

I do not see the need for it being configurable, after all it's just 2 xml files to be referenced.

[2015-03-21 04:46] #380 closed

[2015-03-21 05:17] twizmwazin commented on #295
Ok, so I just figured out why no one has been able to get the book to open: the PlayerInteractEvent was being cancelled. I'll fix this tomorrow morning.

[2015-03-21 07:45] CaptainElliott commented on #413
We should make searching for includable xml files encompass every directory in the maps repository

[2015-03-21 08:41] dentmaged commented on #295
@twizmwazin Ohhhh, so that is why the book never opened even with pages!

[2015-03-21 09:28] iEli2tyree011 commented on #412
That's an error in the XML, not our plugin...
Line 27: "cooked pork" -> "grilled pork"

[2015-03-21 09:31] iEli2tyree011 commented on #413
I added includes, and then Twiz made it so it searched the parent directories. As @SungMatt said, there are other locations where these could be included anyways (the `maps/` directory)

[2015-03-21 09:35] iEli2tyree011 commented on #405
Objective filters were being loaded before objectives, which is kind of a problem. However, filters are loaded at `EARLIER` stage...I'm not sure what the consequences are of moving them to `EARLY`. I'll look into it though, I suppose it's good that the problem's cause is known.

[2015-03-21 12:27] Aaron1011 commented on #413
Parent directories are only searched if a relative path is specified (e.g. `../other-map.xml`)

[2015-03-21 13:32] twizmwazin commented on #413
@Aaron1011 When searching for an included file, three places are looked: the exact relative path given, then the map folder, and then the `maps/` folder.

[2015-03-21 13:36] #405 closed

[2015-03-21 14:51] Aaron1011 commented on #227
Tutorial (first and last stages): `tile.piston.out` `0.5` `2.0`

[2015-03-21 16:14] knightopress opened #414 "Automatically Create Rotation File"
The plugin should automatically create/update the rotation.txt file every time the server starts, manually doing it can become a hassle for some users. I am using the latest version of CardinalPGM.

[2015-03-21 16:20] knightopress opened #415 "Incorrect KD Calculation"
If a player has 0 kills and 0 deaths, they should have a KD of 0 as shown here: https://oc.tc/Notch. But when CardinalPGM calculates the KD for a player with 0 kills and 0 deaths, it returns the KD value as 1.00 as shown here: http://i.imgur.com/q4GG9O4.png. I am using the latest version of CardinalPGM (git pull and mvn clean install every time I start server).

[2015-03-21 16:34] SungMatt commented on #415
Mathematically its invalid though

[2015-03-21 16:49] CaptainElliott commented on #415
Mathematically there KD is 1 as they have had the same kills as deaths, not sure if it is something I wan't to fix

[2015-03-21 16:52] dentmaged commented on #415
@CaptainElliott But it is confusing for other players. I think it should be fixed.

[2015-03-21 16:54] CaptainElliott commented on #415
I don't see how it is confusing

[2015-03-21 17:01] CaptainElliott commented on #414
It does automatically create?

[2015-03-21 17:06] knightopress commented on #414
I find no rotation.txt file in my server directory. It might be an issue with updating from a previous version of Cardinal.

[2015-03-21 17:10] CaptainElliott commented on #414
Could you try deleting all files and restarting the server, one should be created

[2015-03-21 17:14] knightopress commented on #415
I think we should go by OCN's methods of calculating KD.

[2015-03-21 17:17] knightopress commented on #414
Same results occur after completely deleting the server directory and restarting it.

[2015-03-21 17:30] CaptainElliott commented on #415
@twizmwazin

[2015-03-21 17:34] dentmaged commented on #415
@CaptainElliott If someone has 1 kill and 1 death, their KD would be 1. If someone's has 0 kills and 0 deaths, their KD would be 1. Despite it is mathematically correct, I think it should be 0.

[2015-03-21 17:37] CaptainElliott commented on #415
I know that it should be 1, I don't think we should represent it as 0, that I why I am asking what @twizmwazin wants

[2015-03-21 17:52] iEli2tyree011 commented on #415
In my opinion, if a player has 0 kills and 0 deaths, the KD ratio should be 0.

[2015-03-21 17:59] nygiants10 commented on #415
KD: Indeterminate

[2015-03-21 18:03] twizmwazin commented on #415
I think it should be 0 for 0 kills and 0 deaths.

[2015-03-21 18:43] Eudaldca opened #416 "Incorrect compass behaviour"
I guess this is not a bug, it is just the way that it was written, but when a non-op player joins a team and the match is not running, he cannot teleport with the compass.
Version 4fb26f3

[2015-03-21 18:46] #415 closed

[2015-03-21 18:49] #416 closed

[2015-03-21 18:53] iEli2tyree011 commented on #383
Closing, as setting the time limit *does* execute the logic for this. #397 will be fixed soon and #394 will also be fixed.

[2015-03-21 18:53] #383 closed

[2015-03-21 19:27] #370 closed

[2015-03-21 20:09] SungMatt commented on #415
@CaptainElliot Anything divided by 0 is undetermined. Think of it this way: You have 0 apples. You split it between no one. How many does each person get? The answer is undetermined because there is no one you can observe to find the answer.

On a side note, this is turning to a Mathematics discussion isn't it?

[2015-03-21 20:46] #414 closed

[2015-03-22 02:16] AngelCasillas01 commented on #408
@twizmwazin  I'm sorry but this error is due to an un-update or invalid sportbukkit, mybe hes ussing 1.7.10 Sport.

[2015-03-22 06:30] dentmaged commented on #394
@iEli2tyree011 Should I do it?

[2015-03-22 08:16] CaptainElliott commented on #408
@AngelCasillas01 How can you be so sure without error logs, plus if he was using 1.7.10 then the plugin would not load

[2015-03-22 11:20] CaptainElliott opened #421 "Team name handling needs to be revised"
Two teams can have the same name through `/team alias`

You can't join a team if another teams  names that start with the same team
eg:
`team blue`
`team red`

Don't think there is away around this, but remaining a team that has more than 1 string does not work as intended
eg
`team blue`
`team red`

`/team alias team r red` will make the name `r red`
however doing `/team alias team b blue` will ma

[2015-03-22 12:48] iEli2tyree011 commented on #394
@dentmaged If you want, sure. Right now I'm overhauling the scoreboard, but I should be done soon.

[2015-03-22 13:20] Alfalik opened #425 "Add touch message for Observers Team"
Here are the three Localized Messages:

[code]

+ UI_OBJECTIVE_DAMAGED_FOR("userInterface.objectiveDamagedFor"),
+ UI_OBJECTIVE_TOUCHED_FOR("userInterface.objectiveTouchedFor"),
+ UI_OBJECTIVE_PICKED_FOR("userInterface.objectivePickedFor"),

[2015-03-22 14:18] #193 closed

[2015-03-22 15:48] twizmwazin commented on #408
@CaptainElliott I may be mistaken, but I'm pretty sure we don't have any check for the version of SportBukkit/CraftBukkit, so it would load, just then have a lot of issues.

[2015-03-22 15:54] AngelCasillas01 commented on #408
@CaptainElliott Because i got the same error by using 1.7.10 Sport, when i change to 1.8 the error disapear

[2015-03-22 16:16] SungMatt commented on #408
@twizmwazin There was a pull request from @Aaron1011 , #406 , but it was closed by Aaron because the check for Bukkit flavour (SportBukkit, CraftBukkit, Spigot etc.) was not implemented.

[2015-03-22 16:19] AngelCasillas01 commented on #408
@SungMatt it was @ryanwarsar

[2015-03-22 16:21] felipufeliu opened #426 "No proximity for monuments showed on scoreboard when you are on the obs team"
http://gyazo.com/8a6c63745fb338a9299e5840f59d33f1

[2015-03-22 16:51] MrTheSharpie commented on #193
Thankyou :D

[2015-03-22 17:59] iEli2tyree011 commented on #426
The prefix is too large, so the last section of information is removed instead of cut off. You can check the proximity using the command, as well.

[2015-03-22 17:59] #426 closed

[2015-03-22 20:00] TiTo-418 opened #428 "Incorrect permissons with command /proximity"
<a href="http://imgur.com/QxgUsfg"><img src="http://i.imgur.com/QxgUsfg.png" title="source: imgur.com" /></a>

[2015-03-22 20:01] Alfalik commented on #428
Can you explain the issue?

[2015-03-22 20:02] CaptainElliott commented on #428
You should not be able to run the command while playing

[2015-03-22 20:02] dentmaged commented on #428
@Alfalik Red's orb hasn't been touched but apparently in /proximity, it has.

[2015-03-22 20:03] CaptainElliott commented on #428
@dentmaged you can't see if the enemy team has touches

[2015-03-22 20:05] Alfalik commented on #428
@CaptainElliott I asked Elly about it, he wanted permissions. Look here https://github.com/twizmwazin/CardinalPGM/pull/418

[2015-03-22 20:23] TiTo-418 opened #429 "Double shears in the hotbar"
<a href="http://imgur.com/re71Rp8"><img src="http://i.imgur.com/re71Rp8.png" title="source: imgur.com" /></a>

[2015-03-22 20:39] TiTo-418 commented on #429
LOL? Im going to close this

[2015-03-22 20:39] #429 closed

[2015-03-22 20:47] CaptainElliott commented on #429
sorry, I misspelled it, no need to laugh xD

[2015-03-22 20:53] TiTo-418 commented on #429
NP, im **cloes** the issue xD

[2015-03-22 21:43] iEli2tyree011 commented on #428
This is intentional. If you have a certain permission, you can use the command, just like /tp, etc.

[2015-03-22 21:43] #428 closed

[2015-03-22 21:50] TiTo-418 commented on #428
You should not be able to run the command while playing, even if you are admin or moderator. This is a gameplay breaking

[2015-03-22 21:52] twizmwazin commented on #428
@TiTo-418 If you are an admin or moderator, you should be mature enough to not use the command while playing.

[2015-03-22 23:00] #425 closed

[2015-03-22 23:01] iEli2tyree011 commented on #413
Closing, since I'm pretty sure the behavior of Cardinal is similar if not exact to how it should look through the directories. Thanks for bringing it up, though.

[2015-03-22 23:01] #413 closed

[2015-03-22 23:14] #376 closed

[2015-03-22 23:28] #295 closed

[2015-03-23 00:01] Alfalik opened #430 "Add <noRecentPM/> to reply command"
If the player have no messages to reply, the console gives an error.
+ Error log: http://pastebin.com/SWyiYkYZ

Add localized message:
+ ```<noRecentPM>You have no private messages to reply to</noRecentPM>```
+ ERROR_NO_RECENT_PM("error.noRecentPM"),

[2015-03-23 00:53] TiTo-418 opened #431 "Wools dont re-appear in chests"

[2015-03-23 01:11] AngelCasillas01 opened #432 "On CTW, the "wools" appears in orange instead of white"
This error is on scoreboard for be specific

[Cardinal Version](https://github.com/twizmwazin/CardinalPGM/commit/a3049d450c277e8416bfcd795f82f6a863b7f18a)

[2015-03-23 01:12] iEli2tyree011 commented on #432
This is intentional.

[2015-03-23 01:12] #432 closed

[2015-03-23 01:13] AngelCasillas01 opened #433 "When in obs, the touch message appears like yours,"
For example, on teams chat appears like iGalaxy_ picked up the wool, but in obs appears like AngelCasillas01

[Cardinal Version](https://github.com/twizmwazin/CardinalPGM/commit/a3049d450c277e8416bfcd795f82f6a863b7f18a)

[2015-03-23 01:14] AngelCasillas01 commented on #432
@iEli2tyree011 oh, because on the original PGM I thought it was white sorry :P

[2015-03-23 01:15] AngelCasillas01 opened #434 "Blocks dosen't re-appear"
Example in Wit's End

[Cardinal Version](https://github.com/twizmwazin/CardinalPGM/commit/a3049d450c277e8416bfcd795f82f6a863b7f18a)

[2015-03-23 01:16] AngelCasillas01 commented on #431
This problem is kind of the same, but the difference is that this issue is with phisical blocks instead of inventory blocks

#434

[2015-03-23 01:21] #433 closed

[2015-03-23 01:28] #430 closed

[2015-03-23 02:41] TiTo-418 commented on #434
Podes explicarlo un poco mas?

[2015-03-23 02:44] AngelCasillas01 commented on #434
@TiTo-418 Los bloques no se regenerar al romperlos, por ejemplo en wit's end los bloques de oro no se regeneran

The blocks dosen't regenerate, for example, on wit's end the blocks of gold dosen't regenerate :(

[2015-03-23 02:45] SungMatt commented on #434
Saying "Blocks dosen't re-appear" is not clear, are you referring to blocks placed, or blocks in a chest, or what are you referring to? Please make use of the description to explain the issue, and not give a vague title.

[2015-03-23 02:58] AngelCasillas01 opened #435 "Scoreboard issue"
Light_blue Wool

[2015-03-23 02:59] twizmwazin commented on #435
@AngelCasillas01 broken link

[2015-03-23 03:00] AngelCasillas01 commented on #435
@twizmwazin  fixing it

[2015-03-23 03:08] AngelCasillas01 commented on #435
@twizmwazin http://prntscr.com/6k77fi

[2015-03-23 03:10] TiTo-418 opened #436 "Harmful Potions Should Not Effect Teammates"
When a person throws a de-buff potion, like slowness or weakness, it should not effect other teammates. This can be teamgriefing if done extensively. Also, maybe make buffs , like healing and strength only effect players on the throwers team. Also, potions from spawners should effect all.

[2015-03-23 03:14] TiTo-418 opened #437 "Observers cannot open furnace/beacon inventory"
Steps to reproduce:
1. Go on a server with a furnace/beacon
2. Right click the furnace/beacon

[2015-03-23 03:21] TiTo-418 opened #438 "Snowballs dissapear when shooting with a teammate infront of you"
It doesn't happen with arrows but it happens with snowballs

[2015-03-23 03:36] AngelCasillas01 opened #439 "On Ring Race, the left wool(for both teams) it's like void for the map"
[XML.](https://maps.oc.tc/CTW/Standard/Ring%20Race/map.xml)

[2015-03-23 03:44] TiTo-418 opened #440 "Default Gold Core/Monument Mode not specified in /mode"
The /mode command only specifies monument modes if it is set in the XML. By default, the cores turn to gold in 15 minutes, but on a map where that is default, like Sky Traffic, it says something like there is no modes.

[2015-03-23 03:50] twizmwazin commented on #436
Is this how it works on Overcast?

[2015-03-23 03:51] TiTo-418 commented on #436
https://github.com/OvercastNetwork/Issues/issues/231

[2015-03-23 03:53] TiTo-418 opened #441 "No SnowFlakes awarded on destroyed wool"
A non important missing feature

[2015-03-23 03:58] SungMatt commented on #437
Aren't beacons along with crafting benches unopenable as an observer?

[2015-03-23 04:01] SungMatt commented on #440
I do know of some tourney maps that stay full obsidian throughout.

[2015-03-23 04:04] TiTo-418 commented on #437
The beacon is a tile entity, the crafting table no

[2015-03-23 04:06] SungMatt commented on #436
Why should the suggestion on strength potions and healing be applied to only the thrower's team? Some 4 team maps allow for teaming, and also, if you throw a strength potion at the opponent, isn't it your fault that you threw it at them?

[2015-03-23 04:14] SungMatt commented on #439
Could you describe it in further detail? Is the left wool room in the void or is the place to place the "left wool" in the void? Also, it would help if you could specify which colour wool is the "left wool" as I'm not sure which direction are you looking in.

[2015-03-23 04:17] SungMatt commented on #439
At this point it sound more like an XML error, but if you could describe it in further detail, your issue could be more easily resolved.

[2015-03-23 04:20] TiTo-418 opened #442 "Fire extinguished in observer mode does not regenerate."
Evidence: http://youtu.be/8Dk5fnQpy7Q

[2015-03-23 04:22] TiTo-418 opened #443 "Match time is unnecessarily precise, displayed to 3 decimal places"
When you join a game, the match time is displayed as minutes, seconds and milliseconds. This is confusing to read and unnecessary.

For example:

<a href="http://imgur.com/AOoNBTW"><img src="http://i.imgur.com/AOoNBTW.png" title="source: imgur.com" /></a>

[2015-03-23 04:23] SungMatt commented on #443
This is the OCN standard.

[2015-03-23 04:24] TiTo-418 commented on #443
https://github.com/OvercastNetwork/Issues/issues/1048

[2015-03-23 04:29] CoWinkKeyDinkInc commented on #442
This bug is also present in the Original PGM

[2015-03-23 04:30] SungMatt commented on #443
@TiTo-418 Let's first resolve missing features on Cardinal before attempting to bug fix these trivial bugs that have not even been resolved on PGM.

[2015-03-23 04:34] TiTo-418 commented on #442
I know

[2015-03-23 04:36] TiTo-418 opened #444 "Observers can modify/move boats in-game"
Issue

Observers can modify/move/break boats in observers.

How to Re-Create

Have someone in-game place a boat. Have another player in Observers. Have the observer go under the boat, they can re-direct it and move it with their head. Kindda like a flying carpet.

Evidence: http://youtu.be/pmbh7qXkbF8

[2015-03-23 04:39] TiTo-418 commented on #443
obviously, first the missing features, after minimum bugs, but here is the report

[2015-03-23 04:47] TiTo-418 opened #445 "Friendly fire restriction bypassed if shooter joins observers while arrow is in flight"
The issue

If a player shoots an arrow, then joins observers (e.g. by dying on Blitz), their arrow is able to damage their former teammates.

Proposed solutions

Arrows should remember which team their shooter belonged to at the time they were shot.
or

When a player leaves a team, all arrows shot by them should be removed

[2015-03-23 04:49] TiTo-418 opened #446 "Cant summon mobs"

[2015-03-23 04:59] TiTo-418 opened #447 "Kill rewards can be given after death but before respawn and therefor offset inventory."
Rewards for killing a player can be given after you die but before you respawn, causing all the items in your inventory to be shifted over a slot (or more, depending on how many items are given in the reward).

You can reproduce this by:
1) Joining a map with a specified kill reward.
2) Punching a player from the opposing team off into the void.
3) Being killed before that player dies in the void,

[2015-03-23 09:04] Alfalik commented on #440
Can you pastebin the XML?

[2015-03-23 09:09] Alfalik commented on #445
This also happen on OCN, and isnt really an issue.

[2015-03-23 11:04] iEli2tyree011 commented on #443
This isn't an issue.

[2015-03-23 11:05] iEli2tyree011 commented on #442
This is a client-side issue.

[2015-03-23 11:05] #442 closed

[2015-03-23 11:27] twizmwazin commented on #443
I'll add a config option.

[2015-03-23 11:28] twizmwazin commented on #446
Example or more information please.

[2015-03-23 13:22] SungMatt commented on #447
@iEli2tyree011 How are you going to fix this issue? The killreward is currently given instantly on player kill, and it does not have a slot assignment. Are you going to delay the killreward until player respawn?

[2015-03-23 14:06] AngelCasillas01 commented on #439
@SungMatt Start happening after an update, a long time ago, like in january, was working fine

[2015-03-23 14:12] twizmwazin commented on #447
@SungMatt We can keep track of players and who is alive and who is dead. If they are dead, the kill reward can be scheduled to run in one tick. If the player is still dead, repeat. If the player logs off or switches teams, cancel.

[2015-03-23 14:17] Alfalik commented on #439
Upload YOUR XML, not the one on maps.oc.tc

[2015-03-23 15:32] Aaron1011 commented on #446
@TiTo-418: In accordance with the [Mob spawning docs](https://docs.oc.tc/modules/mobs), CardinalPGM disables all mob spawning by default.

Maps can override this with the `mobs` element.

[2015-03-23 15:49] G61 commented on #439
Put bedrock under the woolrooms.

[2015-03-23 16:12] CaptainElliott commented on #445
I could fix this however this is something that is done on OCN, i'll fix it now and see if @twizmwazin wants it or not

[2015-03-23 16:13] CaptainElliott commented on #440
I'm not too sure if cardinal has default modes, nor do I thin default modes are a thing on OCN anymore

[2015-03-23 16:36] twizmwazin commented on #440
I'm not sure what the deal is on OCN, however we have default modes for cores.

[2015-03-23 16:44] Aaron1011 commented on #437
@TiTo-418: Furnace inventories are working for me in the latest version.

[2015-03-23 17:32] Jair07mx opened #448 "Useful commands for scrimms"
/kickall [Team] - Usage to kick a team specific.

/whitelist [Team] - Usage to add in the whitelist a team specific.

/ready - The command exists, but does not automatically start the game when the teams type /ready.

/referee [Player] - For mini tournaments.

[2015-03-23 17:34] dentmaged commented on #448
For /ready, is there a timer?

[2015-03-23 17:42] AngelCasillas01 commented on #448
Yes it start with ready, what version are you using, this works when /ready functionality was implemented, theres no bugs on this, and why you want to kick all people? This command can be abused of that, and for whitelist, there is `/whitelist all` which add all of the peope in the server, referee it's a rank and @twizmwazin maybe will add it.

[2015-03-23 17:42] AngelCasillas01 commented on #448
@dentmaged yes it does.

[2015-03-23 17:46] Jair07mx commented on #448
@AngelCasillas01 Ends Scrimm, and not kicking them one by one is better kicking them to a specific team.
If not added, the whitelist team and kick can make a good set

[2015-03-23 17:48] TiTo-418 commented on #443
<3

[2015-03-23 17:48] Jair07mx commented on #448
@AngelCasillas01 /ready either because touch some things, so I'll try a virgin version of Cardinal.

[2015-03-23 17:48] AngelCasillas01 opened #449 "Add a feature which monuments can't be fixed."
In some XML maps (such as Revenge TE) On the XML file theres is not `<itemremove>` on monuments blocks (for example coal monument) and if you fixed that block counts like had never broke it

[2015-03-23 17:49] TiTo-418 commented on #446
You cant summon with spawn eggs or command /summon

[2015-03-23 18:14] CaptainElliott commented on #446
That's because the xml will not allow you to

[2015-03-23 18:14] #446 closed

[2015-03-23 18:15] CaptainElliott commented on #449
Revenge TE has item remove that contains monument blocks

[2015-03-23 18:17] CaptainElliott commented on #448
Most of them are already implemented
`/whitelist kick` will kick everyone not on the whitelist (generally the other team)
/`ready` when both teams are ready a timer starts
`/whitelist team` whitelists a team

We will not, however, be adding a referee rank

[2015-03-23 18:17] #448 closed

[2015-03-23 18:26] TiTo-418 commented on #446
Ok, ty

[2015-03-23 18:36] TiTo-418 commented on #437
Not working in OBSERVERS in 2a4772c701447286848ef0559355d1614ee4974e

[2015-03-23 18:39] TiTo-418 commented on #431
@AngelCasillas01 ok, agrega esta issue a la #434 y cierro esta

[2015-03-23 18:42] CaptainElliott commented on #431
This is a different feature

[2015-03-23 19:01] AngelCasillas01 commented on #449
@CaptainElliott was an example, can happend on a random map :(

[2015-03-23 19:02] TiTo-418 commented on #449
The monument on Ender Blast can be fixed, this is the idea

[2015-03-23 19:05] CaptainElliott commented on #449
There is an objective attribute that allows for a monument not to be fixed.
We do not want to hard code something like this in

[2015-03-23 19:34] #443 closed

[2015-03-23 20:10] #437 closed

[2015-03-23 20:21] Eudaldca opened #455 "/bring command missing * for all players"
Cardinal's /bring command does not have a feature to put an asterisk in the bring command to select all the players.

[2015-03-23 21:28] IlPicasso opened #456 "using /start twice after the second game throws error"
I was testing and in the first game if you use /start it will detect that a game is on game

But after the first cycle if you use /start again it will throw an error

http://pastebin.com/X9hii7gy

[2015-03-23 21:29] Jonmuxu commented on #456
it's a bug with the countdown... :(

[2015-03-23 22:25] iEli2tyree011 commented on #449
This is a valid issue, I'll fix it tonight.

[2015-03-23 22:27] AngelCasillas01 commented on #449
@iEli2tyree011 Thanks!

[2015-03-24 01:58] #435 closed

[2015-03-24 02:01] iEli2tyree011 commented on #440
They appear just fine for me. Make sure your map is actually supposed to have default core modes.

http://i.imgur.com/Yq2TiXq.png

[2015-03-24 02:01] #440 closed

[2015-03-24 02:09] #455 closed

[2015-03-24 02:11] #447 closed

[2015-03-24 02:57] AngelCasillas01 commented on #456
@twizmwazin Maybe you should check your new StartTimer module for resolve this, but maybe something broke this code because this was solved a few ago if i'm not bad 🙈

[2015-03-24 03:03] IlPicasso commented on #456
IN the first game it wont throw that error

[2015-03-24 03:16] Superjd10 commented on #438
Sportbukkit issue, confirmed by Apple: https://github.com/OvercastNetwork/Issues/issues/1595#issuecomment-73183918

[2015-03-24 10:16] iEli2tyree011 commented on #438
As @Superjd10 said, this seems to be a SportBukkit issue, not a Cardinal issue.

[2015-03-24 10:16] #438 closed

[2015-03-24 10:19] AngelCasillas01 opened #458 "Ban message"
When disconnect from server apears well (Permantly ban >> Test)
But entering again to the server, (Appears like vanilla message and the reason appears the way should be, ex.)(Vanilla messages; Reason: Permantly Ban>> Teste)

[Cardinal Version](https://github.com/twizmwazin/CardinalPGM/commit/acd3b4ca9b4609913c07319c1ab2afa23313b415)

[2015-03-24 11:17] Eudaldca commented on #458
Update your cardinal, it was fixed by #731

[2015-03-24 12:21] SungMatt commented on #458
This is issue #371 , discuss there.

[2015-03-24 12:52] Rafitamolin opened #459 "Failed to load map"
http://pastebin.com/ZyYd2NaF

Tried to load other maps but I get the same error.

Version: ![Version](http://i.imgur.com/jejVs9N.png)

[2015-03-24 12:58] AngelCasillas01 commented on #431
@TiTo-418 no dejala abiera para saber cuando lo resuelvan xaval

[2015-03-24 13:02] Eudaldca commented on #458
Update cardinal.

[2015-03-24 13:06] AngelCasillas01 commented on #458
@Eudaldca you don't see the cardinal version .-.?

[2015-03-24 13:07] AngelCasillas01 commented on #458
Closing in reference to #371

[2015-03-24 13:07] #458 closed

[2015-03-24 13:08] AngelCasillas01 commented on #371
Need to reopen this.

When disconnect from server apears well (Permantly ban >> Test)
But entering again to the server, (Appears like vanilla message and the reason appears the way should be, ex.)(Vanilla messages; Reason: Permantly Ban>> Teste)

[Cardinal Version](https://github.com/twizmwazin/CardinalPGM/commit/acd3b4ca9b4609913c07319c1ab2afa23313b415)

[2015-03-24 13:09] ryanw-ny commented on #459
@Rafitamolin It appears that it is trying to send too many requests per minute to Mojang's servers. I might be wrong, but it is responding with error code 429 which typically means too many requests.

Try waiting a few minutes before starting your server again.

[2015-03-24 13:25] AngelCasillas01 opened #460 "Update punishemnts commands"
you maybe can use /l for see punishments for the player, and /appeal, this maybe should use database stuff

[2015-03-24 13:27] SungMatt commented on #459
This is usually an XML error, but to verify, go to `plugins/Cardinal/config.yml` , and change the setting for `displayMapLoadErrors` to `true`, and that will tell you more about the issue. Please attach the logs after you've changed this setting, then we know what XML error it is, or a missing filter.

[2015-03-24 13:28] SungMatt commented on #460
/appeal ? This is a scrimmage server, not a PGM replacement.

[2015-03-24 13:29] Rafitamolin commented on #459
@SungMatt http://pastebin.com/2Vs7yus1

[2015-03-24 13:31] Alfalik commented on #459
Can you pastebin the XML?

[2015-03-24 13:35] Rafitamolin commented on #459
@Alfalik Squidditch: https://github.com/Qixit/Squidditch.XML/blob/master/map.xml
Lunar Crescent: http://pastebin.com/XzkwG70L
Secluded: https://github.com/DoomRobotBoy/Maps-XML/blob/master/Secluded.xml

Those 3 maps are giving me errors.

[2015-03-24 13:39] SungMatt commented on #459
@Rafitamolin These 3 are all xml errors. Do you want me to send you an edited version of the xml?

[2015-03-24 13:40] Rafitamolin commented on #459
@SungMatt It would be great. Thanks :)

[2015-03-24 13:50] SungMatt commented on #459
@Rafitamolin
Here's [Squidditch](https://raw.githubusercontent.com/SungMatt/CorrectedXML/master/Squidditch.xml)
Will update as I fix the other 2.

[2015-03-24 13:55] Rafitamolin commented on #459
Thanks again @SungMatt. Closing this because it's a XML issue and not a plugin issue.

[2015-03-24 13:55] #459 closed

[2015-03-24 13:55] SungMatt commented on #459
@Rafitamolin You're welcome :)

[2015-03-24 14:37] TiTo-418 commented on #442
"It's a bug that isn't fixed"

[2015-03-24 14:45] TiTo-418 commented on #351
The endstone cuboid can't be broken on Ender Blast

[2015-03-24 14:58] elespawol commented on #351
Me happens the same with BoomTE and Boom (normal)
El dia 24/03/2015 15.45, "TiTo-418" <notifications@github.com> va escriure:

[2015-03-24 15:37] Superjd10 commented on #460
I agree with @SungMatt. This isn't necessary in a scrimmage server.

[2015-03-24 15:39] iEli2tyree011 commented on #460
We're not adding punishment tracking. The sole reason for the punishment commands is to mute, kick, or ban someone. We don't need an appeal system for this.

[2015-03-24 15:39] #460 closed

[2015-03-24 15:41] iEli2tyree011 commented on #442
@TiTo-418 It's client-side.

[2015-03-24 16:41] MrTheSharpie commented on #428
@TiTo-418 In that case, you can also join obs to see if they have a touch. I don't think this has to be changed

[2015-03-24 16:51] TiTo-418 commented on #442
@Brottweiler

[2015-03-24 17:02] AngelCasillas01 commented on #428
A good option is to let this command only for admin rank

[2015-03-24 17:04] CaptainElliott commented on #442
@TiTo-418 there is no need to ping him, that was re opened as we decided that the developers may be able to fix it with a sportkukkit patch, there is no need to chase something up

[2015-03-24 17:12] TiTo-418 commented on #442
Ok, sorry

[2015-03-24 17:29] CaptainElliott commented on #371
Although this is small I am going  to fix it

[2015-03-24 17:38] #371 closed

[2015-03-24 17:46] TiTo-418 commented on #448
"/ready when both teams are ready a timer starts" incorrect, the obs team need be ready too

[2015-03-24 17:49] MrTheSharpie commented on #428
@twizmwazin Just for knowledge; did you finally added the Ref rank? If the answer is yes (I don't think so) what is the command to make someone ref? Thank you ;)

[2015-03-24 17:56] CaptainElliott commented on #428
Please keep this on topic @MrTheSharpie
But to answer your question, no, there will not be a ref rank

[2015-03-24 18:24] CaptainElliott commented on #448
@TiTo-418  No, cardinal does not need obs to be ready as this is a scrim plugin

[2015-03-24 19:47] iEli2tyree011 commented on #448
@CaptainElliott I changed that

[2015-03-24 19:48] #449 closed

[2015-03-24 19:54] CaptainElliott commented on #448
@iEli2tyree011 I don't think that is a good idea, most scrims will not have obs

[2015-03-24 20:15] twizmwazin commented on #448
@CaptainElliott I'm not against Cardinal being used for off-season non-profit community events.

[2015-03-24 20:16] CaptainElliott commented on #448
@twizmwazin  Then it should be a config option

[2015-03-24 20:18] twizmwazin commented on #448
@CaptainElliott Will do

[2015-03-24 20:28] twizmwazin commented on #456
This is the weirdest log file I've ever seen

[2015-03-24 22:17] TiTo-418 commented on #448
Thanks

[2015-03-25 00:04] #366 closed

[2015-03-25 00:04] #397 closed

[2015-03-25 00:29] Alfalik commented on #439
@AngelCasillas01 Can you upload a vídeo, the map & XML or something useful to understand the issue?

[2015-03-25 01:00] Alfalik opened #462 "Allow players to use ready/unready command while the match is starting"
Video proof: http://youtu.be/u1NBuKVLWV4
Cardinal version 66adc27: http://gyazo.com/fbd2f665df9759e14d76e0c9a3ef33c1

[2015-03-25 01:04] #445 closed

[2015-03-25 01:06] #462 closed

[2015-03-25 01:13] AngelCasillas01 commented on #439
@Alfalik Tomorrow, XML is on the top

[2015-03-25 01:38] TiTo-418 commented on #439
actualiza el cardinal angel...

[2015-03-25 02:00] #441 closed

[2015-03-25 02:01] Jair07mx opened #464 "Signs issue"
![2015-03-24_19 50 44](https://cloud.githubusercontent.com/assets/11080069/6816968/1337d97c-d260-11e4-920d-09e23aa3cbc7.png)

[2015-03-25 02:02] Alfalik commented on #464
How it is supposed to be related with Cardinal?

[2015-03-25 02:02] iEli2tyree011 commented on #464
This isn't related to Cardinal whatsoever, nor do we even support lobbies.

[2015-03-25 02:02] #464 closed

[2015-03-25 02:04] Jair07mx commented on #464
In single player are as they should be

[2015-03-25 02:06] #421 closed

[2015-03-25 02:06] iEli2tyree011 commented on #464
@Jair07mx This is not caused by Cardinal.

[2015-03-25 02:07] Jair07mx commented on #464
@iEli2tyree011  A problem of incompatibility between 1.7 and 1.8, I should imagine

[2015-03-25 02:19] twizmwazin commented on #464
Networks are NOT supported.

[2015-03-25 02:42] Carlos934 opened #466 "Map description is not displayed on cycle and join"
If it occurs at tm, and missing in CardinalPGM

![image](https://cloud.githubusercontent.com/assets/11640813/6817450/189b1518-d266-11e4-95ca-6ec046a18ede.png)

[2015-03-25 02:43] SungMatt commented on #466
It should display in /map

[2015-03-25 02:49] Carlos934 commented on #466
No, it shows to enter the server

[2015-03-25 03:25] TiTo-418 commented on #466
/match too

[2015-03-25 11:04] SungMatt opened #467 "Observer spawn does not respect kits."
In some maps, like BipBetaMC, and SuperPRISM, Night Vision is used to allow the player to see better in the poorly lit map. As such, every player is given night vision in a `kit` with a `potion` tag. However, `default` does not respect this kit, and does not give the player the potion effect.

I have attempted to modify this default kit, and regardless if it is a potion effect, an item, or a piece

[2015-03-25 13:33] AngelCasillas01 commented on #439
Temporary closed

[2015-03-25 13:37] twizmwazin commented on #439
If it isn't fixed don't close it.

[2015-03-25 13:39] AngelCasillas01 commented on #439
@twizmwazin it is a Cardinal issue 😳

[2015-03-25 13:42] AngelCasillas01 commented on #439
@twizmwazin Sorry didn't knew it 😥

[2015-03-25 13:51] TiTo-418 commented on #467
e.g. XML: https://maps.oc.tc/Other/Tournament/House%20of%20Cores/house-of-cores.xml

[2015-03-25 13:58] TiTo-418 commented on #441
- turning wool to carpet
- lava
- tnt
(https://github.com/OvercastNetwork/Issues/issues/1182)

[2015-03-25 16:29] CaptainElliott commented on #441
@TiTo-418 Could you please stop referencing OCN issues, this is not a duplicate issue tracker, you can describe the issue yourself without referencing

[2015-03-25 16:49] Carlos934 commented on #466
@TiTo-418 We are talking about TM, no of public matches

[2015-03-25 17:17] AngelCasillas01 commented on #466
@twizmwazin a good stuff for the code can be `getobjective()` and `getname()`

[2015-03-25 17:29] #467 closed

[2015-03-25 20:39] #456 closed

[2015-03-25 21:06] Alfalik commented on #439
I tested Ring Race on my server and it have no problems, the player can place, break & use blocks in the wool regions:

+ Map (if anyone want to test): http://www.mediafire.com/download/0afyo7d2wj97fma/Ring+Race.zip
+ XML: http://pastebin.com/jRktQpzu
+ Video proof: http://youtu.be/WiD9H2YRE04
+ Cardinal version 8b86e8d: http://gyazo.com/0077b9d40b70e970084155b146e00b98

[2015-03-25 21:16] TiTo-418 commented on #441
@CaptainElliott i know, but much of the issues related with "plugin" be issues of cardinal, and maybe the refence help the developers.

[2015-03-25 21:19] Alfalik opened #468 "Wools proximity is not automatically shown on the scoreboard"
I did the test only in maps without the ```<time result="objectives">x</time>``` module in the XML. In DTC/M it just work fine.

+ Video proof: http://youtu.be/6aU5xQaxDCM
+ Cardinal version 8b86e8d: http://gyazo.com/0077b9d40b70e970084155b146e00b98

[2015-03-25 23:35] TiTo-418 opened #469 "Whitelist command issue"
http://gyazo.com/199f4646d68b775766ebf3e83a7d9dcb

log: http://pastebin.com/CJLUmv3B

[2015-03-25 23:47] Superjd10 commented on #441
@TiTo-418 Using URL shortners also ping the Issue IIRC.

[2015-03-25 23:49] TiTo-418 commented on #441
Test: http://goo.gl/7lqxgX

[2015-03-25 23:51] TiTo-418 opened #470 "Mod cant start and end matches"

[2015-03-25 23:57] SungMatt commented on #470
Isn't this an issue in the default permissions in the `plugins/Cardinal/` file?

[2015-03-26 00:08] TiTo-418 commented on #470
https://github.com/twizmwazin/CardinalPGM/pull/348

[2015-03-26 00:15] TiTo-418 commented on #470
Update configs

[2015-03-26 00:15] #470 closed

[2015-03-26 00:18] #466 closed

[2015-03-26 00:31] TiTo-418 opened #471 "Match info displayed 3 time when join a game"
<a href="http://imgur.com/ZtRH4vs"><img src="http://i.imgur.com/ZtRH4vs.png" title="source: imgur.com" /></a>

[2015-03-26 00:32] iEli2tyree011 commented on #469
Can you pastebin your whitelist.json?

[2015-03-26 00:33] TiTo-418 commented on #468
Proximity is a XML option, try with Golden Drought TE

[2015-03-26 00:35] #471 closed

[2015-03-26 00:37] iEli2tyree011 commented on #439
Going to close this as it seems to be an issue with mismatching maps and XMLs.

[2015-03-26 00:37] #439 closed

[2015-03-26 01:49] TiTo-418 commented on #469
I use the command /whitelist all
http://pastebin.com/fryEEXL3

[2015-03-26 02:30] TiTo-418 opened #473 "Kill rewards doesnt work on BlockRAGE"
XML: https://maps.oc.tc/TDM/Standard/BlockRage/map.xml
Video: Uploading...

[2015-03-26 02:43] SungMatt commented on #473
Both killrewards don't work?

[2015-03-26 02:55] TiTo-418 commented on #473
@SungMatt yes

[2015-03-26 03:27] TiTo-418 commented on #74
Hey! Now this doesnt work

[2015-03-26 03:39] twizmwazin commented on #74
@TiTo-418 Make sure your cannon doesn't have flowing water.

[2015-03-26 03:47] TiTo-418 commented on #74
Ok, im uploading a video, but... this will be patched in a sportbukkit update?

[2015-03-26 03:52] SungMatt commented on #74
@TiTo-418 You have to check with the SportBukkit people.

[2015-03-26 15:28] AngelCasillas01 commented on #468
I think it's a `<map proto>` feature, proximity start working on `<map proto= 1.3.5>` i'm not sure but make some sense, i update the dyano XML from an old one to a newest one and proximity was showed on scoreboard, but maybe Devs can add a feature which implements an automatic proximity on socrebard

[2015-03-26 15:37] twizmwazin commented on #468
@AngelCasillas01 It has nothing to do with the protocol. I'm pretty sure the issue is that when Elly re-wrote the scoreboard he forgot to convert wool proximity to use the new system. Technically speaking, proximity shouldn't even be shown if there is no time limit on the map.

[2015-03-26 16:00] Superjd10 commented on #74
@TiTo-418 Are you using the lastest SportBukkit version for 1.8?

[2015-03-26 20:19] #469 closed

[2015-03-26 20:25] TiTo-418 commented on #74
@Superjd10 Si, gracias. Igualmente los canonns no son igual que en la 1.7 :(

[2015-03-26 22:10] Prodigy4532 opened #474 "Scoreboard Issue"
When a person leaves the game or kiked / banned , the scoreboard does not appear

Video: http://youtu.be/9h6k36jrYic

Cardinal Version: 778d5d5

[2015-03-26 22:20] TiTo-418 commented on #474
El scoreboad no aparece porque la partida esta terminada, no hay objetivos que mostrar.

[2015-03-26 22:22] Prodigy4532 commented on #474
Pero igual deverian de salir para gente que no vio la scrimmage o por si se cayeron y querian ver como quedo la partida

[2015-03-27 01:26] twizmwazin commented on #474
@TiTo-418 @Prodigy4532 Keep it English in the issue tracker, I need to know what you are saying.

[2015-03-27 01:39] TiTo-418 commented on #474
Sorry, i say: the scoreboard no appear becouse the match is end, there isnt objs to show

[2015-03-27 02:03] Prodigy4532 commented on #474
should go for people that just between learns as I finish the game, or people who may unknowingly disconnect

[2015-03-27 03:54] SungMatt commented on #473
I can test the XML compatibility tonight, only if I can get a link to the map. I think it's an issue with the <kit> then the <potion> that Cardinal does not understand. Then again, it should give the arrow regardless.

[2015-03-27 03:59] Carlos934 commented on #468
@twizmwazin So it should be, a tournament mode with timelimit, and other normal mode to practice

[2015-03-27 04:05] Carlos934 opened #475 "Missing an option to modify "Cardinal" in tab"
In TM have name of the team, so I think there should be an option to change this, also translate into Spanish and separate teams in tab.

![image](https://cloud.githubusercontent.com/assets/11640813/6861914/075e9a78-d404-11e4-9369-09dc0cd876b9.png)

[2015-03-27 04:10] Carlos934 commented on #475
I'm talking about this
![image](https://cloud.githubusercontent.com/assets/11640813/6861967/cff56502-d404-11e4-9788-975884e3f289.png)

[2015-03-27 04:42] SungMatt commented on #475
You can change the phrase "Scrimmage Server" in the `Cardinal/config.yml` file. "Cardinal" though, is attribution for the project.

[2015-03-27 05:03] RubeGamerV commented on #473
Pasame ese mapa para meterme a farmear

[2015-03-27 05:04] RubeGamerV commented on #474
@TiTo-418  Grammar op

[2015-03-27 05:58] SungMatt commented on #474
@aprodigy4532 Does google translate suck so bad?

[2015-03-27 09:58] #475 closed

[2015-03-27 12:07] twizmwazin commented on #473
@RubeGamerV English please

[2015-03-27 12:51] Prodigy4532 commented on #474
yea im using google :/ sorry

[2015-03-27 13:12] TiTo-418 commented on #473
He say: Give me that map to farm

[2015-03-27 13:20] TiTo-418 commented on #474
Correct google translate: But just deverian out for people who did not see the scrimmage or if dropped and wanted to see how it turned the game

[2015-03-27 13:23] Prodigy4532 commented on #474
thanks tito <3

[2015-03-27 13:50] elespawol commented on #474
Never use google translate
Its extremly horrible!!
El dia 27/03/2015 14.23, "Prodigy4532" <notifications@github.com> va
escriure:

[2015-03-27 13:51] Alfalik commented on #474
@elespawol @Prodigy4532 @TiTo-418 @RubeGamerV Can we keep the issue on topic?

[2015-03-27 14:39] TiTo-418 commented on #474
Sure

[2015-03-27 14:54] Alfalik opened #476 "TNT does not ignite others TNTs if the XML have a <blockdrops/> module"
+ Video proof with ```<blockdrops/>``` in the XML: https://youtu.be/VjadHWOROtc
+ Video proof without ```<blockdrops/>``` in the XML: https://youtu.be/lnUVt2Hub8U
+ Cardinal version 778d5d5: http://gyazo.com/1059d027f2bc2fe089e7a667e6201553

[2015-03-27 15:00] AngelCasillas01 opened #477 "TNT is not ingiting when on"
It's kind of if in XML has `<fuse>` and it has 4 secs, the tnt last 5 secs for destroy objects, appears like lag but i try it on a localhost server and it's the same problem

[2015-03-27 15:03] Alfalik opened #478 "Blockdrops drop the same item when breaking a random block"
The test was on Retalation 2 BC (<a href="https://maps.oc.tc/Other/Tournament/Breaking%20Core/Retaliation%202/map.xml">XML</a>)

[code]
+ Video proof: https://youtu.be/JCwkkNsC7R0
+ XML: http://pastebin.com/DNn2uyxn
+ Cardinal version 778d5d5: http://gyazo.com/1059d027f2bc2fe089e7a667e6201553

[2015-03-27 15:19] CaptainElliott commented on #476
It's working fine for me

[2015-03-27 15:20] CaptainElliott commented on #477
https://docs.oc.tc/modules/tnt

Must be a value less than 4 seconds since the TNT entity vanishes after that.

[2015-03-27 15:20] #477 closed

[2015-03-27 15:22] AngelCasillas01 commented on #477
Was an ex, when `<fuse>` is 1 same

[2015-03-27 15:23] CaptainElliott commented on #478
This also works fine for me

You are using an incorrect syntax, you need to use filters to define when it drops
https://docs.oc.tc/modules/blockdrops

[2015-03-27 15:23] #478 closed

[2015-03-27 15:24] CaptainElliott commented on #477
A fuse of 1 second works fine for me

[2015-03-27 15:53] Alfalik commented on #476
Uh, fixed it changing the XML (<a href=http://pastebin.com/fHZU8Jkc">Old syntax</a>)

[code]

[2015-03-27 15:53] #476 closed

[2015-03-28 01:25] TiTo-418 opened #481 "Incorrect touch message in obs"
<a href="http://imgur.com/2uzfX0b"><img src="http://i.imgur.com/2uzfX0b.png" title="source: imgur.com" /></a>

Shoud be: [Player] damaged [objetive] for [Team]

[2015-03-28 01:30] Vixo1 opened #482 "Team alias command don't works for KotH scoreboard"
Video: http://youtu.be/Nm6K--Etijs
Version: 778d5d5
There's no console log.

[2015-03-28 01:31] AngelCasillas01 commented on #481
i think this is intentional :(

[2015-03-28 01:32] TiTo-418 commented on #482
Same with TDM

[2015-03-28 01:33] TiTo-418 commented on #481
It's wrong :(
TiTo_418 damaged Monument for the Impact

:P

[2015-03-28 02:14] twizmwazin commented on #481
It is correct, as normally it would say "for the Red Team," which is correct

[2015-03-28 02:14] #481 closed

[2015-03-28 03:31] TiTo-418 commented on #481
TiTo_418 damaged Monument for Red team

[2015-03-28 04:16] SungMatt commented on #481
@TiTo-418 The use of the word "The" in English is referring to an object which is definite, like saying "The Interview". The example refers to a definite object, a particular interview.

To leave out the "The" would be like saying
"Dad, can I borrow car?" instead of "Dad, can I borrow the car?". The first example is broken English, and the recipient (Dad) would not know whose car I am borrowing, w

[2015-03-28 04:46] TiTo-418 commented on #481
"Since Cardinal is for scrimmages, it wont show team names as "Red Team", will be "Oklahomies" as example."

[2015-03-28 04:57] Prodigy4532 commented on #481
"For The <name team>" is ugly ;c

http://gyazo.com/649c2724789e16fa1c5bfcd00158192d

[2015-03-28 14:15] AngelCasillas01 commented on #481
I think that on the TE PGM of OCN it's like this

[2015-03-29 02:31] Carlos934 opened #486 "When you open a villager inventory the game crash"

[2015-03-29 02:37] twizmwazin commented on #486
We need logs and a more specific explanation

[2015-03-29 02:38] Carlos934 commented on #486
The server does not, the game yes

[2015-03-29 02:51] twizmwazin commented on #486
What?

[2015-03-29 02:53] Carlos934 commented on #486
The server does crash, is the game

[2015-03-29 02:53] twizmwazin commented on #486
We need the logs

[2015-03-29 02:57] SungMatt commented on #486
Does the server crash or the client crash?

[2015-03-29 03:08] Carlos934 commented on #486
http://pastebin.com/vXM8Ah95

[2015-03-29 03:10] Carlos934 commented on #486
This is an example, but it happens on maps as Necro or chaos dreams

[2015-03-29 03:31] ryanw-ny commented on #486
@Carlos934 This isn't a issue with CardinalPGM, it appears that you're on Minecraft version 1.7.4, which if I recall correctly, CardinalPGM supports 1.8 only! Update your version of CardinalPGM, and client.

[2015-03-29 03:37] SungMatt commented on #486
Please, please, read the [wiki](https://github.com/twizmwazin/CardinalPGM/wiki) to ensure that you are using Cardinal properly before you file an issue. Thanks.

[2015-03-29 04:16] TiTo-418 opened #487 "/toggle doesn't work"

[2015-03-29 04:51] TiTo-418 opened #488 "Some entitys and blocks dont appear in obs"
In game:
<a href="http://imgur.com/f6gkFCu"><img src="http://i.imgur.com/f6gkFCu.png" title="source: imgur.com" /></a>
In obs:
<a href="http://imgur.com/3yIksac"><img src="http://i.imgur.com/3yIksac.png" title="source: imgur.com" /></a>

[2015-03-29 04:52] TiTo-418 commented on #488
Sorry, wrong side

[2015-03-29 04:52] #488 closed

[2015-03-29 04:53] TiTo-418 commented on #444
Isn't fixed

[2015-03-29 05:25] twizmwazin commented on #444
My bad

[2015-03-29 05:27] #486 closed

[2015-03-29 06:18] #482 closed

[2015-03-29 06:45] #468 closed

[2015-03-29 06:51] iEli2tyree011 commented on #473
@TiTo-418 Can you pastebin the actual XML from your maps folder? This is working fine for me.

[2015-03-29 06:55] felipufeliu commented on #444
I think this bug also happend on the Overcast, it would be cool if you guys fix it.

[2015-03-29 07:04] TiTo-418 commented on #473
http://pastebin.com/Jbudsk1X
Speed 2 never is given and the arrow neither

[2015-03-29 09:14] dentmaged commented on #481
[code]

[2015-03-29 14:05] iEli2tyree011 commented on #481
@dentmaged We're not hardcoding that, and we're not changing this regardless.

[2015-03-29 14:59] #444 closed

[2015-03-29 15:15] #487 closed

[2015-03-29 15:16] iEli2tyree011 commented on #474
Fixed in d75c09bc6913fb32899b4c1d040f3563a1367575

[2015-03-29 15:16] #474 closed

[2015-03-29 15:42] #394 closed

[2015-03-29 16:07] #436 closed

[2015-03-29 18:06] Vixo1 opened #489 "Scoreboxes scores the multiple times."
It happens when a player gets killed on a scorebox.
Video: http://youtu.be/n1V5_hWUvf4
Version: 15555a9

[2015-03-29 21:57] TiTo-418 commented on #127
https://github.com/twizmwazin/CardinalPGM/commit/9f9f043486655dab73655d357f84a28382156920

[2015-03-29 22:20] twizmwazin commented on #127
I'll close the issue when the bar is fully implemented

[2015-03-29 22:22] TiTo-418 commented on #127
Yeah, i know, GL

[2015-03-29 23:40] iEli2tyree011 opened #490 "Incorrect values for "shot out of the world/off a high place" distance"
....

[2015-03-30 00:03] Alfalik opened #491 "Translate & mirror regions aren't defined correctly"
+ Video proof: http://youtu.be/yIJEaWE0gzU
+ XML: http://pastebin.com/6c2mg147
+ Cardinal version 9f9f043

[code]
Didn't find the other drop tube, I'll add a video/image if it appear

[2015-03-30 02:45] Zenzoh opened #492 "You can enter in your own wool room (Some maps)"
![image](https://cloud.githubusercontent.com/assets/11640813/6889486/45967c8c-d654-11e4-8642-5234c0e007b5.png)

XML: http://pastebin.com/kb8yazNA

Version: *9f9f043*

EDIT: This doesn't happen in map proto 1.3.0

[2015-03-30 02:50] Carlos934 commented on #329
When will be added?

[2015-03-30 02:57] AngelCasillas01 commented on #492
Appears to be a `<regions>` problem, maybe a bug in c3dfc8cd27

[2015-03-30 03:38] Carlos934 commented on #492
@AngelCasillas01 That does not touch anything of <regions>

[2015-03-30 03:51] AngelCasillas01 commented on #492
@Carlos934 Yes it does, they modify and check liquid regions, so they have added `BlockPlaceEvent` isn't nothing to do but something there maybe has bugged something about this

[2015-03-30 03:52] AngelCasillas01 commented on #492
@Carlos934 Try compiling Cardinal for lastest version and try it again, make sure to post the new log :)

[2015-03-30 04:01] twizmwazin commented on #492
@AngelCasillas01 The commit version is what we want, so a link to the commit is perfectly fine.

[2015-03-30 04:14] Carlos934 commented on #492
@twizmwazin ¿Al final cual es el error?

[2015-03-30 04:16] AngelCasillas01 commented on #492
@twizmwazin es "were is the bug on" estas diciendo que es el bug ;)

[2015-03-30 04:18] Carlos934 commented on #492
@AngelCasillas01 I don't have a doctorate in English, I speak Spanish

[2015-03-30 04:18] AngelCasillas01 commented on #492
@Carlos934 I'm just correcting you, i speak spanish too

[2015-03-30 04:20] Carlos934 commented on #492
@AngelCasillas01 Me refería a.. ¿Cuál es el error?

No me refería a ¿Dónde está el error?

Sorry for the Spanish.
@AngelCasillas01 Me refería a.. ¿Cuál es el error?

No me refería a ¿Dónde está el error?

Sorry for the Spanish.

[2015-03-30 04:26] AngelCasillas01 commented on #492
@Carlos934 por eso, pero no se traduce inmediatmente como lo hace google, lo haces con el common sense de la gramatica en ingles, puedes usar lo que te dije o puedes dejarlo haci pero como usted quiera :)

[2015-03-30 04:32] TiTo-418 commented on #492
@AngelCasillas01 @Carlos934 Traten de mantener el el problema aqui, pueden discutir eso en privado.
Try to keep the issue here, you can discuss that in private

[2015-03-30 04:37] Carlos934 commented on #492
Último, no tengo idea de como se dice cual, y no uso traductor :'D
Esto se termina, mejor hay que concentrarnos en CardinalPGM.

Last, I don't have idea how say "cual", and i don't use translator :'D
This has finished, we must concentrate in Cardinal PGM.

[2015-03-30 04:39] TiTo-418 commented on #329
@Carlos934 Be patient

[2015-03-30 04:40] Carlos934 commented on #329
@TiTo-418 hype!! :P

[2015-03-30 07:51] SungMatt opened #494 "/Start does not obey the values given"
If one does `/start 5` , the map starts 5 seconds later.
However, if one does `/start 200` afterwards, the map starts in 200 ticks(10 seconds). This did not happen in version 1ffb5a7 and before.

Tested in Cardinal version c3dfc8c .

[2015-03-30 09:41] iEli2tyree011 commented on #491
Thanks for finding these. I'll have to figure out where the plugin isn't correctly defining each region.

[2015-03-30 12:05] xDofah opened #495 "When i load my map it appears this in my log"
[14:05:01 INFO]: Next map set to Snowy Wools
cycle 0
[14:05:03 INFO]: Preparing start region for level 4 (Seed: 6030536467267057983)
[14:05:03 WARN]: java.lang.ArrayIndexOutOfBoundsException: 2
[14:05:03 WARN]:        at in.twizmwaz.cardinal.module.modules.regions.parsers.CylinderParser.<init>(CylinderParser.java:19)
[14:05:03 WARN]:        at in.twizmwaz.cardinal.module.modules.regions.RegionModu

[2015-03-30 13:09] MrTheSharpie opened #496 "[Question] Final Release"
hey! You said you were going to do the final release soon aftert HoC finishes. I just want to know more or less a date :)

Keep doing this amazing work :D

[2015-03-30 13:30] TiTo-418 commented on #496
3 de Abril, podes usar skype para esto...

[2015-03-30 13:43] SungMatt commented on #492
Not sure what you mean by "this has finished", just wanted to let you know that Reshif's public download of GDIII is a bit different from the one on overcast, so a direct porting of XML will not work.

[2015-03-30 13:54] twizmwazin commented on #492
@SungMatt is correct, I remember having to nudge the map an mcedit. However, there are still a few lingering region issues in Cardinal that need to be worked out.

[2015-03-30 13:56] twizmwazin commented on #496
Cardinal is not going to be going with a traditional "release" model, rather we are going to have a rolling release. Cardinal will be continuously updated and Cardinal updates will remain available and easily installable. We may soon implement very easy (possibly automatic) upgrading.

[2015-03-30 13:56] #496 closed

[2015-03-30 13:58] twizmwazin commented on #495
There is an issue with one of your cylinder regions. Make sure you are following the format outlined [here](https://docs.oc.tc/modules/regions).

[2015-03-30 13:58] #495 closed

[2015-03-30 13:59] twizmwazin commented on #494
Thanks for finding this, will try to get this tonight.

[2015-03-30 14:01] twizmwazin commented on #329
A custom tab is really low on our priority list, gameplay elements come first. On felipe's server last night, I really like how the tab looked with just the default 1.8 tab. This will not be implemented by Friday.

[2015-03-30 14:35] CaptainElliott opened #497 "Update Notifications"
Almost done, just need to do the JSON parsing

[2015-03-30 14:39] twizmwazin commented on #497
For Minecraft Json, you can send a message to a player using Player#sendRawMessage(String json);

[2015-03-30 14:46] dentmaged commented on #497
@twizmwazin I think Elliott means JSON from the Github API.

[2015-03-30 14:48] CaptainElliott commented on #497
Yup, getting used to GSON

[2015-03-30 15:34] Carlos934 commented on #492
@SungMatt is a map downloaded with World Downloader... do not tell anyone ...

[2015-03-30 15:46] CaptainElliott commented on #492
@Carlos934 You say that with a map developer helping develop the plugin :p

[2015-03-30 15:48] Carlos934 commented on #492
@CaptainElliott I mean that the map is correct with xml

[2015-03-30 15:56] elespawol commented on #492
Dont worry carlos, its LEGAL on oc.tc,
But u have a rule: don't distribute with out author's permission 😉
El dia 30/03/2015 17.34, "Carlos934" <notifications@github.com> va escriure:

[2015-03-30 16:15] Carlos934 opened #501 "Add option to disable update notifications"

[2015-03-30 16:27] twizmwazin commented on #501
Update notifications aren't even in Cardinal yet

[2015-03-30 16:27] #501 closed

[2015-03-30 20:07] MrTheSharpie opened #502 "I don't know if this is allowed"
Last days, I've seen lots of servers with the lobby taken from OCN and having different matches loaded with CardinalPGM. I think that the goal of Cardinal is not recreating a network, so I think you should not allow this.

I will put it an IP of one of these servers as an example: 23.97.136.78 Actually it is offline, but I have seen this here.

[2015-03-30 20:27] twizmwazin commented on #502
There isn't much I can do, however I do not support these networks.

[2015-03-30 20:27] #502 closed

[2015-03-30 20:44] #494 closed

[2015-03-30 20:53] D4n1e6656 opened #503 "Add Automatic Start."
English: Well, my suggestion is that in the plugin config section had an option of automatic start when two players on a different team .

Español: Bueno, una sugerencia mía es que en la sección de configuración del plugin hubiera una opción de start automático cuando haya dos jugadores en un equipo diferente.

[2015-03-30 20:55] AngelCasillas01 commented on #503
#362 The answer you may know

[2015-03-30 20:56] twizmwazin commented on #503
I don't want your network

[2015-03-30 20:56] #503 closed

[2015-03-30 22:32] TiTo-418 opened #505 "Proximity dosen't show"
<a href="http://imgur.com/fTbGDHh"><img src="http://i.imgur.com/fTbGDHh.png" title="source: imgur.com" /></a>

[2015-03-30 22:37] twizmwazin commented on #505
You must have a set time limit to show proximity.

[2015-03-30 22:37] #505 closed

[2015-03-30 22:44] ElFlambMC opened #506 "3 bugs"
1 if you are in the heigh nivel you are invisible.
2 if you aren't op you wasn't place blocks map (deepwind jungle)
3 if you put in the bedrok a block you can put to the top (this bug is allready know and fixed) but is a dupe idk.
Latest version

[2015-03-30 22:46] Vixo1 commented on #506
I think you need provide evidence of this bugs, also, the first bug is relationated with 1.8, not the plugin.

[2015-03-30 22:47] ElFlambMC commented on #506
I dont in pc to provide

[2015-03-30 23:01] SungMatt commented on #506
Can you do `/cardinal -v` and tell us the version that it occurs in?

[2015-03-30 23:10] TiTo-418 commented on #506
1. Can't confirm
<a href="http://imgur.com/0sk0MRs"><img src="http://i.imgur.com/0sk0MRs.png" title="source: imgur.com" /></a>
2. in server.propieties set spawn-protection=0
3. can confirm

[2015-03-30 23:20] twizmwazin commented on #506
1. Can't fix
2. Disable server spawn protection
3. If it is fixed why are you reporting it?

[2015-03-30 23:20] #506 closed

[2015-03-30 23:25] TiTo-418 commented on #506
Isnt fixed

[2015-03-30 23:34] CoWinkKeyDinkInc opened #507 "Players can still defuse their own TNT using shears"
OCN now allows you to disable team TNT by punching it.  I think Cardinal should implement this as well.

[2015-03-31 01:35] ryanw-ny commented on #507
You should be able to toggle this, since a lot of people of shown frustration in this new system.

[2015-03-31 01:42] TiTo-418 opened #509 "Tab issue"
Video proof: http://youtu.be/-udHx1xPBY4
Cardinal Version: 9593b9d6f8d3e9372c2ac1417cd94ed81cd70ede

[2015-03-31 01:47] TiTo-418 commented on #282
Isnt fixed

[2015-03-31 02:08] twizmwazin commented on #509
This isn't an issue with Cardinal itself, rather it is just how Minecraft handles the tab list.

[2015-03-31 02:08] #509 closed

[2015-03-31 02:12] twizmwazin commented on #282
Reopening as the issue is currently present.

[2015-03-31 02:37] CoWinkKeyDinkInc commented on #507
A toggle thing is added in the OCN XML so it can't happen on stuff like Harb or Dwyer Hill.

[2015-03-31 06:31] dentmaged commented on #282
@twizmwazin Isn't this like the void bug where you start building at the bottom of the map, and build upwards? I'll try to find it

[2015-03-31 07:17] CaptainElliott commented on #507
You should be able to punch it? I remember allowing you to, just not in obs

[2015-03-31 07:38] minimitch0199 opened #510 "Update Brisked to v1.0.8"
This changes the following:
- Reduced team sizes (18 down to 16; forgot to do this before it got added)
- Disabled TNT licencing
- Disabled friendly defusing
- *Fixed* detect filter for proximity
- Removed development alert and some useless things
Updated XML can be found [here](https://raw.githubusercontent.com/Aradax/Maps/d321cb184270064d29a918372ec75af49e54ea61/Mixed/Brisked/map.xml).

I'm not

[2015-03-31 07:39] minimitch0199 commented on #510
Wow, whoops. Wrong repo.

[2015-03-31 07:39] #510 closed

[2015-03-31 11:31] twizmwazin commented on #282
@dentmaged You have correctly read the title.

[2015-03-31 14:51] SungMatt commented on #494
@twizmwazin Thanks for always jumping to fix issues as soon as they appear.

[2015-03-31 15:52] Superjd10 commented on #509
@twizmwazin This may be an issue if he starts the match and the players that joined a team don't appear in the tab list.

[2015-03-31 16:08] iEli2tyree011 commented on #509
Player visibility is reset as soon as the match starts. I'll confirm this as soon as I get home.

[2015-03-31 17:05] TiTo-418 commented on #509
How it works on Overcast?

[2015-03-31 17:42] TiTo-418 commented on #153
@SuHoney Can you put the video unlisted?

[2015-03-31 18:31] dentmaged commented on #509
@TiTo-418 I think they have a custom packet handler which intercepts and changes the packet. I can't remember the name of the packet. Something like PacketOutPlayerList.

[2015-03-31 18:37] twizmwazin commented on #509
@dentmaged It doesn't intercept and modify packets, it just doesn't send the normal packets and sends custom packets. If they did not have a custom tab list, it would work exactly the same way.

[2015-03-31 18:42] TiTo-418 commented on #509
So, when you close https://github.com/twizmwazin/CardinalPGM/issues/329 this issue will be fixed?

[2015-03-31 18:44] twizmwazin commented on #509
Depends on how you define "fixed." This really isn't a bug in the first place.

[2015-03-31 18:48] TiTo-418 commented on #509
When i have the obs 'none' i will can see all the players in the tab?

[2015-03-31 19:09] MysticxPvP opened #511 "My server crash when i leak de core on Cake Wars"
Video: https://www.youtube.com/watch?v=dwuNUhRH8vU&feature=youtu.be
XML: http://pastebin.com/QWjnYyqr
Crash-report: http://pastebin.com/fuQcD0uY
Cardinal version: 9593b9d http://gyazo.com/0696db2f8ff42cd7326c06075b2f55e2

(sorry for my bad english).

[2015-03-31 19:26] RubeGamerV commented on #511
Are you using local host?, Estas usando un servidor local?

[2015-03-31 19:40] twizmwazin commented on #511
It looks like this is a SportBukkit issue.

[2015-03-31 19:41] #511 closed

[2015-03-31 20:19] twizmwazin commented on #497
Implemented

[2015-03-31 20:19] #497 closed

[2015-03-31 20:20] MysticxPvP commented on #511
@RubeGamerV Si, estaba usando un localhost.

@twizmwazin Ok sorry.

[2015-03-31 22:55] SuHoney commented on #153
@TiTo-418 Unlisted it.

[2015-04-01 02:44] twizmwazin commented on #127
Before I go for the night:
[:D](https://i.imgur.com/WRVOmGR.png)

[2015-04-01 02:52] SungMatt commented on #127
Congrats @twizmwazin ! Good night!

Or is this made using cropping O_o

[2015-04-01 03:17] twizmwazin commented on #127
@SungMatt This was 100% legit taken in Cardinal

[2015-04-01 03:21] SungMatt commented on #127
@twizmwazin Doesn't help that today is April Fools, does it :p

So close to the completing the milestone's objectives!

[2015-04-01 03:22] ryanw-ny commented on #509
Not sure if this pertains to the issue at hand, but I'm pretty sure Overcast Network does some manipulation to the tab list, for organization and data representation purposes. The Minecraft tab list should be organized by the ping (by the client), and the Overcast fixes this by just setting everyone's ping to the lowest bar.

I don't really have access to a computer with Minecraft on it, since I'm

[2015-04-01 03:29] twizmwazin commented on #127
@SungMatt Still the 31st for me

[2015-04-01 03:40] TiTo-418 commented on #509
@ryanw-ny it is correct

[2015-04-01 03:44] TiTo-418 commented on #127
Congrats!!! When that will be avabile?

[2015-04-01 08:57] elespawol commented on #153
Me happens the same,
El dia 01/04/2015 0.55, "SuHoney" <notifications@github.com> va escriure:

[2015-04-01 10:07] CaptainElliott commented on #351
i've fixed the not filter but I'm not sure how to fix the `allow-world` filter
not sure if its an issue with the filter itself or the any filter

[2015-04-01 10:51] CaptainElliott commented on #507
Just checked you can punch TNT to defuse it, however you can;t defuse your own TNT and shears are still needed in obs

[2015-04-01 10:52] CaptainElliott commented on #507
Actually, you can defuse your own TNT in game with shears which should not be intentional

[2015-04-01 21:51] CoWinkKeyDinkInc commented on #507
You should be able to defuse your own TNT.

[2015-04-01 22:47] CaptainElliott commented on #507
It's something that you can't do on OCN because the purpose of defusing tnt is to stop team grief not to fix your mistakes

[2015-04-02 01:49] iEli2tyree011 commented on #492
Closing as this seems to be an issue between the XML and the map; they don't match.

[2015-04-02 04:02] Carlos934 commented on #492
Reopen, the map fits perfectly

[2015-04-02 04:26] TiTo-418 commented on #492
Try with this xml: view-source:https://maps.oc.tc/Other/Tournament/Guardians%20of%20the%20Wool/Golden%20Drought%20III/map.xml

[2015-04-02 04:50] TiTo-418 commented on #507
Who will be team grief in a scrimm?

[2015-04-02 10:28] iEli2tyree011 opened #516 "Parent filters not implemented"

[2015-04-02 14:30] Carlos934 commented on #492
@TiTo-418 I use that

[2015-04-02 14:51] elespawol commented on #507
But if u comite a error puting tnt is useful
El dia 02/04/2015 6.50, "TiTo-418" <notifications@github.com> va escriure:

[2015-04-02 15:42] twizmwazin commented on #492
Are you guys using the map as it is on OCN or are you using Reshif's download?

[2015-04-02 16:48] iEli2tyree011 commented on #492
@twizmwazin The problem is that parent filters are not implemented, the problem isn't a mismatched map and XML.

[2015-04-02 16:49] iEli2tyree011 commented on #507
@elespawol What? The point is to prevent other people from team griefing.

[2015-04-02 17:02] TiTo-418 commented on #492
Reshif's download, with both XML (Reshif dowload and maps.oc.tc)

[2015-04-02 17:03] TiTo-418 commented on #507
@CaptainElliott @iEli2tyree011 In a scrim, you team no will be to team grief

[2015-04-02 18:43] iEli2tyree011 commented on #507
@TiTo-418 And? You can still defuse your teammates' TNT.

[2015-04-02 18:44] elespawol commented on #507
If is for that reason, it think that is not necesary
El dia 02/04/2015 18.49, "iEli2tyree011" <notifications@github.com> va
escriure:

[2015-04-02 19:15] #516 closed

[2015-04-02 19:23] #489 closed

[2015-04-02 20:54] #282 closed

[2015-04-02 22:20] iEli2tyree011 opened #517 "Arrows don't deal full damage on Rage if hit after death"
...

[2015-04-03 00:48] TiTo-418 commented on #507
@elespawol +1 "It's something that you can't do on OCN because the purpose of defusing tnt is to stop team grief not to fix your mistakes" and your team mistakes....

[2015-04-03 01:53] #351 closed

[2015-04-03 01:59] #507 closed

[2015-04-03 02:05] #517 closed

[2015-04-03 07:34] dentmaged opened #520 "Chests cannot be opened in region"
I am running Cardinal 519 which is based off 884de07.

I cannot open chests in a non-modifiable region.
Video: https://youtu.be/HjxHAxMnrOA

[2015-04-03 07:45] dentmaged opened #521 "Can't enter your own spawn region"
I am running Cardinal #519 which is based off 884de07.

I can't enter the spawn region (regions need to be re-done). I guess this is related to #520.
Video: http://youtu.be/DRWUHCOipEw

[2015-04-03 07:48] CaptainElliott commented on #521
Can you show me the xml

[2015-04-03 07:52] dentmaged commented on #521
[map.xml](http://www.mediafire.com/view/2lpcsbjhppgjch1/map.xml)

[2015-04-03 13:13] #520 closed

[2015-04-03 13:13] #521 closed

[2015-04-03 14:43] Alfalik commented on #134
+ Already fixed in the latest version
+ The same as first
+ Will be fixed in #491
+ Same as the third

[2015-04-03 15:08] #355 closed

[2015-04-03 17:32] TiTi-418 opened #524 "Tutorial issue(Incorrect facing direction)"
Video proof: http://youtu.be/7DLQTLFIpSU
Cardinal version: 18fb2d4f64c3c95180fa2f61ed17de9b8f61c1f2
Incorrect facing direction

[2015-04-03 17:42] CaptainElliott commented on #524
I don't see the issue

[2015-04-03 17:48] TiTo-418 commented on #524
In overcast: http://youtu.be/4bzbcl_4pnc (uploading...)

[2015-04-03 18:05] TiTo-418 opened #525 "Improve cycle time"
Video proof: http://youtu.be/DzGuRYx3rSw
Version: 18fb2d4f64c3c95180fa2f61ed17de9b8f61c1f2

[2015-04-03 18:11] twizmwazin commented on #525
This is primarily due to the drive speed of the server. I'm not sure if there is a safe workaround to pre-copy the world.

[2015-04-03 18:11] TiTo-418 commented on #355
Hey! The team winning shoud be at the top of the scoreboard

[2015-04-03 18:12] twizmwazin commented on #524
Are pitch and yaw values ignored?

[2015-04-03 18:24] CaptainElliott commented on #524
Probably but the tutorial is throwing a bunch of NPEs for me, that also needs to be fixed

[2015-04-03 18:26] CaptainElliott commented on #525
I can't think of anything that can be done about this, your server is not powerful enough

[2015-04-03 18:30] twizmwazin commented on #525
@CaptainElliott I wouldn't use "powerful," as it has very little to do with the processing speed. The main cause of the cycle time is the disk's IO speed. By moving my testing server from a HDD to an SSD, the cycle time was drastically decreased.

[2015-04-03 18:58] Pablete1234 opened #526 "cyclying to own map makes the plugin stop working"
if you are on deepwind, you do /sn deepwind, and then you do /cycle 0 -f, nothing happens, and you can no longer cycle, try to sn something else, or anything

[2015-04-03 19:01] TiTo-418 commented on #526
/recycle 0

[2015-04-03 19:03] twizmwazin commented on #526
We need log files.

[2015-04-03 19:04] Pablete1234 commented on #526
i know /recycle works, but it's a bug that if you  try to /cycle it stops

[2015-04-03 19:06] Pablete1234 commented on #526
[Java ERROR]	java.lang.Thread.run(Thread.java:722) [?:1.7.0]
[Java ERROR]	net.minecraft.server.v1_8_R1.MinecraftServer.run(MinecraftServer.java:521) [sportbukkit-1.8-R0.1-20150325.005932-17.jar:git-SportBukkit-10dd8f3]
[Java ERROR]	net.minecraft.server.v1_8_R1.MinecraftServer.y(MinecraftServer.java:611) [sportbukkit-1.8-R0.1-20150325.005932-17.jar:git-SportBukkit-10dd8f3]
[Java ERROR]	net.minecraf

[2015-04-03 19:11] elespawol commented on #134
No, it's private
El dia 05/02/2015 15.20, "SuHoney" <notifications@github.com> va escriure:

[2015-04-03 19:19] iEli2tyree011 commented on #491
Working on these now

[2015-04-03 19:26] twizmwazin commented on #526
Delete the uid.dat

[2015-04-03 19:47] Pablete1234 opened #528 "pressing "Q" doesn't delete the item"
when pressing Q on observers, item shouldn't drop(and it doesnt!), but it should get deleted from the inventory (and it doesn't)

[2015-04-03 19:51] nygiants10 opened #529 "¿A que hora es v1.0? ¿Es incompleta?"
░░░░░░░░▄▄▄▀▀▀▄▄███▄
░░░░░▄▀▀░░░░░░░▐░▀██▌
░░░▄▀░░░░▄▄███░▌▀▀░▀█
░░▄█░░▄▀▀▒▒▒▒▒▄▐░░░░█▌
░▐█▀▄▀▄▄▄▄▀▀▀▀▌░░░░░▐█▄
░▌▄▄▀▀░░░░░░░░▌░░░░▄███████▄
░░░░░░░░░░░░░▐░░░░▐███████████▄
░░░░░le░░░░░░░▐░░░░▐█████████████▄ ░░░░toucan░░░░░░▀▄░░░▐██████████████▄ ░░░░░░has░░░░░░░░▀▄▄████████████████▄
░░░░░arrived░░░░░░░░░░░░█▀██████
http://i.imgur.com/cs9b0Qt.png

[2015-04-03 19:53] #529 closed

[2015-04-03 19:53] nygiants10 commented on #529
Es incompleta?

[2015-04-03 19:58] AngelCasillas01 commented on #528
Maybe this can be by a fail on your server, also provide a cardinal version using `/cardinal -v` on your server.

[2015-04-03 21:03] CoWinkKeyDinkInc commented on #528
Had you checked the XML that states it should be removed?

[2015-04-03 21:12] Pablete1234 commented on #528
what i mean is that it stays on the inventory, and it doesnt get deleted

[2015-04-03 21:52] CaptainElliott commented on #528
what currently happens if your drop an item in observers?

[2015-04-03 21:54] twizmwazin commented on #528
@CaptainElliott Event is cancelled and nothing happens.

[2015-04-03 22:02] CaptainElliott commented on #528
Will fix when I wake up

[2015-04-03 22:35] KonatoK commented on #526
Even though this is an issue with the map itself, the plugin should only take care of copying the necessary files (level.dat, region directory, etc).

This will prevent future issues with the same thing.

[2015-04-03 22:38] CaptainElliott commented on #526
@konatoK it does,minecraft generates these files when a world is made

[2015-04-03 22:41] iEli2tyree011 commented on #526
@CaptainElliott "the plugin should only take care of copying the necessary files"

[2015-04-03 22:51] CaptainElliott commented on #526
@iEli2tyree011 what? that is what the plugin does

[2015-04-03 23:14] KonatoK commented on #526
@CaptainElliott Not really, the Cycle class calls GenerateMap#copyWorldFromRepository, which seems to call FileUtils#copyDirectory with no FileFilter, which means all files are copied, otherwise this issue wouldn't be happening.

[2015-04-03 23:36] Alfalik commented on #431
Auto-refill chest is only able on Public OCN. In tourneys it's disabled to prevent safety spam. I don't think that this should be added

[2015-04-04 00:09] AngelCasillas01 commented on #526
[Reference of how does your map folder should look](https://docs.oc.tc/packaging/cleaning_files)
[Another example](https://docs.oc.tc/packaging/compiling_releasing)

[2015-04-04 01:05] Pablete1234 opened #532 "Improve /cycle"
as it is right now:
/cycle [time] [-f]
as it should be:
/cycle [time] [map] [-f]

so you could do /cycle 0 -f boom
and it would cycle to boom in 0 seconds ending the match you are on

[2015-04-04 01:08] ItzWid13 opened #533 "Match upload throws an NPE"
How to view the stats in the page?

[2015-04-04 01:09] ajtag5 opened #534 "Opponent's Captured Wools Not Showing on Scoreboard"
When playing CTW, you are able to see the wools you have touched and captured on the scoreboard, however you cannot see the wools the opponents have captured. I understand you are not supposed to see the wools your opponents have *touched*, however you should be able to see those they have *capped*.

[2015-04-04 01:13] twizmwazin commented on #533
Click on the provided link?

[2015-04-04 01:14] ItzWid13 commented on #533
Isnt give me a link

[2015-04-04 01:15] twizmwazin commented on #533
Post a screenshot

[2015-04-04 01:16] ItzWid13 commented on #533
Ok http://prntscr.com/6p9xws

[2015-04-04 01:18] ItzWid13 commented on #533
http://prntscr.com/6p9yey

[2015-04-04 01:19] knightopress commented on #534
There's also the issue of random letters like "rr" appearing before the infinity sign on certain maps as shown here: https://youtu.be/ZaZfkSjXDlQ.

[2015-04-04 01:22] twizmwazin commented on #533
Is there a message in your logs?

[2015-04-04 01:24] ItzWid13 commented on #533
http://prntscr.com/6pa0eq

[2015-04-04 01:26] twizmwazin commented on #533
I think this may be related to the client's set language

[2015-04-04 01:55] twizmwazin commented on #533
Fixed in 0402e3b15a51d891c3670adb2f87ae96640c68aa

[2015-04-04 01:55] #533 closed

[2015-04-04 03:28] #532 closed

[2015-04-04 04:38] SungMatt commented on #525
@twizmwazin I've just did a test on my computer, with a USB disk and the onboard SSD.

The read/write speed of my USB drive is about 4MB/s / 20MB/s.
The read write speed of my SSD is about 200 MB/s / 450MB/s

Strangely though, the results I'm getting between the two seems to be within reasonable deviation, and within the limits of the terminal time output (It's a bad measure, but the random error

[2015-04-04 04:53] twizmwazin commented on #525
@SungMatt Thanks for this data. Markdown is supported in comments as far as I know.

[2015-04-04 05:21] twizmwazin commented on #525
@TiTo-418 What is the size of your map's folder? I'm thinking your issue may be partially that the map is not correctly pruned.

[2015-04-04 05:23] #526 closed

[2015-04-04 07:51] TiTo-418 commented on #525
7,26MB

[2015-04-04 07:57] CaptainElliott commented on #526
@KonatoK the files inside your map folder should only contain the needed ones as @AngelCasillas01 has shown

[2015-04-04 14:10] Eudaldca opened #536 "Moving results in a console error"
Every time I Move (tested in observers, in Boom TE) the console prints an error. I have cmdbook installed, but it gives the error even without it. I have the latest version of cardinal, and the latest version of sportbukkit 1.8.
Log: http://pastebin.com/ZyDiSknn

[2015-04-04 14:32] Pablete1234 opened #537 "items on item frames can be rotated when game has ended"
items on item frames can be rotated when game has ended

[2015-04-04 14:51] twizmwazin commented on #525
@TiTo-418 Did you prune the world in MCEdit?

[2015-04-04 15:12] Vixo1 commented on #278
Happens again with the last commit. (12ac90c)

[2015-04-04 15:47] SungMatt commented on #278
It works without spaces though, like /setnext GoldenDroughtIII when the map is named "Golden Drought III"

[2015-04-04 16:39] Ster13 opened #539 "Unable to load Plugin"
[00:32:01 INFO]: Starting minecraft server version 1.8
[00:32:01 INFO]: Loading properties
[00:32:01 INFO]: Default game type: SURVIVAL
[00:32:01 INFO]: Generating keypair
[00:32:01 INFO]: Starting Minecraft server on *:25565
[00:32:02 INFO]: This server is running SportBukkit version git-SportBukkit-715f5f8 (MC: 1.8) (Implementing API version 1.8-R0.1-SNAPSHOT)
[00:32:02 ERROR]: Could not load 'p

[2015-04-04 16:41] twizmwazin commented on #539
Update to Java 7 or newer

[2015-04-04 16:41] #539 closed

[2015-04-04 16:42] #278 closed

[2015-04-04 16:47] Ster13 commented on #539
Thanks!

[2015-04-04 17:06] Ster13 commented on #539
I updated to Java 8 and it's still not working

[2015-04-04 17:18] twizmwazin commented on #539
@Ster13 You need to set java 8 as your default java version.

[2015-04-04 17:36] Ster13 commented on #539
How am I supposed to do that if I'm using a Mac

[2015-04-04 17:42] twizmwazin commented on #539
Try google

[2015-04-04 17:58] felipufeliu opened #541 "When a obs join to a blitz match when it's 1v0 it ends"
Proof: http://gyazo.com/a25980800db9833a5eac58779abf245e
Version: 8dd6dcf
Map: War Wars
P.S: the same happend when it's 2v0, 3v0, etc.

[2015-04-04 18:10] CaptainElliott commented on #541
When there is no player on a team, you have won so it should end

[2015-04-04 18:29] KonatoK commented on #526
@CaptainElliott I know, as I said this is a map-related problem, but considering Cardinal it's intended to be a "user friendly" plugin, it would be better if it just copies what it needs.

[2015-04-04 18:41] SungMatt commented on #539
@Ster13 Mac user here: you can use [jenv](http://www.jenv.be) to manage your java versions. Just set it to 1.8 as your default in your server folder.

[2015-04-04 18:55] TiTo-418 commented on #525
@twizmwazin Yes, the map is a public dowload of Fractal, fell free to dowload and test

[2015-04-04 20:54] iEli2tyree011 commented on #490
This still seems to be an issue.

[2015-04-04 20:56] iEli2tyree011 commented on #134
Closing this as the only problems remaining can be found in #491, which is more specific to what the issues are.

[2015-04-04 20:56] #134 closed

[2015-04-04 23:41] StraferBoy opened #543 "Scoreboxes bug"
Like this http://prntscr.com/6pnqls

[2015-04-04 23:41] StraferBoy commented on #543
He died not and he cored too much times

[2015-04-04 23:45] AngelCasillas01 opened #544 "add something to detect new map XML"
On tm server work like this

example:
cycled to spaceship battles!
`<objective>`
Detected new XML changes

[2015-04-04 23:47] AngelCasillas01 commented on #543
#489

[2015-04-04 23:56] StraferBoy commented on #537
I think what in ocn you can do it

[2015-04-05 00:10] Vixo1 commented on #543
That version is what i did for sportbukkit 1.7, so, don't report bugs of that version, because it may be buggy...

[2015-04-05 00:16] twizmwazin commented on #543
Please post the result of /cardinal -v

[2015-04-05 00:17] twizmwazin commented on #544
I have no idea what you are talking about, and it sounds unnecessary.

[2015-04-05 00:17] #544 closed

[2015-04-05 00:55] AngelCasillas01 commented on #544
@twizmwazin Example
You update your map.xml of ssb
You recycle or cycle to ssb
and you don't need to stop and start the server

[2015-04-05 00:59] SuHoney commented on #544
@AngelCasillas01 You mean updates map's xml automatically?

[2015-04-05 01:23] AngelCasillas01 commented on #544
@SuHoney yes, when you put a newer XML on the map folder 😅 i'm sorry

[2015-04-05 01:57] twizmwazin commented on #544
Cardinal will already use a new XML when you cycle.

[2015-04-05 02:11] AngelCasillas01 commented on #544
@twizmwazin sorry :(

[2015-04-05 02:41] twizmwazin commented on #544
It's ok, and you shouldn't get rid of the text

[2015-04-05 02:43] AngelCasillas01 commented on #544
@twizmwazin i know but it's bad to let this topic like were on the past, again sorry

[2015-04-05 03:25] AngelCasillas01 commented on #543
@twizmwazin Isn't the same this and  #489 ?

[2015-04-05 04:29] TiTo-418 commented on #543
@AngelCasillas01 He no died

[2015-04-05 05:01] #543 closed

[2015-04-05 06:12] #541 closed

[2015-04-05 06:20] Tranziii opened #545 "Unable to do anything with the plugin"
Here are the logs.

[13:38:41 INFO]: Starting minecraft server version 1.8
[13:38:41 INFO]: Loading properties
[13:38:41 INFO]: Default game type: SURVIVAL
[13:38:41 INFO]: Generating keypair
[13:38:41 INFO]: Starting Minecraft server on *:25565
[13:38:42 INFO]: This server is running SportBukkit version git-SportBukkit-715f5f8 (MC: 1.8) (Implementing API version 1.8-R0.1-SNAPSHOT)
[13:38:42 INFO]

[2015-04-05 06:29] SungMatt commented on #545
Use Java 8.

[2015-04-05 06:38] dentmaged commented on #545
I think it might be because he has no maps. Can you post a screenshot of your maps folder? It should be in your server root.

[2015-04-05 06:40] iEli2tyree011 commented on #545
@SungMatt This isn't a Java issue

[2015-04-05 06:40] Tranziii commented on #545
It's indeed empty

[2015-04-05 06:41] iEli2tyree011 commented on #545
@Tranziii You need maps for Cardinal to work.

[2015-04-05 06:43] AngelCasillas01 commented on #545
@iEli2tyree011 Were do you find them

[2015-04-05 06:44] iEli2tyree011 commented on #536
Can you upload your map.xml and the result of /cardinal -v?

[2015-04-05 06:55] Tranziii commented on #545
I've placed  a map but same log

[2015-04-05 06:59] iEli2tyree011 commented on #545
What is inside the map that you added, and where did you put the map?

[2015-04-05 07:00] Tranziii commented on #545
Region, XML and level.dat.  I placed the map in the maps folder

[2015-04-05 07:06] iEli2tyree011 commented on #545
@Tranziii Can you try restarting your server and posting the latest logs?

[2015-04-05 07:07] Tranziii commented on #545
[15:07:20 INFO]: Starting minecraft server version 1.8
[15:07:20 INFO]: Loading properties
[15:07:20 INFO]: Default game type: SURVIVAL
[15:07:20 INFO]: Generating keypair
[15:07:20 INFO]: Starting Minecraft server on *:25565
[15:07:21 INFO]: This server is running SportBukkit version git-SportBukkit-715f5f8 (MC: 1.8) (Implementing API version 1.8-R0.1-SNAPSHOT)
[15:07:21 INFO]: [WorldEdit] Loadin

[2015-04-05 07:08] iEli2tyree011 commented on #545
Can you try adding the name of the map (the name in the map.xml) to the rotation.txt file?

[2015-04-05 07:09] AngelCasillas01 commented on #545
@iEli2tyree011 Isn't creating by default?

[2015-04-05 07:11] iEli2tyree011 commented on #545
@AngelCasillas01 Only if the file is not already there. Since he started the server without any maps, the rotation file was generated, but was blank. But when he added a map, it still wasn't updated, because the file already existed.

[2015-04-05 07:11] Tranziii commented on #545
[15:10:44 INFO]: Starting minecraft server version 1.8
[15:10:44 INFO]: Loading properties
[15:10:44 INFO]: Default game type: SURVIVAL
[15:10:44 INFO]: Generating keypair
[15:10:45 INFO]: Starting Minecraft server on *:25565
[15:10:46 INFO]: This server is running SportBukkit version git-SportBukkit-715f5f8 (MC: 1.8) (Implementing API version 1.8-R0.1-SNAPSHOT)
[15:10:46 INFO]: [WorldEdit] Loadin

[2015-04-05 07:12] #534 closed

[2015-04-05 07:34] dentmaged commented on #545
I would delete the rotations.txt file.

[2015-04-05 07:42] Tranziii commented on #545
How can I correctly load the map and what should I place in the maps folder

[2015-04-05 08:59] Eudaldca commented on #536
The versiin was the latest at the time of the post, and the map.xml is the one on maps.oc.tc.

[2015-04-05 09:21] KuseiPro12 opened #547 "Water portals doesn't work"
I've tried with the map Fourchette, and they don't, that could be an interesting feature for the plugins to support maps like Fourchette, RFV 2 and similars.

[2015-04-05 09:24] CaptainElliott commented on #547
Portals are supported, make sure the xml has the right regions

[2015-04-05 09:24] #547 closed

[2015-04-05 10:05] Eudaldca opened #548 "Regions not working correctly in GDIII"
In golden drought 3, you cannot buid next to your woolrooms, as well as not being able to break gold blocks in your base. The message it prints to you is "You cannot build outside the map area!", so the issue is related to this somehow.
My cardinal version is the latest up to the time this post has been created, and the xml of the map is the one from maps.oc.tc.

[2015-04-05 10:12] CaptainElliott commented on #548
This will be to do with the xml, make sure that the regions match the map
most likely dupe of https://github.com/twizmwazin/CardinalPGM/issues/492

[2015-04-05 10:15] Eudaldca commented on #492
@CaptainElliott You however cannot enter your own wool room, so that *is* fixed. It is also not an issue of the map being incorrectly positioned, as it happens in both lanes equally.

[2015-04-05 10:20] Eudaldca commented on #548
@CaptainElliott You however cannot enter your own wool room, so that is fixed. It is also not an issue of the map being incorrectly positioned, as it happens in both lanes equally.

[2015-04-05 11:37] SungMatt commented on #548
@Eudaldca As I have said in the other thread, this is due to a difference between the map and the xml on Reshif's site, and is not a plugin error. This issue tracker is meant for CardinalPGM bugs, not as a duplicate of the official PGM bug tracker, or a map error tracker.

[2015-04-05 11:49] SungMatt commented on #545
@Tranziii Here is an [example](https://github.com/SungMatt/CardinalPGMDemo) of how your server directory should look like.

[2015-04-05 14:30] KuseiPro12 opened #550 "Custom Arrow projectiles don't work"
I donwloaded the map Ozone, and the ender pearl arrows doesn't fire correctly, it only fires a normal arrow.

[2015-04-05 15:02] twizmwazin commented on #545
@Tranziii In the log, it clearly states that the map "Kytriak" is not loading. The XML may be invalid.

[2015-04-05 15:04] twizmwazin commented on #536
@Eudaldca Just do /cardinal -v, it makes our lives so much easier.

[2015-04-05 15:16] #537 closed

[2015-04-05 16:29] iEli2tyree011 commented on #548
@Eudaldca Make sure you didn't get rid of block 36. The map has a ton of regions based on block 36.

[2015-04-05 16:30] Eudaldca commented on #548
@iEli2tyree011 Oh, but blocks 36 are no longer in mc 1.8? I did get rid of them, because they caused fps lag like crazy.

[2015-04-05 17:46] iEli2tyree011 commented on #548
They are still necessary to have regions work correctly for the map. We may look for a way to be able to hide block 36 from the client, so it doesn't cause as  much lag.

[2015-04-05 17:46] #548 closed

[2015-04-05 17:53] Avygeil opened #551 "Region coordinates should not be floored"
Commit 68442c1565d3dd4b058f5caadfd638b8d287e98e added floored vectors to regions and parsers.

Coordinates should be real numbers and rounding them breaks some mechanisms, like circles and cylinders centered on the middle of a block:
<a href="https://oc.tc/forums/topics/52dc171312ca95a3fa0012a2">
   <img src="http://i.imgur.com/SU3GuFY.png">
</a>

This region cannot work if its center is floored,

[2015-04-05 17:57] iEli2tyree011 commented on #551
Thanks

[2015-04-05 18:03] #551 closed

[2015-04-05 21:56] iEli2tyree011 commented on #545
@Tranziii Can you pastebin the text inside of `maps.xml`?

[2015-04-05 22:20] iEli2tyree011 commented on #536
Can anyone else confirm this? The latest XML and plugin work fine for me.

[2015-04-05 23:18] SungMatt commented on #536
@iEli2tyree011 I can't confirm this. Running Sportbukkit 715f5f8 (April 3rd release), Cardinal 31226cb.

[2015-04-05 23:22] Eudaldca commented on #536
If you let me tomorrow I'll record it

[2015-04-05 23:28] twizmwazin commented on #536
@Eudaldca Try updating Cardinal first

[2015-04-06 06:08] TiTo-418 opened #553 "Can exceed the max amount of players per team"
E.G. Cannon Duel

[2015-04-06 06:17] TiTo-418 opened #554 "Can't use /tp ~ ~1 ~"
Video proof: http://youtu.be/FC0eXZapeow

[2015-04-06 06:21] TiTi-418 opened #555 "Can pick up item frame's items in deny regions"

[2015-04-06 06:28] TiTo-418 opened #556 "Doors can bypass height limit"
Video proof: http://youtu.be/wwh2FR_nFzc

[2015-04-06 10:25] SungMatt commented on #554
This is more likely a SportBukkit issue, as /tp is not implemented or interfered with in Cardinal. I do know other forks of bukkit (Spigot, CraftBukkit) do not implement /tp with relative coordinates.

[2015-04-06 10:50] iEli2tyree011 commented on #555
I'm not sure what this is supposed to mean?

[2015-04-06 11:13] #554 closed

[2015-04-06 11:14] iEli2tyree011 commented on #536
@Eudaldca Also make sure you copy the latest XML for Boom TE.

[2015-04-06 12:14] TiTo-418 commented on #555
You can edit the item frame content, i ll make a video

[2015-04-06 13:57] iEli2tyree011 commented on #555
Fixed in a70efa4873a15d91cd8a40f4b2d1acf66d30f278

[2015-04-06 14:11] Eudaldca commented on #536
I was using an xml from maps.oc.tc, I just checked, and it was due to the xml. Now I'm using the one from HoC, I really don't know what XML was that. The one that causes errors is this: http://pastebin.com/FLkCcgxH

[2015-04-06 14:36] MrTheSharpie opened #558 "Kits doesn't load on your inventory"
Well, so I created a map, I made a XML for it and I tested it with Cardinal. All is OK excepting that my inventory is empty. The XML hasn't any syntax error apparently.

The Cardinal version is the last public build.

XML:  https://github.com/MrTheSharpie/XML/blob/master/The%20Wall.xml

[2015-04-06 14:43] knightopress commented on #558
Try changing `parents="spawn"` to `parents="teams"`.

[2015-04-06 14:51] #556 closed

[2015-04-06 14:55] CaptainElliott commented on #558
@knightopress the xml does not define a kit named `teams`

try making `force="false` to `true`

if that does not work can you show me the result of `/cardinal -v`

[2015-04-06 14:56] twizmwazin commented on #554
@SungMatt Actually we did rewrite it. [boop](https://github.com/twizmwazin/CardinalPGM/blob/master/src/main/java/in/twizmwaz/cardinal/command/TeleportCommands.java)

[2015-04-06 15:03] CaptainElliott commented on #550
Projectiles now have added features
https://oc.tc/forums/topics/5521ca9167d522275700024c

[2015-04-06 15:19] iEli2tyree011 commented on #490
Fixed in 7816988155299e9f011f321e1d99ef7e45d84e78

[2015-04-06 15:19] #490 closed

[2015-04-06 15:23] iEli2tyree011 commented on #536
@Eudaldca I'm not sure where you got that XML, but the issue is that it's trying to get region `end` when there is no region with that name exists.

[2015-04-06 15:23] #536 closed

[2015-04-06 15:42] MrTheSharpie commented on #558
@CaptainElliott Still not working after changing force to true. Version: http://prntscr.com/6qbgcv

[2015-04-06 15:52] knightopress opened #559 "Pistons Issue"
You can bypass the build height limit of any map with pistons, video example below. I'm pretty sure there are piston "push" and "pull" events in Bukkit that you can cancel under an "if" statement.

https://youtu.be/p9YSos6w7ZU

[2015-04-06 15:55] CaptainElliott commented on #559
I don't really think this is too an issue, the piston should not push if it had a block on it

[2015-04-06 16:04] knightopress commented on #559
Seems like pistons can bypass any type of region limits, not just height.

[2015-04-06 16:08] MrTheSharpie commented on #559
Also happens if you push blocks to a void region

[2015-04-06 16:11] knightopress commented on #559
Yeah this appears to happen with any type of region limit. What's weird is that I did find code to cancel piston events when they interact with a region limited area, but the code doesn't seem to work.

[2015-04-06 17:45] RubeGamerV commented on #553
probably xml have [max-overfill="2"] or teams will be forced

[2015-04-06 21:55] iEli2tyree011 commented on #559
I'll check the code for it over later tonight and I'll also make sure that it is also prevented in block regions.

[2015-04-07 01:07] TiTo-418 commented on #559
Dupe of https://github.com/twizmwazin/CardinalPGM/issues/556 ???

[2015-04-07 04:39] iEli2tyree011 commented on #559
@TiTo-418 How is that a duplicate by any means?

[2015-04-07 06:06] dentmaged commented on #559
They both are to do with regions and the height limit, but #556 is to do with doors, not pistons.

[2015-04-07 06:11] TiTo-418 commented on #559
You can add fences, trap doors, etc..., all the block with has (on can has in a variant, like trap doors or pistons) more than one block of colision box.

[2015-04-07 11:10] knightopress commented on #559
No, #556 has to do with the player interaction of two block high blocks. This has to do with the piston interaction between the piston itself and other blocks it pushes.

[2015-04-07 15:22] AngelCasillas01 commented on #553
@RubeGamerV On maps.oc.tc says 1, this is due to team force, we should reduce the power of the /team force

[2015-04-07 16:23] iEli2tyree011 commented on #545
Closing due to no response and this is only due to incorrectly setting up the server. The XML is not valid, which means the plugin can't even read it, it's not even having issues parsing it.

[2015-04-07 16:23] #545 closed

[2015-04-07 20:42] dentmaged commented on #127
@twizmwazin When will this feature be done? I'll implement it on myself if you're too busy.

[2015-04-07 21:20] twizmwazin commented on #127
@dentmaged I ran into a lot of issues and inconsistencies. If you want to take a stab at it, be my guest.

[2015-04-07 23:19] Pablete1234 opened #562 "Inconsistency when giving items to spectators"
while on spectators, if someone does /minecraft:give on you, you get nothing.
it would make sense if spectators had fixed inventory, but that's not the case, spectators can modify their inventory as they wish (grabbing blocks from the creative menu) but the cannont get them via / give

[2015-04-08 00:18] TiTi-418 opened #563 "Some names in deaths appears in white"
<a href="http://imgur.com/AZW15hE"><img src="http://i.imgur.com/AZW15hE.png" title="source: imgur.com" /></a>
<a href="http://imgur.com/HagJ1yE"><img src="http://i.imgur.com/HagJ1yE.png" title="source: imgur.com" /></a>

[2015-04-08 01:40] iEli2tyree011 commented on #563
Please do /cardinal -v, and also when you make other issues

[2015-04-08 02:33] TiTo-418 commented on #563
ed329v1

[2015-04-08 09:30] MrTheSharpie commented on #558
I removed the atributte damage="-3000" from the weapons like swords etc. I will test it today, maybe that was the problem.

[2015-04-08 09:51] dentmaged commented on #127
@twizmwazin I have began work on it. How can I tell when a core is about to go into a mode (gold core mode for example)?

[2015-04-08 13:51] TiTo-418 commented on #127
GOLD CORE MODE in {0} seconds

[2015-04-08 13:54] dentmaged commented on #127
@TiTo-418 What colours are used?

[2015-04-08 14:05] TiTo-418 commented on #127
Maybe @CaptainElliott know

[2015-04-08 14:29] CaptainElliott commented on #562
/give is an OP command

[2015-04-08 14:31] SungMatt commented on #562
@CaptainElliott The error is `command.give.notFound` in red, not a permissions issue.

[2015-04-08 14:47] iEli2tyree011 commented on #127
@dentmaged Just wondering, before you work on all the different possibilities for displaying the boss bar, did you make it reliable?

[2015-04-08 14:49] CaptainElliott commented on #562
I don't understand, could you show a screenshot?

[2015-04-08 14:50] CaptainElliott commented on #127
@dentmaged also do you have compatibility for localisation?

[2015-04-08 15:46] dentmaged commented on #127
@CaptainElliott Yep!
@iEli2tyree011 What do you mean by "reliable"? I don't think there will be any problems in the future (unless SportBukkit changes)

[2015-04-08 15:58] SungMatt commented on #562
@CaptainElliott My apologies, just realised that this only happens due to 1.8 id compatibility. This error is given iff the numerical ID is given as opposed to the `minecraft:<blockname>` .

If a numerical ID is given, this error occurs:
![screen shot 2015-04-08 at 11 51 47 pm](https://cloud.githubusercontent.com/assets/6725727/7049281/ea55ee1c-de4a-11e4-868f-ac62eaf6ec92.png)

As Mojang has depre

[2015-04-08 16:32] twizmwazin commented on #558
Closing as this is a map's xml issue, not specifically related to Cardinal.

[2015-04-08 16:32] #558 closed

[2015-04-08 18:48] MrTheSharpie commented on #558
Yes but apparently the XML doesn't have any problem, so why it doesn't work correctly?

[2015-04-08 18:54] twizmwazin commented on #558
Does it leave an error in the log?

[2015-04-08 18:59] MrTheSharpie commented on #558
No... BenjaminCrespo issued server command: /start 0
[20:56:20] [Server thread/INFO]: The match has started!
[20:56:20] [Server thread/INFO]: # # # # # # # # # # # # # # # #
[20:56:20] [Server thread/INFO]: # # The match has started! # #
[20:56:20] [Server thread/INFO]: # # # # # # # # # # # # # # # #
[20:56:20] [Server thread/INFO]: Time Remaining: 15:00
[20:56:22] [Server thread/INFO]: BenjaminC

[2015-04-08 19:01] TiTo-418 commented on #127
TiTi-418, pl0x

[2015-04-08 19:01] iEli2tyree011 commented on #562
Closing because @Pablete1234 didn't use the command correctly.

[2015-04-08 19:02] iEli2tyree011 commented on #127
@dentmaged Did you write your own module then?

[2015-04-08 19:11] TiTi-418 commented on #525
Map dowload: https://oc.tc/forums/topics/54075958c2963593d30015a7?page=1#5407750fc29635d91e001b27
My server: https://www.hosthorde.com/plans/ (Unlimited plan)

[2015-04-08 19:13] dentmaged commented on #558
Enable ```displayMapLoadErrors``` in the config and post the log.

[2015-04-08 19:15] dentmaged commented on #127
Yes. It is a wrapper for the BossBar module.

[2015-04-08 19:17] MrTheSharpie commented on #558
Ok, will do that later xD

[2015-04-08 20:22] MrTheSharpie commented on #558
Enabled those errors and this is the log

[22:23:08] [Server thread/INFO]: BigBigBooty_ issued server command: /join
[22:23:18] [Netty Server IO #8/INFO]: §0[Night Watch] §6❖§0BigBigBooty_§r: t
[22:23:24] [Server thread/INFO]: BigBigBooty_ issued server command: /team force BenjaminCrespo wi
[22:23:29] [Server thread/INFO]: BigBigBooty_ issued server command: /team force ma whi
[22:23:32] [Server

[2015-04-08 21:25] dentmaged commented on #558
@MrTheSharpie Well that is bizarre. I don't know why that is happening.

[2015-04-08 23:14] iEli2tyree011 commented on #558
@MrTheSharpie Can you post your logs from right before you cycled to the map? It doesn't help if we see what teams you forced each other onto.

[2015-04-08 23:51] TiTo-418 opened #565 "Match Page issue"
- [ ] Duplicates players
- [ ] The time should be MM:SS, no the total amount of seconds
- [ ] Incorrect KD calculation (Always 0.0)

E.G. page: http://m.twizmwaz.in/d90252.html

[2015-04-09 00:25] twizmwazin commented on #565
This is under a complete rewrite with a proper website. I am working on it.

[2015-04-09 00:45] TiTo-418 opened #566 "Staff isn't whitelisted automatically"

[2015-04-09 01:17] SungMatt commented on #565
@twizmwazin Will the source code for the website be open for collaboration?

[2015-04-09 01:22] twizmwazin commented on #565
@SungMatt Not sure just yet. While I want people to be able to help out, I also don't want people figuring out how to easily exploit stats.

[2015-04-09 02:19] twizmwazin commented on #565
Also, it is worth noting that I am not really a web dev, so this will be interesting. Currently I am writing the website in node.js.

[2015-04-09 02:22] TiTi-418 commented on #521
Isn't fixed

[2015-04-09 02:45] TiTi-418 commented on #439
@G61 that is the problem, thanks

[2015-04-09 05:32] dentmaged commented on #565
@twizmwazin Why not PHP or Ruby? Sinatra is pretty easy!

[2015-04-09 05:53] twizmwazin commented on #565
@dentmaged I don't really know how to do very much with PHP beyond the basics, and I don't really feel like learning a completely foreign language to me (Ruby). Not saying that I have much experience or knowledge in Node or JavaScript, but JavaScript's syntax is quite comfortable coming from C-like languages, and Node's documentation is quite good.

[2015-04-09 06:13] dentmaged commented on #565
@twizmwazin I've never been a fan of Javascript, it never worked for me!

[2015-04-09 09:06] tonyrelark opened #568 "Anvil spawners will automatically switch to falling sand."
It's really annoying and I would like to see that being fixed. Basically I load the map with an anvil spawner but when I load it up in the server, it somehow turns to sand.

[2015-04-09 09:44] CaptainElliott commented on #568
That is a problem with the world file, not the plugin

[2015-04-09 09:44] #568 closed

[2015-04-09 10:08] dentmaged commented on #566
Cardinal uses Bukkit's built-in whitelister, not a custom one.

[2015-04-09 10:42] Pablete1234 commented on #562
i did not use the command wrongly, just try:
/give Pablete1234 stone 1

and i get nothing if i'm on spectator, but if i have joined the game i do get the item

[2015-04-09 10:58] iEli2tyree011 commented on #563
Can you try this again on the latest version, and if it doesn't work, then find out how to recreate it?

[2015-04-09 10:59] iEli2tyree011 commented on #562
[Works fine for me.](http://i.imgur.com/CtiIAwl.png) What does it say in the chat when you do `/give Pablete1234 minecraft:stone 1?

[2015-04-09 11:00] CaptainElliott commented on #566
we do use a custom whitelister https://github.com/twizmwazin/CardinalPGM/blob/master/src/main/java/in/twizmwaz/cardinal/command/WhitelistCommands.java

most of it was made by OCN devs but it has been editied for our needs and I plan to make some additions to it also using @ShinyDialga45 unofficial OCN api. I will also implement this

[2015-04-09 11:26] Pablete1234 commented on #562
it says given 1 stone to pablete1234, but i don't get the item

[2015-04-09 11:33] CaptainElliott commented on #562
Can we see both a screenshot of `/cardinal -v` and what happens after using the command?

[2015-04-09 11:35] Pablete1234 commented on #562
i'll do it when i go back home later

[2015-04-09 11:36] CaptainElliott commented on #562
hang on, your using a 1.7 port on your server right?
https://oc.tc/forums/posts/552571eb5f35b9737b0027cf

[2015-04-09 11:36] Pablete1234 commented on #562
nope, i'm testing on 1.8

[2015-04-09 11:38] Pablete1234 commented on #562
maybe when i tested this (original post) it wasnt fixed yet and maybe it is now (for 1.8 version), i'll test it when i get home

[2015-04-09 11:49] dentmaged commented on #566
@CaptainElliott really? O_o

Why does https://github.com/twizmwazin/CardinalPGM/blob/master/src/main/java/in/twizmwaz/cardinal/command/WhitelistCommands.java#L52 refer to ```Bukkit.getServer().reloadWhitelist()```? Can you set a custom whitelist object in Bukkit?

[2015-04-09 12:04] CaptainElliott commented on #566
@dentmaged I'm sorry, I thought you just meant using the default white list stuff.
But there is really no other way to do a whitelist, especially since the api bukkit has is so flexible

[2015-04-09 13:46] Pablete1234 commented on #562
tested it and seems to be fine now (even on the 1.7 port), maybe it was broken when i first tested in a older version

[2015-04-09 14:59] Pablete1234 opened #569 "observer kits don't work"
maps like boombox or cannon duel have a obs kit that gives night vision, it works for  players that have joined, but not for observers

[2015-04-09 15:06] SungMatt commented on #569
Cardinal version please, and isn't this a duplicate of #467 ?

Also, could you show us the XML? If you are using the included Cannon Duel XML, note that the kit "obs+" does not exist.

[2015-04-09 16:07] Pablete1234 commented on #569
does the kit name matter? it should be given to observers if it's stated to, in ocn  observers do get the effect

[2015-04-09 16:14] Pablete1234 commented on #569
i checked the xml again, cannon duel has the spawns like this:
<default yaw="90" kit="obs+">
<cylinder base="31.5,58,37.5" radius="4" height="0"/>
</default>
so it gives the players the kit obs+, and that kit is on: house-of-core.xml
<include src="../house-of-cores.xml"/>

in HoC xml:
<kit name="obs+" parents="obs">
<potion duration="oo">night vision</potion>
</kit>

and yes, i do have HoC xml, an

[2015-04-09 16:16] CaptainElliott commented on #569
I fixed your XML links :)

[2015-04-09 16:57] Pablete1234 commented on #569
last line of my coment: -> and yes, i do have HoC xml, and it's on "../house-of-core.xml"

[2015-04-09 17:04] #559 closed

[2015-04-09 17:05] MrTheSharpie commented on #558
Here you have the full lof http://pastebin.com/vbCKrHzg

[2015-04-09 18:18] iEli2tyree011 commented on #558
In your XML, you have this:
`<kit name="white-walkers" parents="spawn">
        <item slot="0" enchantment="damage all">iron sword</item>
        <helmet damage="-3000" color="FFFFF">leather helmet</helmet>
        <chestplate damage="-3000">iron chestplate</chestplate>
        <leggings damage="-3000">iron leggings</leggings>
        <boots damage="-3000" color="FFFFF">leather boots</boots>

[2015-04-09 18:55] MrTheSharpie commented on #558
Thank you! Hope this works :)

[2015-04-09 20:39] Thepawer opened #571 "TNT problem (Water push it)"
I have sportbukkit-1.8-R0.1-20150215.041225-1 and the last Cardinal version.

My bukkit.yml:
# This is the main configuration file for Bukkit.
# As you can see, there's actually not that much to configure without any plugins.
# For a reference for any variable inside this file, check out the Bukkit Wiki at
# http://wiki.bukkit.org/Bukkit.yml
#
# If you need help on this file, feel free to join us

[2015-04-09 20:52] iEli2tyree011 commented on #571
This isn't a Cardinal issue. However, I recommend trying this with the latest download of Sportbukkit. You have a really old version from February 15th, you should try [downloading this version](https://repo.oc.tc/service/local/repositories/snapshots/content/tc/oc/sportbukkit/1.8-R0.1-SNAPSHOT/sportbukkit-1.8-R0.1-20150404.032812-18.jar) which is much newer.

[2015-04-09 20:52] #571 closed

[2015-04-09 20:59] Thepawer commented on #571
I know, but i wanted to know if someone could help me. Thanks you a lot! Maybe it was Sportbukkit problem n_n

[2015-04-09 21:16] TiTi-418 commented on #563
Yeah, i will test it, but i don't know how recreate ir.

[2015-04-10 01:57] TiTi-418 commented on #563
If this happen again, i ll reopen this

[2015-04-10 01:57] #563 closed

[2015-04-10 17:13] IlPicasso opened #573 "(Suggestion) Remove "Join Messages""
I was wondering if we could make Join Messages configurable

Ridan joined the game.

If we could disable that

[2015-04-10 17:20] RubeGamerV commented on #573
type /toggle jms

[2015-04-10 17:29] IlPicasso commented on #573
You got me

Thanks

^^

[2015-04-10 17:34] RubeGamerV commented on #573
close this, because is not a issue

[2015-04-10 17:44] #573 closed

[2015-04-10 18:18] Pablete1234 opened #574 "Observer scoreboard doesn't show the winning team first"
http://gyazo.com/6f7a27309f7dfd2dbe1eb097f5afb589

blue is winning, and it should be shown first on the scoreboard

[2015-04-10 20:37] #569 closed

[2015-04-10 22:25] Pablete1234 opened #575 "Blitz doesn't end when one team is dead"
blitz maps do not end when all of the team members are dead  on one team

for example: cannon duel does not end when one player kills the other (leaving the scoreboard players: 1-0), and the remaining player has to jump to the void, and it will count as if he (the one that just killed himself) is the winner (even tho he died)

[2015-04-10 22:40] TiTi-418 commented on #575
Update the plugin and try again
Fixed in https://github.com/twizmwazin/CardinalPGM/commit/bf1cf5725bd773325e61afa7f8c9b6aa82a895b7

[2015-04-10 22:52] #575 closed

[2015-04-10 23:06] TiTi-418 commented on #574
https://github.com/twizmwazin/CardinalPGM/issues/355#issuecomment-89378725

[2015-04-11 02:45] TiTi-418 commented on #431
@Alfalik If you take all the wools?

[2015-04-11 02:59] Alfalik commented on #431
@TiTi-418 Yes. If you pick up all the wools in the chest, you easily can spam safeties when bringing it back, wich make an easier job for your team. Disabling auto-refill prevent it.

[2015-04-11 03:01] TiTi-418 commented on #431
If you take all the wools, and lose it, you can't win the match

[2015-04-11 03:05] Alfalik commented on #431
@TiTi-418 The chest have 54 wools, I don't see why do you need to pick up all. Auto-refill is a new feature that hasn't been used in old tourneys, and actually isn't used.

[2015-04-11 03:09] TiTi-418 commented on #431
If i arrive to the wool room 55 times, i can't get one. If i arrive 6 times to the wool room and i pick up 14 wools, i can't get one etc,etc

[2015-04-11 04:10] Superjd10 commented on #431
Tourney maps are made to be strategic. What would be the point of coming to a wool room, take all the wools, block spam it and if you die, go back to the wool room and repeat?

If it's disabled in the Tourney Plugin or module of PGM, it should be disabled / not added in Cardinal.

[2015-04-11 04:11] TiTi-418 commented on #431
Maybe a toggeable option?

[2015-04-11 05:23] twizmwazin commented on #431
What I am currently working with is a configurable rate (mostly because I don't know the actual rate). By default it will be set to 0, so disabled.

[2015-04-11 06:54] RubeGamerV commented on #431
This can be a module and be toggleable in the map xml

[2015-04-11 15:18] Pablete1234 opened #577 "broadcasts "every" don't work"
on nextgen, we have this:
[code]
when 10 minutes of the match have passed, a message is shown, but it's never shown again

[2015-04-11 16:04] #577 closed

[2015-04-11 20:34] Alfalik commented on #491
@iEli2tyree011 Translate regions are already fixed, as you can see in the video. Now you should check the mirror regions module.

+ Video: https://youtu.be/5ZGMGTVc4OY

[2015-04-11 20:34] AngelCasillas01 opened #580 "Add froze system"
since mods & admins have Team Grief utility, we can add a frozing system just like you want, maybe isn't useful 😕 and sorry if is 🙈

[2015-04-11 20:35] CaptainElliott commented on #580
This is not something we are going to implement into the main plugin

[2015-04-11 20:35] #580 closed

[2015-04-11 20:37] AngelCasillas01 commented on #580
@CaptainElliott  Why did you say "the main plugin" (sorry if you mean another thing)

[2015-04-11 20:39] CaptainElliott commented on #580
I believe @ShinyDialga45 is making a utility plugin with things that we don't want to have in this plugin

[2015-04-11 20:41] AngelCasillas01 commented on #580
@CaptainElliott Oh i didn't knew it sorry 🙈

[2015-04-11 20:47] RubeGamerV commented on #580
CommandBook have freeze command and is comaptible with SB

[2015-04-12 04:01] felipufeliu commented on #431
@titi-418 Then if you want to get 55 times and get 55 times out of the wool and die try to organize better before going out. Also auto refill haven't been used in any Overcast Network tournament so far so at this point is not needed.

[2015-04-12 15:38] TiTi-418 commented on #227
When a match end, the observer shoud listen mob.wither.death 1 1

[2015-04-12 15:56] TiTi-418 commented on #227
Warn sound: mob.wither.idle

[2015-04-13 01:51] ignorantcross opened #588 "Anyone can leak own Core, and map cycling feature after finishing a match where is? (DTC)"
![captura de pantalla 243](https://cloud.githubusercontent.com/assets/8921248/7108783/b9236e4c-e155-11e4-8c01-11be3701aa8a.png)

Thank you

[2015-04-13 01:58] TiTi-418 commented on #588
Podes preguntarlo en espanol? Intentare reslover las dudas pero no entendi bien lo que queres decir:
1. No podes lekear tu core, a menos que este mal el XML
2. Para cambiar al mismo mapa pon /recycle 0
3. Si queres que se cambie automaticamente podes hacerlo desde config.yml:

[2015-04-13 03:36] CoWinkKeyDinkInc commented on #588
If the XML is set up properly, you shouldn't be able to break your own core, not even in creative mode.

[2015-04-13 03:57] Prodigy4532 commented on #573
you can use the plugin HideStream for this

[2015-04-13 07:42] #588 closed

[2015-04-13 14:20] kroest opened #590 "cant join a match, cant type in chat before running /t or /g, and many more bugs."
i updated to the latest cardinal built, but now i have a looot of issues. The server gets stuck when /recycling, when you cycle, the observers spawn at the normal spawns instead of the actual observer spawns, the players cant chat unless they run /t or /g, the players cant join a game. The time moves to during matches, it doenst pause.

http://i.imgur.com/2puVJUd.png

i got this in my console when

[2015-04-13 14:25] twizmwazin commented on #590
As stated about 2 million times, we do not support 1.7. Upgrade your server to 1.8.

[2015-04-13 14:25] #590 closed

[2015-04-13 14:39] kroest commented on #590
sorry, i missed that. may i ask what is the latest version that supports 1.7?

[2015-04-13 14:47] dentmaged commented on #590
@kroest There is a version, but it doesn't work. Please use 1.8.

[2015-04-13 16:29] dentmaged opened #591 "Scoreboard has multiple teams"
I don't know how this is happening!

![Image](http://i.imgur.com/9r42NYQ.png)

[2015-04-13 18:08] CaptainElliott commented on #591
are you able to reproduce it? does the map use blitz?

[2015-04-13 18:38] dentmaged commented on #591
Nope, Boom TE. I have also noticed it on Fractal Descent TE. Here is the XML: http://www.mediafire.com/view/akzufj9cmhv4cb0/map(2).xml

[2015-04-13 19:47] RubeGamerV commented on #573
@Prodigy4532  no plugins are needed

[2015-04-13 20:08] Pablete1234 commented on #562
i found what the problem is, and this needs to be reopened.

the bukkit give command (/bukkit:give) does work fine
mojang give command(/minecraft:give) does not work

for whatever the reason is, minecraft give is not working, and i do prefer using minecraft give because you can set nbt tags.

[2015-04-13 20:37] twizmwazin commented on #562
Why do you need to give items? Is the issue with Cardinal or SportBukkit?

[2015-04-13 21:05] Pablete1234 commented on #562
when i have joined a team i can /give perfectly fine, it's just while on observers, it says "[item] given to [player]" but you actually don't get the item

[2015-04-13 21:55] ShinyDialga45 commented on #562
Very strange. When coding Cardinal modules from a separate plugin, I had similar results. I tried to give an item to the player, but it was usually a ghost item and disappeared when I clicked on it.

[2015-04-13 21:58] Pablete1234 commented on #562
I think this is not fixed and should be reopened, or should i create a new issue being more specific on "minecraft:give" and not /give by itself?

[2015-04-13 22:02] iEli2tyree011 commented on #591
For some reason, Boom TE is using a timer in the score module to time the match..

[2015-04-13 22:41] Alfalik commented on #591
@dentmaged Use ```<time result="objectives">10m</time>``` instead of ```<score>
		<time>10m</time>
	</score>```

[2015-04-13 23:22] iEli2tyree011 commented on #591
@Alfalik The plugin is supposed to replicate the behavior of PGM, not only work under certain conditions.

[2015-04-13 23:59] TiTi-418 opened #593 "Scoreboard issue"
<a href="http://imgur.com/Er207aV"><img src="http://i.imgur.com/Er207aV.png" title="source: imgur.com" /></a>
<a href="http://imgur.com/lhczvW2"><img src="http://i.imgur.com/lhczvW2.png" title="source: imgur.com" /></a>
<a href="http://imgur.com/yV7PGuP"><img src="http://i.imgur.com/yV7PGuP.png" title="source: imgur.com" /></a>
<a href="http://imgur.com/CNUQu57"><img src="http://i.imgur.com/CNUQu5

[2015-04-14 00:05] Alfalik commented on #591
@iEli2tyree011 Firstly, both xml at <a href="http://maps.oc.tc">maps.oc.tc</a> use ```<time result="objectives">10m</time>``` (<a href="https://maps.oc.tc/Other/Tournament/Breaking%20Core/Boom/map.xml">BC Version</a> & <a href="https://maps.oc.tc/Other/Tournament/House%20of%20Cores/Boom%20TE/map.xml">HoC Version</a>), not ```<score> <time>10m</time> </score>```
Second, theres a big difference betw

[2015-04-14 00:07] TiTi-418 commented on #591
Can't reproduce
<a href="http://imgur.com/kK0qH6W"><img src="http://i.imgur.com/kK0qH6W.png" title="source: imgur.com" /></a>
<a href="http://imgur.com/VGiZn3P"><img src="http://i.imgur.com/VGiZn3P.png" title="source: imgur.com" /></a>

[2015-04-14 02:57] ignorantcross commented on #588
the XML is set up properly, it has gotten from maps.oc.tc repository

[2015-04-14 03:00] SungMatt commented on #588
@ignorantcross Please note that a lot of map downloads do not have the same coordinates of the cores in-game and in the XML. For example, Oculo has an observers spawn that is 500 blocks away from the xml on maps.oc.tc .

I could try fixing the XML for you, but you can do it yourself by getting the coordinate boundaries of the cores, and changing them in the XML. It shouldn't be too hard, just inpu

[2015-04-14 03:07] SungMatt commented on #591
Cannot reproduce in maps stated, however can be reproduced in other maps.
Boom TE:
![screen shot 2015-04-14 at 11 05 35 am](https://cloud.githubusercontent.com/assets/6725727/7129688/33b9136e-e296-11e4-92e0-55b5b0dbca06.png)

Reproducible in Dead Heat:
![screen shot 2015-04-14 at 11 04 17 am](https://cloud.githubusercontent.com/assets/6725727/7129687/33b8bdec-e296-11e4-9f5a-ee0699af7760.png)

*Run

[2015-04-14 03:20] SungMatt commented on #562
I assume in order to reproduce it:
1. The command executor, "Giver", has to be in observers, and is an Operator on the server.
2. The receiver, "Recipient", has to be in observers. There is no difference between permission levels.
3. There is no need for the match to be running.
4. If the Giver executes `/minecraft:give <player> <item> [count] [data] [dataTag]` with all valid tags, the Recipient d

[2015-04-14 06:49] dentmaged commented on #591
@Alfalik That fixed it thanks!

![Updated XML](http://i.imgur.com/5if2XUJ.png)

[2015-04-14 09:46] iEli2tyree011 commented on #591
@dentmaged Where did you get the XML from?

[2015-04-14 10:13] dentmaged commented on #591
@iEli2tyree011 I can't remember, I think I redid quite a bit of Boom TE's XML so that is probably why!

[2015-04-14 10:30] #591 closed

[2015-04-14 13:22] Pablete1234 commented on #562
join my server, whine on observers:
/give [your name] stone
nothing happens

on commands.yml i have an alias for "give (any arguments)" ->minecraft:give (any arguments)

ps: while playing (joining a team different than observers) works fine

[2015-04-14 14:13] SungMatt commented on #562
@Pablete1234 Hmm, I'm unable to recreate the issue. [Video](https://www.youtube.com/watch?v=rwejpUvMHS0)

[2015-04-14 23:14] youngpvprock opened #595 "Multitrade not implemented"
Some errors with vills
http://pastebin.com/177bRz3F

Also the villager can't be open when other is trading, on trade they give xp while it shouldn't and finally, the trades from vills don't end in the custom trades, they also have the normal trades. The map i'm testing it is this --> http://www.mediafire.com/download/7c060s5b2wtk78k/Facility.zip

Also i would like to say that in countdowns for TDM

[2015-04-14 23:15] youngpvprock commented on #595
Sorry for poor english, i'm spanish.

[2015-04-14 23:33] TiTi-418 commented on #595
Sounds: https://github.com/twizmwazin/CardinalPGM/issues/227

[2015-04-15 03:22] CoWinkKeyDinkInc opened #596 "Blocks regenerate far too quickly in-game, and regenerate more slowly in obs"
If you are in a match, and you break a "transparent" block, like a torch, grass, flowers etc, and it is in a region where you can't break blocks, it instantly regenerates the second it is broken.  This can cause lag issues, especially with torches.  Holding down the left click causes this effect.  In observers, breaking these blocks don't instantly regenerate and cause this lag issue.

[2015-04-15 14:01] twizmwazin commented on #596
Is there a known workaround or fix for this? I think this is just how Minecraft works, and there isn't really a good server-side fix to this.

[2015-04-15 16:28] ignorantcross commented on #588
I didn't know about I must edit the XML code, thankyou.

[2015-04-15 16:30] CaptainElliott commented on #595
The issue with with the custom trades and other trading issues could be down to the map being made in 1,8.

However the multitrade feature must not yet have been implemented

[2015-04-15 18:11] twizmwazin commented on #595
@CaptainElliott Can confirm the multitrade part not yet being implemented.

[2015-04-15 20:30] dentmaged opened #597 "Kits not applied in region when teleported by Scorebox"
I don't know why this is happening
I am running Cardinal Version 6b1135d

Video: https://youtu.be/_IYyc8n2SSo

[2015-04-15 20:34] RubeGamerV commented on #597
wheres is the xml

[2015-04-15 21:00] CaptainElliott commented on #597
PGM only checks when a player enters a region, that's why you are experiencing this bug. However we should allow the apply kit to be checked when a player is teleported

[2015-04-15 21:29] dentmaged commented on #597
@CaptainElliott It worked on OCN. However, isn't a PlayerMoveEvent fired when a player is teleported?

[2015-04-15 22:19] CoWinkKeyDinkInc commented on #596
Blocks don't instantly regenerate in observers, and have a reasonable delay of about 1/4th of a second.  In fact, all blocks regenerate instantly while in teams.  Instant breakable items like torches cause this.

[2015-04-15 22:31] CoWinkKeyDinkInc commented on #588
You have to assign the core to a team that defends it.  That is all that's needed to stop them from breaking their own core.  You can just mention them by colour `blue` or by their full name `Blue Team`.

[2015-04-15 22:32] twizmwazin commented on #596
@CoWinkKeyDinkInc But how does this behavior differ from Overcast's?

[2015-04-15 22:55] CoWinkKeyDinkInc commented on #596
@twizmwazin On OCN all blocks regenerate at about 1/4th of a second on obs and teams, holding down left click on a team does not cause lag like I've mentioned previously.

[2015-04-15 23:02] Alfalik commented on #596
@CoWinkKeyDinkInc This have a direct relation with ping and the amount of RAM that the player and server have. I don't think this is an issue that can really be fixed.

[2015-04-16 02:11] twizmwazin commented on #596
@Alfalik Ram doesn't have a direct relation to preformance.

@CoWinkKeyDinkInc Was this tested and confirmed on a server that you have approximately the same ping to as Overcast?

[2015-04-16 06:13] CaptainElliott commented on #597
@dentmaged probably but it checks if you enter the region bot if you are in it

[2015-04-16 15:38] TiTi-418 commented on #597
@RubeGamerV https://maps.oc.tc/TDM/Standard/Zap/map.xml

[2015-04-16 17:48] StraferBoy opened #598 "Add Predicted kills"
To know if he did wannted or accidently

[2015-04-16 19:18] youngpvprock commented on #595
And there are plans to implement it in a future?

[2015-04-16 19:35] iEli2tyree011 commented on #588
@CoWinkKeyDinkInc You should never use a team's display name in the XML. It should always be their ID, which in this case is `blue` because the blue team's element would have `id="blue"`.

[2015-04-16 19:43] RubeGamerV commented on #598
i dont think this would be necesary

[2015-04-16 20:38] twizmwazin commented on #595
@youngpvprock In time

[2015-04-16 22:02] twizmwazin commented on #597
Should be fixed with f44ed208b9820e13170bfeeded0255e76d9778dd

[2015-04-16 22:02] #597 closed

[2015-04-16 23:42] CoWinkKeyDinkInc commented on #596
@twizmwazin This was tested on my computer that was also running the server.

[2015-04-16 23:59] StraferBoy commented on #598
Tutorial isn't necesary and that is in the plugin

[2015-04-17 00:09] SungMatt commented on #596
@CoWinkKeyDinkInc What's your ping to overcast then? Pinging to your local server should not take more than 1ms

[2015-04-17 01:11] RubeGamerV commented on #598
players who play in a new map need a tutorial to know more about map

[2015-04-17 03:43] SungMatt commented on #598
Pretty poor sportsmanship by that player who logged off, I suppose.

[2015-04-17 06:28] dentmaged commented on #598
This is a scrimmage plugin. If someone logs off, make it an automatic win.

[2015-04-17 11:29] twizmwazin commented on #598
@dentmaged That is a horrible idea. What if someone's internet dies or their client crashes? Should the entire scrim be terminated as a result?

[2015-04-17 11:36] dentmaged commented on #598
@twizmwazin I mean before they die. However, that is a valid point.

[2015-04-17 18:14] youngpvprock opened #601 "Change lang?"
I didn't know where i can ask it, so i puto it here, delete it after. So i see in files that exists some xml with different language but i don't find where i select one of them so, can help me please..

[2015-04-17 18:43] twizmwazin commented on #601
Don't ever delete an issue. The language of messages Cardinal sends to a player depends on the client's language. The language of messages sent to the console depends on the system language of the server.

[2015-04-17 18:43] #601 closed

[2015-04-17 19:07] dentmaged commented on #601
You can change your client language in Options or on the title screen.

[2015-04-18 00:46] TiTi-418 opened #603 "Incorrect message when force team"
Video: https://youtu.be/Ld2PBY6gRUg
Cardinal version: http://gyazo.com/630f6de2d47fcccc3a2a10869b61e07d

[2015-04-18 01:07] TiTi-418 opened #604 "Inventory doesn't update in obs"
Video proof: http://youtu.be/jzxjeZOPje0
Cardinal version: http://gyazo.com/630f6de2d47fcccc3a2a10869b61e07d

[2015-04-18 01:11] Alfalik opened #605 "Errors when placing/breaking blocks"
The test was on DATAstation.

+ Video proof: https://youtu.be/yu252bNIRIM
+ Entire log: http://pastebin.com/W25GQ0pp
+ XML: http://pastebin.com/Vi2buLu0
+ Cardinal version  6f04c0c: http://gyazo.com/e0a3e6968c7c60d1bc51793cbf6cf1d0

Same in Ender Blast placing water and blowing up TNT.

+ Video proof: https://youtu.be/Bz_cNVPyBPU
+ Log: http://pastebin.com/YTpx1d2g
+ XML: http://pastebin.com/h2fV1

[2015-04-18 01:13] Alfalik commented on #153
As you can see in this video, the server doesn't crash/stall anymore caused by the massive monument.

+ Video: https://youtu.be/yu252bNIRIM

[2015-04-18 01:15] TiTi-418 commented on #120
Isn't fixed with Ender Blast

[2015-04-18 01:19] TiTi-418 commented on #605
Related with https://github.com/twizmwazin/CardinalPGM/issues/120#issuecomment-94109008 ?

[2015-04-18 01:19] TiTi-418 commented on #153
Related with https://github.com/twizmwazin/CardinalPGM/issues/120#issuecomment-94109008 ?

[2015-04-18 01:32] Alfalik opened #607 "Proximity alarm error"
+ Video proof: https://youtu.be/mvc-mBeEMbU
+ Entire log: http://pastebin.com/5dBJxhrC
+ XML: http://pastebin.com/h2fV1FUd
+ Cardinal version  6f04c0c: http://gyazo.com/e0a3e6968c7c60d1bc51793cbf6cf1d0

[2015-04-18 01:37] TiTo-418 opened #608 "Ender blast problems"
- [x] ~~Endstone cuboid can't be broken: http://youtu.be/PlLt4nD7Jh4~~ fixed in beb06774
- [x] No velocity and tps in the spawn area                ^
- [x] Proximity alarm error: https://github.com/twizmwazin/CardinalPGM/issues/607
- [x] ~~Can place water near Endstone Cuboid~~ fixed in 1bbae99
- [x] The wool room can be broken with tnt

Related with https://github.com/twizmwazin/CardinalPGM/issue

[2015-04-18 01:41] TiTi-418 commented on #555
Isn't fixed

[2015-04-18 01:51] iEli2tyree011 commented on #555
@TiTi-418 How so?

[2015-04-18 01:51] iEli2tyree011 commented on #120
@TiTi-418 This issue is related to BoomBox

[2015-04-18 01:55] TiTi-418 commented on #555
Im uploading a video.

[2015-04-18 02:00] Alfalik opened #609 "Update proximity when a player pick up the wool"
+ Video proof: https://youtu.be/e3PaFVm_644
+ Cardinal version  6f04c0c: http://gyazo.com/e0a3e6968c7c60d1bc51793cbf6cf1d0

[2015-04-18 02:21] TiTi-418 commented on #120
Yes, but it is the same with ender blast

[2015-04-18 02:31] TiTi-418 commented on #609
The proximity shoud update when you place a save.

[2015-04-18 02:41] TiTo-418 opened #610 "No match page upload when you run /cycle -f 0"
<a href="http://imgur.com/9lejbaw"><img src="http://i.imgur.com/9lejbaw.png" title="source: imgur.com" /></a>
<a href="http://imgur.com/5RLF3TR"><img src="http://i.imgur.com/5RLF3TR.png" title="source: imgur.com" /></a>

[2015-04-18 02:43] TiTi-418 opened #611 "/say show Console instead of your name"
<a href="http://imgur.com/RMwWUiw"><img src="http://i.imgur.com/RMwWUiw.png" title="source: imgur.com" /></a>

[2015-04-18 02:46] Alfalik commented on #611
Is intended. Use /g to talk in the global chat showing the sender name.

[2015-04-18 02:48] TiTi-418 commented on #611
ok, i can use /bc for importat message.

[2015-04-18 02:48] #611 closed

[2015-04-18 02:51] TiTi-418 opened #612 "/score error"
<a href="http://imgur.com/y0kLPgj"><img src="http://i.imgur.com/y0kLPgj.png" title="source: imgur.com" /></a>
<a href="http://imgur.com/eHsGXv1"><img src="http://i.imgur.com/eHsGXv1.png" title="source: imgur.com" /></a>

[2015-04-18 02:57] TiTi-418 commented on #612
I think this is related to https://github.com/twizmwazin/CardinalPGM/issues/609
The /score take notice from proximity although there isn't time limit seted

[2015-04-18 02:59] TiTi-418 commented on #555
http://youtu.be/6rt76Srs8cc (uploading)

[2015-04-18 03:15] iEli2tyree011 commented on #612
Proximity is still tracked no matter the time limit, the only thing changed when you add the time limit is the display of the scoreboard prefix.

This behavior is intended.

[2015-04-18 03:15] #612 closed

[2015-04-18 03:21] TiTi-418 commented on #612
But if you want a match without proximity like the above?

[2015-04-18 03:44] iEli2tyree011 commented on #612
Proximity is always kept track of to determine a winner.
Regardless, in that match, a winner is never determined by the plugin unless a time limit is added.

[2015-04-18 03:47] TiTi-418 commented on #612
Yes, thanks

[2015-04-18 05:52] TiTi-418 commented on #439
I found the error.
On cardinal y=0 need be bedrock, or this region will be void.
@AngelCasillas01's map is the same with oc.tc
Im going to upload a video tomorrow

[2015-04-18 06:11] dentmaged commented on #610
I tried this the other day,  are you sure it didn't send the message after cycling?

[2015-04-18 06:15] dentmaged commented on #607
I attempted to fix this bug, but I don't know what to do. If you look at OCN's docs it doesn't specify 'notify' either.

[2015-04-18 06:25] iEli2tyree011 commented on #610
@dentmaged The module is unloaded and has no access to the other stats modules when the map is immediately ended and cycled from.

[2015-04-18 06:33] twizmwazin commented on #596
Closing as this seems to just be an effect of ping.

[2015-04-18 06:33] #596 closed

[2015-04-18 06:43] CaptainElliott commented on #607
probably becasue there is no `notify`. I just need to make it default to notifying all players

[2015-04-18 07:15] dentmaged commented on #610
@iEli2tyree011 For me, maybe the message had been sent, but it was in the packet queue?

[2015-04-18 07:32] dentmaged commented on #491
@iEli2tyree011 Any updates?

[2015-04-18 07:37] #607 closed

[2015-04-18 12:07] Alfalik commented on #439
@TiTi-418 Because PGM is still on 1.7 and using block 36.

[2015-04-18 14:15] #603 closed

[2015-04-18 20:16] TiTi-418 commented on #329
<a href="http://imgur.com/c33QIYq"><img src="http://i.imgur.com/c33QIYq.png" title="source: imgur.com" /></a>

[2015-04-18 20:24] TiTi-418 commented on #509
Look at this: http://youtu.be/Sb-Y8-K0q_A

[2015-04-19 02:25] SungMatt opened #614 "Getting CME when loading large number of maps"
Some maps fail to load with a ConcurrentModificationException error, which seems to be Blitz maps. However, not all Blitz maps fail to load.
When the number of maps in the folder is reduced to just the errored maps, the error does not persist.

If the full log is needed, do tell me.

Here is the error:
![screen shot 2015-04-19 at 10 23 45 am](https://cloud.githubusercontent.com/assets/6725727/7217

[2015-04-19 03:25] iEli2tyree011 commented on #614
Can you pastebin the XMLs of a couple of the maps that throw CMEs?

[2015-04-19 04:40] StraferBoy commented on #598
If is an TDM match and the player do log out or his conecction drop, the other team should have the kill

[2015-04-19 13:41] #593 closed

[2015-04-19 14:56] SungMatt commented on #614
Here's the XML for [4K](http://pastebin.com/0JFZDNcK) , [Gooseberry](http://pastebin.com/9EA2U2xr) and [Plus Side](http://pastebin.com/PH3uNP1T).

If you do need the entire map directory, I could send it (Its pretty big though, at 2.7 GB)

[2015-04-19 16:19] #614 closed

[2015-04-20 12:37] SungMatt commented on #614
Thanks!

[2015-04-20 19:09] #604 closed

[2015-04-20 19:27] #609 closed

[2015-04-20 19:30] #555 closed

[2015-04-21 01:15] #524 closed

[2015-04-21 06:43] dentmaged commented on #524
@twizmwazin Can I apply a patch and give you credit?

[2015-04-21 10:22] twizmwazin commented on #524
@dentmaged Can you just contribute to the main project?

[2015-04-21 11:10] dentmaged commented on #524
Well how do I know that you will merge it? I don't know if you will implement my rank system, the observer book nor that you will implement my makeshift Boss Bar system.

[2015-04-21 12:07] elraro opened #615 "Warning in compile"
[INFO] --- scriptus:0.1:describe (default) @ CardinalPGM ---
[WARNING] Failed to get HEAD commit hash: java.lang.NullPointerException:null
[INFO] Set property "describe" to "git-CardinalPGM-unknown"

Master branch.

[2015-04-21 12:09] Prodigy4532 commented on #615
You using Java 7JDK and Maven??

[2015-04-21 12:10] elraro commented on #615
Maven 3

java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)

Second, i will test with openjdk 7

[2015-04-21 12:11] Prodigy4532 commented on #615
You need Java7 JdK for compiling this plugin

[2015-04-21 12:12] Prodigy4532 commented on #615
http://www.oracle.com/technetwork/java/javase/downloads/jdk7-downloads-1880260.html

[2015-04-21 12:12] elraro commented on #615
Dont worry about Java version. It must work with 7, 8, 9 or 999. Its Java.

BTW, same with openJDK7.

java version "1.7.0_75"
OpenJDK Runtime Environment (IcedTea 2.5.4) (7u75-2.5.4-1~trusty1)
OpenJDK 64-Bit Server VM (build 24.75-b04, mixed mode)

[2015-04-21 12:22] SungMatt commented on #615
Java 8 works too.

[2015-04-21 13:49] elraro commented on #615
Ok, was my fault.

Next time use git clone.

I can compile the plugin with Maven and console command, works great. But i want to add the project to Eclipse (Import -> Maven proyect), but i get this error in pom.xml

Plugin execution not covered by lifecycle configuration: net.md-5:scriptus:0.1:describe (execution: default, phase: initialize)

Thanks for your help guys.

[2015-04-21 13:58] TiTo-418 commented on #524
https://github.com/twizmwazin/CardinalPGM/issues/524#issuecomment-94735920 +1

[2015-04-21 14:03] twizmwazin commented on #615
@Prodigy4532 Cardinal can be built with Java 7 or higher, and regardless of which JDK it is built with, it will require Java 7 to run.

@elraro I believe the issue is that eclipse handles maven oddly, having an eclipse plugin for each maven plugin. I don't think their is an eclipse plugin for scriptus. If you would rather not work around it, I would suggest using IntelliJ.

[2015-04-21 14:03] #615 closed

[2015-04-21 14:23] twizmwazin commented on #524
@dentmaged You don't know for sure, and that is part of development. Part of development is review. As the owner and administrator of the repository, it is part of my job to  review all code that goes into this repository, including mine. Believe it or not, I generally end up writing a feature multiple times before I commit it, making consistent improvements each time. I will hold others to the sa

[2015-04-21 22:35] youngpvprock opened #616 "Crash server"
Sometimes server crash. I let server crash log here if it can help, but i think that i happend when throw an item into lava.

http://pastebin.com/xfPXBsKi

[2015-04-21 23:07] SungMatt commented on #616
I can't replicate it, are you not using SportBukkit?

[2015-04-21 23:09] MysticxPvP commented on #616
#511 Download this version of sportbukkit: https://repo.oc.tc/content/repositories/snapshots/tc/oc/sportbukkit/1.8-R0.1-SNAPSHOT/sportbukkit-1.8-R0.1-20150414.070927-20.jar

You are using an old version of Sportbukkit

[2015-04-21 23:19] #616 closed

[2015-04-22 00:38] TiTo-418 opened #617 "No height limit in fractal descent"
XML: https://maps.oc.tc/Other/Tournament/House%20of%20Cores/Fractal%20Descent%20TE/map.xml
Include XML: https://maps.oc.tc/Other/Tournament/House%20of%20Cores/house-of-cores.xml

[2015-04-22 01:05] SungMatt commented on #617
Adding `<maxbuildheight>(max height)</maxbuildheight>` in to your XML will fix it.

[2015-04-22 01:07] TiTo-418 commented on #617
This should be work http://gyazo.com/7797d6bfbd9239869dac7e4405415674

[2015-04-22 06:22] TiTo-418 commented on #83
Still happen, i ll make a video, but you can test it with a bucket

[2015-04-22 15:53] iEli2tyree011 commented on #617
@TiTo-418 Can you post the logs when running a match and placing some blocks above the height limit?

[2015-04-22 16:07] TiTo-418 commented on #617
sure :)

[2015-04-22 16:29] twizmwazin commented on #617
@TiTo-418 What is the message you get? Or is there no message?

[2015-04-22 16:34] TiTo-418 commented on #617
http://youtu.be/gljO7wRG1gY (uploading...)
There aren't messages

[2015-04-22 16:44] twizmwazin commented on #617
The issue is most likely related to included files.

[2015-04-22 18:08] iEli2tyree011 commented on #617
@TiTo-418 How are there no logs? There's always logs, regardless of an error.

[2015-04-22 18:25] TiTo-418 commented on #617
@iEli2tyree011 http://pastebin.com/YHEWuHBe

[2015-04-22 18:26] iEli2tyree011 commented on #617
@TiTo-418 Thanks

[2015-04-22 22:47] TeamDDG opened #618 "Error on MatchStartEvent"
[00:44:14 ERROR]: Could not pass event MatchStartEvent to Cardinal v1.0-SNAPSHOT-git-CardinalPGM-18a0ea8
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:297) ~[bukkit.jar:git-SportBukkit-dd90420]
        at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[bukkit.jar:git-SportBukkit-dd90420]
        at or

[2015-04-22 22:52] ryanw-ny commented on #618
@TeamDDG No need to add the [BUG] tag it will be added by the developers if this is a valid issue.

[2015-04-22 22:55] TeamDDG commented on #618
sorry

[2015-04-23 06:37] TiTo-418 commented on #429
I think it is not fixed, i ll confirm this

[2015-04-23 06:43] CaptainElliott commented on #618
Is the map valid? It looks like there are no loaded modules

[2015-04-23 09:49] iEli2tyree011 commented on #618
@CaptainElliott It would mean there's no valid spawns for a certain team

[2015-04-23 11:21] TeamDDG commented on #618
i have Loaded 27 maps
and 3 maps it crashes ( Golden Drought 1 and 2 ) and Ring Race

[2015-04-23 11:48] SungMatt commented on #618
@TeamDDG could you pastebin the XMLs for the crashes maps?

[2015-04-23 12:12] TeamDDG commented on #618
http://pastebin.com/YJPffrYu   ((RingRace))
http://pastebin.com/Mk0CP6mL  ((Golden Drought))
http://pastebin.com/7vcV2MNr ((Golden Drought 2))

[2015-04-23 15:23] ryanw-ny commented on #618
@TeamDDG You have multiple </spawns> tags

[2015-04-23 15:38] CaptainElliott commented on #618
@ryanw-ny that is not invalid, the extra one is applying a kit to both teams

[2015-04-23 16:51] TiTo-418 commented on #618
Try with these XMLs:
[Golden Drought](view-source:https://maps.oc.tc/CTW/Standard/Golden%20Drought/map.xml)
[Golden Drought II](view-source:https://maps.oc.tc/CTW/Standard/Golden%20Drought%20II/map.xml)
[Ring Race](view-source:https://maps.oc.tc/CTW/Standard/Ring%20Race/map.xml)

[2015-04-23 21:32] youngpvprock opened #620 "Mysql / sqlite?"
Can add a way to save the stats so the stats can be saved and don't be deleted after each game?

[2015-04-23 21:36] twizmwazin commented on #620
Stats should be saved with the flat-file database. Implementing support for multiple database types is planned, including MySQL and SQLite. I'm going to close this, as progress will be tracked with #219.

[2015-04-23 21:36] #620 closed

[2015-04-23 22:19] youngpvprock commented on #620
The flat-file don't save anything, when maps cycle or server stop andstart again they reset to 0. Anyway i'll wait for mysql.

[2015-04-23 22:58] RubeVi commented on #620
@youngpvprock flat file database only keep players settings, uuid and snowflakes ATM

[2015-04-24 21:55] youngpvprock opened #621 "Matchstart and Cycling errors"
The map "Dust" when start throw this -> http://pastebin.com/AN0j9f1W
Xml of the map ->http://pastebin.com/DLZZstCi

Two errors on cycle
http://pastebin.com/9Agbwbwh --not related to cardinal
http://pastebin.com/sRnUsMA9

And i have other map with an error like the first map "Dust"

[2015-04-24 22:00] MysticxPvP commented on #593
Isn´t fixed

<img src="http://i.gyazo.com/1837970899d9598591d9ae21a1b45345.png">

[2015-04-24 22:43] Vixo1 commented on #621
First line of the first pastebin, I think that you are using an old version of CardinalPGM
`[23:43:16] [Server thread/ERROR]: Could not pass event MatchStartEvent to Cardinal v1.0-SNAPSHOT-git-CardinalPGM-unknown
org.bukkit.event.EventException`

[2015-04-24 22:43] iEli2tyree011 commented on #621
Can you make the title of the issue relevant to what you're reporting?

[2015-04-24 22:52] youngpvprock commented on #621
Just edited the name to Cardinal, don't like PGM in the name. Nothing important i think.

Edited the title.

[2015-04-24 22:53] Vixo1 commented on #621
You need to use default CardinalPGM to report errors, not edited versions...

[2015-04-24 22:57] youngpvprock commented on #621
It's default, nothing edite, just a name. You can change it in plugin.yml dude

[2015-04-24 23:06] twizmwazin commented on #621
@youngpvprock That is called editing the plugin guy

[2015-04-24 23:08] twizmwazin commented on #593
@MysticxPvP That isn't the map that is in the public rotations. Get that version and use OCN's XML, not your own. Then reconfirm for us please.

[2015-04-25 00:38] TiTo-418 commented on #604
Still happen:
Armore
Place blocks

[2015-04-25 01:06] youngpvprock commented on #621
@twizmwazin i do that, i take the plugin from here -> http://ci.twizmwaz.in/job/Cardinal/ then just change the name of the jar, open the plugin with winrar to have acces to plugin.yml and edit name to Cardinal. That's all.. It's not a real edited version just change the name to remove PGM
I just want to report errors so you can fix for all

[2015-04-25 01:40] twizmwazin commented on #621
@youngpvprock Editing the name of a plugin can actually have unintended side effects, as the plugin is identified as such. The version you used to report this issue was not downloaded from my CI server, as the version is marked as unknown. While I appreciate you supporting us and reporting issues, be honest and don't lie.

[2015-04-25 02:03] MysticxPvP commented on #593
@twizmwazin

Still happen:

![2015-04-24_20 53 26](https://cloud.githubusercontent.com/assets/11577297/7331020/72680ecc-eac4-11e4-9451-0680b6e0c1f8.png)
![2015-04-24_20 54 11](https://cloud.githubusercontent.com/assets/11577297/7331021/74830ebe-eac4-11e4-8878-4ddfee095284.png)

XML (maps.oc.tc): http://pastebin.com/BaSnCTjN

[2015-04-25 04:48] iEli2tyree011 commented on #593
@MysticxPvP This isn't related to the issue, can you make a new issue?

[2015-04-25 16:34] youngpvprock commented on #621
Well, you want i be honest, i just add autostart when there are 2 players in game. It perform the command start so it no affects to anything. Like i can see in the issue #618 are similar errors caused by the same thing. "Caused by: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0"

[2015-04-25 19:01] MysticxPvP commented on #593
@iEli2tyree011 Ok, np

[2015-04-25 19:06] MysticxPvP opened #622 "Scoreboard issue"
- Battle Ecliptica II:

![2015-04-24_20 53 26](https://cloud.githubusercontent.com/assets/11577297/7334261/1e6f04a2-eb54-11e4-9d0e-3897d06127f0.png)

![2015-04-24_20 54 11](https://cloud.githubusercontent.com/assets/11577297/7334262/272694f2-eb54-11e4-9df7-d1708fd0ea71.png)

- Battle Ecliptica II TE:

![2015-04-24_22 11 51](https://cloud.githubusercontent.com/assets/11577297/7334266/3151b254-eb54-

[2015-04-25 20:50] MysticxPvP commented on #621
@youngpvprock Use an official version of Cardinal and try to replicate the error. (srry for my english)

[2015-04-25 21:44] youngpvprock commented on #621
Take the error with the official vesion, it's same. I used this: http://ci.twizmwaz.in/job/Cardinal/190/
Error: http://pastebin.com/RxrRfHQU
If for each error i have to use official to confirm that the error exist, i'll do. I don't have problem, but the changes that i made don't affects to this kind of errors.

[2015-04-26 01:02] Prodigy4532 opened #623 "Suggestion: Observers in Gamemode 3"
http://gyazo.com/c522af1a309f31195908dbd93758f073

[2015-04-26 01:04] Prodigy4532 commented on #622
You have Battle Ecliptica II:TE?

[2015-04-26 01:06] twizmwazin commented on #623
This isn't really an issue, and will be considered when there is a fluid way of doing this that doesn't remove functionality.

[2015-04-26 01:06] #623 closed

[2015-04-26 02:22] TiTo-418 commented on #623
Maybe should be a "toggeable" option
http://gyazo.com/a008993ff7015d686ca4d05d40833316

[2015-04-26 02:59] iEli2tyree011 commented on #623
@TiTo-418 Spectators don't have a visible inventory

[2015-04-26 03:08] MysticxPvP commented on #622
@Prodigy4532 this isn´t related with the issue...
but... yes, i have it.

[2015-04-26 03:10] TiTo-418 commented on #623
@iEli2tyree011 Good point. but:
If you are in gamemode1: lever
If you are in gamemode 3: a command like /sp o /changegm

[2015-04-26 03:23] iEli2tyree011 commented on #623
Maybe /toggle spectator. That solution seems inconsistent

[2015-04-26 07:24] dentmaged commented on #621
This issue seems to be related with the XML.

[2015-04-26 07:31] iEli2tyree011 commented on #621
This is definitely an issue with the XML. When you translated the XML to Spanish, you changed the team names. This resulted in the team IDs to default to `azul` and `rojo` instead of red and blue. However, the rest of the XML retains the reference towards the team IDs as `red` and `blue`. Either you need to specify the old IDs in the team element or you need to adjust all of the previous reference

[2015-04-26 07:31] #621 closed

[2015-04-26 17:17] TiTo-418 commented on #622
@Prodigy4532 [This isn't related with the issue](https://oc.tc/forums/topics/539dee7967d522ca020024a6?page=1#539df15067d522d3a90023ba)

[2015-04-26 17:59] iEli2tyree011 commented on #622
@Prodigy4532 @MysticxPvP @TiTo-418 Can we please bring this back on topic? Please use Skype if you need to talk about maps.

[2015-04-26 19:01] MysticxPvP commented on #622
@iEli2tyree011 Sorry

[2015-04-27 23:17] TiTo-418 opened #624 "Proximity doesn't work on wools"
<a href="http://imgur.com/28ex3rd"><img src="http://i.imgur.com/28ex3rd.png" title="source: imgur.com" /></a>
<a href="http://imgur.com/D6Aork2"><img src="http://i.imgur.com/D6Aork2.png" title="source: imgur.com" /></a>

[2015-04-28 00:59] Alfalik commented on #624
What's the actual problem?

[2015-04-28 01:16] TiTo-418 commented on #624
See the second image

[2015-04-28 01:21] Alfalik commented on #624
@TiTo-418 **You** need to kill a player to update the proximity of your team. Not being killed.

[2015-04-28 01:35] TiTo-418 commented on #624
I didn't know that

[2015-04-28 01:35] #624 closed

[2015-04-28 13:12] youngpvprock opened #625 "Falling block"
In the maps where you set that anyone can break, for example if a block of sand or gravel is near of a chest or a button, when you click them you update then near blocks and they fall when it shouldn't. (An example of map to test it is Dust)

[2015-04-28 16:20] SungMatt commented on #625
One note to add: the fix must still enable redstone to function, like how Viridun has a lever.

[2015-04-28 23:03] TiTo-418 opened #626 "When a timelimit is setted, the alert spam the chat"
<a href="http://imgur.com/M9n7C6g"><img src="http://i.imgur.com/M9n7C6g.png" title="source: imgur.com" /></a>

[2015-04-29 00:45] #626 closed

[2015-04-29 03:28] TiTo-418 opened #627 "/team size problems"
1. Run /team size give console error
<a href="http://imgur.com/Adk1Eti"><img src="http://i.imgur.com/Adk1Eti.png" title="source: imgur.com" /></a>
2. Usages not updated
<a href="http://imgur.com/J1Wkxq2"><img src="http://i.imgur.com/J1Wkxq2.png" title="source: imgur.com" /></a>

Logs: http://pastebin.com/FbxzW1Kk
Cardinal version: 5ef7d03

[2015-04-29 03:33] TiTo-418 opened #628 "Sometimes run /mode push excecute in incorrect order"
<a href="http://imgur.com/mItd4QK"><img src="http://i.imgur.com/mItd4QK.png" title="source: imgur.com" /></a>

Cardinal version: 5ef7d03c36e1728b22fcf986383e1e45ec895df5

[2015-04-29 03:35] SungMatt commented on #628
Only happens in some maps, not all, no idea why though.

[2015-04-29 10:29] iEli2tyree011 commented on #628
@SungMatt It's probably based on the order in the xml.

[2015-04-29 12:11] Prodigy4532 commented on #628
In Fractal descent and Revente TE

[2015-04-29 18:43] #628 closed

[2015-04-29 18:46] #627 closed

[2015-04-30 17:56] tomastodonte64 commented on #605
Por favor puedes pasarme el mapa de nextgen por mail?? theloquendero300@gmail.com
Gracias, por favor :)

[2015-04-30 18:21] MysticxPvP commented on #605
@tomastodonte64 This isn't related with the issue.

[2015-04-30 18:27] tomastodonte64 commented on #605
Perdón pero te quería preguntar si me podías pasar por aquí el mapa de
nextgen ya que de ninguna fuente lo pude obtener si me lo puedes pasar
estaría agradecido , perdón y gracias por tu tiempo
El 30/04/2015 15:21, "Mysticx" <notifications@github.com> escribió:

[2015-05-01 21:30] Thepawer opened #630 "Ranks (Like /mod) Question"
It is possible to add Ranks? Like "Streamer" or "Captain", things like that

[2015-05-01 22:00] Vixo1 commented on #630
It will be implemented in the future, currently twizmwazin is working on more important things in the plugin.

[2015-05-01 22:57] Vixo1 commented on #242
Happens again with last commit (60580c6)

[2015-05-02 00:24] TiTo-418 commented on #83
@iEli2tyree011

[2015-05-02 01:55] twizmwazin commented on #630
Eventually

[2015-05-02 01:55] #630 closed

[2015-05-02 03:29] iEli2tyree011 commented on #242
@Vixo1 Can you give a bit more detail on the issue that you're getting?

[2015-05-02 05:24] Vixo1 commented on #242
@iEli2tyree011 Here's a video: https://youtu.be/iaCAdBJDWHs. There's no console error

[2015-05-02 06:15] TiTo-418 commented on #242
@Vixo1 Try with this xml: https://maps.oc.tc/Other/Tournament/Guardians%20of%20the%20Wool/Deepwind%20Jungle/map.xml

[2015-05-02 16:40] felipufeliu commented on #242
@Vixo1 This is not a plugin error, it's a map error.
That map I think you downloaded it from my team server, which has it broken because is not the original version, it's just a remade of the original map, maybe that's why you don't appear in where you should

[2015-05-02 17:01] Vixo1 commented on #242
@felipufeliu I remade it for me following a minersmovies recording and the xml from the map

[2015-05-02 17:37] iEli2tyree011 commented on #242
@Vixo1 Can you make sure that the wool rooms are aligned properly? That will tell if the map is offset or not.

[2015-05-02 17:47] Vixo1 commented on #242
@iEli2tyree011 Was that, my error, sorry

[2015-05-02 20:14] Pablete1234 opened #631 "improve /kick and /ban command"
right now kick and ban commands have this syntax:
[code]
i think it should be
[code]
if you put no kick reason the message is just "kicked"
if you put no ban reason the message is just "Permanently banned"

[2015-05-02 20:26] TiTo-418 commented on #631
+1

[2015-05-03 06:09] #631 closed

[2015-05-03 06:11] iEli2tyree011 commented on #617
@TiTo-418 Where did you put the `house-of-cores.xml` file?

[2015-05-03 15:20] twizmwazin commented on #625
@youngpvprock @SungMatt Can someone give me a video of this? I can't even find a valid button to test this with.

[2015-05-03 15:56] TiTo-418 commented on #617
/maps

[2015-05-03 15:57] SungMatt commented on #625
@twizmwazin Sure. Chests also work in updating sand.

[2015-05-03 15:57] SungMatt commented on #625
Also, this is more of a block update issue, can I add that ice melts in some maps?

[2015-05-03 17:02] SungMatt commented on #625
@twizmwazin Here you go. https://www.youtube.com/watch?v=yjcN0Gg04LE

[2015-05-03 17:35] twizmwazin commented on #625
@SungMatt Thanks, I think it should be an easy fix. The music was a fine touch.

[2015-05-03 18:48] dentmaged commented on #625
Awww I was really getting into the flow of the music!

[2015-05-04 15:41] Alfalik opened #632 "Spawn points are wrongly defined"
+ Video proof: https://youtu.be/Dede7hOwDRY
+ Cardinal version 90d5684: http://gyazo.com/6c70c652c87c85c9fdd8b85025041416
+ XML: http://pastebin.com/SxtrFRBk

[2015-05-04 22:42] BeastPsycho opened #633 "Do you can add a "automatic match's start if there are a specific [configurable] amount of players after cycling to a new map and joining the game"?"
I could contribude with "some", i could donate for this project, its so great!

I would do you add a function for auto-starting every match after a cycle, if there are minimum 2 players on server :)

And how i prevent players without rank or "permission" can select their teams "free and overfilling only 1 team"?

[2015-05-04 22:56] twizmwazin commented on #633
Cardinal isn't for your network, it is for private scrimmage servers

[2015-05-04 22:56] #633 closed

[2015-05-05 00:13] TiTo-418 commented on #633
You can donate here: http://twizmwaz.in/donate/

[2015-05-05 01:21] StraferBoy commented on #632
+1 SpaceShips

[2015-05-06 02:22] TiTo-418 opened #634 "Spawners can be broken on Dynamo"
XML: https://maps.oc.tc/CTW/Standard/Dynamo/map.xml
Cardinal version: 90d56849440faff0eb6eb58059e7dd352369d8f8

[2015-05-06 03:17] Zenzoh commented on #127
05/05/15, this is not added.

[2015-05-06 03:25] TiTo-418 commented on #127
@Zenzoh Be patient...

[2015-05-06 21:47] Pablete1234 opened #635 "falling to the ground while riding a minecart/boat display incorrect dms"
if you are on a skybridge and you fall to the ground riding a boat, you get a "player fell from too high (0 blocks)" death message

[2015-05-07 01:57] tomastodonte64 opened #636 "pregunta"
como puedo cambiar los snowflakes para que diga raindros k diga 2,5x ,q este en celeste , etc gracias

[2015-05-07 02:01] RubeVi commented on #636
Esto no es una issue

[2015-05-07 02:03] RubeVi commented on #265
06/05/2015, 1.0 are not realesed yet

[2015-05-07 02:08] iEli2tyree011 commented on #265
That's why it's not closed. Please stop informing us that a feature is incomplete, we know it is incomplete and we work on them accordingly.

[2015-05-07 02:09] iEli2tyree011 commented on #636
You can make your own fork and rename them to raindrops if you'd like, but in Cardinal, they are going to be titled "snowflakes".

[2015-05-07 02:09] #636 closed

[2015-05-07 02:48] twizmwazin commented on #636
@tomastodonte64 @RubeVi Please keep the issue tracker in English, or provide clear English translations along with your native language. Issue titles should always be in English. None of the developers can speak fluent Spanish.

[2015-05-07 02:49] SelfieOCN opened #637 "Allow players to force the start (-f)"
Sometimes it says there is not enought players but please do it forceable.

[2015-05-07 03:14] SungMatt commented on #637
This is only in Blitz right?

[2015-05-07 05:01] dentmaged commented on #636
@tomastodonte64 Also make sure you change the snowdrop/raindrop colour from white to blue!

[2015-05-07 09:36] iEli2tyree011 commented on #637
@SungMatt Yes

[2015-05-07 09:58] #637 closed

[2015-05-07 16:23] tomastodonte64 opened #638 "Implement rank system"
Hello , I wanted to say if they could implement the Ref range besides the mod, because I am organizing a tournament and I would like to have the reef range , and if already implemented , as placed?

Spanish:
Hola, queria decir si podrian implementar el rango Reef ademas del mod, porque voy a organizar un torneo y me gustaria que tenga el rango reef, y si ya esta implementado, como se coloca?

[2015-05-07 16:28] SungMatt commented on #638
Can't you just mod the "Referees"?

[2015-05-07 19:15] SelfieOCN commented on #638
Solo dales mod a los árbitros

[2015-05-07 19:16] TiTo-418 commented on #638
@SelfieOCN "Just give /mod to refs"

[2015-05-07 19:40] RubeVi commented on #638
Esto no es una seccion de referencias

[2015-05-07 20:47] TiTo-418 commented on #638
@RubeVi "This is not a reference section"

[2015-05-08 22:36] #625 closed

[2015-05-08 22:37] twizmwazin commented on #618
Closing as this doesn't seem to be a valid issue

[2015-05-08 22:37] #618 closed

[2015-05-08 22:39] twizmwazin commented on #617
The issue seems to be fixed, it behaves as expected.

[2015-05-08 22:39] #617 closed

[2015-05-08 22:55] TiTo-418 commented on #617
What? You can built to 256...

[2015-05-09 00:08] twizmwazin commented on #617
My copy works perfectly fine, check your XML

[2015-05-09 00:14] TiTo-418 commented on #617
You can place tnt in height 61?

[2015-05-09 00:18] RubeVi opened #640 "Why i get this error?"
<a><img src="http://i.gyazo.com/3344cedb32e3a95956c6e76f611a885a.png"></img></a>

[2015-05-09 00:26] iEli2tyree011 commented on #640
What is the message when you mouse over it?

[2015-05-09 00:33] RubeVi commented on #640
<a><img src="http://i.gyazo.com/725c8b097cf71132c10c3f1112025e49.png></img></a>

[2015-05-09 00:51] Zenzoh commented on #640
1. You are using a map with blocks 36

2. You are using a modified version of Cardinal

[2015-05-09 00:53] RubeVi commented on #640
@Zenzoh ninguna de las 2 xd

[2015-05-09 00:55] Zenzoh commented on #640
@RubeVi You are using the latest version of Cardinal? Download in http://ci.twizmwaz.in/job/Cardinal/

[2015-05-09 01:19] ryanw-ny commented on #640
@Zenzoh I don't think you get it, it appears he's trying to modify Cardinal for development purposes. He's getting a error with the getBlocks() method, which is why he created the issue. If this is also present in the regular source code and isn't a client error, then this is a valid issue.

Telling him he's using a modified version of cardinal and a map with block 36 then telling him the download

[2015-05-09 01:39] iEli2tyree011 commented on #640
@RubeVi What IDE are you using?

[2015-05-09 01:41] twizmwazin commented on #640
This is clearly a dependency issue, are you using sportbukkit, and is it being imported via maven? Despite the IDE error, does it cleanly compile?

Closing as this isn't technically a Cardinal issue, feel free to continue discussion

[2015-05-09 01:41] #640 closed

[2015-05-09 02:02] RubeVi commented on #640
i have all the dependencys of the POM.xml

[2015-05-09 02:36] #622 closed

[2015-05-09 02:49] #635 closed

[2015-05-09 03:02] #632 closed

[2015-05-09 06:33] dentmaged commented on #640
@Zenzoh Whether or not the map has block 36 in it, it wouldn't cause that error.

[2015-05-09 12:56] twizmwazin commented on #640
@RubeVi Does it cleanly compile with maven?

[2015-05-09 19:38] ElFlambMC opened #642 "¿Why i get that error?"
I get this error http://pastebin.com/NA69b2bd
The latest version.

[2015-05-09 20:11] ElFlambMC commented on #642
And this stop my server : [22:10:40] [Server thread/ERROR]: Exception stopping the server
net.minecraft.server.v1_8_R1.ExceptionWorldConflict: Failed to check session lock, aborting
	at net.minecraft.server.v1_8_R1.WorldNBTStorage.checkSession(WorldNBTStorage.java:79) ~[minecraft_server.jar:git-SportBukkit-eb28670]
	at net.minecraft.server.v1_8_R1.World.checkSession(World.java:2630) ~[minecraft_se

[2015-05-09 21:01] twizmwazin commented on #642
You have a broken map file, and "latest version" is so useless.

[2015-05-09 21:01] #642 closed

[2015-05-10 03:47] Vixo1 opened #643 "/me can be used when global (or a specific player) is muted."

[2015-05-10 14:37] RubeVi commented on #640
yes i have it
a pic http://gyazo.com/79fd66e1a64f930f3ddb27b45bf8551e

[2015-05-10 15:04] CaptainElliott commented on #640
@RubeVi That does not answer twiz's question, can you compile the plugin cleanly?

[2015-05-10 15:20] twizmwazin commented on #640
@RubeVi It looks like you aren't using sportbukkit off maven. Are you trying to use a custom version?

[2015-05-10 16:54] dentmaged commented on #640
@twizmwazin Eclipse can be glitchy an often saving a file during compiling with maven can cause a lot of ghost errors.

[2015-05-10 16:59] RubeVi commented on #640
@twizmwazin yes, i can compile cleanly with maven

[2015-05-10 17:00] RubeVi commented on #640
@twizmwazin is the SportBukkit off maven but i only change the name

[2015-05-10 17:07] dentmaged commented on #640
@RubeVi In the pom.xml?

[2015-05-10 17:11] RubeVi commented on #640
yes @dentmaged

[2015-05-10 17:11] dentmaged commented on #640
@RubeVi Did you update all references in Cardinal's pom.xml?

[2015-05-10 17:12] RubeVi commented on #640
i'm going to do that

[2015-05-10 17:15] RubeVi commented on #640
OHH, FIXED! THANKS 4 SUPPORT GUYS!

[2015-05-11 09:17] SungMatt opened #645 "TNT does not increment scores"
[Video](https://www.youtube.com/v/wdNoRH3IUSM)

In *Dust* TNT fails to increment scores. This is also evident in SuperPRISM.

![screen shot 2015-05-11 at 5 09 30 pm](https://cloud.githubusercontent.com/assets/6725727/7561674/903d59b8-f800-11e4-977a-1731dc069c03.png)

*Tested in Cardinal `0a94332`*

[2015-05-11 10:03] #645 closed

[2015-05-11 22:46] RubeVi opened #647 "Help wanted, ${plugin.name}"
I don't changed any plugin.yml or stuff like that

<a href="http://gyazo.com/73c3850311e365e181124964acaabb0a"><img src="http://i.gyazo.com/73c3850311e365e181124964acaabb0a.png" /></a>

[2015-05-11 23:44] iEli2tyree011 commented on #647
Can you pastebin your `pom.xml`?

[2015-05-11 23:44] iEli2tyree011 commented on #647
Closing as this is a personal issue.

[2015-05-11 23:44] #647 closed

[2015-05-11 23:54] RubeVi commented on #647
is the same POM.xml of this plugin

[2015-05-12 00:34] iEli2tyree011 commented on #647
@RubeVi That doesn't help me. Obviously there's something wrong either in your `plugin.yml`, `pom.xml`, or just importing Maven dependencies. I've seen too many times people claiming they haven't changed anything but ended up just breaking it unknowingly.

[2015-05-12 00:53] RubeVi commented on #647
With netbeans

[2015-05-12 00:53] RubeVi commented on #647
And i have all the dependencies of the POM.xml

[2015-05-12 01:28] twizmwazin commented on #647
You need to build with maven. Don't export with NetBeans.

[2015-05-12 02:05] RubeVi commented on #647
I'll do

[2015-05-17 22:51] TiTo-418 opened #650 "Admin star doesn't update in the tab"

[2015-05-18 00:54] SungMatt commented on #650
You have to relog for the changes to take effect.

[2015-05-18 01:07] iEli2tyree011 commented on #650
@SungMatt The intended goal though is that you shouldn't have to relog.

[2015-05-18 07:38] iPolish opened #652 "Crystal not change to obsidian"
In the map Blocks II if you broke a crystal appears Obsidian (ocn)
And in Cardinal the core leaks when crystal brokes and dont appear obsidian

[2015-05-18 12:09] CaptainElliott commented on #652
I don't know what you mean crystal?

[2015-05-18 12:51] SungMatt commented on #652
@CaptainElliot Blocks II uses a block replacement mechanic, where in there is a core that looks like a giant potion bottle. When a player breaks the white stained glass (which is the potion bottle, effectively "breaking" the core), PGM replaces the white stained glass with obsidian, so it would be equally hard to destroy as a regular core.

[2015-05-18 14:07] SungMatt commented on #652
I believe it is related to the `show` tag in the `<cores>` element not being implemented.

[2015-05-18 14:15] TiTo-418 opened #653 "In CTW the proximity appears like "closest player""
https://github.com/twizmwazin/CardinalPGM/pull/651

[2015-05-18 14:16] Alfalik commented on #653
I already made a PR about this, but no responses. #629

[2015-05-18 15:26] CaptainElliott commented on #650
The `RankChangeEvent` must not be firing

[2015-05-18 16:50] dentmaged commented on #650
@CaptainElliott From what I have seen there isn't a ```PlayerOpEvent```.

[2015-05-18 18:09] twizmwazin commented on #650
@dentmaged We can always implement it...

[2015-05-18 18:20] twizmwazin commented on #652
Relevant XML so I don't have to go back to the page 500 times

[code]

[2015-05-18 20:21] dentmaged commented on #650
@twizmwazin How will you trigger it? You could use CommandPreprocessEvent. But what about player.setOp(true)?

[2015-05-18 22:46] TiTo-418 commented on #653
In your PR appear like "closest player"
<a href="http://imgur.com/w0QTdza"><img src="http://i.imgur.com/w0QTdza.png" title="source: imgur.com" /></a>

And, why you close it?

[2015-05-18 22:49] Alfalik commented on #653
@TiTo-418 That's for cores and monuments, the wools message is here https://github.com/twizmwazin/CardinalPGM/pull/629/files#diff-e04d4c15d64a95603ba962ad735dd3beR48. And I closed it because nobody told me if it was okay, I can't read minds although

[2015-05-18 23:02] twizmwazin commented on #653
@Alfalik In the future, you don't need to close pull requests. Feel free to ping me or Elly on a pull request if we haven't commented after a few days.

[2015-05-18 23:14] Alfalik commented on #653
@twizmwazin Should I create it again?

[2015-05-18 23:17] TiTo-418 commented on #653
@Alfalik you can reopen your PR

[2015-05-18 23:29] Alfalik commented on #653
@TiTo-418 I deleted my fork, that's why I can't.

[2015-05-18 23:34] TiTo-418 commented on #653
I think you can reopen it although you delete the fork

[2015-05-19 15:25] ryanw-se commented on #650
@dentmaged There is a method provided by the Bukkit API called ```player.isOp()``` which returns a boolean value depending on if the user is op or not. No need to use CommandPreprocessEvent.

[2015-05-19 17:56] dentmaged commented on #650
@ryanw-se How will you tell if the player was just opped? You would need a for loop which is very efficient.

[2015-05-19 18:12] ryanw-se commented on #650
@dentmaged Just use a scheduled task and filter through any of the players online for rank updates.

[2015-05-19 18:14] dentmaged commented on #650
@ryanw-se That can cause a lot of lag. Think about a large explosion and all the timed modules that are being ran combined with the for loop.

[2015-05-19 19:19] ryanw-se commented on #650
@dentmaged Your just checking to see if anyone is OP and if they are, update the tab list name. It can be ran every minute or so and I don't see how that will cause a "lot of lag".

[2015-05-19 20:57] CaptainElliott commented on #650
@ryanw-se Although that would be the best solution there is still the op's manually entered into the ops.json. However we could just check that on the server reload.

Actually they should automatically update when the server it reloaded and the ops take affect, nvm.

[2015-05-19 21:19] twizmwazin commented on #650
@dentmaged If the task is run not on the main thread (async), then it won't create any server lag unless the server is being run on a single-threaded CPU.

[2015-05-19 22:39] TiTo-418 opened #655 "Admin star isn't displayed"
<a href="http://imgur.com/ADKZl9r"><img src="http://i.imgur.com/ADKZl9r.png" title="source: imgur.com" /></a>
<a href="http://imgur.com/tPdE3IN"><img src="http://i.imgur.com/tPdE3IN.png" title="source: imgur.com" /></a>

[2015-05-19 22:59] TiTo-418 opened #656 "Can't alias teams"
<a href="http://imgur.com/njlmaZy"><img src="http://i.imgur.com/njlmaZy.png" title="source: imgur.com" /></a>

[2015-05-19 23:12] iEli2tyree011 commented on #655
/cardinal -v?

[2015-05-19 23:23] SungMatt commented on #655
Confirmed, *Cardinal version 6e156dc*

[2015-05-19 23:24] #656 closed

[2015-05-19 23:36] iEli2tyree011 commented on #655
@SungMatt Thank you.

What is the join message, which should be visible from the console?

[2015-05-19 23:54] TiTo-418 commented on #655
<a href="http://imgur.com/5buBL9H"><img src="http://i.imgur.com/5buBL9H.png" title="source: imgur.com" /></a>

[2015-05-20 00:43] #655 closed

[2015-05-20 13:31] SungMatt opened #657 "Sometimes, Blitz maps do not properly distribute lives."
In multi-life Blitz:RAGE maps, a person can get more than the specified lives in the XML or less than that.

Replication procedure:
 1. In multi-life Blitz maps, die once.
2. After dying, recycle the map using `recycle 0 -f`
3. Note that the lives that you have is now decreased by one.

To get more than one life in a one life map,
1. Play a >1 life game (Let's say it's 2 lives)
2. Don't die, and e

[2015-05-20 14:58] SungMatt commented on #657
Update: I have found the full steps for replication.
1. In multi-life Blitz maps, die once.
2. After dying, recycle the map using `recycle 0 -f`
3. Note that the lives that you have is now decreased by one.

[2015-05-20 23:59] SungMatt commented on #657
Here's a [Video](https://www.youtube.com/watch?v=fCFcStc89xg).

[2015-05-21 04:27] TiTo-418 commented on #559
@iEli2tyree011 This isn't fixed with the void regions

[2015-05-21 07:24] CaptainElliott commented on #657
I'll look into it after my exams

[2015-05-21 08:58] CaptainElliott commented on #657
Could be an issue with the module load time, the module is not being updated

[2015-05-21 17:35] tomastodonte64 opened #658 "approximate date of launching stage of the finished plugin?"
Says it would be completed by the end of HoC , I am that a lot of work so I ask all kindness as time would fail , because if you love this plugin 'm honest , it's the best plugin to scrimagge away

--TT64--

Español
Dice que estaria terminado al final de HoC , se que es mucho trabajo por eso les pregunto con toda amabilidad cuanto tiempo faltaria, porque si les soy sincero amo este plugin, es el m

[2015-05-21 17:38] CaptainElliott commented on #658
We do not have a 'finished version' of the plugin. We are maintaining a rolling release type of development, meaning we are pushing updates all the times with bug fixes and new implementations. This means that you should always check fro new versions.

We will not release a 'finished' version of the plugin as we will never be finished developing it, OCN is developing new features all the times - a

[2015-05-21 17:39] #658 closed

[2015-05-21 19:04] Alfalik opened #659 "Instant ignite does not check if the block is allowed in a region."
+ Video proof: https://youtu.be/EdKI_ooZVI8
+ Log (no errors although): http://pastebin.com/FXrKccD7
+ Cardinal version 7a15588: http://gyazo.com/073d034a14ba73f47b63af0fb3be9ffa
+ XML:
[code]

[2015-05-21 19:14] CaptainElliott commented on #659
I'll fix this when I get some more time after exams.
Unless another dev does not get around to it

[2015-05-22 06:10] TiTo-418 commented on #610
<a href="http://imgur.com/uXCoJZQ"><img src="http://i.imgur.com/uXCoJZQ.png" title="source: imgur.com" /></a>

[2015-05-22 07:00] TiTo-418 opened #660 "Liquids regions problems"
Proof: http://youtu.be/Q-F0bEGkprA

<a href="http://imgur.com/yEDKx2F"><img src="http://i.imgur.com/yEDKx2F.png" title="source: imgur.com" /></a>