[2015-01-17 21:42] ItzWid13 opened #36 "Objetives"
When you will put the objetives on the right side of the screen?

[2015-01-17 21:44] iEli2tyree011 commented on #36
working on it

[2015-01-17 21:44] #36 closed

[2015-01-17 21:45] ItzWid13 commented on #36
Thanks!

[2015-01-17 21:52] ItzWid13 opened #37 "BUG"
Why when i put the new plugin in my server with the maps and the rotation.txt. I spawn in a survival.In the other version of the plugin i spawn correctly.I use SportBukkit 1.7.10-RO1

[2015-01-17 22:04] iEli2tyree011 commented on #37
Can you give us a bit more information on how you set up the server when it doesn't work?

[2015-01-17 22:07] ItzWid13 commented on #37
I Have A Hosted server in HostHorde, I put the SportBukkit 1.7.10-RO1, i create a Directory called maps, i put the maps there. In plugins i put your plugin (Cardinal). I Start the server and i spawn in a survival but in creative mode with the Compass,Book,Team Picker.When i Cycle mi server lag and crashes

[2015-01-17 22:08] twizmwazin commented on #37
Please provide a server log

[2015-01-17 22:09] ItzWid13 commented on #37
Ok

[2015-01-17 22:12] ItzWid13 commented on #37
Now it works, but when i choose a team with the team picker it doesnt appear in the chat that i enter that team.

[2015-01-17 22:20] iEli2tyree011 commented on #37
We know, that is intended for the time being.

[2015-01-17 22:21] ItzWid13 commented on #37
Ok :+1:

[2015-01-17 22:22] #37 closed

[2015-01-17 22:26] ItzWid13 opened #39 "BUG"
Why when i do a TNT CANNON it doesnt throw the TNT?

[2015-01-17 23:00] twizmwazin commented on #39
I don't think this is an issue with Cardinal, use [this](https://oc.tc/forums/topics/5242f3a3af7fb0343400690e) to refine your skills.

[2015-01-17 23:00] #39 closed

[2015-01-18 07:09] ItzWid13 opened #43 "BUG"
Why i can friendly fire?

[2015-01-18 07:15] iEli2tyree011 commented on #43
I'll look into it...it may be fixed with some recent changes. I'll get back to this.

[2015-01-18 07:16] iEli2tyree011 commented on #43
This has been fixed with the most recent scoreboard fixes, just recompile the plugin for the fix.

[2015-01-18 07:17] #43 closed

[2015-01-18 07:17] ItzWid13 commented on #43
Ok you are gods

[2015-01-18 08:09] CaptainElliott opened #45 "NPE when loading plugin on server"
[code]

Will personally look into it soon

[2015-01-18 08:20] ItzWid13 commented on #45
To Run This plugin you need  the last version of SportBukkit :dancer:
that can be downloaded here https://repo.oc.tc/content/repositories/snapshots/tc/oc/sportbukkit/1.7.10-R0.1-SNAPSHOT/

[2015-01-18 08:28] CaptainElliott commented on #45
Same error

[2015-01-18 08:29] ItzWid13 commented on #45
You need a rotation.txt file with the rotation that you wish

[2015-01-18 08:32] CaptainElliott commented on #45
Yeah, but the plugin should create that file if it does not already exist

[2015-01-18 08:33] ItzWid13 commented on #45
You need to create it xd

[2015-01-18 08:38] CaptainElliott commented on #45
I don't see a reason why the user should create it. They are going to have no clue what the error means

[2015-01-18 08:40] ItzWid13 commented on #45
i create it and the plugin works perfectly

[2015-01-18 08:42] CaptainElliott commented on #45
Yes, but a normal person would no know to create it

[2015-01-18 08:44] ItzWid13 commented on #45
ok, now it works?

[2015-01-18 13:06] elespawol opened #48 "[BUG]"
I tested to join and start a match, (map: Deepwind Jungle)
And no tp and no kit

[2015-01-18 13:38] CaptainElliott commented on #48
Was there any errors in the server log?

[2015-01-18 14:09] elespawol commented on #48
Yes a lot, using the lastest sportbukkit version.
El dia 18/01/2015 14.38, "Elliott" <notifications@github.com> va escriure:

[2015-01-18 14:18] elespawol commented on #48
http://pastebin.com/ujQ6qCDq logs

[2015-01-18 14:42] twizmwazin commented on #48
I will look into the issue, could you try disabling your other plugins to confirm this is an issue with CardinalPGM?

[2015-01-18 14:45] elespawol commented on #48
http://pastebin.com/inRbb9Km

[2015-01-18 14:58] #45 closed

[2015-01-18 15:06] CaptainElliott commented on #48
I can also confirm this is an issue
kits are not given

[2015-01-18 15:07] twizmwazin commented on #48
I am able to reproduce the kit issue, however not the other exceptions you got. Make sure your XML is the latest, and then I may need a copy to try an fix it. The kit issue affects multiple maps, however.

[2015-01-18 15:12] elespawol commented on #48
The xml is correct because i tested that in other maps :s and happens the
same
El dia 18/01/2015 16.07, "Kevin Phoenix" <notifications@github.com> va
escriure:

[2015-01-18 15:16] twizmwazin commented on #48
I'm looking into it

[2015-01-18 15:58] #48 closed

[2015-01-18 16:02] elespawol commented on #48
Its solved no?
El dia 18/01/2015 16.58, "Kevin Phoenix" <notifications@github.com> va
escriure:

[2015-01-18 16:05] twizmwazin commented on #48
It should be fixed, reopen the issue if it isn't

[2015-01-18 18:09] elespawol commented on #48
http://pastebin.com/LdsbE3xt i tested to put multiverse core plugins,
because, there was no tp,
No kit, no tp, random respawn

2015-01-18 17:05 GMT+01:00 Kevin Phoenix <notifications@github.com>:

[2015-01-18 18:15] elespawol commented on #48
nothing, i tested other maps, and now works fine

[2015-01-18 18:17] elespawol commented on #48
it depends of the map...
dynamo..,, deepwind jungle doesnt works, but like: warlock and other yes... i think the problem is that the plugin actually ,doesnt have all the things of XML

[2015-01-18 18:19] iEli2tyree011 commented on #36
Scoreboards have been added for all maps! :smile:

[2015-01-18 18:45] ElFlambMC opened #54 "An issue"
Plugin org.apache.maven.plugins:maven-clean-plugin:2.4.1 or one of its dependencies could not be resolved: Failed to read artifact descriptor for org.apache.maven.plugins:maven-clean-plugin:jar:2.4.1: Could not transfer artifact org.apache.maven.plugins:maven-clean-plugin:pom:2.4.1 from/to central (http://repo.maven.apache.org/maven2): Connection to http://repo.maven.apache.org refused: Connection

[2015-01-18 18:47] twizmwazin commented on #48
Make sure you have the official XML from https://maps.oc.tc/
Also, I do not suggest using any plugins other than Worldedit 6.x with CardinalPGM.
http://dev.bukkit.org/bukkit-plugins/worldedit/

[2015-01-18 18:47] CaptainElliott commented on #54
Is this an issue when your compiling the plugin to use or getting the dependencies to develop it?

[2015-01-18 18:49] ElFlambMC commented on #54
compiling

[2015-01-18 18:49] twizmwazin commented on #54
@CaptainElliott The message is copied from the maven build log. It seems he cannot connect to the maven central repository, rather than an issue with the plugin itself.

[2015-01-18 18:51] ElFlambMC commented on #54
@twizmwazin how can i solve this?

[2015-01-18 19:08] rywarsaw commented on #54
@ElFlambMC Your getting this error because you can't connection the repository. There are several reasons for this, most likely a firewall or anti-virus plugin which is blocking it. Try disabling these and see if that corrects your issue. Don't forget to re-enable it afterwards.

[2015-01-18 19:38] elespawol commented on #48
but that maps (deewind jungle, dynamos etc) works fine actually with sporkPGM

[2015-01-18 19:40] elespawol commented on #54
if not, test to compile on anther computer....

[2015-01-18 20:07] twizmwazin commented on #48
Recompile the latest version of the plugin, and tell me exactly what doesn't work and exactly what maps you are having issues on. If there are exceptions, please upload logs.

[2015-01-18 20:19] elespawol commented on #48
1* i /setnext deep , /cycle 1. Appears in the same map as the other match,
but changes the obs kit and the scoreboards
2* /join red , /start 1. The match seems start. No tp, no kit, no gm 0. But
i can broke all, when i pick wool, the message appears. I can ENTER on my
own wools (BUG). The max hight works correctly. The placement of the wool,
the same. But if i die, it respawns on the map, but rand

[2015-01-18 20:20] elespawol commented on #48
I used the plugin multiversecore to go , to the. World match
El dia 18/01/2015 21.19, "Elespawol GMail" <elespawol@gmail.com> va
escriure:

[2015-01-18 20:22] twizmwazin commented on #48
Uninstall multiverse and see if that corrects the issue. CardinalPGM is not designed to work with multiverse.

[2015-01-18 20:24] elespawol commented on #48
I only used to tp, then i disabled to test the other things
El dia 18/01/2015 21.22, "Kevin Phoenix" <notifications@github.com> va
escriure:

[2015-01-18 20:33] twizmwazin commented on #48
Still, please remove the plugin altogether.

[2015-01-18 20:46] elespawol commented on #48
i doit.... and happens the same

[2015-01-18 20:46] elespawol commented on #48
:(

[2015-01-18 21:52] elespawol opened #57 "BUG - /maps"
As u can see, if i type /maps 3, it appears a error.... IS VERY STRANGE!
http://gyazo.com/0ecea84d37afac36e7a5bbfd9b963d6e

[2015-01-18 21:53] iEli2tyree011 commented on #57
How many maps do you have loaded?

[2015-01-18 21:55] elespawol commented on #57
20 aprox
El dia 18/01/2015 22.53, "iEli2tyree011" <notifications@github.com> va
escriure:

[2015-01-18 21:56] iEli2tyree011 commented on #57
Okay, I'll check the code to see what's wrong.

[2015-01-18 22:09] elespawol commented on #57
Ok!
El dia 18/01/2015 22.56, "iEli2tyree011" <notifications@github.com> va
escriure:

[2015-01-18 22:12] twizmwazin commented on #57
@elespawol Can you upload you log? http://pastebin.com/

[2015-01-18 22:18] ItzWid13 opened #58 "Ely or Twizmwas Pls"
Could you pass me your SportBukkit?
Because when i do a cannon it doesnt works pls

[2015-01-18 22:24] elespawol commented on #57
Yes, but today no, tomorrow 😬
El dia 18/01/2015 23.12, "Kevin Phoenix" <notifications@github.com> va
escriure:

[2015-01-18 22:26] elespawol commented on #58
https://repo.oc.tc/content/repositories/snapshots/tc/oc/sportbukkit/1.7.10-R0.1-SNAPSHOT/ there are all the lastest versions

[2015-01-18 22:30] #58 closed

[2015-01-19 01:03] #57 closed

[2015-01-19 03:45] #54 closed

[2015-01-19 04:19] Alfalik opened #65 "Touchs"
http://gyazo.com/aa5450526e647bf1b9a9456abb6e6ba2

In DTC/M the touchs are turned/inverted.

*A blue player can see the red team touchs but not the own team touchs.

[2015-01-19 04:20] iEli2tyree011 commented on #65
I'll look into this, thanks.

[2015-01-19 04:22] iEli2tyree011 commented on #65
This has already been fixed as of #64. Please recompile the plugin and if the problem is still there, please reopen.

[2015-01-19 04:22] #65 closed

[2015-01-19 04:29] Alfalik commented on #65
Fixed

[2015-01-19 04:33] Alfalik opened #66 "Objetives"
Match only ends when both objetive teams are completed.

*In RFV you need to capture 4 wools to end the match.

[2015-01-19 05:48] twizmwazin commented on #66
Thanks for catching this

[2015-01-19 05:54] #66 closed

[2015-01-19 06:01] vYuri opened #68 "Touchs"
A player enters the team red, and then touched in the core or monument in the chat goes the color of the opposing team.

Gyazo: http://gyazo.com/3dc91525f7e61ae9fa6b18e0d9af97a0 (Chat)

[2015-01-19 06:06] iEli2tyree011 commented on #68
This has already been fixed in #52, please recompile the plugin and reopen this issue if the problem still exists.

[2015-01-19 06:06] #68 closed

[2015-01-19 06:54] ItzWid13 opened #69 "Question."
Could you add compatibility  with the Sportbukkit 1.7.9RO-3 ?

[2015-01-19 07:01] ElFlambMC commented on #69
Yra

[2015-01-19 07:01] twizmwazin commented on #69
I don't see a reason to, why are you interested in this?

[2015-01-19 07:02] ElFlambMC commented on #69
Yea

[2015-01-19 07:02] iEli2tyree011 commented on #69
I don't think we plan to add backwards compatibility, but Twiz may have different plans.

[2015-01-19 07:06] iEli2tyree011 commented on #69
Why do you want it compatible with older versions?

[2015-01-19 07:13] ItzWid13 commented on #69
Because in the Sportbukkit 1.7.10 that I have  the tnt  cannons doesn't work, I have the  ewes version

[2015-01-19 07:17] ItzWid13 commented on #69
Newest version*

[2015-01-19 07:18] twizmwazin commented on #69
Do you have any other plugins besides Cardinal installed?

[2015-01-19 07:18] iEli2tyree011 commented on #69
Can you list the contents of your /plugins folder please?

[2015-01-19 07:20] ItzWid13 commented on #69
Kk

[2015-01-19 07:21] ItzWid13 commented on #69
WorldEdit,Cardinal

[2015-01-19 07:21] iEli2tyree011 commented on #69
Can you list the contents of your /plugins folder?

[2015-01-19 07:22] ItzWid13 commented on #69
Or, could  you pass  e the sport bukkit that you have?

[2015-01-19 07:24] twizmwazin commented on #69
[here](https://repo.oc.tc/content/repositories/snapshots/tc/oc/sportbukkit/1.7.10-R0.1-SNAPSHOT/sportbukkit-1.7.10-R0.1-20141223.195415-38.jar)

[2015-01-19 07:28] ItzWid13 commented on #69
![screenshot_2015-01-19-04-26-39](https://cloud.githubusercontent.com/assets/10577625/5797160/8fa00dcc-9f93-11e4-818b-44a7305e748b.png)
![screenshot_2015-01-19-04-25-28](https://cloud.githubusercontent.com/assets/10577625/5797163/95490b7a-9f93-11e4-8d00-f2399d0c1eef.png)

[2015-01-19 07:28] ItzWid13 commented on #69
There are the plugins

[2015-01-19 07:30] twizmwazin commented on #69
For testing purposes, if you could disable plugins besides Cardinal and Worldedit, that would be appreciated.

[2015-01-19 07:30] vYuri commented on #69
SportBukkit makes Tracker deaths works better (?

[2015-01-19 07:31] ItzWid13 commented on #69
In your server the tnt cannons works?

[2015-01-19 07:32] twizmwazin commented on #69
I believe so, I'll confirm in the morning

[2015-01-19 07:33] iEli2tyree011 commented on #69
@twizmwazin Yes, they do

[2015-01-19 07:33] ItzWid13 commented on #69
Could you confirmate me now? Pls

[2015-01-19 07:34] ItzWid13 commented on #69
What plugins do you have?

[2015-01-19 07:34] iEli2tyree011 commented on #69
We **only** have WorldEdit and Cardinal. For testing purposes, I would disable the other plugins.

[2015-01-19 07:36] ItzWid13 commented on #69
Ok, and you have the latest version  of the sportbukkit?

[2015-01-19 07:37] iEli2tyree011 commented on #69
I use a version very similar to what @twizmwazin just sent you. I'm assuming what he sent you is what he uses, or works fine with Cardinal.

[2015-01-19 07:38] ItzWid13 commented on #69
Could you pass me the version that you use?

[2015-01-19 07:38] twizmwazin commented on #69
The version I linked is the version that I develop and test with, so full compatibility is ensured.

[2015-01-19 07:38] ItzWid13 commented on #69
Because in the sport 1.7.9 the cannons works and in the latest version doesn't works

[2015-01-19 07:39] twizmwazin commented on #69
I have to go to bed, can anyone else confirm this issue?

[2015-01-19 07:39] iEli2tyree011 commented on #69
Did you disable **every** plugin besides Cardinal and WorldEdit?

[2015-01-19 07:40] ItzWid13 commented on #69
@twizmwazin the version that you pass me, you develop it?

[2015-01-19 07:40] twizmwazin commented on #69
I don't develop Sportbukkit, OCN does

[2015-01-19 07:40] ItzWid13 commented on #69
Ok

[2015-01-19 07:41] ItzWid13 commented on #69
@iEli2tyree011 how can I disable the other plugins?

[2015-01-19 07:42] iEli2tyree011 commented on #69
However, he uses it to develop. You should use that .jar for the server and make sure Cardinal and possibly WorldEdit are the only plugins enabled.

[2015-01-19 07:42] ItzWid13 commented on #69
Ok

[2015-01-19 07:43] ItzWid13 commented on #69
I will see it in the morning, don't close this issue

[2015-01-19 07:43] iEli2tyree011 commented on #69
You can rename their extensions from .jar to .plugin, and then when you need them enabled again you can change the extension back.

[2015-01-19 07:43] iEli2tyree011 commented on #69
As long as Bukkit doesn't see a .jar, it will not enable it.

[2015-01-19 07:43] ItzWid13 commented on #69
Ok

[2015-01-19 07:44] ItzWid13 commented on #69
I need to go to bed, bye

[2015-01-19 07:46] elespawol commented on #69
Good moorning :P
El dia 19/01/2015 8.44, "ItzWid13" <notifications@github.com> va escriure:

[2015-01-19 17:40] ItzWid13 opened #73 "Match ending on non-TDMs on player death"
When i start a match, i play, but when someone die the Match Finish,
For Example: I put a ctw someone die an the match Finishes

[2015-01-19 18:13] Alfalik commented on #73
This don´t happen to me. Try to recompile again with the last version. Then, just use Cardinal and World Edit in the /plugins folder

[2015-01-19 18:26] ItzWid13 commented on #73
Pls fix it

[2015-01-19 18:26] iEli2tyree011 commented on #73
I'll fix this, thank you

[2015-01-19 18:27] ItzWid13 commented on #73
This is what happens: http://gyazo.com/e01718d747a2b7b49dbdb8a04c571940

[2015-01-19 18:28] #73 closed

[2015-01-19 20:03] Alfalik opened #74 "TNT is not working with cannons/pushing other TNT"
TNT Dont ignite correctly, look at the video.

+ Tested on 2 servers, so I dont think is my problem.

[2015-01-19 20:03] Alfalik commented on #74
https://www.youtube.com/watch?v=6w72JG5fw9Q&feature=youtu.be

[2015-01-19 20:21] ItzWid13 opened #75 "Cant Compile"
I cant compile the last release of the plugin

[2015-01-19 20:25] firstvirus92 commented on #75
Please provide more information in your issues, in this case the error log.

[2015-01-19 20:27] ItzWid13 commented on #75
Ok

[2015-01-19 20:27] vYuri opened #76 "Touchs (Still happens)"
http://gyazo.com/255e210e6475cb8535683e791818d74f

[2015-01-19 20:29] ItzWid13 commented on #75
http://gyazo.com/7283ed656637542dd240f5e9693d6628

[2015-01-19 20:31] #75 closed

[2015-01-19 20:31] iEli2tyree011 commented on #75
Sorry about that, should be fixed. Thanks for reporting!

[2015-01-19 20:33] twizmwazin commented on #74
What is the output of /pl?

[2015-01-19 20:33] firstvirus92 commented on #74
This might be related to #39. Can you please confirm that this is a bug with this plugin, not any other plugin or SportBukkit?

[2015-01-19 20:34] twizmwazin commented on #74
Also #69

[2015-01-19 20:36] #76 closed

[2015-01-19 20:48] ItzWid13 opened #77 "Plugin not always cycling to the next map properly"
When i cycle maps the plugin bug

[2015-01-19 20:50] iEli2tyree011 commented on #77
Which maps are you having issues with? Also, please try to make the titles of your issues relevant to what the issue is.

[2015-01-19 21:04] twizmwazin commented on #74
@Alfalik do you have any other plugins installed?

[2015-01-19 21:19] Alfalik commented on #74
http://gyazo.com/4a1f608640c0adc695e8435c80f1a35c

Just this

[2015-01-19 21:39] iEli2tyree011 commented on #74
Can you temporarily disable Tracker just to verify that it's not causing the problem?

[2015-01-19 21:56] elespawol commented on #77
Mee too, like endeblast cristmas, deepwind jungle, spaceships battles,
dynamo
El dia 19/01/2015 21.50, "iEli2tyree011" <notifications@github.com> va
escriure:

[2015-01-19 23:22] Alfalik commented on #74
Same test, with Cardinal & World Edit.

https://www.youtube.com/watch?v=qd7wb03XoCU&feature=youtu.be

[2015-01-19 23:27] Alfalik commented on #74
Test 03: Just using Cardinal as plugin.

http://youtu.be/avTE9D5zR8c

[2015-01-20 00:29] twizmwazin commented on #74
@Alfalik Thanks for the videos. Just to make sure that the issue is with Cardinal, can you do one more test with no plugins?

[2015-01-20 00:40] Alfalik commented on #74
Test 04: No plugins used.

http://youtu.be/sNqjaND5R_c

Result: Sporkbukkit problem.

[2015-01-20 00:52] twizmwazin commented on #74
I'm on the very latest build of Sportbukkit. Make sure you are using [this] (https://repo.oc.tc/content/repositories/snapshots/tc/oc/sportbukkit/1.7.10-R0.1-SNAPSHOT/sportbukkit-1.7.10-R0.1-20141223.195415-38.jar) build of Sportbukkit. If the problem persists, make an issue [here] (https://github.com/OvercastNetwork/SportBukkit)

[2015-01-20 01:16] Alfalik commented on #74
Actually works, Thanks.
Theres already an issue in Sportbukkit

https://github.com/OvercastNetwork/SportBukkit/issues/129

[2015-01-20 01:16] #74 closed

[2015-01-20 01:23] twizmwazin commented on #69
Update your SportBukkit to the most recent issue, the issue is with SportBukkit rather than Cardinal. See #74 for more detail.

[2015-01-20 01:23] #69 closed

[2015-01-20 02:26] twizmwazin commented on #77
I started looking into this, I will try to have a patch tomorrow.

[2015-01-20 15:27] ItzWid13 commented on #77
Pls fix this now

[2015-01-20 15:35] ItzWid13 opened #80 "Bug-BlockGlitch-WoolRooms"
There is a bug i can BlockGlitch and i can enter to my own wool room

[2015-01-20 16:37] twizmwazin commented on #77
Don't be rude, I'm in class right now and I will look more into this later.

[2015-01-20 16:38] twizmwazin commented on #80
This is known. Filters and applied regions are not yet implemented. They are on the to-do list.

[2015-01-20 16:38] #80 closed

[2015-01-20 16:38] elespawol commented on #77
Jajajajajajjajaja
El dia 20/01/2015 17.37, "Kevin Phoenix" <notifications@github.com> va
escriure:

[2015-01-20 17:05] rywarsaw commented on #77
@ItzWid13 Not sure if you can read, but the README.md clearly states that the plugin is still in development phase and isn't suited for public scrimmages yet. Demanding people to fix things isn't going to fix anything.

[2015-01-20 17:10] elespawol commented on #77
That s true, so people be patient
El dia 20/01/2015 18.08, "RyanW" <notifications@github.com> va escriure:

[2015-01-20 17:11] twizmwazin commented on #77
I addressed a few spawning issues in [this] (https://github.com/twizmwazin/CardinalPGM/commit/ba3f82d9924e2b23728448717687543113da557b) commit last night. However, it doesn't seem to be entirely one issue, rather a collection of minor issues which are each preventing maps from loading.

[2015-01-20 18:24] ItzWid13 commented on #80
ahhh

[2015-01-20 22:27] ItzWid13 commented on #77
Its Good now :D

[2015-01-20 22:27] #77 closed

[2015-01-20 22:30] ItzWid13 opened #81 "Bug - In the chat"
Hi,
When i type some in the globlal chat (/global (Text)) everything i write gets linked.
For Example: /g Hi Men. and when i press enter the text linked like this: HiMen

[2015-01-20 23:06] #81 closed

[2015-01-20 23:58] Alfalik opened #82 "Players being invisible when rejoin an started match"
After further testing I can con conclude that when the match is started, then any player rejoin it being invisible and nobody can see him.

@Edit Can´t comment more, Ill be on vacations until 27.

[2015-01-21 00:13] iEli2tyree011 commented on #82
Can you go into further detail? There aren't any player visibility issues on my end.

[2015-01-21 00:15] Alfalik commented on #82
Example: 5v5 are playing / Time elapsed 00:05 - Anyone drop connection/have lagg then disconnect and join again. After this, when he join again his team, nobody the server can see him.

[2015-01-21 00:21] iEli2tyree011 commented on #82
Okay, it looks like there's an issue, I'll look into it.

[2015-01-21 00:28] iEli2tyree011 commented on #82
The commit did not fix the issue, I'll go into further investigation

[2015-01-21 00:31] #82 closed

[2015-01-21 00:35] iEli2tyree011 commented on #82
This has been fixed, thanks for reporting.

[2015-01-21 00:47] Alfalik opened #83 "Lava inside core shouldn´t be editable & only become in stone with water"
@Edit bye, im on vacations o/ Ill be testing next wekk.

[2015-01-21 00:48] iEli2tyree011 commented on #83
This has a planned feature and was just not implemented yet. Thanks for bringing it up though, I'll try to get to it tonight.

[2015-01-21 02:43] vYuri opened #84 "Question"
When will be running the command /match?

[2015-01-21 03:05] #83 closed

[2015-01-21 03:06] iEli2tyree011 commented on #84
I'll work on it tomorrow

[2015-01-21 03:08] iEli2tyree011 opened #85 "Mirror regions don't return the right values"

[2015-01-21 05:12] Vixo1 opened #86 "Can't cycle if the value isn't 5"
When I try to cycle to another map, if the value is not 5, the plugin doesn't change of map.
For example if I do "/cycle 10" it doesn't do nothing.

[2015-01-21 07:11] vYuri opened #87 "/Start [Not working well]"
Hi, this bug when using /start and then /cancel for any reason, then /start again, there is an error this don't work

[2015-01-21 07:37] vYuri opened #88 "Question (Core modes)"
This plugin is working with Core modes?

[2015-01-21 07:45] elespawol commented on #88
I think that is in the TO-DO list
El dia 21/01/2015 8.37, "vYuri" <notifications@github.com> va escriure:

[2015-01-21 11:27] iEli2tyree011 commented on #87
Will look into this, I was having this issue last night as well. Thanks for reporting.

[2015-01-21 11:28] iEli2tyree011 commented on #86
Will look into, thanks for reporting

[2015-01-21 11:28] iEli2tyree011 commented on #88
I'll do them tonight if I have time

[2015-01-21 14:09] twizmwazin commented on #86
I think this has been long standing for extended periods of time.Time 5 seconds or less I've never had issues with.

[2015-01-21 17:00] AngelCasillas01 opened #89 "[BUG] Scoreboard bug found!"
http://i.imgur.com/5V2GUEO.png

When you have more than 3 words on scoreboard of wools, it will see like this, (IMAGE ON LINK)

[2015-01-21 17:03] felipufeliu opened #90 "[BUG] In some maps when you respawn you don't get the potion effects."
http://gyazo.com/1f0e3fda79610cb14d89de0458b810cd
The map is Limbo II, idk if that happened because the plugin doesn't totally support Koth yet.

[2015-01-21 17:04] felipufeliu opened #91 "[BUG] There's a enter space on the broadcast thing (TIPS)"
http://gyazo.com/61c011d80fe9e8c4e3a7739999e64445
Map: NextGen.

[2015-01-21 17:05] felipufeliu opened #92 "[BUG] On the team picker the orange color appear as red."
http://gyazo.com/4927a427419d2bef0f2779e629697e6f
Map: Ring Race but this happend to all the maps that have the orange color.

[2015-01-21 18:04] rywarsaw opened #93 "Lets talk about ethics"
Hey guys, this isn't really a issue more a discussion of where CardinalPGM is headed. I've been watching the progress of CardinalPGM and its really been making leaps and bounds however some things disturb me.

The idea behind CardinalPGM was to create a system for tournament teams to do scrimmages? Yes? Well I'm seeing that more and more features are being added to CardinalPGM that aren't really n

[2015-01-21 18:07] elespawol commented on #93
+1
El dia 21/01/2015 19.04, "RyanW" <notifications@github.com> va escriure:

[2015-01-21 18:09] iEli2tyree011 commented on #93
How are some of the things you listed unnecessary for a scrimmage plugin?

[2015-01-21 18:11] iEli2tyree011 commented on #91
That just looks like a chat size issue. I'll look into it though.

[2015-01-21 18:12] elespawol commented on #93
Like: rotations
Are not necesary if is not public, because u put a map when u want to do a
scrim
Rotations is like something automatic
El dia 21/01/2015 19.09, "iEli2tyree011" <notifications@github.com> va
escriure:

[2015-01-21 18:12] iEli2tyree011 commented on #89
Thanks for reporting, but that's not a problem with the amount of wools.

[2015-01-21 18:14] iEli2tyree011 commented on #93
While that may be true, what map will the server start on? What map will be next? We can't just remove cycling.

[2015-01-21 18:15] elespawol commented on #93
In config.yml u can put a setting that is: what map to start/RANDOM
El dia 21/01/2015 19.14, "iEli2tyree011" <notifications@github.com> va
escriure:

[2015-01-21 18:27] rywarsaw commented on #93
@iEli2tyree011 There was alot of time spent on formatting of messages, what colors, etc. That was my main point there is alot of time spent in making it look exactly like OCN, @elespawol has a point with rotations but I think that goes too far. Removing rotations would just remove functionality from the plugin, I'm mainly discussing things that are completely aesthetic, and some non-aesthetic ones

[2015-01-21 18:51] CaptainElliott commented on #93
I think some  hard coded some tips stating the fact that this is only to be used a s scrimmage plugin, in addition I think the rotation should be removed, its not needed for scrimmages and that is what could make this server into a clone of PGM

However you have to remember even if we did not include all of the aesthetically things in PGM (like broadcasts) it only takes someone with a little java

[2015-01-21 19:02] rywarsaw commented on #93
@CaptainElliott Thats a really good way of putting things, didn't think about it like that. I don't think CardinalPGM will have any legal problems, this was mainly brought up to show respect to the author of the original PGM plugin by not complete making something that looks and functions exactly how creators version does.

Removing formatting is more of a way to distinguish CardinalPGM as instead

[2015-01-21 19:05] rywarsaw commented on #93
Also, check this out: http://lmgtfy.com/?q=PGM+Plugin+Clone

[2015-01-21 19:57] twizmwazin commented on #93
CardinalPGM's main goal is to be a feature-complete PGM clone. That is what the project description is, that is what I set out to create, and that is what I will finish. If you do not support my plan, then you can either fork the plugin as it is and go your own way, or you can choose to abstain from involvement in the project altogether.

There are no agreed upon terms (EULA) to play and observe t

[2015-01-21 19:57] #93 closed

[2015-01-21 20:44] vYuri opened #94 "Bug in /team force [name] [team]"
Well, today testing the command /team force found a bug, If I force a player who is playing to obs team, so I can see pushing TAB (as shown in the picture) http://gyazo.com/ca5fb09847b41c192253548e6c19d578

[2015-01-21 21:28] iEli2tyree011 commented on #94
What is the actual issue here?

[2015-01-21 21:31] iEli2tyree011 commented on #94
Nevermim, got it.

[2015-01-21 22:01] iEli2tyree011 commented on #94
When did you last compile the plugin? This should have been fixed along with #82.

[2015-01-21 22:03] vYuri commented on #94
I compile the plugin yesterday about #83.

[2015-01-21 22:15] iEli2tyree011 commented on #94
Can you recompile and test again please?

[2015-01-21 22:20] vYuri commented on #94
Sure, I'll tell happens after this compilation.

[2015-01-21 22:54] vYuri commented on #94
This still happens

[2015-01-21 22:55] iEli2tyree011 commented on #94
I'll look into it when I get home, thanks for reporting. So it happens when someone that is playing is forced to observers?

[2015-01-21 23:02] vYuri commented on #94
If this happens when a player is forced to observers, they also once again joineen can see others obs

[2015-01-22 00:38] Vixo1 opened #95 "Can't use quotes in global chat"
For example if I do /g "test", text appears but the quotes not.

[2015-01-22 00:40] iEli2tyree011 commented on #91
This is either a non-Cardinal issue or just a small chat size, there's nothing in the code to indicate a new line though.

[2015-01-22 01:09] #89 closed

[2015-01-22 01:13] #92 closed

[2015-01-22 01:14] iEli2tyree011 commented on #84
Wrong issue number, reopened.

[2015-01-22 01:14] iEli2tyree011 commented on #94
Closed in b76f5bf.

[2015-01-22 01:14] #94 closed

[2015-01-22 01:19] felipufeliu commented on #91
I already make the chat looks bigger, also I tried with full screen and without it and still with the same problem

[2015-01-22 01:26] twizmwazin commented on #95
This issue is related to sq89q's CommandFramework, which Cardinal uses. I may in the future look into switching over to a similar, newer library called Intake, also by sk89q, although no guarantees.

[2015-01-22 01:33] iEli2tyree011 commented on #91
http://i.imgur.com/Xy6XKnD.png

[2015-01-22 01:34] twizmwazin commented on #91
Make sure you are on the latest version of Cardinal and XML, and then get back to us.

[2015-01-22 01:42] #86 closed

[2015-01-22 02:46] #87 closed

[2015-01-22 02:56] twizmwazin commented on #90
I'll be honest this is one of the weirdest things I've dealt with so far.

[2015-01-22 14:04] twizmwazin commented on #85
So in math I think we figured out the equation `2(orgin) - given`

[2015-01-22 15:11] Rafitamolin opened #96 "[Question] plugin.yml"
I compiled CardinalPGM without errors but when I try to open my server with the plugin it says that the plugin.yml file is invalid. The thing I'm getting there is:

main: ${plugin.mainClass}
version: ${project.version}
authors: [twiz_mwazin]
prefix: CardinalPGM

I don't what should I do to fix that. Can someone help me, please? Thanks

[2015-01-22 15:25] twizmwazin commented on #96
Try recompiling, all of those values should be filled in by maven.

[2015-01-22 15:34] Rafitamolin commented on #96
I tried three times but nothing happens. I followed [this](https://www.youtube.com/watch?v=khetsOtDoPU) tutorial to compile the plugin, and I get those warnings: http://i.imgur.com/Y0DLBn9.png.

Is there something I'm doing wrong?

[2015-01-22 15:39] twizmwazin commented on #96
Follow [this] (https://github.com/twizmwazin/CardinalPGM/wiki/Installing-CardinalPGM) one, and compile it with mavan, not eclipse.

[2015-01-22 16:05] Rafitamolin commented on #96
Thank you so much. I didn't even notice there was a wiki page explaining all the process. I compiled the plugin now without any errors :)

[2015-01-22 16:05] #96 closed

[2015-01-22 17:06] iEli2tyree011 commented on #85
Mirror a point across an origin:
    (-1 * (x - originX) + originX)
    (-1 * (z - originZ) + originZ)

[2015-01-22 17:18] iEli2tyree011 commented on #85
So if origin is (4, 3) and the given point is (5,1), then 2(4) - 5 = 3. 2(3) - 1 = 5.
In my equation, (-1 * (5 - 4) + 4) = 3, and (-1 * (1 - 3) + 3) = 5. So yes, either formula should work.

[2015-01-22 20:23] #95 closed

[2015-01-22 21:20] #84 closed

[2015-01-22 21:22] iEli2tyree011 commented on #91
Can anyone else confirm this issue?

[2015-01-23 00:42] #90 closed

[2015-01-23 01:50] #88 closed

[2015-01-23 02:12] iEli2tyree011 commented on #91
Closed, can be reopened if necessary...but it seems that no one else is having the issue.

[2015-01-23 02:12] #91 closed

[2015-01-23 03:07] GChevy opened #97 "Download?"
Can i download the alpha version? I didn't find a download to test the plugin

[2015-01-23 03:12] iEli2tyree011 commented on #97
Until we have an official release, please use the wiki guide to help you compile the plugin.

[2015-01-23 03:12] iEli2tyree011 commented on #97
https://github.com/twizmwazin/CardinalPGM/wiki

[2015-01-23 03:19] AngelCasillas01 commented on #97
we should copy and paste all files D: or wut?

[2015-01-23 03:46] twizmwazin commented on #97
You would need to be more specific. The guide should be sufficient information to compile a development version. The reason why we do not have a download yet is because Cardinal is not finished. When Cardinal is complete and we have fixed as many bugs as we can, there will be a 1.0 release with an easy download. However, until then if you wish to use an unsupported development version and keep it

[2015-01-23 03:48] GChevy commented on #97
Thank you guys!!! Really nice work

[2015-01-23 04:20] #97 closed

[2015-01-23 06:33] Vixo1 opened #98 "Issue with core modes"
We was playing "Iris DTC" and at 15min of the match the core changed to gold core mode.
I checked on the xml of the map but theres nothing about core modes.

I'll test if it happens on all maps or only on Iris.

EDIT: I checked on another map that don't have core modes in the xml and it happens too
![2015-01-23_03 44 47](https://cloud.githubusercontent.com/assets/10608917/5870763/33ef1b22-a2b2-11e

[2015-01-23 11:23] twizmwazin commented on #98
Gold and glass core modes occur by default, this is intentional. For Iris make sure you have a correct XML.

[2015-01-23 11:33] iEli2tyree011 commented on #98
I think there's a problem with Iris, but Blocks is supposed to have core modes...

[2015-01-23 11:41] iEli2tyree011 commented on #98
Never mind; your version of Iris's XML actually has the core modes in it.

[2015-01-23 11:41] #98 closed

[2015-01-23 19:57] Vixo1 commented on #98
The problem only happens in Iris DTC, can you revise it please?

[2015-01-23 20:20] iEli2tyree011 commented on #98
What is the problem?

[2015-01-23 20:51] GChevy opened #99 "Access Denied (Maven trying to built Cardinal)"
Maven version 3.2.5

And i get the correct git

http://gyazo.com/720cc75b640c34881e27b3b04e72da90

[2015-01-23 20:59] CaptainElliott commented on #99
you need to navigate to the main directory where Cardinal PGM is by using the `cd` command
or you could `shift + right click` inside the main directory where Cardinal is.
then you can execute the command `mvn clean install` - but make sure not to add any extra arguments.

Also make sure you have opened the command line with administrator privileges

[2015-01-23 21:11] GChevy commented on #99
Thank you!

[2015-01-23 22:53] GChevy commented on #99
http://gyazo.com/e53821dd06b9ef2cab2af8b76ccc6773 How i can re-run Maven?

[2015-01-23 23:00] twizmwazin commented on #99
Pull the latest code from git and then run `mvn clean install` again

[2015-01-23 23:12] AngelCasillas01 opened #100 "Missing Feature? Maybe some suggestions."
Ranks, like admin, mod, etc...

Commands like /broadcast, /mute, ETC

BarAPI for saw the coundtowns on the top?

Admin Chat for communications within admins?

[2015-01-23 23:13] GChevy commented on #99
I already did but it did not fix it

[2015-01-23 23:26] twizmwazin commented on #99
Try re-cloning the repository and then run maven.

[2015-01-23 23:27] twizmwazin commented on #100
We have /a already, we plan to implement our own system for doing match timers rather than using BarAPI. This will allow us to do translations for the bar. More commands will be coming.

[2015-01-23 23:27] #100 closed

[2015-01-23 23:44] AngelCasillas01 commented on #100
Thanks!!!! Really like this plugin and your plans so far! Very nice work!

[2015-01-24 02:53] AngelCasillas01 opened #101 "Help with maven"
So...i was following the steps of the wiki for download cardinal, i don't understand the steps, i downloded maven, but what i need to do exactly please, i dont understand java very well :/

[2015-01-24 04:22] twizmwazin commented on #101
Sorry, this isn't a place for me to help you set up maven. If you are having trouble, I suggest talking with a friend or waiting for an official release.

[2015-01-24 04:22] #101 closed

[2015-01-24 04:56] Vixo1 commented on #98
Gold core mode, because in scrimmages the core needs to be obsidian I think...

[2015-01-24 05:29] twizmwazin commented on #98
It varies by map. By default, the core is obsidian, gold, glass. However, a map maker can specify other core modes if he/she chooses.

[2015-01-24 16:28] AngelCasillas01 commented on #99
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.
1:compile (default-compile) on project CardinalPGM: Compilation failure: Compila
tion failure:
[ERROR] error reading C:\Users\Angel\.m2\repository\org\bukkit\bukkit\1.4.7-R1.0
\bukkit-1.4.7-R1.0.jar; error in opening zip file
[ERROR] error reading C:\Users\Angel\.m2\repository\in\parapengu\commons\1.1.2\c
ommons-1.1.2

[2015-01-24 16:42] twizmwazin commented on #99
Re-clone the repository. Somehow your copy of the code got really messed up, some important files were deleated.

[2015-01-24 16:42] #99 closed

[2015-01-24 17:00] AngelCasillas01 commented on #99
How i do that? i just only downloaded by Download zip and with cmd enter to the file with cd Desktop and then cd CardinalPGM-master

That's what i do

[2015-01-24 17:19] twizmwazin commented on #99
In English: https://github.com/twizmwazin/CardinalPGM/wiki/Installing-CardinalPGM
En español: https://github.com/twizmwazin/CardinalPGM/wiki/Instalando-CardinalPGM

[2015-01-25 05:40] GChevy opened #105 "Filters"
This plugin already has filters? I think it doesn't if you can add filters please.

[2015-01-25 06:14] twizmwazin commented on #105
They are a work in progress.

[2015-01-25 06:14] #105 closed

[2015-01-25 11:12] Joserex65 opened #106 "Cannot compile"
Hi,

I cannot compile due to one maven repository server is down.

[2015-01-25 11:26] CaptainElliott commented on #106
I can compile just fine. When reporting an issue you could give the error log?

make sure your running `mvn clean install`

[2015-01-25 11:31] Joserex65 commented on #106
When had you compiled for last time?

[2015-01-25 11:34] CaptainElliott commented on #106
I checked just before I made the comment

[2015-01-25 11:37] Joserex65 commented on #106
https://gist.github.com/Joserex65/20b929e1b3c6a8babd9f

[2015-01-25 11:41] CaptainElliott commented on #106
Looks like you did not install your dependencies from the pom, are you using eclipse or InteliJ?

[2015-01-25 11:43] Joserex65 commented on #106
I am not using eclipse or ItenlliJ. Just compilling with maven.

[2015-01-25 11:44] CaptainElliott commented on #106
You need to install the maven dependencies before compiling

[2015-01-25 11:45] Joserex65 commented on #106
"mpile and run the latest development version of CardinalPGM, you will need JDK7 and Maven. On most Linux distributions, you can find both packages in your default repositories. To compile, simply run mvn clean install. The plugin should be found in target/.2

[2015-01-25 11:45] Joserex65 commented on #106
"To compile and run the latest development version of CardinalPGM, you will need JDK7 and Maven. On most Linux distributions, you can find both packages in your default repositories. To compile, simply run mvn clean install. The plugin should be found in target/."

[2015-01-25 11:46] CaptainElliott commented on #106
Yes, but to compile you need to have the dependencies from the pom.xml. Hence why they are called "dependencies" the plugin is dependent on them

[2015-01-25 11:48] Joserex65 commented on #106
So, what do I have to do?

[2015-01-25 11:49] CaptainElliott commented on #106
What IDE are you using?

[2015-01-25 11:50] Joserex65 commented on #106
7

[2015-01-25 11:51] CaptainElliott commented on #106
no, and IDE is a development environment (Eclipse/IntelliJ are examples of it)

[2015-01-25 11:53] Joserex65 commented on #106
Ups, Eclipse.

[2015-01-25 12:00] Joserex65 commented on #106
?

[2015-01-25 12:02] CaptainElliott commented on #106
I'm not too sure how eclipse works but you need to import the dependencies. there should be a "maven Dependencies" directory inside the Eclipse package manager, is there anything in there?

[2015-01-25 12:03] Joserex65 commented on #106
But, I don't want to use Eclipse. I am just wanting to compile the plugin jar using mvn clean install.

[2015-01-25 12:42] Joserex65 commented on #106
?

[2015-01-25 12:51] Joserex65 commented on #106
Why not publishing the jar over the releases page of the github project?

[2015-01-25 13:08] Joserex65 commented on #106
Anyone there?

[2015-01-25 14:58] GChevy commented on #106
There is not jar archives in The proyect because it's not an official realse.

[2015-01-25 15:30] Joserex65 commented on #106
So, what do I do?

[2015-01-25 16:29] twizmwazin commented on #106
@CaptainElliott He shouldn't need to manually install dependencies, that is what maven is for.

@Joserex65 If for whatever reason maven cannot resolve dependencies, compile [this] (https://github.com/OvercastNetwork/ProtocolLib) and [this] (https://github.com/ParaPenguin/Commons). After copiling those using `mvn clean install`, try compiling Cardinal again.

[2015-01-25 16:46] Joserex65 commented on #106
Ok. I think one repo is down. I am trying now.

[2015-01-25 16:48] Joserex65 commented on #106
I cannot compile ProtocolLib.

[2015-01-25 16:49] CaptainElliott commented on #106
@twizmwazin Yea I know that, I  had the problem previously and I had to re-import the dependencies using maven, I did not mean to manually install the jars

[2015-01-25 16:50] Joserex65 commented on #106
Can you give me a compiled jar?

[2015-01-25 16:50] twizmwazin commented on #106
@Joserex65 Make sure you are in the directory that has the `pom.xml`.

[2015-01-25 16:50] Joserex65 commented on #106
I am.

[2015-01-25 16:51] twizmwazin commented on #106
Post your log

[2015-01-25 16:53] Joserex65 commented on #106
Commons compilation:
http://gyazo.com/ec2bef4e7a8ac1653abbbe450a163e42

ProtocolLib compilation:
http://gyazo.com/7a6a7f3971eaca42533a7d39f237afde

CardinalPGM compilation:
https://gist.github.com/Joserex65/20b929e1b3c6a8babd9f

[2015-01-25 16:59] twizmwazin commented on #106
The ProtocolLib issue is because CraftBukkit downloads are no longer available. For commons, are you on the latest version of either JDK 1.7 or 1.8?

[2015-01-25 16:59] Joserex65 commented on #106
Yes, I am.

[2015-01-25 16:59] twizmwazin commented on #106
What OS are you on?

[2015-01-25 16:59] Joserex65 commented on #106
Windows 8.1

[2015-01-25 17:00] Joserex65 commented on #106
(I tried also to compile on Ubuntu Server 14.01 64-bit)

[2015-01-25 17:01] twizmwazin commented on #106
Try temporarily disabling any firewalls or antiviruses that may stop maven from acquiring dependencies. Did you get an identical result on Ubuntu?

[2015-01-25 17:01] Joserex65 commented on #106
Yes.

[2015-01-25 17:02] Joserex65 commented on #106
Still same error.

[2015-01-25 17:04] Joserex65 commented on #106
One thing, Why don't you use the releases page?

[2015-01-25 17:08] twizmwazin commented on #106
[Freshly written] (https://github.com/twizmwazin/CardinalPGM/wiki/FAQ-(English))

[2015-01-25 17:08] Joserex65 commented on #106
Ok.

And, do you know why is the maven error.

[2015-01-25 17:09] twizmwazin commented on #106
Not really. Try to see if anyone else has the issue, this isn't really the place for technical support.

[2015-01-25 17:09] #106 closed

[2015-01-25 17:11] Joserex65 commented on #106
But, can you please give me the plugin jar file compiled?

[2015-01-25 17:20] CaptainElliott commented on #106
@Joserex65 wait for the plugin to be finished, or get the compiling to work

[2015-01-25 19:15] SladeLT opened #107 "Stars or referee?"
The plugin will the stars moderator?
When a player has OP, get star?
And a good idea would be /ref :D

[2015-01-25 19:21] twizmwazin commented on #107
This isn't an issue, we know what features we need to add.

[2015-01-25 19:21] #107 closed

[2015-01-25 19:41] SladeLT commented on #107
Sorry im not use a lot of github he, will not happen. I really sorry.

[2015-01-26 02:51] twizmwazin commented on #85
I think that Mirror regions are working correctly, however when loading EnderBlast, it took 36 seconds to load DestroyableObjective.

[2015-01-27 16:21] twizmwazin opened #108 "Blitz games can only have 1 life"
Tested on Blitz

[2015-01-27 17:12] CaptainElliott commented on #108
Working fine for me

[2015-01-27 18:10] Joserex65 commented on #106
Ok. I've solved it.

Just needed to remove all repository files on the folder /YourUsername/.m2 and recompile.

Just publishing if anyone else needs this.

[2015-01-27 18:18] twizmwazin commented on #106
Alternatively on Linux is is /home/username/.m2

[2015-01-27 19:03] #108 closed

[2015-01-28 16:54] #85 closed

[2015-01-28 17:43] GChevy commented on #106
I uninstall Maven to see if it work. But the last time the same error happen.

[2015-01-28 17:44] Joserex65 commented on #106
?

[2015-01-28 18:01] iEli2tyree011 commented on #106
Maven is necessary to compile the plugin.

[2015-01-28 18:02] Joserex65 commented on #106
Just install maven, try compiling it, and if it doesn't works, try posting the log.

[2015-01-29 13:22] maestro34 opened #110 "NullPointerException onBlockPlace"
I got a NullPointerException on BlockPlaceEvent
Log: http://pastebin.com/gHKFzaWj

[2015-01-29 13:24] maestro34 opened #111 "NullPointerException onBlockBreak"
I got a NullPointerException on BlockBreakEvent.
Log: http://pastebin.com/8Rhzt9AP

[2015-01-29 13:35] maestro34 opened #112 "IndexOutOfBoundsException - Respawn Module"
Map: Cannon Duel
Happen when the match start.
Log: http://pastebin.com/XuXWg4qs

[2015-01-29 15:38] twizmwazin commented on #111
What map was this?

[2015-01-29 15:39] twizmwazin commented on #110
What map was this?

[2015-01-29 17:18] iEli2tyree011 commented on #112
I'll take a look at this while Twiz works on the applied regions.

[2015-01-29 17:37] rywarsaw commented on #111
@twizmwazin I believe all 3 of these are on Cannon Duel. I could not replicate the problem.

[2015-01-29 17:37] rywarsaw commented on #111
@maestro34 Try updating to the latest version, to see if that will fix your problem.

[2015-01-29 18:00] iEli2tyree011 commented on #112
Fixed by commit 3a1e185

[2015-01-29 18:00] #112 closed

[2015-01-29 18:46] maestro34 commented on #111
It was on Fortress Battles

[2015-01-29 18:47] maestro34 commented on #110
Fortress Battles

[2015-01-29 18:55] maestro34 commented on #111
@rywarsaw I did it and it doesn't fix the problem :/

[2015-01-29 18:57] iEli2tyree011 commented on #111
Are you compiling while checking out the applied branch or master branch?

[2015-01-29 19:01] maestro34 commented on #111
@iEli2tyree011 I tried with the master branch, I'm going to try with the applied branch

[2015-01-29 19:07] maestro34 opened #113 "Enter Filter Fortress Battles"
Enter Filter should check if the player is in the region onTo and if he is not onFrom.
Actually, it checks if the player is in, in both.

I can't move on my spawn in Fortress :/

[2015-01-29 19:11] #113 closed

[2015-01-29 19:20] maestro34 commented on #111
It's fixed with the applied branch

[2015-01-29 19:20] maestro34 commented on #110
Fixed

[2015-01-29 19:45] rywarsaw commented on #111
Good to hear this problem was resolved!

[2015-01-29 19:50] iEli2tyree011 commented on #110
This hasn't been fixed yet

[2015-01-29 19:50] iEli2tyree011 commented on #111
This hasn't been fixed yet

[2015-01-29 20:19] iEli2tyree011 opened #114 "Applied regions that involve blocks are offset by 1 in one direction"

[2015-01-30 02:21] #114 closed

[2015-01-30 17:49] iEli2tyree011 commented on #111
This was fixed when filter parsing was added to, thanks for reporting!

[2015-01-30 17:49] #111 closed

[2015-01-30 17:49] iEli2tyree011 commented on #110
This was fixed when filter parsing was added to, thanks for reporting!

[2015-01-30 17:49] #110 closed

[2015-01-30 22:01] felipufeliu opened #115 "When monuments get destroyed by more than 1 guy, it shows both broked 100%"
http://gyazo.com/be5d0966e85cadcab05f39d0cf9a8ec4t/

[2015-01-30 22:02] felipufeliu opened #116 "when you died by fall damage, it doesn't show the amount of blocks"
http://gyazo.com/b65e5074423f6d83c57f1ee7716cb30d

[2015-01-30 22:04] CaptainElliott opened #117 "TODO: Add an ItemUtil"
Have a central place for item parsing where you send an `<item>` element and it will strip it of all attributes and return the appropriate enchantments, attributes, amounts etc

[2015-01-30 22:05] CaptainElliott commented on #115
Link not working

[2015-01-30 22:06] iEli2tyree011 commented on #115
http://i.imgur.com/luzjWSw.png

[2015-01-30 22:08] iEli2tyree011 commented on #117
You can use KitBuilder.getKit([parent element of item], [doc], true) to force it to get a kit even though it's not <kit>

[2015-01-30 22:16] #115 closed

[2015-01-30 22:31] CaptainElliott commented on #117
I haven't checked, but doesn't that require things like the item slot which are only compatible with kits

[2015-01-30 23:47] iEli2tyree011 commented on #117
No, I changed it so item slots are no longer required. It works for the killstreak module, so I'm pretty sure it should be fine.

[2015-01-31 07:53] CaptainElliott commented on #117
But that would return Kit. I want it so it can be added to an item stack so a ItemUtil would be the best solution

[2015-01-31 16:56] felipufeliu opened #118 "When you do /map it shows the description of another map."
http://i.imgur.com/RYURSFY.png

[2015-01-31 17:47] iEli2tyree011 commented on #117
Okay, this can be implemented then. Just out of curiosity, what do you plan to use this for?

[2015-01-31 17:52] iEli2tyree011 commented on #118
This is due to 79b0d5f. Thanks for reporting!

[2015-01-31 18:35] CaptainElliott commented on #117
Blockdrops, already implemented it though, haven't figured out how to evaluate the filter yet

[2015-01-31 19:24] vYuri commented on #116
if i'm not wrong, When you knock a player into the void, this doesn't say who was

[2015-01-31 19:33] Alfalik opened #119 "Blitz match is supposed to end when a player combat log/disconnect"
http://youtu.be/QOcJWHeqXRo

[2015-01-31 21:56] iEli2tyree011 commented on #119
Thanks for reporting!

[2015-01-31 21:56] iEli2tyree011 commented on #116
Again, this is all part of tracker, a system we plan to implement later.

[2015-02-01 00:55] #117 closed

[2015-02-01 01:27] #116 closed

[2015-02-01 01:27] iEli2tyree011 opened #120 "BoomBox Ice Pillar cannot be destroyed by TNT"

[2015-02-01 01:48] Alfalik commented on #120
Same with Ender Blast.

[2015-02-01 01:51] SuHoney commented on #120
Where can I download the BoomBox?

[2015-02-01 01:53] Alfalik commented on #120
Is privated, and isn´t related with this issue.

[2015-02-01 12:42] javipepe opened #122 "Your team's name not going on italics on scoreboard when map has +2 teams."
<img src="http://i.imgur.com/AccHzbE.png">

[2015-02-01 13:21] Joserex65 commented on #122
Try updating the plugin. It works fine on the latest version.

[2015-02-01 13:58] iEli2tyree011 commented on #122
I was having this issue earlier as well

[2015-02-01 15:25] #122 closed

[2015-02-01 15:32] #120 closed

[2015-02-01 18:02] iEli2tyree011 commented on #118
This still happens if the plugin tries to cycle to another map, fails, then sucessfully cycles to another map.

[2015-02-01 18:59] Alfalik opened #123 "Scoreboxes don´t adding points"
http://youtu.be/1LNVVjHEWWg

[2015-02-01 19:01] ItzWid13 opened #124 "(Bug) Cant break or open chests in the wool rooms"
Hi in the CTW maps i cant break blocks in the wool rooms and open chests.
http://prntscr.com/5zuiky: Map RFV2

[2015-02-01 19:06] CaptainElliott commented on #123
The scorebox module has not yet been implemented

[2015-02-01 19:07] rywarsaw commented on #124
I thought this was intentionally done in RFV2

[2015-02-01 19:27] Alfalik commented on #124
Is an XML error, not the plugin.

[2015-02-01 19:33] CaptainElliott commented on #124
Make sure you have the updated xml from maps.oc.tc.

[2015-02-01 19:40] ItzWid13 commented on #124
ok sorry

[2015-02-01 19:44] twizmwazin commented on #118
If the plugin fails to cycle to another map, everything is broken. Really what the plugin needs is a cycling fail-safe

[2015-02-01 19:44] #118 closed

[2015-02-01 19:55] twizmwazin commented on #124
It appears you cannot open chests in wool rooms that you can go in.

[2015-02-01 20:22] Alfalik commented on #124
Can I see the XML?

[2015-02-01 20:27] twizmwazin commented on #124
maps.oc.tc

[2015-02-01 20:38] Alfalik commented on #124
I know that maps.oc.tc exists, just want to see the XML of Wid Map.

[2015-02-01 20:43] rywarsaw commented on #124
@Alfalik Thats where the XML is .-.

[2015-02-01 20:43] twizmwazin commented on #124
https://maps.oc.tc/CTW/Standard/Race%20for%20Victory%202/map.xml this?

[2015-02-01 21:16] Alfalik commented on #124
In publics you can, so the error is in the Plugin.

@twizmwazin You didn´t understand. nvm

[2015-02-02 03:07] felipufeliu opened #125 "When you are playing and then you join to observers, the observers are invisible"
http://i.imgur.com/zvUyxjT.png

[2015-02-02 03:07] felipufeliu commented on #125
Not only in tab.

[2015-02-02 04:37] felipufeliu commented on #124
I think the same happend on spawn points if they are protected on the xml, at least that happend on my RFV 2 and the XML is from maps.oc.tc.

[2015-02-02 05:39] AngelCasillas01 commented on #124
This is the plugin, like 1 week ago the plugin allows you to enter to a wool, but you can enter to your own wool, but, with this update maybe the filter of the wools colapsed :P

[2015-02-02 05:47] AngelCasillas01 opened #126 "[BUG] When you do /sn "MAP" and then /cycle "<X>" and you type again the /cycle X it cycles the map you have setnext and continues cycling like if you have done 2 times"
^^

[2015-02-02 05:50] SuHoney commented on #125
I think hill is not working too

[2015-02-02 14:49] felipufeliu commented on #125
They already know that, they will work on it the following days/weeks because actually the KotH gamemode is hard to do

[2015-02-02 15:28] maestro34 opened #127 "Adding Boss Bar for countdowns"
Why don't you add a boss bar message while the starting, the cycling and the game countdowns are running ?
This is a missing feature that you can add.

[2015-02-02 15:29] twizmwazin commented on #126
I'll look into this

[2015-02-02 15:30] twizmwazin commented on #125
@SuHoney KoTH is a work in progress, and therefore does not yet function.

[2015-02-02 15:32] twizmwazin commented on #127
We are going to do this, the plugin is not yet compete. The reason why this hasn't yet been implemented is because we are waiting for translations are complete before adding this feature.

[2015-02-02 15:35] maestro34 commented on #127
Nice to heard it :)

[2015-02-02 15:57] elespawol commented on #127
One cuestion,
The translations will be per client o per server config?
El dia 02/02/2015 16.35, "maestro34" <notifications@github.com> va escriure:

[2015-02-02 16:15] CaptainElliott commented on #126
running the cycle command should automatically clear all countdowns before executing

[2015-02-02 16:16] CaptainElliott commented on #124
1 week ago filter and the application of filters were not implemented @AngelCasillas01

[2015-02-02 16:46] #125 closed

[2015-02-02 16:56] #126 closed

[2015-02-02 17:15] #124 closed

[2015-02-02 18:29] #123 closed

[2015-02-02 18:30] iEli2tyree011 commented on #127
@elespawol The actual translations will be done by the server, but it will look at your client's language and then send a message based on what language you are using.

[2015-02-02 18:32] elespawol commented on #127
Cool!
El dia 02/02/2015 19.30, "iEli2tyree011" <notifications@github.com> va
escriure:

[2015-02-02 22:35] Alfalik commented on #123
Giving an error when stay on it.

http://youtu.be/lR2sdkb33Nw
http://gyazo.com/00bb9a7c6413f2c5db7e0d19d878a878

[2015-02-02 22:53] twizmwazin commented on #123
@Alfalik Is the error with the unmodified XML?

[2015-02-02 23:00] Alfalik commented on #123
Tested with maps.oc.tc xml & removing portals xml. Same error.

[2015-02-02 23:02] twizmwazin commented on #123
Ok, I think I found the issue

[2015-02-02 23:07] twizmwazin commented on #123
The issue should be fixed in 1a7ed5b684833819e0af140d0846774923ac487c

[2015-02-02 23:10] iEli2tyree011 commented on #123
@twizmwazin It's not fixed, at least for Facility. It now looks to be an issue with MirroredRegions though.

[2015-02-02 23:11] twizmwazin commented on #123
It was fixed in my test, I joined red and used the right scorebox.

[2015-02-02 23:12] Alfalik commented on #123
Not fixed, when walking the console is being spammed. I don´t know if is realted with scoreboxes.

[2015-02-02 23:14] twizmwazin commented on #123
I will double check

[2015-02-02 23:17] Alfalik commented on #123
The normal Facility don´t have mirror regions.

[2015-02-02 23:19] twizmwazin commented on #123
It appears the issue is with Mirrored regions used for portals, and is not related to the scorebox module.

[2015-02-02 23:20] Alfalik commented on #123
Should I create an issue?

[2015-02-02 23:26] twizmwazin commented on #123
We are working on it, there is no need.

[2015-02-03 01:01] AngelCasillas01 commented on #126
For me it dosen't work, i put /Cancel and continues cycling idkw

[2015-02-03 01:07] twizmwazin commented on #126
Are you on the latest version? If you can make a short video of what you mean that would be very helpful in fixing the issue.

[2015-02-03 02:15] Alfalik commented on #126
@AngelCasillas01 Works fine for me. You should compile the last version.

http://youtu.be/nsMGlVf5cmg

[2015-02-03 02:23] Alfalik opened #132 "Kits don´t give correct effects in potions."
http://youtu.be/mZ-MPpU8QRw

[2015-02-03 18:43] Alfalik opened #133 "Offset filter in translate regions are inverted positive/negative"
Positive take it to negative / negative take it to positive. Tried to fix it in a commit but didn´t find it.

- Test with correct XML [offset="-66,0,0"] in NextGen:

http://youtu.be/LdAvgBeD8Ek

- Test with new XML [offset="66,0,0"] in NextGen:

http://youtu.be/l9sTCkgZqNg

[2015-02-03 19:18] elespawol opened #134 "BoomBox Problems"
- Quartz can be broken,
- Defenders ''private skybase'' can be broken with tnt and with the hand
- Attacker tubes can be destroyed
- I can put water on attacker tubes

IMGUR: http://imgur.com/a/bKhP9

[2015-02-03 19:19] elespawol commented on #134
- A I can put water on attacker tubes

[2015-02-03 19:19] elespawol commented on #134
Ignore the ''A'' :S

[2015-02-03 19:42] ElFlambMC commented on #133
Alfalik me pasas el maña ascendance

[2015-02-03 19:43] ElFlambMC commented on #133
Mapa

[2015-02-03 19:46] Alfalik commented on #133
Primero que nada es privado, y segundo no comentes cosas que no esten relacionadas directamente con este bug, usa Skype preferentemente

[2015-02-03 20:13] twizmwazin commented on #134
This appears to be more of a collection of issues, however they all are related to appled regions not functioning properly.

[2015-02-03 20:23] twizmwazin commented on #133
@Alfalik Can you add me on Skype?

[2015-02-03 20:40] twizmwazin commented on #133
I wasn't able to reproduce the exact same issues. All the wool rooms seemed to function properly, with the exception of 2 of the wool rooms were offset by 1 block.

[2015-02-03 20:50] Alfalik commented on #133
Check just yellow wool room, it doesnt work. (Compiled 5 minutes ago).

[2015-02-04 00:45] felipufeliu opened #139 "You can't craft wools in CTW maps."
Actually this affect to Cloud nine, I don't have a video but you can try.

[2015-02-04 01:38] iEli2tyree011 commented on #139
This is intentional (except for Cloud Nine)

[2015-02-04 01:38] #139 closed

[2015-02-04 14:19] elespawol commented on #134
Soo are things that are not implemented yet no?

[2015-02-04 16:58] twizmwazin commented on #134
@elespawol It comes down to applied regions not being completed yet.

[2015-02-04 17:24] elespawol commented on #134
A oookk

[2015-02-04 18:55] felipufeliu opened #141 "Sometimes when you cycle to another map, people still having the armor."
http://i.imgur.com/i4EtvBx.png

[2015-02-04 18:56] felipufeliu opened #142 "When you relog, in obs you don't get potion effects"
http://i.imgur.com/aKJXcSi.png

[2015-02-04 18:57] AngelCasillas01 commented on #141
Just an observation, this happens on the PGM of the OCN too

[2015-02-04 19:05] CaptainElliott commented on #141
Is the player using the macro mod?

[2015-02-04 19:20] twizmwazin commented on #141
@AngelCasillas01 Even though the issue is present in PGM as well, we still want to fix the issue.

[2015-02-04 19:21] twizmwazin commented on #142
This is due to the PgmRespawnEvent not being called.

[2015-02-04 19:24] AngelCasillas01 commented on #141
@twizmwazin :D i like thissss

[2015-02-04 19:25] AngelCasillas01 opened #143 "Question"
Do you will implement the TAB techonology like in OCN

[2015-02-04 19:26] rywarsaw commented on #143
This isn't a bug.

[2015-02-04 19:27] ElFlambMC commented on #143
You ser Question?

[2015-02-04 19:45] Alfalik commented on #143
First, I don´t think that TAB teams are useful in a Scrimmage Plugin, second, isn´t an issue and third, stop spamming here questions that can be answered in Skype.

[2015-02-04 19:45] Superjd10 commented on #141
This only happens when players are using the macro mod / some forge mods (or when the player intentionally glitch in a block as obs before the map cycles)

[2015-02-04 19:49] felipufeliu commented on #141
@CaptainElliot only Google_Chrome was using (Forge), ElWeonDeLaNoche not. And both appear with the armor

[2015-02-04 20:07] CaptainElliott commented on #141
This only happens when the player is using the macro mod, perhaps its to do with forge.
Try it without any mods installed

[2015-02-04 20:20] AngelCasillas01 commented on #143
I don't have any devs on skype, and here you can ask questions too, isn't just bugs or errors

[2015-02-04 20:26] CaptainElliott commented on #143
The Issue tracker is designed for issues with the plugin (problems or bugs)

[2015-02-04 20:26] AngelCasillas01 commented on #143
ok

[2015-02-04 20:34] felipufeliu commented on #141
@CaptainElliot When I take the screenshot I was only using Optifine, same for LaWeaDeLaNoche

[2015-02-04 21:22] #143 closed

[2015-02-04 21:49] twizmwazin commented on #143
@Alfalik That was a bit rude.
@AngelCasillas01 For Cardinal, the plan is to implement as many features as we can that are present in OCN's PGM, regardless of the feature's usefulness in a scirm.

[2015-02-04 21:50] AngelCasillas01 commented on #143
@twizmwazin was just an idea, I'm sorry it was so bad :S

[2015-02-04 21:53] twizmwazin commented on #143
@AngelCasillas01 It wasn't bad, and we will eventually implement the OCN player list.

[2015-02-04 22:02] Alfalik commented on #143
@AngelCasillas01 @twizmwazin Didnt want to be rude, sorry.

[2015-02-04 22:15] twizmwazin commented on #142
I can't seem to reproduce this.

[2015-02-04 22:21] twizmwazin commented on #133
When I invert them, all wool rooms except lime work correctly.

[2015-02-04 23:51] Superjd10 commented on #141
@felipufeliu Try without mods (optifine is a mod too)

[2015-02-05 01:00] #142 closed

[2015-02-05 01:21] twizmwazin commented on #133
Get back to me on how that works

[2015-02-05 03:17] Alfalik commented on #133
Tested it on NextGen and the unique error was one wool room offset by 1 block. The second test was on BoomBox, and apparently the translate regions doesnt work with <union> but alone work correctly.

http://youtu.be/cnOymlkord4

[2015-02-05 13:35] AngelCasillas01 commented on #134
I have BoomBox and it perfectly work for me (compiled after comment :p)

[2015-02-05 13:39] elespawol commented on #134
But u have edited the map or de xml?

[2015-02-05 14:19] SuHoney commented on #134
Can I have a download for BoomBox?
(I'm searching on it)

[2015-02-05 14:26] rywarsaw opened #146 "Add version utility that uses Git and hashes"
Adding a /version command that returns a hash for each version would be extremely helpful when debugging CardinalPGM. Sometimes people submitting issues are using older versions of CardinalPGM which means the bug might have been fixed, or isn't able to be replicated on the current build.

What I propose is a similar to the one Spigot uses. This would take a few hours to implement but I think it wi

[2015-02-05 14:29] rywarsaw commented on #146
Edit: The reason I did post this here is because I am pretty sure PGM implements a similar system.

[2015-02-05 14:53] elespawol commented on #134
It's private.
El dia 05/02/2015 15.20, "SuHoney" <notifications@github.com> va escriure:

[2015-02-05 14:57] twizmwazin commented on #146
I've been hoping someone could do this, as I've wanted one for a while now. I think this could be done with a maven plug-in. If anyone would like to make a pull request with this feature, that would be awesome. To avoid conflicts, /cardinal with the -v flag would be ideal.

[2015-02-05 14:59] rywarsaw commented on #146
@twizmwazin Not sure if this is what your talking about?

https://github.com/ktoso/maven-git-commit-id-plugin

[2015-02-05 15:01] twizmwazin commented on #146
@rywarsaw Looks like it, if you could implement this and make a pr, I'd be happy to merge it.

[2015-02-05 15:45] CaptainElliott commented on #146
I'm not really familiar with this but why not just return the the latest git revision code?

[2015-02-05 16:07] rywarsaw commented on #146
I had a brief talk with some of the guys on SpigotMC IRC, and apparently MD5 wrote a utility for doing this, and its open source! :)

https://github.com/SpigotMC/Scriptus

[2015-02-05 16:28] AngelCasillas01 opened #147 "[SUG] Add timer spawn module?"
i got ssb te, Iris DTC TE, etc... all those maps contains timer XML's on it, i put it on my server with cardinalpgm and maps aren't working, if you can put this on work pls do it will be so op :)

[2015-02-05 16:34] ElFlambMC commented on #147
Me puedes pasar mapas

[2015-02-05 16:34] CaptainElliott commented on #147
We have timers but they are integrated with the score module, would be best to make it into its own separate module

[2015-02-05 16:34] ElFlambMC commented on #147
Porfavor

[2015-02-05 17:44] Alfalik commented on #147
Isnt a feature, spawn timers just use kits, regions and portals. Here is a test.

http://youtu.be/LRYbC2ghnq8

[2015-02-05 17:51] AngelCasillas01 commented on #147
@ElFlambMC Porfavor para de pedir mapas por este portal, usa un metod privado si quieres que al menos lean tu pedido, gracias
@Alfalik Alfa pero no llegaste la mapa, pues osea es verdad que el timer anda pero no le tepea a donde va, agregue todos los XML que habian en maps.oc.tc, puse los xmls del timer dentro del mapa, un xml de HoC tambie lo puse, esos codigos no iran en el plugin?
@CaptainEllio

[2015-02-05 17:53] AngelCasillas01 commented on #134
@elespawol no, i got the original one, you are right, some tubes are broken, otherwise other tubes dosent broke lol

[2015-02-05 17:58] Alfalik commented on #147
@AngelCasillas01 Los portales al parecer no estan funcionando correctamente, dejame hacer un par de pruebas.
Va todo en el XML, no en el plugin.

[2015-02-05 17:59] twizmwazin commented on #147
The maps from HoC use a spawn timer through the <includes/> element. I made a branch where I tried to implement this, however it isn't working just yet.

[2015-02-05 18:01] twizmwazin commented on #146
@rywarsaw I will look into this tonight if I have time. Either way, I'd be happy to accept this as a pull request.

[2015-02-05 18:02] Alfalik commented on #147
@twizmwazin Kits applied in regions work fine, but the portals, first give errors when using "@" in filters and second, don´t teleporting correctly.

[2015-02-05 18:06] twizmwazin commented on #147
What maps (and versions) exactly are you testing this on?

[2015-02-05 18:06] Alfalik commented on #134
@AngelCasillas01 I think is related to #133

[2015-02-05 18:14] Alfalik commented on #147
Just tested Fractal Descent HoC version, heres the XML: http://pastebin.com/nqLh70ee

[2015-02-05 18:15] rywarsaw commented on #146
@twizmwazin If your implying that you wish for me to send a pull request, I'm afraid I don't have the time to code this. I just brought it up as a suggestion to anyone who did have the time.

[2015-02-05 18:16] ItzWid13 opened #148 "Bug- Cannon Duel"
I just test cannon duel and when it says "Dropping You into the Map" the floor doesnt dissapear

[2015-02-05 18:17] ElFlambMC commented on #148
Specificate

[2015-02-05 18:20] AngelCasillas01 commented on #148
Yes it works.

[2015-02-05 18:21] AngelCasillas01 commented on #147
I have tested SSB TE, It dosent work, For Iris DTC TE dosent even cycle :P

[2015-02-05 18:24] ItzWid13 commented on #148
Nope :c

[2015-02-05 18:24] Alfalik commented on #148
The map work fine for me, but please, report plugin errors, dont map errors. Back in the map, check if it is in the right coords.

[2015-02-05 18:24] ItzWid13 commented on #148
I have the HoC Version

[2015-02-05 18:38] AngelCasillas01 commented on #148
@ItzWid13 i have HoC too, it works fine

[2015-02-05 18:40] ItzWid13 commented on #148
Ahhh i got a nother version of the plugin xd :c

[2015-02-05 18:40] #148 closed

[2015-02-05 19:47] ItzWid13 opened #150 "BUG- REVENGE TE- When i cycle to this map the plugin crashes, and i can put block, etc..."

[2015-02-05 20:01] Rafitamolin commented on #150
Could you please provide more info so Elly and Twiz can work on it?

[2015-02-05 20:07] CaptainElliott commented on #150
Could you show a screenshot of the error or provide logs

[2015-02-05 20:19] ItzWid13 commented on #150
http://prntscr.com/61ht6i
http://prntscr.com/61htrm

[2015-02-05 20:23] ItzWid13 opened #151 "Question about Translations"
How do i turn on the Spanish Translation?

[2015-02-05 20:27] CaptainElliott commented on #150
You cropped parts out of that stack trace, could you just paste the error in here please?

[2015-02-05 20:29] ItzWid13 commented on #150
Here: 05.02 13:28:58 [Server] INFO at net.minecraft.server.v1_7_R4.ThreadServerApplication.run(SourceFile:628) [server_custom170.jar:git-SportBukkit-1.5.2-R1.0-425-g809715a]
05.02 13:28:58 [Server] INFO at net.minecraft.server.v1_7_R4.MinecraftServer.run(MinecraftServer.java:472) [server_custom170.jar:git-SportBukkit-1.5.2-R1.0-425-g809715a]
05.02 13:28:58 [Server] INFO at net.minecraft.server.v1_

[2015-02-05 20:53] CaptainElliott commented on #151
Localisation has not yet been implemented yet

[2015-02-05 21:54] twizmwazin commented on #150
While map compatibility needs to be fixed, the issue reported here is a larger issue regarding no safeguards against failing to load a map. I'm going to close this for now, as the map issue is redundant.

[2015-02-05 21:54] #150 closed

[2015-02-05 21:55] twizmwazin commented on #151
I am in the process of writing it. Expect a related commit either tonight or tomorrow.

[2015-02-05 21:55] #151 closed

[2015-02-05 22:36] #146 closed

[2015-02-05 23:10] ItzWid13 opened #152 "BUG-DATAbasin"
when i go the other base, i cant place blocks, it says this:
http://prntscr.com/61kcgy

[2015-02-05 23:21] CaptainElliott commented on #152
This is an intentional feature by the map maker, has nothing to do with the plugin

[2015-02-05 23:30] SuHoney commented on #152
Where can I get these Primed maps?

[2015-02-06 00:04] ItzWid13 commented on #152
CaptainEllit but i put wood

[2015-02-06 00:34] twizmwazin commented on #152
@ItzWid13 If you could record a short demonstration video of your plugin it would be helpful.

[2015-02-06 00:44] ItzWid13 commented on #152
ok :D

[2015-02-06 11:21] #132 closed

[2015-02-06 12:06] elespawol commented on #152
Me, happens the same
El dia 06/02/2015 1.44, "ItzWid13" <notifications@github.com> va escriure:

[2015-02-07 01:17] twizmwazin commented on #147
@ElFlambMC
Porfavor para de preguntar por los mapas, este sector es para los bugs del plugin y tu estas hablando fuera de topic. Si continuas con esto seras bloqueado.

[2015-02-07 06:09] #152 closed

[2015-02-08 03:11] SwiftGFX opened #153 "DATAstation Problem"
Theres no error in console.

Video : https://youtu.be/z2_xHMsBYnE

(English is not my first language)

[2015-02-08 04:29] twizmwazin commented on #153
What it appears is that the server stalls on something until you time out. Might have to do with the massive monument.

[2015-02-08 05:00] SuHoney commented on #153
I tried another PC, but same

(Here is my server log file ; http://pastebin.com/qWeGZJqZ )

[2015-02-08 11:59] maestro34 opened #155 "Duplicate error message on Wit's End"
When I'm trying to place a block to the wool placement it shows me two errors messages:
http://uplmg.com/leo

Version: 1.0-git-CardinalPGM-a804596

[2015-02-08 12:05] maestro34 opened #156 "Underscore in wool pick up message on Wit's End"
When I touch the wool in Wit's End it shows me this message:
http://uplmg.com/d7f

Version: 1.0-git-CardinalPGM-a804596

[2015-02-08 12:15] CaptainElliott commented on #155
Could you provide a video of how this is happenin?

[2015-02-08 12:17] maestro34 commented on #155
I don't think I need to provide a video, you just need to place a random block where the wool need to be placed at and it will shows you both messages.

[2015-02-08 12:21] Rafitamolin commented on #156
Same error as #89

[2015-02-08 15:57] #156 closed

[2015-02-08 17:16] #155 closed

[2015-02-08 17:17] felipufeliu opened #158 "Team don't auto balance"
I don't have any proof, sorry but when you type /join or use the picker it doesn't auto balance.

[2015-02-08 17:19] felipufeliu opened #159 "it doesn't show the name of the winner when he's the only one"
http://gyazo.com/796e3abe7192b030a9c3a733849ea0c6

on every gamemode when you are the unique one on a team and you win it should announce you as winner and not your team

[2015-02-08 17:53] #158 closed

[2015-02-08 18:09] #159 closed

[2015-02-09 17:04] Vixo1 opened #162 "Can enter and modify own wool rooms on some maps."
Here's a video that explain what I mean... http://youtu.be/uRK_tjnZ-8A
Also here's the xml of the two maps that I tested:
RFV2: http://pastebin.com/PY03EESP
Dynamo: http://pastebin.com/TkHZFpeM

[2015-02-09 18:20] CaptainElliott commented on #162
You are using outdated versions of the XML.
Always get the XML for maps.oc,tc as the one that comes with the download is often broken or outdated to old protocols

https://maps.oc.tc/CTW/Standard/Dynamo/map.xml

[2015-02-09 19:15] Vixo1 commented on #162
I tested with the dynamo xml of maps.oc.tc but the map don't load, it shows this error in the console and don't cycle http://prntscr.com/633awg

[2015-02-09 19:39] CaptainElliott commented on #162
is known https://github.com/twizmwazin/CardinalPGM/issues/77

[2015-02-09 23:18] ItzWid13 commented on #162
Is,your problem you need to have the maps.oc.tc xml :c i have it and it works properly.

[2015-02-10 02:10] AngelCasillas01 opened #163 "[BUG] Command Errors"
I think i'm spaming this idk but well, sometimes, you try /ban /kick /tp etc... Dosent let you :( an error on console appear

[2015-02-10 02:55] twizmwazin commented on #163
Please post your logs as well as the output of `/cardinal -v`

[2015-02-10 14:20] AngelCasillas01 commented on #127
Add this for all countdpwns, like fo gold core, glass core, and in cannon duelthe coundowns of the map

[2015-02-10 14:31] twizmwazin commented on #127
We know that we need to add, this feature is just a complicated one and it will take time.

[2015-02-10 14:57] angelitorb99 opened #164 "Checking es.xml"
In message es.xml Some bugs fixed
alreadyObs - Ya estás observando</alreadyObs>
teamExists - Ya existe un equipo con el nombre {0}</teamExists>
movedForBalance - Has sido movido a {0} para equilibrar el tamaño de los equipos</movedForBalance>
autoJoinSwitch - (no elegiste un equipo, así que asumimos que no te importará)</autoJoinSwitch>

[2015-02-10 15:42] twizmwazin commented on #164
If you wish to improve Cardinal, please follow [this] (https://help.github.com/articles/creating-a-pull-request/) guide to create a pull erquest so it can be reviewed.

[2015-02-10 15:42] #164 closed

[2015-02-10 19:58] MrTheSharpie opened #165 "Wools can't be placed on Victory Monument"
I can't place any wool in any map on the Victory Monument (xml are from maps.oc.tc).
Version: http://prntscr.com/63icks

[2015-02-10 20:10] CaptainElliott commented on #165
Is there any error? what map were you doing it on?

[2015-02-10 22:29] MrTheSharpie commented on #165
It says you cant placer blocks at spawn. First I did it con Ring Race, then I tried ok Deepwind and RFV2. If you want I can be more detailed with screenshots por vídeo tomorrow.

[2015-02-10 22:36] MrTheSharpie commented on #165
Also, I tried using XML from maps.oc.tc but it continued doing the same

[2015-02-10 23:35] twizmwazin commented on #165
I think what is happening is that the block is being denied by the spawn region after being accepted by the WoolModule. This should be easily fixed by adjusting priorities.

[2015-02-11 01:49] AngelCasillas01 commented on #163
Compiles and tested 1min ago, same errors

[2015-02-11 01:51] AngelCasillas01 commented on #163
@twizmwazin 10.02 20:49:44 [Server] INFO [20:49:44 INFO]: This server is running CardinalPGM version 1.0-git-CardinalPGM-73f9f90

[2015-02-11 01:52] Superjd10 commented on #163
@AngelCasillas01 He is asking for logs (whatever the console outputs when you do those commands)

[2015-02-11 01:54] AngelCasillas01 commented on #163
@Superjd10 This server is running CardinalPGM version 1.0-git-CardinalPGM-73f9f90

This?

[2015-02-11 01:56] twizmwazin commented on #163
@AngelCasillas01 I need to see the errors to fix them

[2015-02-11 01:58] AngelCasillas01 commented on #163
@twizmwazin okay!

Other thing, when you update your gamemode, your name is colored yellow, not like your tag, for example, you join blue, and you update your gamemode, appears yellow, /msg (almost all commands of the commands file are bugged :( )

[2015-02-11 02:00] twizmwazin commented on #163
@AngelCasillas01 You need to give an explanation of what "bugged" means. It could mean anything from incorrect behavior or wrong colors, to causing the server to stop.

[2015-02-11 05:49] Superjd10 commented on #163
@AngelCasillas01 He means what is the complete output of the console, it looks like: error at twizmwazin.cardinalpgm.afolder.something.else

Sportbukkit usually saves the log in the /logs folder, check them out and upload them to a site like Pastebin.

[2015-02-11 15:55] MrTheSharpie commented on #165
So is it a problem of the plugin or of the XML? Because I tried with different maps :S

[2015-02-11 17:45] xDofah commented on #165
fix it pls,i need that plugin

[2015-02-11 19:13] twizmwazin commented on #165
@MrTheSharpie Most likely the plugin. I will try to correct it tonight.

@xDofah That comment is entirely unhelpful

[2015-02-11 21:15] xDofah commented on #165
@twizmwazin i know,and thats my objective,okno.

Thanks to try to fix tonight :P

[2015-02-11 21:33] MrTheSharpie commented on #165
Thank you! And goob job with this, is the best PGM i have seen (Parapenguin did a good job also)

[2015-02-11 21:49] RubeGamerV opened #168 "How i can fix this?"
<a><img src="http://i.gyazo.com/344206d32e485c6d282dbe096e323d02.png" /></a>

[2015-02-11 21:51] CaptainElliott commented on #168
You need to import the dependancies form the POM.xml using maven
Most modern IDEs will do this.
I would suggest using IntelliJ but Eclipse is also an option

[2015-02-11 22:09] twizmwazin commented on #168
In IntelliJ you need to manually go and enable auto-importing of maven dependencies if you didn't enable it when importing the project. I think Eclipse is more automated (you might need a plugin though). Don't use NetBeans.

[2015-02-11 22:09] #168 closed

[2015-02-11 22:15] #165 closed

[2015-02-11 22:39] RubeGamerV commented on #168
Wich plugin need for Eclipse?

[2015-02-11 23:12] twizmwazin commented on #168
http://eclipse.org/m2e/

[2015-02-11 23:28] RubeGamerV commented on #168
I only need to copy and paste this codes in eclipse, compile this on maven and i can test this?

[2015-02-12 00:30] twizmwazin commented on #168
If you are just trying to compile, I suggest referring to [this] (https://github.com/twizmwazin/CardinalPGM/wiki/Instalando-CardinalPGM) guide.

[2015-02-12 02:20] AngelCasillas01 commented on #163
@twizmwazin @Superjd10 Tomorrow i'll make a video for show to you, the error log othe console i will upload to pastebin ;)

[2015-02-12 03:23] RubeGamerV commented on #168
Can i have a NO REALESE to can test? or see it?

[2015-02-12 04:00] twizmwazin commented on #168
@RubeGamerV I have no idea what that means.

[2015-02-12 05:08] RubeGamerV commented on #168
Like a "beta" of the cardinal.jar to can test and see

[2015-02-12 05:13] felipufeliu commented on #168
@RubeGamerV Para eso debes tu mismo compilar el plugin, aun no hay una 1.0 del plugin y si quieres hacer uso del plugin antes de la 1.0 tu debes compilarlo.

[2015-02-12 05:16] RubeGamerV commented on #168
@felipufeliu esque me da problema el eclipse cuando le pongo el codigo de arriba.

[2015-02-12 05:16] RubeGamerV commented on #168
y no me deja construirlo

[2015-02-12 05:23] felipufeliu commented on #168
@RubeGamerV Te recomiendo construirlo con Maven, esta guia (https://github.com/twizmwazin/CardinalPGM/wiki/Instalando-CardinalPGM) podria ayudarte ya que yo personalmente no se como construirlo con Eclipse.

[2015-02-12 05:34] RubeGamerV commented on #168
@felipufeliu y cual sportbukkit usas? el sportbukkit-api? o el normal? Grax

[2015-02-12 05:35] felipufeliu commented on #168
@RubeGamerV El normal

[2015-02-12 05:36] RubeGamerV commented on #168
@felipufeliu aa okok simplemente pongo los codigos que me da en la src de este repositorio y luego lo construyo directamente en maven?

[2015-02-12 05:39] felipufeliu commented on #168
@RubeGamerV No entiendo muy bien lo que quieres decir, pero mejor revisa la guia y leela completa ya que yo no sabría como explicarte

[2015-02-12 05:40] RubeGamerV commented on #168
@felipufeliu me pasas tu skype?

[2015-02-12 13:33] AngelCasillas01 commented on #147
Like Alfalik say, all of this maps use the timer and is on the XML the tmer, it is use regions, but you should add a file which accept that type of XML , that type of code... So any type of map makers can use ti if they want too...

[2015-02-13 00:39] RubeGamerV commented on #168
@twizmwazin Why i cant use Net Beans?

[2015-02-13 01:04] twizmwazin commented on #168
@RubeGamerV You can, but I don't have any experience with it and it generally has little support compared to IntelliJ or Eclipse.

[2015-02-13 01:13] RubeGamerV commented on #168
@twizmwazin bcus the plugin that you send me ( http://eclipse.org/m2e/ ) dosn´t work

[2015-02-13 01:23] twizmwazin commented on #168
@RubeGamerV Are you just trying to compile Cardinal or are you trying to develop it?

[2015-02-13 01:29] RubeGamerV commented on #168
compile

[2015-02-13 01:45] twizmwazin commented on #168
You don't need an IDE to compile. Please refer to [this] (https://github.com/twizmwazin/CardinalPGM/wiki/Instalando-CardinalPGM) guide.

[2015-02-13 01:56] RubeGamerV commented on #168
using last sportbukkit <a href="http://gyazo.com/74fdcb6491e514cb5629724b7a8c4bb4"><img src="http://i.gyazo.com/74fdcb6491e514cb5629724b7a8c4bb4.png" /></a>

[2015-02-13 01:58] twizmwazin commented on #168
@RubeGamerV Please make a pastebin of the entire log, your screenshot isn't enough.

[2015-02-13 02:00] RubeGamerV commented on #168
the server close automatically

[2015-02-13 02:04] RubeGamerV commented on #168
This is all that i can see <a href="http://gyazo.com/88be7c62e4b136e2cc09a3538c2af67d"><img src="http://i.gyazo.com/88be7c62e4b136e2cc09a3538c2af67d.png" /></a>

[2015-02-13 02:10] RubeGamerV commented on #168
i fix it, thanks 4 support!

[2015-02-13 02:10] twizmwazin commented on #168
@RubeGamerV This issue doesn't appear to be related to Cardinal, rather the map it is attempting to load. What map are you trying to load, it is probably broken somehow. Also, please use `git clone [repo]` to get Cardinal's source rather than using the download zip button. It helps us debug.

[2015-02-13 02:22] RubeGamerV commented on #168
But really i didnt know how compile the plugin

[2015-02-13 02:23] twizmwazin commented on #168
https://github.com/twizmwazin/CardinalPGM/wiki/Instalando-CardinalPGM

[2015-02-13 02:24] RubeGamerV commented on #168
i read it thanks!

[2015-02-13 02:29] RubeGamerV commented on #168
so difficult to instal maven on windows

[2015-02-13 02:42] RubeGamerV opened #169 "[SUG] Add admin icon prefix "❖" to op players"

[2015-02-13 02:49] rywarsaw commented on #169
The issues section is for issues regarding CardinalPGM. This isn't a issue.

[2015-02-13 03:00] twizmwazin commented on #169
We plan to implement a fairly robust rank system into Cardinal, thanks for the suggestion.

[2015-02-13 03:00] #169 closed

[2015-02-13 03:18] RubeGamerV commented on #169
Thanks 4 reply

[2015-02-13 04:19] CoWinkKeyDinkInc commented on #169
Does this plugin do exactly what Rube is asking for?

https://github.com/rmsy/Flair

[2015-02-13 04:22] twizmwazin commented on #169
@CoWinkKeyDinkInc I'm not full sure, either way Cardinal will have it's own implementation.

[2015-02-13 15:38] rywarsaw commented on #163
I think it is time to close this issue, any thoughts guys?

[2015-02-13 16:12] CaptainElliott commented on #163
@rywarsaw Why should this issue be closed, it could be a valid issue

[2015-02-13 16:41] rywarsaw commented on #163
@CaptainElliott The user hasn't provided a log or pastebin and I am not able to replicate this problem on the latest CardinalPGM version.

[2015-02-13 16:47] CaptainElliott commented on #163
That is no reason for it to be close, it should only be closed if it is declared invalid. That we do not know yet. Moreover it has only been 2 days.

[2015-02-13 16:49] rywarsaw commented on #163
@CaptainElliott There is no reason to keep this open until the user has more information. Once the user has more information he/she can re-open this issue on their own.

[2015-02-13 16:55] CaptainElliott commented on #163
Not at all, this issue has been reported and there is no need to close it until it has proven to be resolved.

Besides that it has only been 2 days for crying out loud

[2015-02-13 20:31] twizmwazin commented on #163
@rywarsaw Please do not try to administrate my repository. The only people who can close an issue are the creator of the issue, myself, and Elly. Issues will be closed when one of us feels it is ready, and we do not need your assistance.

[2015-02-14 01:59] AngelCasillas01 commented on #163
@twizmwazin I'm sorry i'll getting late, it's becaue i'm on a soccer tourney, and all this week i was so busy, today i'll make a video and all this things and posted here :)

[2015-02-14 05:28] AngelCasillas01 commented on #163
@twizmwazin @CaptainElliott
Heres is the test on a video, is not yet, i'm going to sleep and let the video uploading, should be ready when you see this, i'll try too put /cardinal -v and dosen't work btw!

[2015-02-14 09:46] MrTheSharpie opened #170 "You can only get water from an infinite source if you are OP."
Video evidence: http://youtu.be/f0K9Jdlgf9g
Version: http://prntscr.com/64xb5s

[2015-02-14 09:52] MrTheSharpie opened #171 "You can't see wool touches if you are observer"
Version: http://prntscr.com/64xb5s
Video evidence: http://youtu.be/3r_7tyHAGfw

This issue only happens on CTW.

[2015-02-14 10:36] Rafitamolin commented on #170
If you aren't op, can you place blocks there? If not, it's an error of your XML file.

[2015-02-14 11:35] MrTheSharpie commented on #170
I can place, but I can't break them after placing them.

[2015-02-14 11:37] Rafitamolin commented on #170
Wow, that's strange then.

[2015-02-14 11:46] MrTheSharpie commented on #170
And also it happens with XML from docs.oc.tc

[2015-02-14 12:01] AngelCasillas01 commented on #163
http://youtu.be/FxC8Xa-1L7g

[2015-02-14 12:24] CaptainElliott commented on #163
@AngelCasillas01 We need to see the stack trace of the error

Upload the logs of when you were executing the command to something like pastbin or gist

[2015-02-14 12:25] CaptainElliott commented on #171
THanks for reporting, will look into it

[2015-02-14 14:39] knightopress commented on #163
You might be using an outdated version of CardinalPGM or SportBukkit, I'm not getting any of those errors with the latest versions.

[2015-02-14 15:17] MrTheSharpie commented on #171
You are welcome :)

[2015-02-14 15:19] Ambamore2000 opened #172 "Some XML Errors?"
Some maps don't work, assuming it's the XML, it shows that the author is null, when it is supposed to be from a UUID. Secondly, when the map tries to cycle, it doesn't work, and yeah.

Here are some XML files that don't work:
Ozone - http://pastebin.com/PKtUMaBf
Cloud Nine - http://pastebin.com/cfpsB4iF

An XML file that DOES work:
Warlock - http://pastebin.com/A3Fq8Lu9

Yes, I do have these in th

[2015-02-14 15:32] twizmwazin commented on #171
This is because of my new chat system, I'll fix this. I forgot to send messages to the obs channel.

[2015-02-14 15:36] twizmwazin commented on #172
Please do not use the `Download zip` button, use `git clone` to get the source. Please do that to get the latest source and then reconfirm the bug.

[2015-02-14 15:45] MrTheSharpie commented on #171
Okey. But it's not only chat, also scoreboard doesnt appear.

[2015-02-14 16:08] Shipi1 opened #173 "People without op can not break blocks in some parts of the map"
people without op can not break blocks in some parts of the map, the xml is well (download from maps.oc.tc).

[2015-02-14 16:11] twizmwazin commented on #173
This isn't a Cardinal issue. Go into your configs and disable spawn protection.

[2015-02-14 16:11] #173 closed

[2015-02-14 16:12] Shipi1 commented on #173
Ok!

[2015-02-14 16:13] CaptainElliott commented on #171
@twizmwazin the score board does not show the touched icon

[2015-02-14 16:51] Ambamore2000 commented on #172
Bug still occurs after using git clone instead of downloading zip.

[2015-02-14 17:01] knightopress commented on #172
[01:38:36 INFO]: World matches/b11f7667-e278-43f5-98b9-b0abe0119ba7 is a duplicate of another world and has been prevented from loading. Please delete the uid.dat file from matches/b11f7667-e278-43f5-98b9-b0abe0119ba7's world directory if you want to be able to load the duplicate world.

I think you should do what it says.

[2015-02-14 17:11] Ambamore2000 commented on #172
I already did that before.

[2015-02-14 17:12] Ambamore2000 commented on #172
I also want to note, when I try loading the original-CardinalPGM plugin, I get this error, http://pastebin.com/HX75NQkp.

[2015-02-14 17:14] twizmwazin commented on #172
@Ambamore2000 the `original` prefixed Cardinal is just the Cardinal classes, before the maven shade plugin is executed. It is for reference only, and should be ignored.

[2015-02-14 17:29] Ambamore2000 commented on #172
Alright, found this. When I start the server, CardinalPGM first loads DeepwindJungle. The error message:
http://pastebin.com/yWCpUMtK

[2015-02-14 17:38] twizmwazin commented on #172
@Ambamore2000 I know what the issue is, I'll fix it soon

[2015-02-14 18:08] AngelCasillas01 commented on #163
after some test, this is working fine, my fault :c

[2015-02-14 18:08] #163 closed

[2015-02-14 18:15] iEli2tyree011 commented on #170
Can you go into your server.properties file and tell me what spawn-protection is set to?

[2015-02-14 19:28] MrTheSharpie commented on #170
Oh lol that was the problem. Thank you

[2015-02-14 19:35] #170 closed

[2015-02-14 20:29] #171 closed

[2015-02-14 20:41] #133 closed

[2015-02-14 21:02] MrTheSharpie commented on #171
Thank you

[2015-02-14 21:32] MrTheSharpie opened #174 "/G doesn't work"
It worked before the update to show touches http://prntscr.com/655ozt

[2015-02-14 22:05] CaptainElliott commented on #174
We need to know the exact error, please past the error

[2015-02-14 22:08] twizmwazin commented on #174
I'm working on revising the command and chat system, the issue will be addressed soon

[2015-02-14 23:08] MrTheSharpie commented on #174
Okey. The exact error is something simmilar to "This command doesnt exist"

[2015-02-14 23:27] iEli2tyree011 commented on #162
This issue cannot be re-created by anyone else, it seems. Make sure you have the latest version of **all** of the following: the plugin, map XML, and the actual map.

[2015-02-14 23:27] #162 closed

[2015-02-14 23:28] RubeGamerV commented on #172
Do not use UUID in xml to authors

[2015-02-14 23:59] ItzWid13 commented on #173
Thanks!

[2015-02-15 01:42] AngelCasillas01 opened #175 "When you cycle too BoomBox it appears like you are on Race For Victory 2"
On the server, appears that you are playing BoomBox and the XML is working fine, but appears like you are on RFV2 on the MotD and everything

[2015-02-15 02:20] RubeGamerV opened #176 "Incompatibilty with CommandBook"

[2015-02-15 02:52] ItzWid13 commented on #176
Its good the command book :c

[2015-02-15 03:01] twizmwazin commented on #176
Are you using Overcast's version of command book?

[2015-02-15 03:24] RubeGamerV commented on #176
No, do exist one?

[2015-02-15 05:30] twizmwazin commented on #176
https://repo.oc.tc/content/repositories/snapshots/com/sk89q/commandbook/2.5-SNAPSHOT/commandbook-2.5-20140901.220343-3.zip

The issue is because SportBukkit 1.7.10 uses an updated version of the Guava library.

[2015-02-15 05:30] #176 closed

[2015-02-15 06:08] RubeGamerV commented on #176
Thanks

[2015-02-15 06:58] RubeGamerV commented on #176
But when i edit the config.yml from CommandBook, this recreate and override the config

[2015-02-15 07:14] twizmwazin commented on #176
Are you saying that config options aren't persistent between restarts?

[2015-02-15 15:47] elespawol commented on #174
Me happens the same, its says that that command doesn't exist..
El dia 14/02/2015 23.05, "Elliott" <notifications@github.com> va escriure:

[2015-02-15 15:49] Shipi1 opened #178 "/g does not working"
The command /g does not working in the update.

1.0-SNAPSHOT-git-CardinalPGM-624c987

[2015-02-15 15:49] elespawol commented on #175
Me boombox works fine...
Its soo strange your error,.,.
El dia 15/02/2015 2.42, "Angel" <notifications@github.com> va escriure:

[2015-02-15 15:50] CaptainElliott commented on #178
Dupe https://github.com/twizmwazin/CardinalPGM/issues/174

Please check the issue tracker of already submitted issues before creating one please

[2015-02-15 15:50] elespawol commented on #178
Please go to #144
There we are talking about that.
El dia 15/02/2015 16.49, "Shipi1" <notifications@github.com> va escriure:

[2015-02-15 15:51] #178 closed

[2015-02-15 15:51] elespawol commented on #178
Nothing faillll
El dia 15/02/2015 16.50, "Elespawol GMail" <elespawol@gmail.com> va
escriure:

[2015-02-15 15:51] Shipi1 commented on #178
ok.
ty Elliot_

[2015-02-15 15:51] twizmwazin commented on #175
I'm pretty sure you just put the XMLs in the wrong folders

[2015-02-15 15:51] #175 closed

[2015-02-15 16:23] #172 closed

[2015-02-15 17:17] #174 closed

[2015-02-15 17:23] RubeGamerV commented on #176
yes

[2015-02-15 19:48] MrTheSharpie commented on #174
Thank you! Keep doing this work. Btw, i have made a tutorial to compile the plugin in spanish. Would you consider including it on the Spanish guide?

[2015-02-15 21:00] twizmwazin commented on #174
Go ahead, add it

[2015-02-16 02:59] AngelCasillas01 opened #180 "[SUG] Proximity"
Proximity is very important on CTW matches, mostly on the last tourney of OCN Proximity was a key of the win, I know it's very hard, but at least you can try your best, i know you can with this, i can help if you want too

[2015-02-16 03:13] felipufeliu commented on #180
This place is for issues, please try to keep it only for that and not for suggestions.

[2015-02-16 03:13] AngelCasillas01 commented on #180
@felipufeliu

[2015-02-16 03:14] AngelCasillas01 commented on #180
So were i can post ideas for this plugin?

[2015-02-16 03:16] felipufeliu commented on #180
Via skype or pm them in game, but actually the developers already had in mind to add proximity but I think they are going to do the most important stuff first and then this

[2015-02-16 07:11] CaptainElliott commented on #180
Everything that is on the real PGM should get put on cardinal, no need to suggest them

[2015-02-16 07:39] dentmaged commented on #127
@twizmwazin Will the countdown use BarAPI? Or something custom coded?

[2015-02-16 10:35] AngelCasillas01 commented on #180
@CaptainElliott So actually this is in your to do lista. Fine!

[2015-02-16 11:06] elespawol commented on #127
+1
El dia 16/02/2015 8.39, "dentmaged" <notifications@github.com> va escriure:

[2015-02-16 15:05] twizmwazin commented on #127
@dentmaged I want to minimize use of external dependencies when possible. Bar API has a host of limitations, one being the inability to do localization efficiently. Because it is just sending some packets, I plan on doing this myself.

[2015-02-16 19:41] MrTheSharpie opened #182 "/team alias doesn't work"
I think this has something to do with the chat and command fixes that you are doing.
ERROR: http://prntscr.com/65y9sf
              http://prntscr.com/65y9yy

Version: http://prntscr.com/65ya5m

[2015-02-16 19:42] CaptainElliott commented on #182
That command has been overridden by chat channels

[2015-02-16 19:43] ItzWid13 opened #183 "Can enter to own wools, The latest version"

[2015-02-16 19:44] MrTheSharpie commented on #182
@CaptainElliott I supposed that

[2015-02-16 19:45] CaptainElliott commented on #182
https://github.com/twizmwazin/CardinalPGM/pull/184

[2015-02-16 19:46] MrTheSharpie commented on #182
@CaptainElliott Wow! That was fast! Thank you :)

[2015-02-16 19:51] twizmwazin commented on #183
We need more details

[2015-02-16 19:52] twizmwazin commented on #182
Closed by e6348aab668df92bdc42e8fb328c312ac389d1b4

[2015-02-16 19:52] #182 closed

[2015-02-16 19:52] elespawol commented on #183
Me happens the same
El dia 16/02/2015 20.51, "Kevin Phoenix" <notifications@github.com> va
escriure:

[2015-02-16 19:52] ItzWid13 commented on #183
I was playing an scrim and everyone can enter our own wool

[2015-02-16 19:53] twizmwazin commented on #183
I need to know what map, and if you could have a pastebin to your XML, that would be helpful.

[2015-02-16 19:53] CaptainElliott commented on #183
Its working fine for me

Tested on dynamo

[2015-02-16 19:54] elespawol commented on #183
Wich map?
El dia 16/02/2015 20.52, "ItzWid13" <notifications@github.com> va escriure:

[2015-02-16 19:54] ItzWid13 commented on #183
On Dynamo,Deepwind Jungle, xml maps.oc.tc
before it works fine

[2015-02-16 19:55] CaptainElliott commented on #183
was there any errors when this was happening?
and what is the result of `/cardinal -v`

[2015-02-16 19:57] ItzWid13 commented on #183
is the latest version of cardinal :cactus:

[2015-02-16 20:04] ItzWid13 commented on #183
Is my error sorry

[2015-02-16 20:04] #183 closed

[2015-02-16 21:31] ItzWid13 opened #186 "/team force,alias,shuffle doesnt work."

[2015-02-16 21:33] twizmwazin commented on #186
This was fixed in e6348aab668df92bdc42e8fb328c312ac389d1b4. Please update

[2015-02-16 21:33] #186 closed

[2015-02-16 21:33] ItzWid13 commented on #186
Nope, Isnt working

[2015-02-16 21:35] CaptainElliott commented on #186
@ItzWid13 make sure to re-clone this repo so it has the most up to date version

[2015-02-16 21:36] ItzWid13 commented on #186
i have to do /team alias [TEAM] [New]

[2015-02-16 21:37] CaptainElliott commented on #186
yes

[2015-02-16 21:54] ItzWid13 opened #187 "Don't show scoreboard in Dynamo and don't show The Pick Up The Wool Message"
Latest version of cardinal.

[2015-02-16 23:08] Vixo1 commented on #187
Provide logs, it will be more easy to find why this happen, also check if is not your xml. (maps.oc.tc)

[2015-02-16 23:10] ItzWid13 commented on #187
The XML and the map are from maps.oc.tc

[2015-02-16 23:24] CaptainElliott commented on #187
Can we see screenshots or a video of what you mean. AS Well as provide error logs if there is any

[2015-02-16 23:35] RubeGamerV commented on #176
@twizmwazin  Yes

[2015-02-16 23:57] AngelCasillas01 opened #188 "When you take the wool from the chest it appears the pick up message so much"
IOn CTW maps, if ypu take the wool from chests (If Possible) Appears so much the message heres an example:

AngelCasillas01 Picked up Blue Wool.  (Now you have take 1 wool, the thing is that the message appears when you take the wool, on wool spawners do not have this bug

[2015-02-17 00:00] Alfalik commented on #188
Can you explain it better?

[2015-02-17 00:02] dentmaged commented on #188
And what version are you running?

[2015-02-17 00:47] TiTo-418 commented on #188
Version: http://gyazo.com/40bcbb0225ceb4b2d806235105925f13
Video Evidence: http://youtu.be/NqhCAjF8ZXQ

[2015-02-17 01:05] TiTo-418 commented on #187
http://imgur.com/VGATnfU

[2015-02-17 01:26] AngelCasillas01 commented on #188
@TiTo-418 Thank You!

[2015-02-17 01:58] AngelCasillas01 commented on #176
@twizmwazin You can't use SA2 too, it's true what he are saying, i edit all i can, almost all plugins arent working, LegendaryRestart arent working :(

[2015-02-17 02:04] twizmwazin commented on #176
@AngelCasillas01 These issues have nothing to do with Cardinal, but rather with Sportbukkit. Because Cardinal is designed to be a primarily standalone plugin, we are not concerned with some other plugins.  I believe that some of these issues will be resolved with Sportbukkit 1.8, as it appears that it will use the same Guava version as Craftbukkit/Spigot.

[2015-02-17 02:07] AngelCasillas01 commented on #176
Ok, I'll understand, but It's true what he are saying about CommandBook on config.yml, i tested on some servers without cardinal, the same, i try with CraftBukkit too with only CommandBook on plugins folder, the same, do you know why? Because i'm confused :c

[2015-02-17 02:08] AngelCasillas01 commented on #176
@twizmwazin

[2015-02-17 02:11] twizmwazin commented on #176
The config issue should be resolved in b06d5759d0ca2eced699dc5219f4c09e8be71ba2. Cardinal is not compatible with Craftbukkit. For CommandBook you need to use Overcast's version for 1.7.10. Cardinal will soon be updating to be 1.8 only, and then the issue should be fixed.

[2015-02-17 02:13] AngelCasillas01 commented on #176
@twizmwazin Nice to heard Good News every time i talk to you :)

[2015-02-17 02:42] RubeGamerV commented on #176
@twizmwazin i use Overcast´s s sportbukkit 1.7.10 SNAPSHOT
 and the problem still

[2015-02-17 02:46] twizmwazin commented on #176
@RubeGamerV I know. If you want CommandBook to work with SportBukkit, you must use Overcast's CommandBook, linked earlier in the issue. Normal CommandBook does not work with Sportbukkit.

[2015-02-17 02:49] AngelCasillas01 commented on #176
@twizmwazin i got the sameone that you give it and the same problem :c does i need to do something before?

[2015-02-17 02:50] twizmwazin commented on #176
If the issue is not resolved, I will try to resolve the issue when everything is updated to 1.8.

[2015-02-17 02:52] RubeGamerV commented on #176
@twizmwazin and you add the UUID support from xml contributors in the 1.8?

[2015-02-17 02:52] AngelCasillas01 commented on #176
@twizmwazin  so now we should wait SportBukkit 1.8 to this problem been solved, it's ok! Maybe more problems will be solved after the release, does this update will afect the plugin?

[2015-02-17 02:53] twizmwazin commented on #176
@AngelCasillas01 Yes, I will have to make a few changes to Cardinal to support 1.8, meaning Cardinal will not work with 1.7.10 after 1.8 comes out.

[2015-02-17 03:04] AngelCasillas01 commented on #176
@twizmwazin Sooooo, that means we can't use 1.7.2 after SportBukkit 1.8 comes released D: or you will update Cardinal to 1.8 but we can still use 1.7.2 :D

[2015-02-17 03:05] twizmwazin commented on #176
Right now, Cardinal is only tested against 1.7.10. When we update to 1.8, Cardinal will work only with 1.8, not 1.7.10 or 1.7.2.

[2015-02-17 03:07] AngelCasillas01 commented on #176
@twizmwazin i understand now! Nice to heard you are exited to upgrade

[2015-02-17 03:32] iEli2tyree011 commented on #188
I'll look into it, thanks

[2015-02-17 03:43] #188 closed

[2015-02-17 04:14] #187 closed

[2015-02-17 04:17] TiTo-418 opened #190 "The scoreboard flashes when updated"
Video evidence: http://youtu.be/fFFy5AJ7gWc
Version: http://gyazo.com/ffd3c9268524cca7441b316421117a5d

[2015-02-17 04:23] twizmwazin commented on #190
@TiTo-418 Please make the video unlisted, not private

[2015-02-17 04:43] iEli2tyree011 commented on #190
Have a solution to this, I'll try to fix it tomorrow.

[2015-02-17 04:43] iEli2tyree011 commented on #180
I'll work on this tomorrow.

[2015-02-17 04:44] TiTo-418 commented on #190
Ok, thanks. The video no is private, is hidden

[2015-02-17 04:47] RubeGamerV commented on #176
@twizmwazin <a href="http://gyazo.com/a2eb894498e460f1905f82b794e6eb94"><img src="http://i.gyazo.com/a2eb894498e460f1905f82b794e6eb94.png" /></a> when i try to use the last SNAPSHOT of Commandbook with the cardinal

[2015-02-17 04:49] twizmwazin commented on #176
@RubeGamerV Where did you download this snapshot from? This issue is completely unrelated to Cardinal.

[2015-02-17 11:27] AngelCasillas01 commented on #188
Thanks for solve the bug!

[2015-02-17 12:33] dentmaged commented on #190
@iEli2tyree011 Change the values of the scoreboard instead of creating a new scoreboard.

[2015-02-17 15:01] twizmwazin commented on #190
@dentmaged This can cause issues as we are using the name portion of the scoreboard rather than the score section. The way scoreboards are intended to be used is to have static names and score counts. We reverse that.

[2015-02-17 15:07] elespawol commented on #180
Nice
El dia 17/02/2015 5.44, "iEli2tyree011" <notifications@github.com> va
escriure:

[2015-02-17 17:07] #190 closed

[2015-02-17 17:07] iEli2tyree011 commented on #190
Can you let me know how this works?

[2015-02-17 17:08] iEli2tyree011 commented on #188
No problem, thanks for reporting :)

[2015-02-17 17:53] TiTo-418 commented on #190
ok, give me a minutes

[2015-02-17 19:33] ItzWid13 opened #191 "Settings do not change anything"

[2015-02-17 20:35] iEli2tyree011 commented on #191
Does anything show up in the logs? How does it not work properly? Please give some details.

[2015-02-17 20:37] ItzWid13 commented on #191
for example when i do /toggle blood when i hit someone does not appears the blood

[2015-02-17 20:42] ItzWid13 opened #192 "When finish a match it appears too much [Team] Wins"
http://prntscr.com/66exv8

[2015-02-17 20:46] iEli2tyree011 commented on #191
I only implemented the commands...not the features.

[2015-02-17 20:48] iEli2tyree011 commented on #192
This was already fixed in 2f7d724.

[2015-02-17 20:48] #192 closed

[2015-02-17 20:50] ItzWid13 commented on #192
Omg youre working so quickly xd

[2015-02-17 21:40] ItzWid13 opened #193 "Scoreboard still flashes"
Video: http://youtu.be/mRN86pYLYlE

[2015-02-17 22:11] AngelCasillas01 commented on #193
The proximity should dissapear when you touch, on wools only when you placed, otherwise that scoreboard bug :c

[2015-02-17 22:34] #180 closed

[2015-02-17 22:45] #141 closed

[2015-02-17 22:46] iEli2tyree011 commented on #141
No one else seems to be able to recreate this issue; if you're still having it with the latest version, please let me know.

[2015-02-17 23:05] Shipi1 opened #194 "/toggle blood does not work, says on but no blood."
Cardinal Version: 1.0-SNAPSHOT-git-CardinalPGM-601a41f

[2015-02-17 23:15] twizmwazin commented on #147
Closing as this isn't a module in itself, rather manipulation of other modules.

[2015-02-17 23:15] #147 closed

[2015-02-17 23:16] twizmwazin commented on #194
Duplicate of #191

[2015-02-17 23:16] #194 closed

[2015-02-18 03:29] RubeGamerV commented on #176
@twizmwazin from here <a href"https://repo.oc.tc/content/repositories/snapshots/com/sk89q/commandbook/">here</a>

[2015-02-18 17:40] dentmaged opened #198 "TNT Defuser in inventory whilst spectating"
In @CaptainElliott's pull request, he gave spectators TNT defusers...
Here is a screenshot: ![Bug](http://i.imgur.com/oBjIJMU.jpg)

[2015-02-18 17:41] AngelCasillas01 commented on #198
This is correct

[2015-02-18 17:44] dentmaged commented on #198
Oh yes just noticed in the code, but why have this?

[2015-02-18 17:44] CaptainElliott commented on #198
If you are OP you are able to defuse TNT in observers

[2015-02-18 17:45] dentmaged commented on #198
@CaptainElliott Ohh I see! My mistake sorry! I'll close this issue.

[2015-02-18 17:45] #198 closed

[2015-02-18 18:00] ItzWid13 opened #199 "Cant Compile"
http://prntscr.com/66rqkw

[2015-02-18 18:02] iEli2tyree011 commented on #199
I'll look into it, thanks

[2015-02-18 18:06] CaptainElliott commented on #199
@iEli2tyree011 https://travis-ci.org/twizmwazin/CardinalPGM#L653

[2015-02-18 18:07] iEli2tyree011 commented on #199
@CaptainElliott I know, I already fixed it, waiting for Twiz to make the 500th commit :stuck_out_tongue:

[2015-02-18 18:07] CaptainElliott commented on #199
\o/

[2015-02-18 18:08] iEli2tyree011 commented on #199
Fixed in bf2970fff543c4853465db4dbc3a52f362f3dd4b

[2015-02-18 18:08] #199 closed

[2015-02-18 18:29] Shipi1 opened #200 "Snowflakes not have sound."
Not have sounds :(

[2015-02-18 18:31] Superjd10 commented on #176
@RubeGamerV He means where did you download the CardinalPGM snapshot? Because it's trying to stop "AwesomePGM" instead of "CardinalPGM" (5 last line)

[2015-02-18 18:57] #200 closed

[2015-02-18 19:21] elespawol commented on #200
Wut?? Snowflakes WTF
El dia 18/02/2015 19.57, "iEli2tyree011" <notifications@github.com> va
escriure:

[2015-02-18 19:49] TiTo-418 opened #202 "A touch message appear when the objective is completed"
Video: http://youtu.be/VvgVANqUVak
Cardinal Version: http://gyazo.com/f63e2a48cf132718da49d21f0830265b

[2015-02-18 19:56] twizmwazin commented on #202
I'll look into this

[2015-02-18 19:57] AngelCasillas01 commented on #202
Please put "A touch message appear when the objective is completed" that title that you put is very confused :C

[2015-02-18 20:17] TiTo-418 commented on #202
And the obs cant view the touch message

[2015-02-18 21:05] elespawol commented on #202
I think thats not a bug.
El dia 18/02/2015 21.17, "TiTo-418" <notifications@github.com> va escriure:

[2015-02-18 21:08] RubeGamerV commented on #176
@Superjd10  es por que es el mejor PGM :D por eso es Awesome

[2015-02-18 21:18] Shipi1 opened #203 "Snowflakes occur when you commit suicide."
http://gyazo.com/69384e93bc619f7c61cd6057cce905b9

[2015-02-18 21:20] MrTheSharpie opened #204 "Completed objective's sound can only be heared from near"
You can only hear the objective completed sound if you are near the core/monument/wool monument etc when they are completed.

[2015-02-18 21:24] elespawol commented on #203
Oh MY godness
That is OVER hype.
No more words :O

2015-02-18 22:18 GMT+01:00 Shipi1 <notifications@github.com>:

[2015-02-18 21:44] Alfalik commented on #176
@RubeGamerV Le quitas crédito a los autores cambiando el nombre del plugin con eclipse, ademas de crear errores.

[2015-02-18 22:02] #203 closed

[2015-02-18 22:03] iEli2tyree011 commented on #204
What sound are you referring to?

[2015-02-18 22:04] AngelCasillas01 commented on #204
@iEli2tyree011 The sound when the match finish

[2015-02-18 22:05] AngelCasillas01 commented on #202
I don't have the problem when you are join, otherwise the obs problem its true

[2015-02-18 22:06] iEli2tyree011 commented on #204
I don't recall there being a sound when the match ends

[2015-02-18 22:07] AngelCasillas01 commented on #204
@iEli2tyree011 Well idk :c i thought he reffer to that

[2015-02-18 22:34] Vixo1 commented on #204
I think he reffers to the fireworks, so this is not a issue...

[2015-02-18 22:58] CoWinkKeyDinkInc commented on #204
The wither sounds probably, I've heard that you can toggle them.

[2015-02-18 23:09] RubeGamerV commented on #176
@Alfalik  Para empezar no lo estoy poniendo a descarga con mi credito y nunca dije que es a mi nombre

[2015-02-18 23:31] twizmwazin commented on #176
@RubeGamerV Please don't re-upload my (and others') work. I will not provide any support for it. Regardless, you must include my copyright notice found {here] (https://github.com/twizmwazin/CardinalPGM/blob/master/LICENSE). Failure to do so will result in a DMCA.

[2015-02-18 23:36] iEli2tyree011 commented on #202
Fixed in 767ac10d0f7fe72047c1dc9dc2fa786ea01e5302

[2015-02-18 23:36] #202 closed

[2015-02-18 23:49] Superjd10 commented on #200
@elespawol Snowflakes = Raindrops.

[2015-02-18 23:56] D4n1e6656 commented on #204
to Win: https://www.youtube.com/watch?v=-jTrmrlBW70
losing: https://www.youtube.com/watch?v=36F33OvX4Ss
to complete an objective: https://www.youtube.com/watch?v=sr4jOhkDxVA

[2015-02-19 00:24] Alfalik commented on #176
@RubeGamerV Entonces para que le cambias el nombre, es algo total y completamente innecesario, ademas, desvaloras el trabajo de los autores.

[2015-02-19 01:21] RubeGamerV commented on #176
@Alfalik pero no lo estoy vendiendo ni ofreciendo, simplemente le cambie el nombre y no me estoy robando el credito, en el archivo plugin.yml te aparese el nombre y si lo cambie es porque quiero ver como se mira asi y si lo cambio a ti no te debe de importar

[2015-02-19 07:22] iEli2tyree011 commented on #204
@D4n1e6656 Thank you for listing the sounds, didn't know what they were before :yum:

[2015-02-19 07:44] SuHoney commented on #204
http://youtu.be/cvdXx1ukC6w

+Blitz sounds with fixed objective sounds

[2015-02-19 07:48] elespawol commented on #200
Fun.
El dia 19/02/2015 0.49, "José Daniel Durán" <notifications@github.com> va
escriure:

[2015-02-19 08:13] iEli2tyree011 opened #205 "You can enter your own team's scorebox on Facility/Facility TE"
Sometimes it awards points, other times it doesn't.

[2015-02-19 10:58] AngelCasillas01 opened #206 "No way to view snowflake counts"
^^

[2015-02-19 12:58] Jonmuxu opened #207 "[Bug] Snowflakes free"
if you auto-spleff you can get snowflakes infinite (sorry for my english :S)

[2015-02-19 13:00] Jonmuxu opened #208 "[ask] Snowflakes"
when you kill a player that say in chat: +1 Snowflake | killed (name) | x1.0 |
if you put x1.0? that means there are rank that give more than x1.0?

[2015-02-19 13:03] AngelCasillas01 commented on #207
This is duplicated

[2015-02-19 13:04] AngelCasillas01 commented on #208
It's for know how much it gives and it's editable

[2015-02-19 15:23] Rafitamolin commented on #207
Duplicated from #203

[2015-02-19 15:37] MrTheSharpie commented on #204
@SuHoney Yep, I refered to that sounds. Thank you for clarifying.

[2015-02-19 15:43] D4n1e6656 opened #209 "Compile Error CardinalPGM?"
http://gyazo.com/75283181ee121e1702aeb36401096d1a

[2015-02-19 16:46] twizmwazin commented on #209
Travis informs us, you don't need to make an issue.

[2015-02-19 16:46] #209 closed

[2015-02-19 16:47] #208 closed

[2015-02-19 17:07] #207 closed

[2015-02-19 17:27] iEli2tyree011 commented on #207
This was already fixed

[2015-02-19 17:35] iEli2tyree011 commented on #204
Fixed by 880b233b3ef84264ac895f9a390fe76ec4d6390f

[2015-02-19 17:35] #204 closed

[2015-02-19 17:52] ItzWid13 opened #210 "Cant use the helmet to join teams."

[2015-02-19 17:52] #206 closed

[2015-02-19 17:56] #205 closed

[2015-02-19 18:50] AngelCasillas01 opened #211 "Dosen't let people put tnt above the height limit"

[2015-02-19 18:56] CaptainElliott commented on #211
That is a map feature based on XML

[2015-02-19 19:16] #211 closed

[2015-02-19 19:44] Superjd10 commented on #176
@RubeGamerV Por cambiarle el nombre no puedes recibir ayuda por parte de los desarrolladores, ellos dan soporte a lo que ellos hacen, tal y como ellos lo hacen, sin ediciones.

[2015-02-19 19:52] Jair07mx opened #212 "Missing space in /g"
Hi, I was a little testing the plugin with some friends and found an error.

When using /g missing a space next to the colon (:) and the message. Thank you for your attention.
![2015-02-19_13 52 40](https://cloud.githubusercontent.com/assets/11080069/6274659/a33a744e-b83e-11e4-86bb-bce51b4c998e.png)

[2015-02-19 19:59] Jair07mx opened #213 "Bold in death messages"
Hi, this error apparently is implemented with the arrival of /toggle, I see the death of all messages in bold, not just mine.
![2015-02-19_13 55 30](https://cloud.githubusercontent.com/assets/11080069/6274772/814b6df6-b83f-11e4-819f-6482b76d59ab.png)

[2015-02-19 20:04] Alfalik commented on #213
It work on bold when you are in the event. Try to get 2 friends, then one of him kill the other. You will se it with normal characters. If not, is an error.

[2015-02-19 20:12] #212 closed

[2015-02-19 20:15] #213 closed

[2015-02-19 20:41] RubeGamerV commented on #176
@Superjd10 pues ellos lo hicieron yo solo vi que se podia cambiar el nombre y lo hice, pero eso no cambia que lo hicieron ellos

[2015-02-19 20:56] #210 closed

[2015-02-19 21:08] elespawol commented on #176
Es verdad... les quitas merito a los creadores de plugin...
Si quieres... lo LEGAL q podrias hacer, es con un plugin bloquear el
/plugins para q evitasen ver q PGM usas... pero bueno... alla tu
Si tu fueras el autor, seguramente no te.aria gracia lo q has hecho
(Vamos.. eso creo)

@RubeGamerV <https://github.com/RubeGamerV> Primero que nada hiciste un
repositorio en github poniendo nombres como BH

[2015-02-19 21:54] ItzWid13 opened #215 "Too Many Scores in Blocks:RAGE"
Video: Later :c
Latest Version of Cardinal

[2015-02-19 23:42] twizmwazin commented on #215
"Latest version" is absolutely useless
Neither Elly or I can figure out what you are talking about

[2015-02-19 23:59] iEli2tyree011 commented on #215
As @twizmwazin said, we need the output of /cardinal -v, not just "latest version" as the plugin is being constantly updated.
Also, can you provide a description? And even if you can't get a video up, even just a screenshot of what you're referring to helps.

[2015-02-20 01:56] Jair07mx opened #216 "Observers have a TNT Defuser"
The title say all.

[2015-02-20 02:15] Alfalik commented on #216
OP´s can disable TNT in observers, you should close it.

[2015-02-20 02:33] Jair07mx commented on #216
Oh, thanks, sorry xD :(

[2015-02-20 02:33] #216 closed

[2015-02-20 04:22] Jair07mx commented on #127
Mean that you can not add this? It would be great, tried to add BarAPI your plugin? you will think of something.

[2015-02-20 04:27] iEli2tyree011 commented on #127
@Jair07mx The answer to your question is right above your comment:
"I want to minimize use of external dependencies when possible. Bar API has a host of limitations, one being the inability to do localization efficiently. Because it is just sending some packets, I plan on doing this myself."

[2015-02-20 09:53] dentmaged opened #217 "/g with no arguments sends blank global message"
When a user runs /g with no arguments, it sends a blank message. I know that you have to work on toggling but I think it would be good to fix it.

![/g](http://i.imgur.com/gG34KQ1.jpg)

Version: ![Version](http://i.imgur.com/wQIUgdY.png)

[2015-02-20 16:19] ParaPenguin commented on #127
@twizmwazin You can send boss bars per-client, thus you can do localisation just fine with BarAPI.

[2015-02-20 16:31] ParaPenguin commented on #193
The scoreboard flashes because a new scoreboard is registered every time an update is performed. This can be seen [here](https://github.com/twizmwazin/CardinalPGM/blob/039bd89ae931655537c35a5841cae8dd977da4c2/src/main/java/in/twizmwaz/cardinal/module/modules/gameScoreboard/GameScoreboard.java#L115-L120). You can fix this by using the `Score#resetScore()` method in Bukkit's API. This will reset the

[2015-02-20 16:40] ParaPenguin opened #219 "Database should be toggleable"
The [Database](https://github.com/twizmwazin/CardinalPGM/blob/master/src/main/java/in/twizmwaz/cardinal/Database.java) provided should really be off by default, and toggleable. That _or_ other database options should be provided, by using an interface with many subclasses for different Database types. Storing player data in flat file will grow over time, and if the server is used a lot, it has the

[2015-02-20 16:43] ParaPenguin opened #220 "Unnecessary usage of JavaPlugin fields"
I noticed when I searched for `JavaPlugin` that there are [several references](https://github.com/twizmwazin/CardinalPGM/search?utf8=✓&q=JavaPlugin) to JavaPlugin stored across the plugin, however you have a static method, `Cardinal.getInstance()` for accessing the plugin? Optimally, it would be best to use this method to retrieve the instance of the plugin, as opposed to storing a reference to it

[2015-02-20 16:53] twizmwazin commented on #219
I am aware of the weaknesses of the "database." I am looking at possibly having settings/snowflake/other stats stored remotely and acquired when a player logs in.

[2015-02-20 16:56] twizmwazin commented on #127
@ParaPenguin BarAPI is like 2 classes though, which could both be easily rewritten in Cardinal. Either way, I am waiting until we move to 1.8 to do this. SportBukkit 1.8 is currently mostly ready, it can b e found in [this PR](https://github.com/OvercastNetwork/SportBukkit/pull/132). As soon as it hits master, I'm going to update Cardinal to support it. SportBukkit's custom API is not consistent b

[2015-02-20 17:00] ParaPenguin commented on #127
@twizmwazin If SportBukkit doesn't cross per version, it would probably be best to use reflection to achieve the best result across versions.

[2015-02-20 17:03] #217 closed

[2015-02-20 17:07] twizmwazin commented on #127
@ParaPenguin Perhaps, although I'm not too concerned with supporting older Minecraft versions.

[2015-02-20 17:08] ParaPenguin commented on #127
@twizmwazin I think most people would at least expect the support of 1.7 until 1.8 is launched

[2015-02-20 17:23] #220 closed

[2015-02-20 17:24] ParaPenguin commented on #220
You little tinker, I was literally just about to PR this.

[2015-02-20 17:49] ParaPenguin commented on #193
@twizmwazin I was about to see if I could fix this - but your GameScoreboard class was a little... cramped. You can fix it yourself <3

[2015-02-20 17:52] twizmwazin commented on #193
@ParaPenguin I will gladly pass the blame on that one to Elly, I honestly have never done anything using scoreboards in Minecraft myself.

[2015-02-20 19:41] iEli2tyree011 commented on #193
@ParaPenguin ayy

[2015-02-20 23:08] TiTo-418 opened #223 "Sounds"
The objetive complete sond id this: /playsound portal.travel TiTo_418 0 0 0 1 2 1

[2015-02-20 23:18] Alfalik commented on #223
The objetive complete sound is already implemented with no errors, dont see the point of the issue.

[2015-02-20 23:29] TiTo-418 commented on #223
The sound that is implemented is not the same as in oc.tc
The correct is this: /playsound portal.travel @a 0 0 0 1 2 1

[2015-02-20 23:45] Alfalik commented on #223
The sound that is used on Objetive Complete is the same as tm.oc.tc, no oc.tc

[2015-02-21 00:07] TiTo-418 commented on #223
Nope

[2015-02-21 00:17] Superjd10 commented on #223
They send the sound to each player, they don't need "@a" in the plugin AFAIK.

[2015-02-21 00:39] Alfalik commented on #223
The sounds depends on the objetive and  on the team that you are.

[2015-02-21 00:51] #191 closed

[2015-02-21 05:24] Jair07mx opened #225 "Snowflakes don't have raindrop sound [Missing Feature/Bug]"
Hello! The raindrop/snowflake sound is /playsound random.levelup @a 0 0 0 1 1.5 1, please add in the plugin.

[2015-02-21 05:27] Jair07mx commented on #223
Tito-418 is right, should have the sound he is shared

[2015-02-21 06:42] iEli2tyree011 commented on #225
It is in the plugin. Can you try /toggle sounds, make sure it is on, and try again?

[2015-02-21 06:44] #223 closed

[2015-02-21 10:07] dentmaged commented on #225
Make sure you are using the most recent version of Cardinal.

[2015-02-21 11:08] CaptainElliott opened #227 "Index of Sounds"
This is an index of the various sounds OCN uses.
*If you know the sound for a specific event, please put them here*

*Game Events*
- Match Start
- Match End
- Objective Complete

*Countdowns*
- Starting in 5 seconds
- Starting in 4 seconds
- Starting in 3 seconds
- Starting in 2 seconds
- Starting in 1 second

*Raindrops*
- Gain Raindrop - `random.levelup 1 1.5 1`

*Blitz*
- Player Death
- Final L

[2015-02-21 11:30] elespawol opened #228 "[SUG] Add countdown when is gold core... glass core etc"
Thats all

[2015-02-21 12:11] elespawol opened #229 "[BUG] Server crash"
http://gyazo.com/7c503fbe85615c48655d4f84256e3cbe
This happened to me 3 times :s
I think that there is a comflict with the world

[2015-02-21 12:40] ParaPenguin commented on #229
Seems to me like somebody is storing a player reference in the plugin, without removing it when a player leaves. Naughty people, I'll see what I can do!

[2015-02-21 13:02] elespawol commented on #229
I will test in a few hours.
Thanks
U are the best ParaPenguin :)

[2015-02-21 14:40] #229 closed

[2015-02-21 14:42] iEli2tyree011 commented on #228
Duplicate of #127 - both will end up using the same system when complete, and are part of the same "feature."

[2015-02-21 14:42] #228 closed

[2015-02-21 15:47] Shipi1 opened #232 "[SUG] Add Report Command"
to report haha xD

[2015-02-21 15:54] CaptainElliott commented on #232
Already done it. Needs to be debugged

[2015-02-21 16:45] Superjd10 commented on #227
Match countdown: note.pling 1 1.19
Match start: note.pling 1 1.59
Objective Good (team complete the objective):  portal.travel 0.7 2
Objective Bad (enemy team complete the objective): mob.blaze.death 0.8 0.8
Match wins: mob.wither.death 1 1
Match lose: mob.wither.spawn 1 1
Teleport Next stage: ENDERMAN_TELEPORT 0.5 1
Teleport start sound and final sound: PISTON_EXTEND 0.5 2
Blitz: IRONGOLEM_DEATH

[2015-02-21 17:07] elespawol opened #233 "NPE on plugin start"
http://pastebin.com/0nSizX9z

[2015-02-21 17:15] Alfalik commented on #233
I got the same error, but you should just use Cardinal & WorldEdit in your \plugins folder.
http://pastebin.com/XWppJKtp

[2015-02-21 17:53] elespawol commented on #233
UltraBans, add like /warn and others and its better
and
NoPluginViewer because i dont want players see my plugins

[2015-02-21 17:53] elespawol commented on #233
i am not renaming the plugins, i am hiding /plugins

[2015-02-21 17:54] Alfalik opened #234 "UUIDs don´t working in authors/contributors"
Image: http://gyazo.com/8f4ef8bc0fe96f1f75b8bdb7154af3fb
XML (same as maps.oc.tc): http://pastebin.com/nVAPkuLE

[2015-02-21 18:26] #225 closed

[2015-02-21 18:46] twizmwazin commented on #227
Aren't the starting sounds the same?

[2015-02-21 18:49] twizmwazin commented on #233
Please use appropriate names for issues, [URGENT] is not appropriate. In the future, please get Cardinal's source by using `git clone` rather than the download zip button. It makes debugging much easier for us.

[2015-02-21 18:55] #233 closed

[2015-02-21 19:48] Alfalik opened #235 "Errors when auto-creating database & demographics"
Cardinal generate the folder <code>Cardinal/</code> just with config.yml, it don´t create database.xml & demographics.xml, need to reload server with spammed errors. After a few minutes the server crashes.

Video proof: http://youtu.be/OxrnpnY5y8U
Log: http://pastebin.com/P42A2dUX
Crash-report: http://pastebin.com/jY0TxkxM
Version:http://gyazo.com/08dee8e92b24ce8502efbbdccac0f9bb

[2015-02-21 20:39] Shipi1 opened #236 "Change Sound of Snowflakes to"
/playsound random.levelup Shipi_ ~ ~ ~ 1 1.5 1
This is the sound of the raindrops pls change to this

[2015-02-21 20:45] TiTo-418 commented on #236
https://github.com/twizmwazin/CardinalPGM/issues/227

[2015-02-21 21:09] Superjd10 commented on #227
@twizmwazin They are

[2015-02-21 21:10] Superjd10 commented on #227
BTW, I don't know what you mean by "Message" in Tutorial.

[2015-02-21 21:52] #236 closed

[2015-02-21 22:30] CaptainElliott commented on #227
I'll check but iirc they are the same sound but the pitch changes as the countdown goes down

[2015-02-22 04:37] #215 closed

[2015-02-22 05:01] SuHoney commented on #227
match countdown : note.pling 1 1.19
match start : note.pling 1 1.59
objective good : portal.travel 0.7 2
objective bad : mob.blaze.death 0.8 0.8
match win : mob.wither.death 1 1
match lose : mob.wither.spawn 1 1
deny action : note.bass 1 0.75
use portal : mob.enderman.portal 1 1
proximity alarm : fireworks.largeBlast_far
mode change : mob.zombie.remedy 0.15 1.2
:D

[2015-02-22 10:13] RuboTutoGamer opened #240 "You can not join with the hat"
You can not get to a computer using the hat must use the commands

[2015-02-22 10:20] dentmaged commented on #240
What version are you using? And please provide a video

[2015-02-22 10:48] Jonmuxu opened #241 "Snowflakes not given when players touch and complete wools"
Can you do that when you take a wool give snowflakes? and placed

[2015-02-22 10:54] Jonmuxu opened #242 "Spawn point issue"
now with the new update now the respawn point is buggy, you respawn a few blocks but not exactly
the XML FlLE is good i dont change anything

[2015-02-22 10:58] SuHoney commented on #241
+ When match ends
+ When damaged objectives

[2015-02-22 12:00] RuboTutoGamer commented on #240
Last version https://www.youtube.com/watch?v=LdGik5yjWL8&feature=youtu.be

[2015-02-22 12:19] dentmaged commented on #240
Any errors in the console? That is a weird bug though.

[2015-02-22 12:49] RuboTutoGamer commented on #240
There isn't any error in the console

[2015-02-22 13:20] Jonmuxu opened #243 "Motd Modification"
Can you add a new option in motd like : Map motd = on/off Custom Motd= On/OFF

i have the overcast network motd exactly but i cant put because the map motd replace D:

[2015-02-22 13:58] Alfalik commented on #242
Map? Version? Video? Screenshots? XML? Please, be more specific.

[2015-02-22 14:44] dentmaged commented on #240
Weird. So you can pick up the hat and put it in your inventory?

[2015-02-22 14:47] javipepe opened #244 "Pink and magenta wool squares shouldn't be both ChatColor.LIGHT_PURPLE"
On Cardinal:
<img src="http://i.imgur.com/pjAzKD3.png">

On OCN:
<img src="http://i.imgur.com/JhADa42.png">

Pink should use ChatColor.RED, while purple is still LIGHT_PURPLE

[2015-02-22 15:01] Alfalik commented on #244
You can make a PR, isn´t difficult.

[2015-02-22 15:35] felipufeliu commented on #243
I think developers are not going to add that to prevent the abuse of the plugin by turning the motd off and added whatever they want there.

[2015-02-22 15:40] AngelCasillas01 commented on #243
There is a plugin called motd manager for that use

[2015-02-22 15:46] D4n1e6656 commented on #240
The server does again , also helped me

[2015-02-22 16:55] twizmwazin commented on #244
@Alfalik Not everyone has technical skills.

[2015-02-22 16:55] javipepe commented on #244
Wasn't at home, will do later @Alfalik

[2015-02-22 16:56] javipepe commented on #244
@twizmwzin Don't worry, I'll do it later

[2015-02-22 16:58] AngelCasillas01 commented on #241
@twizmwazin wools only?

[2015-02-22 17:06] #243 closed

[2015-02-22 17:09] #244 closed

[2015-02-22 17:37] twizmwazin commented on #235
Can someone else on Windows try to reproduce this?

[2015-02-22 18:15] AngelCasillas01 commented on #241
@iEli2tyree011 You can't put the plugin for all objectives? like cores, monuments, etc... also, for winning a match, and for being loyal for your team, ETC..

[2015-02-22 18:19] Jonmuxu commented on #242
its on all the maps of my server look the video the version is the new updates 25 min ago : https://www.youtube.com/watch?v=EdZF-DoU9kA&feature=youtu.be

[2015-02-22 18:19] Jonmuxu commented on #242
sorry im new on github xD

[2015-02-22 18:19] twizmwazin commented on #242
@Jonmuxu Your video is private, please make it unlisted.

[2015-02-22 18:46] dentmaged commented on #242
@twizmwazin He's done it

[2015-02-22 19:03] ElFlambMC commented on #235
Yes the same

[2015-02-22 19:06] twizmwazin commented on #235
It must be a windows file system related issue. I'll set up a VM and look into it.

[2015-02-22 19:15] iEli2tyree011 commented on #241
That's the plan..

[2015-02-22 19:27] MasterEjay commented on #232
I don't see why Cardinal needs to have a punishment system, considering its just a scrimmage plugin. But if the devs feel the need to implement one, I suggest making a separate plugin to handle punishments, like OCN does.

[2015-02-22 19:30] AngelCasillas01 commented on #241
@iEli2tyree011 so why the title says "Snowflakes not given when players touch and complete wools"? people will think that will be only for wools and will come with same question and spamming your repository ;)

[2015-02-22 19:48] AngelCasillas01 commented on #232
@MasterEjay If they do it, they will do from 0 and they will release Cardinal so late so...

[2015-02-22 19:57] MasterEjay commented on #232
@AngelCasillas01 I'm not sure what that even means. "Do from 0"

[2015-02-22 19:59] AngelCasillas01 commented on #232
@MasterEjay Start from the bottom with anything, which will going too be along of time and this will upgrade the time which cardina will be release

[2015-02-22 20:03] MasterEjay commented on #232
Not necessarily. The other plugin can be developed independently from Cardinal.

[2015-02-22 20:57] dentmaged commented on #241
@AngelCasillas01 yeah, maybe "Snowflakes not given when players touch and complete objectives".

[2015-02-22 22:21] javipepe commented on #240
That happened to me yesterday (with the PlayerInteractEvent instead, meaning that the hat did not even open up for me). Today, with the latest version, I'm not getting it anymore.

And I also guess you should have had something in the console like <code>[INFO] Could not pass InventoryClickEvent to Cardinal</code> by the looks of it.

[2015-02-22 22:24] AngelCasillas01 commented on #240
@javipepe this only happens when the plugin is o spanish :S

[2015-02-22 23:06] Jair07mx opened #245 "[SUG] Proximity on/off"
Let's say that often the server is much laguea by the proximity scoreboards, I want to suggest some line in "config.yml" to disable it.

[2015-02-22 23:09] twizmwazin commented on #245
The toggle should be in the XML. Proximity should not create any significant lag.

[2015-02-22 23:42] Alfalik commented on #245
The proximity appear when you set a time-limit to the match, or a <code> <time> </code> line in the XML file.

[2015-02-23 00:06] Jair07mx commented on #245
http://i.imgur.com/ADdDMY3.png This?

[2015-02-23 00:22] Jair07mx commented on #245
I think they're not understanding me, to what I meant by proximity is ...http://i.imgur.com/QtXQd24.png

[2015-02-23 00:23] Alfalik commented on #245
@Jair07mx I know what is Proximity.

[2015-02-23 00:26] Jair07mx commented on #240
Indeed, only happens in Spanish

[2015-02-23 00:27] Jair07mx commented on #245
@Alfalik I can not find how to disable it, you can help me find for example Dynamo?

[2015-02-23 00:30] Alfalik commented on #245
@Jair07mx It can´t be disabled until developers finish Proximity & Time-limit features.

[2015-02-23 00:30] #245 closed

[2015-02-23 00:42] #240 closed

[2015-02-23 00:53] AngelCasillas01 commented on #241
@dentmaged  maybe when your team wns too

[2015-02-23 01:15] felipufeliu opened #246 "it doesn't show the disconnect message when you have toggle joinmessage on"
http://gyazo.com/b23a69678a68d8cf84acbf927bf66765

[2015-02-23 01:17] felipufeliu commented on #241
@AngelCasillas01 Because it's like that because it says what bug is going to be fixed, not a thing saying what they are going to add.

[2015-02-23 01:21] iEli2tyree011 commented on #246
Can you paste your logs?

[2015-02-23 01:47] felipufeliu commented on #246
@iEli2tyree011 http://pastebin.com/2KB1yQgv

[2015-02-23 01:48] iEli2tyree011 commented on #246
That's a different error, which likely caused issues in later ones. Is this on Airship Aces?

[2015-02-23 01:51] Alfalik commented on #246
Yes, we was testing it. The error is when you got kicked from the server for fly, the leave/join message doesn´t appear.

[2015-02-23 03:01] Jair07mx opened #247 "[Missing Feature] Ranks with Flair/Asterisk"
Optio: &a*
Centurion: &6*
Dux: &5*

Internet Famous: &1*

Administrator: &6❖
Moderator: &c❖
Senior Moderator: &4❖

Event Coordinator: &3❖

Winner: &f*

[2015-02-23 03:06] twizmwazin commented on #247
Some of these will be implemented, however not all. I plan on having Mod, Admin, and Dev be ranks.

[2015-02-23 03:07] AngelCasillas01 commented on #247
You forget Ref, Livestreamer and other ....
@Edit Ref: §3❖

[2015-02-23 03:09] Jair07mx commented on #247
You could add all with no use, but would be great to have them all

[2015-02-23 03:13] D4n1e6656 opened #248 "Problems in Effects"
to appear not get effects that gives you the map.
Version: http://gyazo.com/66db23a5cc3abf71f27da52c6bad22c3

[2015-02-23 03:23] iEli2tyree011 commented on #248
Can you give at least a few details? Map? Server information? Any previous errors?

[2015-02-23 03:31] Alfalik commented on #248
The console don´t give errors, the plugin just don´t give the effect or when it does, it last a few seconds.

[2015-02-23 03:48] ItzWid13 commented on #193
Please :c

[2015-02-23 04:06] twizmwazin commented on #193
@ItzWid13 Be patient. All of the developers have things like school and jobs as well.

[2015-02-23 04:11] iEli2tyree011 commented on #193
Hopefully I can fix this tomorrow, since it seems to be a big issue. No promises though, I'm going to overhaul the scoreboard.

[2015-02-23 04:27] Superjd10 commented on #247
You don't need any "premium package" in a scrimmage server tho

[2015-02-23 04:53] SuHoney opened #249 "Compass permissions not given to observers"

[2015-02-23 05:03] twizmwazin commented on #249
This is related to Worldedit

[2015-02-23 05:05] twizmwazin commented on #247
I will consider Ref, but that would be about it.

[2015-02-23 05:09] SuHoney commented on #249
Then how can I fix it?

[2015-02-23 05:20] D4n1e6656 commented on #248
This only happens with the effects of infinite durability
https://www.youtube.com/watch?v=3ud04mnQOoc&feature=youtu.be

[2015-02-23 05:22] SuHoney commented on #248
+ BoomBox too.

[2015-02-23 13:48] AngelCasillas01 commented on #247
@twizmwazin Livestreamer too? Official?

[2015-02-23 14:54] twizmwazin commented on #247
@AngelCasillas01 Why do we need a livestreamer rank? What would an official be?

[2015-02-23 14:56] ElFlambMC commented on #247
@twizmwazin Livestreamer for livestream matches

[2015-02-23 15:15] twizmwazin commented on #247
@ElFlambMC Who livestreams scrims? And if they do, why do they need a badge to do it?

[2015-02-23 15:17] SungMatt commented on #247
@twizmwazin Instead maybe add a config file to add these prefixes/flairs? I don't see the need for these extra flairs but if some people want it for the looks, maybe add a config file to add flair types and have a /flair command to assign it?

[2015-02-23 15:17] ElFlambMC commented on #247
@twizmwazin Pl0x can you make that for all guys

[2015-02-23 15:33] twizmwazin commented on #247
@SungMatt @ElFlambMC Make a PR if you want it that badly.

[2015-02-23 15:34] ElFlambMC commented on #247
@twizmwazin idk how make it.

[2015-02-23 15:35] twizmwazin commented on #247
@ElFlambMC It isn't hard to learn

[2015-02-23 15:37] MrTheSharpie commented on #247
I think that OP and ref would be enough. Not dux or optio, I don't see it useful. Nor developer cause except twiz, elliot, ely and a few more there are not developers so I would consider that if a person says that he is a developer, he is, in some way, taking your job...

[2015-02-23 15:38] ElFlambMC commented on #247
@mrthesharpie :)

[2015-02-23 15:39] twizmwazin commented on #247
@MrTheSharpie The developer rank would be hard-coded in. This means that developers would have the rank on all servers, and you wouldn't be able to just give someone the rank.

[2015-02-23 16:29] G61 opened #250 "Players can score in scoreboxes without the match running"
You can score with the scoreboxes without starting the match.
http://i.imgur.com/ZcNlleO.png

[2015-02-23 16:35] iEli2tyree011 commented on #250
I'll look into this, thanks.

[2015-02-23 18:53] MrTheSharpie commented on #247
@twizmwazin Okey, that's fine :)

[2015-02-23 19:09] Jonmuxu opened #251 "Wool can be broken after placed D:"
Here is a video with the cardinal version and the bug: https://www.youtube.com/watch?v=YvbgDa1UFvM&feature=youtu.be
now is public xD

[2015-02-23 19:40] dentmaged commented on #247
@twizmwazin Will it be contributors or people who have done 20+ commits?

[2015-02-23 19:46] dentmaged commented on #246
@felipufeliu @Alfalik So the title should be "No disconnect message on player kick despite with join messages enabled" or something like that.

[2015-02-23 19:51] TiTo-418 opened #252 "Wools position dont accept decimals"
http://gyazo.com/faa858faf7b8f5ef0852456b5fcff2cb
You cant place the wool

[2015-02-23 19:58] Oxinous commented on #252
You are talking about a specific map, not a plugin error. You can get the correct one from maps.oc.tc

[2015-02-23 20:01] TiTo-418 commented on #252
Hablas español, asi que:
https://maps.oc.tc/CTW/Standard/Cloud%20Nine/map.xml
De ahi tome la foto, las posiciones de las lanas estan con decimales, pero el plugin no las reconoce cuando las pones :P

[2015-02-23 20:13] Jair07mx opened #253 "The enemy objective complete don't sound correctly"
The enemy objetive complete sound: portal.travel 0.7 2

The correct: mob.blaze.death 0.8 0.8

[2015-02-23 20:17] TiTo-418 commented on #253
https://github.com/twizmwazin/CardinalPGM/issues/227

[2015-02-23 20:17] TiTo-418 commented on #227
https://github.com/twizmwazin/CardinalPGM/issues/253

[2015-02-23 20:52] twizmwazin commented on #247
A person will be considered a developer if their contributions were in some way significantly transformative.

[2015-02-23 21:41] #253 closed

[2015-02-23 22:02] RuboTutoGamer opened #254 "The server cras"
in the latest versions of the plugin, the server frequently cras

[2015-02-23 22:14] twizmwazin commented on #254
This provides absolutely no information to help us fix the issue. When you can provide information, open a new issue.

[2015-02-23 22:14] #254 closed

[2015-02-23 22:15] SungMatt commented on #254
Saying that the server crashes isn't enough, can you provide the crash log that comes in your /logs folder?

Just saying it crashes is like saying the car isn't working without seeing that the tyre is out of the car.

[2015-02-23 22:30] RuboTutoGamer opened #255 "The server crash"
in the latest versions of the plugin, the server frequently crash.
Crash-report folder: https://www.mediafire.com/?bgp902txu2wb69w

[2015-02-23 22:32] TiTo-418 commented on #255
/cardinal -v
The lastest version no say nothing, the plugin is in constant update

[2015-02-23 22:43] twizmwazin commented on #255
This isn't related to Cardinal it appears, the issue occurs when saving the worlds. Contact your hosing provider for assistance.

[2015-02-23 22:43] #255 closed

[2015-02-23 22:44] #246 closed

[2015-02-23 22:48] #251 closed

[2015-02-23 22:53] #250 closed

[2015-02-23 23:05] #242 closed

[2015-02-24 00:08] ItzWid13 opened #256 "Download for SportBukkit 1.8?, Cant iniciate server."

[2015-02-24 00:55] iEli2tyree011 commented on #256
You can find the latest build of Sportbukkit 1.8 on https://repo.oc.tc/.

[2015-02-24 00:55] #256 closed

[2015-02-24 01:04] ItzWid13 commented on #256
it doesnt appear

[2015-02-24 01:34] #252 closed

[2015-02-24 01:38] twizmwazin commented on #256
https://repo.oc.tc/content/repositories/snapshots/tc/oc/sportbukkit/1.8-R0.1-SNAPSHOT/sportbukkit-1.8-R0.1-20150222.073527-11.jar

[2015-02-24 02:05] Alfalik commented on #248
Now it don´t give the effects (Just on the infinity effects). Theres an example on BoomBox, I didn´t have saturation, resistance & slow digging.

Video proof: http://youtu.be/1QIigC9LliA
Cardinal Version: http://gyazo.com/6565465a3807ad99a031c6dad3d151cc

[2015-02-24 03:10] #249 closed

[2015-02-24 03:52] twizmwazin commented on #234
Should be fixed with f33bce55a6686a8fb2593716fb2b187bb5642f1c.

[2015-02-24 06:58] dentmaged commented on #247
@twizmwazin how would you implement this? Using Player.setPlayerListName?

[2015-02-24 12:31] twizmwazin commented on #247
Sounds like it could work. We'd have to add it in chat too.

[2015-02-24 12:39] Jonmuxu opened #258 "When i put on my server , it shut down with crash report :("
this is the error:

[2015-02-24 12:40] SungMatt commented on #247
public void playerJoin(PlayerJoinEvent e) {
                Player p = e.getPlayer();
                String pname = p.getName();
    if (p.hasPermission("flair.SeniorModerator")) {
                        String member = "" + ChatColor.DARK_RED +  "❖" + ChatColor.RESET + pname + ChatColor.RESET + "";
                        p.setDisplayName(member);

Something like this?

[2015-02-24 13:07] twizmwazin commented on #247
@SungMatt Probably. I'd have to test how it interacts with teams and the like.

[2015-02-24 13:08] twizmwazin commented on #258
I can fix this when I get home.

[2015-02-24 13:36] Jonmuxu commented on #258
ok thx i dont know the exactly version because the server shut down when i put on but isthe new version updated 10 hours ago

[2015-02-24 13:38] SungMatt commented on #258
@Jonmuxu Doesn't that mean that you are running a 1.8 build on a 1.7.10 server?

[2015-02-24 14:40] Jonmuxu commented on #258
yes

[2015-02-24 15:03] Alfalik commented on #258
@Jonmuxu You should download the last 1.8 version of Sportbukkit at [repo.oc.tc](repo.oc.tc). It wont work with different versions.

[2015-02-24 15:44] iEli2tyree011 commented on #247
@twizmwazin If that's the case, we can always convert to either getName or getDisplayName depending on the situation.

[2015-02-24 16:16] CaptainElliott commented on #247
@twizmwazin Depending on how you are setting the team color of a player, setting their flair when they join may be override by the new display name, containing the colour being set. Either way it should be easy to do, I will do permissions later today if I have time

[2015-02-24 16:36] twizmwazin commented on #247
@CaptainElliott player.setDisplayName(flair + player.getDisplayName) should avoid the overriding issue.

[2015-02-24 16:42] CaptainElliott commented on #247
@twizmwazin Yes, that would be done when the player joins, however when they join a team their display name will then be set to just their name, overriding the flair. However as I said that's an easy fix

[2015-02-24 16:51] twizmwazin commented on #247
@CaptainElliott oh yeah, oops

[2015-02-24 17:05] dentmaged commented on #247
@CaptainElliott ```ChatColor.DARK_RED +  "❖" + TeamUtils.getTeamByPlayer(player) + player.getName() + ChatColor.RESET;```

[2015-02-24 19:13] dentmaged commented on #241
I believe that this has been added.

[2015-02-24 19:16] iEli2tyree011 commented on #241
@dentmaged It hasn't. We will close this issue when it has been completely added.

[2015-02-24 19:32] twizmwazin commented on #247
@dentmaged You wouldn't use "❖," you would use the Unicode char.

[2015-02-24 20:03] dentmaged commented on #247
@twizmwazin okay, could I make a PR and start work on this?

[2015-02-24 20:19] dentmaged commented on #241
@iEli2tyree011 Sorry. Has it only been added for wools?

[2015-02-24 20:46] Jonmuxu commented on #247
if a player has dux, centurion or option, can you edit the snowflakes multiplier?

[2015-02-24 20:46] Jonmuxu commented on #241
yes but when you complet the objective, the cardinal not give the snowflakes

[2015-02-24 20:51] dentmaged commented on #247
@Jonmuxu Donor ranks won't be added, as stated earlier.

[2015-02-24 20:51] Jonmuxu commented on #247
D:

[2015-02-24 20:58] dentmaged commented on #241
@Jonmuxu That will be added in soon.

[2015-02-24 21:34] #247 closed

[2015-02-24 21:43] dentmaged commented on #232
I agree with @MasterEjay. And aren't you a parapgm dev?

[2015-02-24 21:50] MasterEjay commented on #232
Yes, this is correct.

[2015-02-24 21:55] CaptainElliott commented on #232
I think me a @twizmwazin decided against this.
This can be closed :)

[2015-02-24 22:02] dentmaged commented on #232
@CaptainElliott Your spelling...

[2015-02-24 22:30] CaptainElliott commented on #232
@dentmaged what was wrong with it?

[2015-02-24 22:49] iEli2tyree011 commented on #232
We think it's best that we don't add a reports command, maybe in a separate additions plugin, but we don't think we should add it directly inside Cardinal.

[2015-02-24 22:49] #232 closed

[2015-02-25 00:24] #235 closed

[2015-02-25 02:17] Alfalik commented on #234
Isn´t fixed. Evidence & version: http://gyazo.com/6cee64044d02a4736042ede43418d833

[2015-02-25 02:31] RubeGamerV opened #262 "Players without rank/permissions can do an infraction"

[2015-02-25 03:08] #262 closed

[2015-02-25 03:51] RubeGamerV opened #263 "Can´t ban offline player"

[2015-02-25 04:02] felipufeliu opened #264 "wrong deathmessage + other wrong message that have the flair"
http://gyazo.com/b0bbbcb0114bab1bb6821ad9b4085645

[2015-02-25 05:12] RubeVi opened #265 "KoTH not yet implemented"
https://www.youtube.com/watch?v=-adxkxTajXk

[2015-02-25 05:14] RubeGamerV commented on #243
@AngelCasillas01 Pero no funciona aun asi, el Cardinal tiene como un Overrride MOTD algo asi

[2015-02-25 05:15] RubeGamerV opened #266 "Wrong message when warn someone"
http://gyazo.com/ee66160110987fc5e2d6cc1104c54d92

*Console kicked {user} for {reason} ---> {Staff} {punish} {user} for {reason}

Example: twizmwazin warn Apple for don´t blow up your own teammates
this message only can see users with access to /a

[2015-02-25 05:22] ItzWid13 commented on #266
This VIdeo Is In Private

[2015-02-25 05:26] SungMatt commented on #265
Calm down, CardinalPGM is still under heavy development. Have you seen his blog? He says its 75% done, and not fully done. Give him and the devs a while.

[2015-02-25 05:31] ItzWid13 commented on #265
This VIdeo Is In Private, Put it in Unlisted

[2015-02-25 05:53] Alfalik commented on #266
You cant make a PR if you want to change it

[2015-02-25 06:27] dentmaged commented on #232
@CaptainElliott "I think me a @.twizmwazin". You said "me a @.twizmwazin".

[2015-02-25 07:34] CaptainElliott commented on #266
My bad forgot to test that command 🙈

[2015-02-25 10:43] twizmwazin commented on #232
@dentmaged Are you like Elliott's personal grammar police?

[2015-02-25 11:08] iEli2tyree011 commented on #264
This was already fixed in 4592b5699ee6b7f0ad2cf25f617b26df85a7308c

[2015-02-25 11:08] #264 closed

[2015-02-25 11:10] iEli2tyree011 commented on #263
I'll clean up the punishment commands later today.

[2015-02-25 11:20] iEli2tyree011 commented on #263
@CaptainElliott says he'll work on this, instead

[2015-02-25 14:47] Jair07mx commented on #247
+    private final String opFlair = ChatColor.GOLD + "❖";
+    private final String modFlair = ChatColor.RED + "❖";
+    private final String devFlair = ChatColor.DARK_PURPLE + "❖";

Thanks :3

[2015-02-25 15:22] twizmwazin commented on #247
@Jair07mx Not sure what you are trying to say. Additionally, it isn't proper to directly copy the symbol, rather Unicode codes should be used.

[2015-02-25 15:23] maestro34 commented on #227
Objective touches: FIREWORK_TWINKLE 1 1

[2015-02-25 17:21] AngelCasillas01 opened #267 "Commands¡!"
/Proximity
/l
/p
/fr add
/fr delete
/fr show

Maybe for apunisemnt
User >>>> warn >>>> user >>>>> reason
Like that fo all punishemts

Friends for the /toggle dms confortable

[2015-02-25 19:11] twizmwazin commented on #267
This isn't an issue, this is a list of things that aren't in the plugin.

[2015-02-25 19:11] #267 closed

[2015-02-25 19:12] #263 closed

[2015-02-25 19:12] #266 closed

[2015-02-25 23:24] GChevy opened #272 "(BUG) Moderator permissions"
https://www.youtube.com/watch?v=Bw_rRStMYz8

[2015-02-25 23:29] CaptainElliott commented on #272
Could you please make the video available for mobile :)

[2015-02-25 23:37] CaptainElliott commented on #272
Please give more description if what the issue is, as the video was poor quality for me (I'm on mobile) I can't see that chat, I assume the issue is that you don't have the perms after you have been given mod position. For the permissions to update you need to relog. Does that fix your issue ?

[2015-02-25 23:52] TiTo-418 opened #273 "Potion effects"
https://github.com/twizmwazin/CardinalPGM/issues/248 not resolved

Version: http://gyazo.com/ecc60fa0495d726664f92551506641bb
Video: http://youtu.be/_xFR0gBECPQ

[2015-02-26 00:01] CaptainElliott commented on #273
I think we would just keep this to https://github.com/twizmwazin/CardinalPGM/issues/248

[2015-02-26 00:01] #273 closed

[2015-02-26 00:10] Alfalik commented on #272
The video clearly said "You are no longer a Moderator!", then you try commands like gamemode 1 or start, I don´t understand what do you mean with the issue.

[2015-02-26 00:40] Alfalik opened #274 "Error when a player do /join and it´s already on a team"
Video proof & Cardinal version: http://youtu.be/9YL5KAH6RO0
Correct message: http://youtu.be/ahTj6a222Ak

[2015-02-26 01:13] Alfalik opened #275 "Filter "every" in alert/broadcasts only shows the first time"
Image: http://gyazo.com/50013e114df71cf723b2ce058b8a5e7d
Cardinal version: http://gyazo.com/8a82cc1ec40786f4329e03d97d77f6a7

Edit: Also, the color codes in the console should see like this?

[2015-02-26 01:42] Alfalik opened #276 "Blockdrops don´t droping items when the block is destroyed by TNT"
Video proof: http://youtu.be/aKRn3n5aYzE
Cardinal version: http://gyazo.com/bf4fe51e43e76c00bc9ce2d668b579db

[2015-02-26 01:58] Alfalik opened #277 "Potions duration filter in <item> should be on ticks, not seconds"
Heres an example taked from NextGen. The "1600" is the time that the potion-effect will last, now in seconds it´s wrong, because it have a duration of 26:40 Minutes (the correct is 1:20 for the three effects). If you take the "1600" like ticks, it will be the same as said "80" seconds, that is the same as 1:20, the correct effect-duration.
For those who don´t know 20 ticks = 1 second.

```<item da

[2015-02-26 02:17] RubeGamerV commented on #276
Donde cosegiste esa version de Next Gen?

[2015-02-26 02:18] RubeGamerV commented on #272
Mods can punish someone

[2015-02-26 02:22] Alfalik opened #278 "Can´t setnext using the complete name of the map"
Video proof: http://youtu.be/AyZHw3hpGjg
Cardinal version: http://gyazo.com/018ae4554e1dece7c718ad1c183035b6

[2015-02-26 02:25] AngelCasillas01 commented on #278
For meworks but like /sn boomte

[2015-02-26 02:59] iEli2tyree011 commented on #277
ty

[2015-02-26 03:25] #277 closed

[2015-02-26 05:13] SuHoney opened #279 "[SUG]Add "》" to punishment messages"
^^

[2015-02-26 05:16] felipufeliu commented on #279
I'm not a official developer of cardinal, but I am adding it :P, don't worry

http://gyazo.com/fe6b1b404d5c3b57edada16cdae96d9e

(I know the picture is broken, I haven't finished yet)

[2015-02-26 07:29] CaptainElliott commented on #274
Huh, thought I fixed his, turns out it was just in a PR https://github.com/twizmwazin/CardinalPGM/pull/149
https://github.com/CaptainElliott/CardinalPGM/commit/b3df8cace6e9a50c04b9e063d4e134e3c38970cf

[2015-02-26 15:46] Jonmuxu opened #281 "[Ask] Snowflakes Multiplier"
How can i change the SnowFlakes multiplier more than x1.0?

[2015-02-26 15:52] Jonmuxu opened #282 "Void filters can be bypassed at Y level 0"
The Cardinal Version is the new updated 13 hours ago , i dont remember in video put /cardinal -v D: video: https://www.youtube.com/watch?v=PZGSRS1naaE&feature=youtu.be

[2015-02-26 16:31] TiTo-418 commented on #193
Cant ParaPenguin resolved it?

[2015-02-26 16:34] TiTo-418 commented on #282
OMG que puto genio!

[2015-02-26 16:37] TiTo-418 commented on #241
Snowflakes given when players touch and complete wools in the last version

[2015-02-26 16:51] ElFlambMC opened #283 "[BUG] When i open my server occurs that"
[17:48:53] [Server thread/INFO]: Starting minecraft server version 1.7.10
[17:48:53] [Server thread/INFO]: Loading properties
[17:48:53] [Server thread/INFO]: Default game type: SURVIVAL
[17:48:53] [Server thread/INFO]: Generating keypair
[17:48:54] [Server thread/INFO]: Starting Minecraft server on *:25565
[17:48:55] [Server thread/INFO]: This server is running SportBukkit version git-SportBukkit

[2015-02-26 16:55] iEli2tyree011 commented on #241
@TiTo-418 This hasn't been closed because we have not completely added the feature, as stated above, I will close it when it is complete (likely tonight).

[2015-02-26 16:55] ElFlambMC commented on #283
Solved

[2015-02-26 16:55] iEli2tyree011 commented on #282
Thanks for reporting

[2015-02-26 16:55] ElFlambMC commented on #283
1.8 sportbukkit its ok with no bugs

[2015-02-26 16:55] #283 closed

[2015-02-26 16:56] iEli2tyree011 commented on #281
You cannot at the moment. It will likely be customizable or given with ranks.

[2015-02-26 16:56] #281 closed

[2015-02-26 16:58] #274 closed

[2015-02-26 17:00] iEli2tyree011 commented on #193
@TiTo-418 No...if you read what I said afterwards, the scoreboard system is not fit for what Para suggested, which is why I am redoing it. If you run a server on an appropriate amount of RAM, the server rarely flashes the scoreboard. Nevertheless, I'm still working on a fix for this.

[2015-02-26 20:02] #276 closed

[2015-02-26 20:06] twizmwazin commented on #193
@TiTo-418 @iEli2tyree011 The CPU performance is also major factor, probably a larger factor here.

[2015-02-26 20:24] #248 closed

[2015-02-26 21:05] TiTo-418 commented on #227
Warn sound?

[2015-02-26 21:16] javipepe opened #287 "Server crashing when loading Cardinal"
<a href="http://hastebin.com/ayonofocaq.avrasm">Here is the server crash log (including version)</a>

I've tried on my Beastnode server and then on localhost. None of them work

[2015-02-26 21:17] twizmwazin commented on #287
You are on 1.7. We are on 1.8.

[2015-02-26 21:17] #287 closed

[2015-02-26 21:18] javipepe commented on #287
Ok thanks for the info :)

[2015-02-27 01:47] Alfalik commented on #275
Now it is being spammed. Here is the XML & a video example. (The error, probably, is in the "every" filter)

Video proof: http://youtu.be/-ztBqDFHxrk
Cardinal version: http://gyazo.com/7eeb209c36069039ce62e646d0f8326b
[code]

[2015-02-27 02:45] CoWinkKeyDinkInc commented on #227
What is the tick sound that happens in the last 5 seconds of a time limit reaching?

[2015-02-27 03:03] Alfalik commented on #227
@CoWinkKeyDinkInc You can hear this sound the last 30 seconds, not 5. And it´s the empty dispenser, I don´t really know the name, but you can try to find it.

[2015-02-27 07:38] ParaPenguin commented on #193
I think it's more of a network issue - it won't flash if you have low ping, but it will flash with higher ping because it takes longer for all of the packets to come through

[2015-02-27 14:53] kroest opened #288 "Legacy Filters not working"
the wool and the cobwebs are not breakable in the wool room regions.

[2015-02-27 15:10] twizmwazin commented on #288
Please provide what map this is on.

[2015-02-27 15:24] kroest commented on #288
it was on deepwind jungle,

 filter name="allow-some" parents="deny-all">
        allow>
            block>glass</block>
            block>fence</block>
            block damage="9">wool</block>
            block damage="13">wool</block>
            block damage="10">wool</block>
            block damage="4">wool</block>
        /allow>
    /filter>

[2015-02-27 15:27] MrTheSharpie commented on #288
Yes, this also happened to me recently. I was going to post it here when I had time, but now kroest did it.

[2015-02-27 18:00] Jonmuxu opened #289 "Double Snowflakes given for killing a player in Blitz"
New Cardinal Version updated 19 Hours Ago Video:https://www.youtube.com/watch?v=jKq0LiU0D_U&feature=youtu.be

[2015-02-27 18:14] TiTo-418 commented on #289
This is in Blitz, you kill the player in a team and the player in obs

[2015-02-27 18:15] TiTo-418 commented on #288
Es el XML el que esta mal, no el plugins. (The xml is bad, no the plugin)

[2015-02-27 18:30] TiTo-418 opened #290 "When you log out in a match started and re-enter, you are dead"
Video: http://youtu.be/BpLFIVWDiaY
Version: http://gyazo.com/bd730c5af171ea088e1e6a61ab76564f

[2015-02-27 18:36] CaptainElliott commented on #290
This is a bug we know of but so far we cannot see what causes it

[2015-02-27 19:07] javipepe opened #293 "Mod permissions not working."
<a href="http://youtu.be/DX9JV9Kvxp0">Video (includes /cardinal -v)</a>

Thanks for your time :)

[2015-02-27 19:42] twizmwazin commented on #293
@javipepe For future reference, when you use the `Download ZIP` button on GitHub, `/cardinal -v` is pointless, as the version is `git-unknown`. By cloning the source using git, it gives the most recent commit hash, which is the information we are looking for.

[2015-02-27 19:45] twizmwazin commented on #289
We had a similar issue to this where death messages were displayed twice, so I'm assuming it is related to that.

[2015-02-27 19:48] twizmwazin commented on #290
It is related to PlayerUtils.resetPlayer(player) I *think*.

[2015-02-27 20:02] AngelCasillas01 commented on #293
@javipepe This is the pogram he is asking for it "http://git-scm.com/" you should download, it's like a cmd plataform, you should use this command, go to your desktop (Example) and then, type git clone https://github.com/twizmwazin/CardinalPGM, and then use cd CardinalPGM and then mvn clean install

[2015-02-27 20:05] twizmwazin commented on #193
@ParaPenguin Do you know of anything we can do on the plugin-side to reduce this flashing?

[2015-02-27 20:36] CaptainElliott commented on #293
The player needs to re-log after being modded

[2015-02-27 20:37] TiTo-418 commented on #253
Duplicate?

[2015-02-27 21:01] twizmwazin commented on #293
I'm going to try and see if I can reload the player's permissions automatically.

[2015-02-27 21:07] ParaPenguin commented on #193
Throw out your current Scoreboard system, then write a decent one that properly updates Scoreboard entries, by resetting the changed score, and setting a new one. This means you're not sending a load of wasted packets to the client, every time you update the scoreboard.

[2015-02-27 21:07] CaptainElliott commented on #293
I guess you could reload them on the command @twizmwazin

[2015-02-27 21:10] twizmwazin commented on #193
@ParaPenguin That could have been phrased a little bit better, but I'll try to get that going this weekend.

[2015-02-27 21:20] G61 opened #295 "You can't open "Coming Soon" book"
Well, is empty but in the future versions there will be text so...

[2015-02-27 21:23] augustt198 commented on #193
@ParaPenguin r00d

[2015-02-27 21:27] ParaPenguin commented on #193
**Your way**
![Your way](http://i.imgur.com/EzLHZ0A.jpg)

**My way**
![My way](http://i.imgur.com/amDVVQ6.jpg)

@twizmwazin is that better explained? :smiley:

[2015-02-27 21:28] CaptainElliott commented on #295
There is currently no text in the book so it does not open

[2015-02-27 21:30] twizmwazin commented on #193
@ParaPenguin I like the visuals. I understood it the first time though, the issue was with the implication that Elly's and my coding was not "decent."

[2015-02-27 21:32] ParaPenguin commented on #193
I've done the same thing you're doing now many times, I only said it wasn't decent, because well... that specific area isn't. The rest of it I have no problem with, just the way you handle your scoreboards is bad for both the client, and the server it's running on. A couple of versions ago, your method would have caused large client lag for every player while the packets were sent out.

[2015-02-27 22:14] TiTo-418 commented on #295
Maybe can you edit on Database?

[2015-02-27 22:19] CaptainElliott commented on #295
Not to sure what you mean @TiTo-418

[2015-02-27 22:26] TiTo-418 commented on #295
Sorry, no in database, in config.yml
Maybe the developers con put this:
![image](https://cloud.githubusercontent.com/assets/11008016/6422373/883b0072-beb6-11e4-9f6e-ccc2b05b8482.png)

[2015-02-28 01:06] SuHoney commented on #279
Oh, I forgot to close this thread :V

[2015-02-28 01:06] #279 closed

[2015-02-28 01:35] SuHoney opened #296 "[SUG] Add auto start when 2+ more players"
+ Add Auto Cycle when match ends

[2015-02-28 02:02] RubeGamerV commented on #296
This section is for only issues

[2015-02-28 02:36] twizmwazin commented on #296
I'm going to close this, if we do add it, this will be very low priority and disabled by default.

[2015-02-28 02:36] #296 closed

[2015-02-28 04:41] Superjd10 commented on #253
@TiTo-418 Duplicate of #227. Interesting because you were the one who mentioned it :smile:

[2015-02-28 07:39] RubeGamerV commented on #293
@CaptainElliott  Relog don´t work

[2015-02-28 08:04] TiTo-418 commented on #253
This issue is for "general" sounds no for specific sounds ;)

[2015-02-28 08:20] CaptainElliott commented on #293
hmm pretty sure it was working before @iEli2tyree011, are you sure it was working when you made changes to it?

[2015-02-28 08:29] RubeGamerV commented on #293
@CaptainElliott are you talking with iEli2tyree011?

[2015-02-28 08:34] CaptainElliott commented on #293
yeah

[2015-02-28 08:40] RubeGamerV opened #298 "Custom MOTD don´t work"

[2015-02-28 08:42] CaptainElliott commented on #298
Could you give us a description of what is happening?

[2015-02-28 10:13] SungMatt commented on #298
@CaptainElliott He's probably using a custom MOTD plugin, which is probably incompatible.

[2015-02-28 10:15] SungMatt commented on #298
Pretty sure CardinalPGM isn't supposed to work with those, as Cardinal makes its own MOTD too.

However, you might be able to try renaming your MOTD .jar file to start with an A, as bukkit loads plugins alphabetically.

[2015-02-28 12:12] kroest commented on #288
i use the exact same xml from the maps.oc.tc, http://pastebin.com/xtvLQbXU

[2015-02-28 13:58] Jonmuxu opened #299 "[SUG] Book"
can you put a file in the plugin cardinal to edit the book ''Coming soon''?

[2015-02-28 15:00] CaptainElliott commented on #299
https://github.com/twizmwazin/CardinalPGM/issues/299

[2015-02-28 15:00] #299 closed

[2015-02-28 15:21] iEli2tyree011 commented on #298
You can disable the custom motd in the config.yml.

[2015-02-28 15:21] #298 closed

[2015-02-28 15:22] iEli2tyree011 commented on #293
@CaptainElliott I didn't change any of the actual mechanics, besides updating their name without having to relog.

[2015-02-28 15:33] RubeGamerV commented on #293
@iEli2tyree011 the prefix "❖" only update, but the permissions no

[2015-02-28 15:35] CaptainElliott commented on #293
if @twizmwazin is not working on this, I will fix it

[2015-02-28 15:54] twizmwazin commented on #293
@CaptainElliott Go ahead and fix this, I never got it working fully.

[2015-02-28 15:57] twizmwazin commented on #253
@TiTo-418 Let us know of the correct sound in that issue, where we are keeping track of all sounds.

[2015-02-28 16:40] twizmwazin commented on #234
Should be fixed with f371b162c8d82b9b393ad74e6dbe1d02dedd224d

[2015-02-28 16:46] Alfalik commented on #234
The commit just get authors, not contributors.

Image & version. http://gyazo.com/1dabd9aa17967238962b1807d8ddf168

[2015-02-28 17:21] twizmwazin commented on #272
Closing in favor of #293

[2015-02-28 17:21] #272 closed

[2015-02-28 17:22] twizmwazin commented on #234
oopsies

[2015-02-28 17:24] #234 closed

[2015-02-28 17:24] twizmwazin commented on #234
@Alfalik Now it *should* work

[2015-02-28 17:36] Alfalik commented on #234
@twizmwazin Yep, it works. Thanks.

[2015-02-28 18:38] dentmaged opened #301 "Class not found"
[code]
My Cardinal version is: ```This server is running CardinalPGM version 1.0-SNAPSHOT-git-CardinalPGM-a2659f9```

[2015-02-28 18:53] TiTo-418 commented on #253
Ok, thanks for your work :)

[2015-02-28 19:14] #301 closed

[2015-02-28 19:35] dentmaged opened #303 "/t /g /a command usage glitched"
![/g /t /a command glitched](http://i.imgur.com/w793MDN.png)
Version: ![Version](http://i.imgur.com/3JnGjPM.png)

It is running e1a86b74a9 though

[2015-02-28 20:23] #303 closed

[2015-02-28 22:40] Jair07mx opened #308 "When you join into a team and you use /kill, you spawn with kit"
When you join into a team and you use /kill, you spawn with kit, although the match not starting.

[2015-02-28 22:42] CaptainElliott commented on #308
Will fix in the morning

[2015-02-28 22:53] Jair07mx opened #309 "Autorotation is not working"
When a match has finished don't autorotation the map, and don't start automatically, which yes in SporkPGM

Sorry for my English, but I don't want to use a translator

[2015-02-28 22:54] dentmaged commented on #288
I have noticed this on almost the whole of Twisted. It's to do with the void.

[2015-02-28 22:58] Alfalik commented on #309
The plugin is made for Team Scrimmages, not for Public Servers.

[2015-02-28 22:58] TiTo-418 commented on #309
Duplicate #296
"I'm going to close this, if we do add it, this will be very low priority and disabled by default."
Español: "Voy a cerrar esto, en el caso de que lo hagamos, va a ser de muy baja prioridad y desactivado por defeto"

[2015-02-28 23:00] TiTo-418 commented on #241
Snowflakes given when players touch and complete objetives, when your team won, when you are loyal to to your team in the last version

[2015-02-28 23:02] dentmaged commented on #241
@TiTo-418 I don't think it has been added for monuments. Correct me if I'm wrong.

[2015-02-28 23:10] TiTo-418 commented on #288
The void is defined by the xml, no by the plugin :v

[2015-02-28 23:12] #309 closed

[2015-02-28 23:12] TiTo-418 commented on #241
@dentmaged gyazo.com/c43dbe89f955558107932dd81bb6fe0e

[2015-02-28 23:17] TiTo-418 opened #310 "SnowFlakes not given in the correct order"
This is:
[20:13:25] [Client thread/INFO]: [CHAT] [Team] TiTo_418 broke a piece of Core
[20:13:41] [Client thread/INFO]: [CHAT] Red Team's Core has leaked!
<b>[20:13:41] [Client thread/INFO]: [CHAT] +37 Snowflakes | 2.5x | you broke a piece of Core</b>
[20:13:41] [Client thread/INFO]: [CHAT] # # # # # # # # # # # #
[20:13:41] [Client thread/INFO]: [CHAT] # #    Game over!    # #
[20:13:41] [Client

[2015-02-28 23:32] TiTo-418 commented on #193
ParaCardinalPGM

[2015-02-28 23:34] twizmwazin commented on #310
What is the correct order?

[2015-02-28 23:42] TiTo-418 commented on #310
[20:13:25] [Client thread/INFO]: [CHAT] [Team] TiTo_418 broke a piece of Core
[20:13:41] [Client thread/INFO]: [CHAT] Red Team's Core has leaked!
[20:13:41] [Client thread/INFO]: [CHAT] # # # # # # # # # # # #
[20:13:41] [Client thread/INFO]: [CHAT] # # Game over! # #
[20:13:41] [Client thread/INFO]: [CHAT] # # TiTo_418 wins! # #
[20:13:41] [Client thread/INFO]: [CHAT] # # # # # # # # # # # #
[20:

[2015-03-01 03:31] #275 closed

[2015-03-01 06:49] MaykolMC opened #313 "Cycling automatic and automatic startep"

[2015-03-01 06:56] SuHoney commented on #313
Duplicate #296

[2015-03-01 07:22] #313 closed

[2015-03-01 07:44] dentmaged commented on #310
The problem is raindrops are given on ObjectiveTouchEvent, I changed it to MatchEndEvent but I still have:
The map was Fractal Descent TE.
[b][07:43:08] [Client thread/INFO]: [CHAT] +37 Snowflakes | 2.5x | you broke a piece of Core[/b]
[07:43:08] [Client thread/INFO]: [CHAT] # # # # # # # # # # # #
[07:43:08] [Client thread/INFO]: [CHAT] # #    Game over!    # #
[07:43:08] [Client thread/INFO]: [C

[2015-03-01 09:09] CaptainElliott commented on #293
@twizmwazin heads up, when I created the permissions module I created ab enable and disable permissions method. Useful for automatically updating permissions andfor when I  implemented the mute command

[2015-03-01 09:30] RubeGamerV commented on #293
@CaptainElliott soo, what that mean?

[2015-03-01 09:33] RubeGamerV commented on #219
@twizmwazin like remote DB?

[2015-03-01 13:36] iEli2tyree011 commented on #310
This isn't an issue. The only reason this happens on Overcast is because it has to connect to a database, and then give raindrops once it knows that the database gave them some. The users don't get notified until after some time for that reason.

[2015-03-01 13:36] #310 closed

[2015-03-01 13:41] #308 closed

[2015-03-01 15:41] Eudaldca opened #317 "executing /start after countdown will push the countdown to 1"
When you /start with, let's say 20 seconds, and before it finishes you /start again with any other amount of seconds it starts the match as if you had put /start 0.

[2015-03-01 15:42] dentmaged commented on #317
Version? I'll look into this.

[2015-03-01 15:43] Eudaldca opened #318 "Entering a scorebox ends the game"
When you enter a scorebox, regardless if the map has <limit>-1</limit>, it ends the match.
Version 1.0-snapshot-git-CardinalPGM-9169286

[2015-03-01 15:44] eudaldca commented on #317
1.0-snapshot-git-CardinalPGM-9169286
Sorry, forgot about that.

[2015-03-01 15:46] dentmaged commented on #317
@eudaldca It is intended, as you can see here: https://github.com/twizmwazin/CardinalPGM/blob/master/src/main/java/in/twizmwaz/cardinal/command/StartAndEndCommand.java#L30
If you want to, I'll try to work on a toggle for this.

[2015-03-01 15:47] iEli2tyree011 commented on #318
What do you mean by the map having "-1"?

[2015-03-01 15:47] #293 closed

[2015-03-01 15:48] eudaldca commented on #318
Having the score limit on -1, a no score limit. https://docs.oc.tc/modules/gamemode_tdm

[2015-03-01 15:49] eudaldca commented on #317
I would appreciate it, as my team-mates tend to exactly this.

[2015-03-01 15:52] TiTo-418 commented on #310
I dont understand, the snowflakes should be given after the match end...

[2015-03-01 15:56] CaptainElliott commented on #317
@dentmaged it is not intended for the countdown to jump strait to 1

[2015-03-01 15:58] twizmwazin commented on #219
@RubeGamerV perhaps

[2015-03-01 16:02] CaptainElliott commented on #310
They are given when you complete the objective

[2015-03-01 16:15] #317 closed

[2015-03-01 16:24] Eudaldca opened #319 "Observers not being able to open written books"
The most obvious example would be the "comming soon" book.
Version: 1.0-SNAPSHOT-git-CardinalPGM-cdb3974

[2015-03-01 16:26] elespawol commented on #319
Is because the book is empy
El dia 01/03/2015 17.24, "Eudaldca" <notifications@github.com> va escriure:

[2015-03-01 16:28] Eudaldca commented on #319
@elespawol I gave myself via /give a written book that wasn't empty and I couldn't open it either.

[2015-03-01 16:29] twizmwazin commented on #319
dupe of #295

[2015-03-01 16:29] #319 closed

[2015-03-01 16:54] Superjd10 commented on #310
@TiTo-418 Elly said that the reason you see them in the end of the match is because of the database "lag" (time between sending the info from the plugin to the database and then from the database to the client).

[2015-03-01 18:13] RubeGamerV opened #320 "Players dont keep mod after the server restart"

[2015-03-01 18:57] CaptainElliott commented on #320
Hmm, I guess I would need to add them to the default config instead of just simply adding them

[2015-03-02 06:04] ItzWid13 opened #324 "Isn't an issue, A Question"
What is the command to see my stats?

[2015-03-02 06:10] SuHoney commented on #324
You can see stats when match ends.

[2015-03-02 06:11] ItzWid13 commented on #324
Im saying Kills, Deaths Etc...

[2015-03-02 06:12] ItzWid13 commented on #324
SOrry

[2015-03-02 06:12] #324 closed

[2015-03-02 17:32] dentmaged commented on #317
@CaptainElliott oh, my mistake, I noticed it on my server but I though nothing of it

[2015-03-02 19:55] dentmaged commented on #318
@Eudaldca Which map is it on?

[2015-03-02 19:56] Eudaldca commented on #318
Facility.

[2015-03-02 20:07] dentmaged commented on #318
@Eudaldca Try changing it to 0, but I'm working on a fix now. ;)

[2015-03-02 20:26] CaptainElliott commented on #318
why change it to 0?
The point of declaring -1 is to have no score limit

[2015-03-02 20:28] Eudaldca commented on #318
Either way, setting it to 0 fixes it. Maybe it recognises -1 as +1?

[2015-03-02 20:34] dentmaged commented on #318
@CaptainElliott that is how the plugin was made, I'm trying to fix it though

[2015-03-02 21:12] CaptainElliott commented on #318
@dentmaged just off of the top of my head, you could set the score to `Interger.POSITIVE_INFINITY`

[2015-03-03 04:25] SungMatt commented on #256
Here's the latest

https://repo.oc.tc/content/repositories/snapshots/tc/oc/sportbukkit/1.8-R0.1-SNAPSHOT/sportbukkit-1.8-R0.1-20150228.112444-12.jar

[2015-03-03 06:44] dentmaged commented on #318
@CaptainElliott Won't you also have to remove the ----- MAX ----- on the scoreboard?

[2015-03-03 14:24] ItzWid13 opened #326 "Please Could You Do This To The 1.7.x? pls"

[2015-03-03 14:59] twizmwazin commented on #326
There isn't an easy way to implement the plugin on two Minecraft versions at the same time with SportBukkit. Development is focused on 1.8 and 1.8 features. There is no reason to support old versions of Minecraft anyway.

[2015-03-03 14:59] #326 closed

[2015-03-03 17:54] #320 closed

[2015-03-03 19:21] Jair07mx opened #328 "I can't see the touch of the opposing team"
CTW, DTC, etc ...
This doesn't happen in oc.tc

[2015-03-03 19:22] AngelCasillas01 commented on #328
Are you telling that you can't see it as obs?

[2015-03-03 19:23] Jair07mx commented on #328
Within a match

[2015-03-03 19:23] Superjd10 commented on #328
You are not supossed to see the touches of the enemy team. On OCN tourneys you are not able to see them

[2015-03-03 19:32] Jair07mx commented on #328
In tournaments you can not, but in scrimmages yes, a setting?

[2015-03-03 19:40] iEli2tyree011 commented on #328
@Jair07mx Scrimmages are mock tournament matches, which our plugin is trying to replicate..

[2015-03-03 19:48] Jair07mx commented on #328
in tm I've seen that you can see the touch, can add an option?

[2015-03-03 20:09] MrTheSharpie commented on #328
You can't see the touch even in regular games

[2015-03-03 20:11] MrTheSharpie opened #329 "Custom tab not implemented"

[2015-03-03 20:14] CaptainElliott commented on #329
It is on the todo list, I am still figuring out how to send the player tab slot packets to the client in 1.8.
Should not be too hard to do

[2015-03-03 20:16] twizmwazin commented on #328
This is intended.

[2015-03-03 20:16] #328 closed

[2015-03-03 20:36] twizmwazin commented on #318
I'm pretty sure that will fix the issue, if it doesn't let me know.

[2015-03-03 20:53] Eudaldca commented on #318
@twizmwazin Nope, still ends the game on facility with score limit -1, (I just compiled).

[2015-03-03 21:01] twizmwazin commented on #318
@Eudaldca Which version?

[2015-03-03 21:05] Eudaldca commented on #318
@twizmwazin http://prntscr.com/6cc9t1

[2015-03-03 21:06] twizmwazin commented on #318
@Eudaldca What version of facility?

[2015-03-03 21:28] Eudaldca commented on #318
@twizmwazin The one on maps.oc.tc/TDM/standard/facility

[2015-03-04 01:09] twizmwazin commented on #318
Ok, so I can't seem to replicate this. Can anyone else?

[2015-03-04 01:32] AngelCasillas01 commented on #318
@twizmwazin I dont have this problem on my server, tomorrow more details srry :(

[2015-03-04 03:30] #318 closed

[2015-03-04 05:38] SungMatt opened #332 "Timed Fuses do not work (yet!)"
In Dust, with the

    <tnt>
        <instantignite>on</instantignite>
        <fuse>1s</fuse>
    </tnt>

tags, there is instant ignition, but time in fuse is still vanilla (4 seconds).

Also, if <fuse> is edited to just a raw value `<fuse>10</fuse>` it still does not work as intended.

This should be able to be edited in

CardinalPGM/src/main/java/in/twizmwaz/cardinal/module/modules/tnt/Tnt.java

[2015-03-04 11:10] AngelCasillas01 opened #333 "When TNT is not ingnited by the user (by the XML) theres no damage or destruction on blocks"
The TNT explode but  dosen't make damge on acceptable regions (tested on wit's end using the exact XML of GotW)

[2015-03-04 11:26] iEli2tyree011 commented on #333
Brainstorming a few things, I think I have a good solution

[2015-03-04 12:34] AngelCasillas01 commented on #333
@iEli2tyree011 Nice, if you want i can record you a test when i get home

[2015-03-04 16:45] Eudaldca opened #334 "<time result...> Not working/not implemented"
`<time result="objectives">1h</time>` simply makes no effect.

[2015-03-04 16:50] AngelCasillas01 commented on #334
Only works on TDM or Blitz or both together

[2015-03-04 17:01] Eudaldca commented on #334
@AngelCasillas01 that is `<score>`

[2015-03-04 18:36] AngelCasillas01 opened #335 "When you pick up a wool, proximity dosent update anymore"
Only update if you put a save wool on the floor :( tested on Golden Drought III [TE]

[2015-03-04 19:12] twizmwazin commented on #335
@AngelCasillas01 Not sure what you mean. When does it work and when does it not?

[2015-03-04 19:14] AngelCasillas01 commented on #335
@twizmwazin okey,  Before you touch a wool proximity is working very well, but after you touch proximity dosent update until you put a wool save on the floor

[2015-03-04 19:20] twizmwazin commented on #335
@AngelCasillas01 I believe that is intentional.

[2015-03-04 19:20] #335 closed

[2015-03-04 19:47] Alfalik commented on #278
You have 3 maps:

+ Map1
+ Map2
+ Map3

If you execute the command "/sn M", the next map is set to Map3, not Map1 how it's supposed to be. Change the priority to A-Z, not Z-A.

[2015-03-04 19:47] Alfalik opened #336 "Snowflakes "picked up" message doesn't showing as wool color"
Same when placing it in the Wool Monument.

How it's showing now: http://gyazo.com/0201e9898700794d79265e2c4f29a35f
How it should be: http://gyazo.com/1565c30ccc3c64ae1eda9cfdc917c39b
Cardinal Version: http://gyazo.com/2956d132c2a04e9f1a249eebf11d0461

[2015-03-04 19:47] Alfalik opened #337 "Proximity in wools shouldn't update constantly"
As you can see in this video, <a href="https://www.youtube.com/watch?v=4WpQNaLj5Ck">click me</a>, when your team have no-touchs, the proximity stays as Infinity until the plugin track a death, and update the scoreboard with the number of blocks that you are off the wool room.

Edit: This is how it should be.
Edit 2: Check this video. <a href="https://www.youtube.com/watch?v=KRXkd9nswuI">click me</

[2015-03-04 20:10] TiTo-418 commented on #337
Overcast Network - Guardians of the Wool - Team Fishy vs. Cocoa Beans?

[2015-03-04 20:10] CaptainElliott commented on #332
Defining fuse on its own works fine for me.

[2015-03-04 20:14] Alfalik commented on #337
@TiTo-418 You can see how proximity works in that video.

[2015-03-04 20:39] twizmwazin commented on #332
@CaptainElliott I'm pretty sure you were setting the fuse when it explodes rather than ignites.

[2015-03-04 20:49] TiTo-418 commented on #337
Ok

[2015-03-04 20:51] Jair07mx commented on #337
I had said that proximity was wrong, but all ignored me

[2015-03-04 21:02] Eudaldca opened #338 "Ghost squadron unimplemeted/not working"
Classes not showing in the picker, also.
Log: http://pastebin.com/MN4BrAeg
Version: Snapshot affe5c3

[2015-03-04 21:51] twizmwazin commented on #338
This is because Cardinal does not yet support <includes/>

[2015-03-04 22:16] Eudaldca opened #339 "Incorrect stats"
Totally incorrect K/D. People may have noticed, but just pointing out...
http://i.imgur.com/ng8Gume.png
Version: http://prntscr.com/6crwrn

[2015-03-04 22:54] SungMatt commented on #339
There's another one where if you get 5 deaths and 1 kill, it displays as 0 instead of 0.20 . I suspect it's because of the type of variable it is set as, probably an integer.

[2015-03-05 01:33] #333 closed

[2015-03-05 01:36] AngelCasillas01 commented on #333
@iEli2tyree011 Nice now is working well👍

[2015-03-05 01:49] #336 closed

[2015-03-05 01:57] #337 closed

[2015-03-05 02:17] #289 closed

[2015-03-05 08:07] ItzWid13 opened #340 "Missing Feature | /timelimit"

[2015-03-05 17:22] CaptainElliott commented on #339
Just curious, was there any error logs?

[2015-03-05 17:30] Eudaldca commented on #339
Nope

[2015-03-05 18:51] CaptainElliott commented on #339
Could you please try testing it out now using the latest version?
https://github.com/twizmwazin/CardinalPGM/commit/de7a2f4fe92ad9845e8d05f5688e618619b7dc6d

[2015-03-05 19:06] Eudaldca commented on #339
@CaptainElliott Not a single error indeed!

[2015-03-05 19:47] CaptainElliott commented on #339
So it is working fine?

Also, are the team statistics working?

[2015-03-05 20:31] Eudaldca commented on #339
Yeah, they are working fine. Team stats count for all the teams: For example, in a test run I killed a player once, and ended, and in the team stats appeared 1 kill 1 death. Is it intended to be for all the teams or only for your team?

[2015-03-05 21:08] CaptainElliott commented on #339
It should show who got the most kills on the team and who got the most deaths on a team, is that still an issue?

[2015-03-05 21:16] Eudaldca commented on #339
I think it works fine, tomorrow I'll check it.
El 05/03/2015 22:08, "Elliott" <notifications@github.com> escribió:

[2015-03-05 22:00] dentmaged commented on #295
I'll work on this tomorrow.

[2015-03-06 01:11] twizmwazin commented on #295
@dentmaged You'll probably want to message me on skype before you get too far with that.

[2015-03-06 01:47] Alfalik opened #341 "Blockdrops droping XP Orbs when destroyed by TNT"
Firstly, the Quartz Blocks should not be destroyed, check modules ```<not>``` ```<all>```   ```<any>```, probably there is the problem.
Second, check #276, isnt fixed and its related with this Issue (Video proof: http://youtu.be/GEjta2WhdT4)

Video proof: http://youtu.be/wveQHg3mRtU
Cardinal version: http://gyazo.com/8871e01c6304f1bb3c635ff759ad1adc

[2015-03-06 02:01] twizmwazin commented on #341
I don't know why, but I find this a bit amusing. Thanks for reporting.

[2015-03-06 02:19] #341 closed

[2015-03-06 03:06] TiTo-418 commented on #329
Implemented in the lastest version:
<a href="http://imgur.com/BHvBgVu"><img src="http://i.imgur.com/BHvBgVu.png" title="source: imgur.com" /></a>

[2015-03-06 03:11] TiTo-418 opened #342 "Sign GUI is still displayed when placing signs at max build height"
When placing a sign, like any other block, at the max build height for a map, the placement is cancelled. However, with a sign, the sign editor GUI is still displayed.

This can give a player the false impression that the sign was actually placed, leading to them entering text which will be discarded.

Steps to reproduce

1. Place any block at the maximum build height for a map.

2. Attempt to pla

[2015-03-06 05:46] ItzWid13 opened #343 "Missing Feature | Mods-Admins Tools"
You can see here the Tools:
An oc.tc video: http://goo.gl/zQbmPP

[2015-03-06 06:41] dentmaged commented on #329
@TiTo-418 He means the tab list where players are ordered into teams.

[2015-03-06 07:37] CaptainElliott commented on #343
This is not an OCN a feature it is using an external mod called the macro mod. Besides I don't think we need moderation tools as it is just a scrim plugin

[2015-03-06 07:37] #343 closed

[2015-03-06 07:39] CaptainElliott commented on #342
I Clive this is a client side issue and an OCN issue, I don't think there is anything we can do about it. Unless there is an openInventory or GUI  event

[2015-03-06 08:15] ItzWid13 commented on #343
Where can i get it?

[2015-03-06 10:25] AngelCasillas01 opened #344 "No way to see stats BEFORE or DURING a match"

[2015-03-06 12:15] TiTo-418 commented on #342
@mrapple: This isn't a client side issue.

The <a href="http:/http://wiki.vg/Protocol#Sign_Editor_Open"> Sign Editor Open </a> packet is sent from the server to trigger the sign editor GUI (This allows plugins to do things like open a sign GUI to edit an already placed sign. It's also why the GUI doesn't open when, for example, placing a sign as a (Overcase-style) spectator).

Fixing this requires

[2015-03-06 15:43] iEli2tyree011 commented on #344
I'm going to work in adjusting the statistics tracking system later tonight.

[2015-03-06 16:41] AngelCasillas01 commented on #344
@iEli2tyree011 👍

[2015-03-06 17:46] Superjd10 commented on #343
@ItzWid13 That's a client side mod called the Macro Mod, https://oc.tc/forums/topics/5252e0e8af7fb04ce6001ec9

[2015-03-06 17:50] SungMatt commented on #342
Pretty sure this happens on Overcast, so do the doors and Pistons.

[2015-03-06 17:52] TiTo-418 commented on #342
If this is solved, Cardianl is better than original PGM :D

[2015-03-06 17:54] elespawol commented on #342
Obiously tito 😉
El dia 06/03/2015 18.52, "TiTo-418" <notifications@github.com> va escriure:

[2015-03-06 19:51] twizmwazin commented on #342
This would be easier to patch in SportBukkit than the plugin, so I'm going to do that I think.

[2015-03-06 23:15] #342 closed

[2015-03-06 23:52] TiTo-418 commented on #342
OMG, 06/03/2015 CARDINALPGM IS BETTER THAN ORIGINAL-PGM!

[2015-03-07 03:00] Alfalik opened #346 "Time day/night should not cycle until the match start"
Cardinal version: http://gyazo.com/d4222a6e0daeda120916903468aac456

[2015-03-07 04:52] iEli2tyree011 commented on #344
Fixed in f4db34b5f0ea968dfcf679a7687703af61aa9a49

[2015-03-07 04:52] #344 closed

[2015-03-07 05:07] #346 closed

[2015-03-07 05:40] ItzWid13 opened #347 "The Stats Doesnt Save"
When i reload my sv the stats didnt save

[2015-03-07 05:56] iEli2tyree011 commented on #347
Stats are tracked per match.

[2015-03-07 05:56] #347 closed

[2015-03-07 06:19] #338 closed

[2015-03-07 07:32] RubeGamerV commented on #347
twizmwazin will add remote SQL in a near future.. So don´t worry

[2015-03-07 07:59] CaptainElliott commented on #339
Stats should be fixed and working

[2015-03-07 07:59] #339 closed

[2015-03-07 08:17] #241 closed

[2015-03-07 08:34] #332 closed

[2015-03-07 09:13] CaptainElliott commented on #288
The reason the filter is not working is because referencing a filter inside a filter is not working

[2015-03-07 10:35] CaptainElliott commented on #288
Right now a quick fix for server owners would be to convert from the legacy filters to the standard ones, to do this do the following:

- Rename the `<allow>` tag to `<any>`
- Remove the `parents="deny-all"` attribute

That should fix the error on your side while we fix it for the plugin

[2015-03-07 10:44] dentmaged commented on #295
@CaptainElliott twizmwazin doesn't think the book should be customisable, do you agree?

[2015-03-07 10:53] CaptainElliott commented on #295
@dentmaged I do not know twiz's intentions with it but I would have though it would be a book with things the developers would like to add for players to read or whatever

[2015-03-07 11:33] kroest commented on #288
yes, i use an older version of the xml, and its running fine now. the xml from maps.oc.tc was a bit broken i guess. thanks for your help.

[2015-03-07 11:35] CaptainElliott commented on #288
This is still an issue we need to fix

[2015-03-07 11:53] Eudaldca opened #351 "Not filter does not look for multiple filters and allow-world filter not working correctly"
Tnt cannot break gold blocks in the monument of BoomTE, but it can break wool blocks. You can also break the beacon without tnt. I'm using the XML in oc.tc/maps, version 47ef91f.
Log: https://drive.google.com/file/d/0BykQBsE8G63LLVA4d2lQRVdZVE0/view?usp=sharing
(Log was too long to pastebin it)

[2015-03-07 12:04] CaptainElliott commented on #351
The error log you gave seems to be another issue

[2015-03-07 12:06] Eudaldca commented on #351
Well, I gave the log just in case.

[2015-03-07 13:54] dentmaged commented on #295
@CaptainElliott I think the players should customise it but I'll make it language based. :(

[2015-03-07 15:44] twizmwazin commented on #347
@RubeGamerV Not exactly, it was more of a floating idea

[2015-03-07 17:23] AngelCasillas01 commented on #344
@iEli2tyree011  Maybe more confortable close the issue with the commit?

[2015-03-07 18:43] iJorGeZz commented on #326
[This](https://github.com/iJorGeZz/CardinalPGM/tree/protocol-compatibility) may result helpful for you.

[2015-03-07 18:48] AngelCasillas01 commented on #326
@iJorGeZz i think that he is askingor a 1.7.2 build and maybe hewill ask about the new TAB function

[2015-03-07 19:44] dentmaged commented on #326
I'm going to work on this either when a completed version is available or update the code every Sunday (or maybe every 3 days)

[2015-03-07 22:58] iJorGeZz commented on #97
A public build server if someone is interested in: http://build.ijorgezz.cf:8080/job/CardinalPGM/

[2015-03-08 02:39] ultamategamer16 opened #354 "Pick Block counts as a Touch"
While in Creative before a match if you pick block it shows up as you get a touch, and you get raindrops

[2015-03-08 02:40] twizmwazin commented on #97
@iJorGeZz I'm not fond of your fork. While I can't stop you from having it, do not advertise it on my repository.

[2015-03-08 02:48] #354 closed

[2015-03-08 05:06] AngelCasillas01 opened #355 "Tournament scoring system"
It's on PGM and Referees used for know who is winning,

[2015-03-08 07:45] RubeGamerV commented on #355
@twizmwazin Refs only can see the proximity and score, and they will not have ban, warn or kick permissions

[2015-03-08 13:27] Jonmuxu opened #358 "[Bug] the arrows dont damage other players in RFV2"
Video: https://www.youtube.com/watch?v=7Q-tkN1TWDw&feature=youtu.be

Cardinal Version: CardinalPGM version 1.0-SNAPSHOT-git-CardinalPGM-48aa316

[2015-03-08 15:09] iJorGeZz commented on #97
@twizmwazin I should have explained what is my purpose before posting that. In my fork I have two branches, one of them is the 'master' in which I thought not to do modifications apart from keep it updated and the second in which I do what it's name means. My idea was keep a jenkins public server for all, where you can find the <u>original</u> 'CardinalPGM'. That means that all those people who do

[2015-03-08 15:18] twizmwazin commented on #97
@iJorGeZz The thing is, there is no "latest release" just yet, as there is no official release yet. I have no downloads because I expect that people who are using this development preview have some basic technical knowledge. I will have my own jenkins server running soon though.

[2015-03-08 18:02] AngelCasillas01 commented on #355
@twizmwazin  this will need some new module?

[2015-03-08 19:05] iEli2tyree011 commented on #355
@AngelCasillas01  Not a new module, no.

[2015-03-08 19:08] Jair07mx opened #359 "Three missing features."
1.- I do not know exactly how this works, but in the video the Kyetho team wins by default, I imagine that event coordinators did something https://www.youtube.com/watch?v=4QsITCYvqc0&t=381

2.- In this video the leader type /ready and starts the countdown https://www.youtube.com/watch?v=UiNR1n80H1Q&t=498

3.- On this video he type /subbed and the player which has been replaced has been kicked htt

[2015-03-08 19:16] CaptainElliott commented on #359
The sub command is pretty old and is not really needed. `/ready` is already implemented

[2015-03-08 19:37] twizmwazin commented on #359
1 is completely irrelevant in Cardinal, 2 is implemented, 3 just use /kick

[2015-03-08 19:37] #359 closed

[2015-03-08 20:41] AngelCasillas01 commented on #355
@iEli2tyree011  How?

[2015-03-08 21:39] iEli2tyree011 commented on #355
@AngelCasillas01 It's a command, not a module.

[2015-03-09 01:19] ItzWid13 opened #360 "Hi i got a question related to CardinalPGM"
How can i do for example a Lobby and then the maps. Like in oc.tc that have a lobby and the maps

[2015-03-09 01:23] #360 closed

[2015-03-09 01:24] iEli2tyree011 commented on #360
This is a scrimmage plugin, it's goal is not to allow you to recreate OCN.

[2015-03-09 02:11] ItzWid13 commented on #360
Its a question could you answer me?

[2015-03-09 02:12] iEli2tyree011 commented on #360
@ItzWid13 I answered you.

[2015-03-09 02:13] AngelCasillas01 commented on #360
@ItzWid13 It's a home created plugin that dosen't have any relation to the PGM

[2015-03-09 02:15] AngelCasillas01 commented on #346
@iEli2tyree011 now the time is broken, for example on RFV2 it's day and dosen't cycle (Compiled 30 mins ago and can't share version while i'm not on the pc sorry)

[2015-03-09 02:34] CoWinkKeyDinkInc commented on #360
I think the plugin [https://github.com/SpigotMC/BungeeCord](BungeeCord) is what you may be looking for.  It allows easy transport between servers/worlds.

[2015-03-09 03:09] twizmwazin commented on #360
@CoWinkKeyDinkInc Way to take the hint

[2015-03-09 03:16] twizmwazin commented on #346
@AngelCasillas01 fixed

[2015-03-09 03:17] AngelCasillas01 commented on #346
@twizmwazin oh thanks

[2015-03-09 19:03] AngelCasillas01 commented on #355
@iEli2tyree011 But it's not only a command, when  a match finish, before the winning team message appears, appear how many points, touches, etc... But you know about that, do how you think, i'm just saying how i think is it

[2015-03-09 20:18] MrTheSharpie commented on #329
@dentmaged Yeah, that list.

[2015-03-09 21:57] #334 closed

[2015-03-09 22:28] iEli2tyree011 commented on #358
Can anyone else confirm this?

[2015-03-09 23:05] Jair07mx opened #361 "Playable regions not implemented"
http://i.imgur.com/YjT8bJq.png

[2015-03-09 23:23] Jair07mx opened #362 "It has since added autocycle, why not autostart?"
Function useful for some people, I ask you to consider, in the same manner automatically disabled.